/* CSS file */
TextInput.taxon {
	backgroundSize: auto;
	color: #8D8D8D;
	fontSize: 13;
	backgroundColor: #1A1A1A;
	cornerRadius: 3;
	borderStyle: solid;
	paddingLeft: 5;
	paddingRight: 18;
	borderThickness: 0;
}

Button.download {
	fillAlphas: 0.83, 0.8, 0.83, 0.83;
	fillColors: #DFB201, #A48303, #A48303, #DFB201;
	color: #FFFFFF;
	borderColor: #FFE680;
	themeColor: #DFB201;
	textRollOverColor: #FFFFFF;
	disabledColor: #CFCFCF;
	textSelectedColor: #000000;
	
}