{% extends "../project_detail_base.html" %}

{% block page_title %}Inter-American Biodiversity Information Network Protected Areas{% endblock %}
{% block big_title %}Inter-American Biodiversity Information Network Protected Areas{% endblock %}

{% block description %}
<p class="titleWork">WDPA-IABIN</p>
<p class="clientName">UNEP-WCMC</p>




<p class="projectLink"><a href="http://iabinpatn.org/" target= "blank_">View online &raquo;</a></p>
{% endblock %}

{% block pictures %}
<img src="/projects_media/iabin/b01.jpg" />
<img src="/projects_media/iabin/b02.jpg" />
<img src="/projects_media/iabin/b03.jpg" />
{% endblock %}