{% extends "../project_detail_base.html" %}

{% block page_title %}Works · Runnity.com{% endblock %}
{% block big_title %}Creating a race centered social network for runners. Developing ideas, the best way to research{% endblock %}

{% block description %}
<p class="titleWork">Runnity.com</p>
<p class="clientName"></p>




<p class="projectLink"><a href="http://runnity.com/" target= "blank_">View online &raquo;</a></p>
{% endblock %}

{% block pictures %}
<img src="/projects_media/runnity/b01.jpg" />
<img src="/projects_media/runnity/b02.jpg" />
{% endblock %}