div.rounded_container{
			/* This background color should have the same background color as your text input */
		    background-color: #fff;
			/* This padding is between the text input and the rounded border on all sides */
			/* Decreasing the value may interfere with the rounded corners */
			padding: 4px;
		}
		
		input.rounded_input{
			border:0;
			outline: none;
		}

		div.rounded_border {  
			/* This is the color of your rounded border */
			border: none;
		}
		
/* INPUTS REDONDEADOS */
		
label.round {
	float:left;
	clear:left;
	background:url(/img/input-bg.gif) no-repeat 0 0;
	padding:0 0 0 10px;
	height: 27px;
	margin:0 0 0px 0;
}
label.roundblue {
	float:left;
	clear:left;
	background:url(/img/input-bg-blue.gif) no-repeat 0 0;
	padding:0 0 0 10px;
	height: 27px;
	margin:0 0 0px 0;
}
.round input {
	background:transparent;
	padding-top: 6px;
	float:left;
	border: none;
	color: gray;
	font-style: italic;
	font-size: 14px;
}
.roundblue input {
	background:transparent;
	padding-top: 6px;
	float:left;
	border: none;
	color: gray;
	font-style: italic;
	font-size: 14px;
}
.round span {
	background:url(/img/input-bg.gif) no-repeat 100% 0;
	padding:0 10px 0 0;
	height:27px;
	float:left;
}
.roundblue span {
	background:url(/img/input-bg-blue.gif) no-repeat 100% 0;
	padding:0 10px 0 0;
	height:27px;
	float:left;
}
.round input:focus {
	outline:none;
}
.roundblue input:focus {
	outline:none;
}
#input1 {width:214px}
#input2 {width:214px}
#input3 {width:214px}

#input4 {width:198px}
#input5 {width:198px}

#input6 {width:230px}
#input7 {width:54px}

#register1 {width:198px}
#register2 {width:198px}
#register3 {width:198px}
#register4 {width:198px}

#login1 {width:178px}
#login2 {width:178px}

label.roundsearch {
	float:left;
	clear:left;
	background:url(/img/inputsearch.gif) no-repeat 0 0;
	padding:0 0 0 10px;
	height: 23px;
	margin:0 0 0px 0;
}

.roundsearch input {
	background:transparent;
	padding-top: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundsearch span {
	background:url(/img/inputsearch.gif) no-repeat 100% 0;
	padding:0 10px 0 0;
	height:23px;
	float:left;
}

.roundsearch input:focus {
	outline:none;
}

#inputsearch {width:117px}
#inputsearch1 {width:353px}
#inputsearch2 {width:44px}
#inputsearch3 {width:44px}