div.containerMargin {
	padding-left: 20px;
	padding-right: 35px;
}

textarea.contactTextArea {
	width: 435px;
	height: 53px;
	max-width: 435px;
}

.contactArea {
	width: 220px;
	padding-left: 20px;
}

.contactArea2 {
	padding-left: 20px;
	width: 465px;
}

.contactError {
	padding-top: 2px;
	color: red;
}