.form {
}
#containerStates{
	width:250px;
	height:20px;
}

select.s4.hidden {
	margin-left:-155px;
	opacity:0;
}
select.s4 {
	width:159px;
}
.form input.s4[type="text"] {
	width:150px;
}
.form .fauxselect {
	background:#FFFFFF url(../img/icon-combo-arrow-alt.jpg) no-repeat scroll 98% center;
}
input.state[type="text"] {
	height: 26px;
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	opacity: 1.0;
	border: none;
}