/* PRINCIPAL */

body{
	background: #ffffff;
	background-image: url(../img/repeat.jpg);
	background-repeat: repeat-x;
}

a {
	text-decoration: none;
	color: #336699;
}

a:hover {
	color: #336690;
}

/* LOGIN */

a.hrefText{
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}

a.normalText{
	font-size: 12px;
	font-family: Arial;
	color: #6699cc;
	text-decoration: none;
}

/* HEADER */

div.header{
	height: 135px;
}

div.headerImage{
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	height: 85px;
	margin-top: 35px;
	margin-left: -3px;
}

div.buttonSearch{
	float: left;
}

div.buttonSearchFirst{
	float: left;
}

div.inputSearch{
	float: left;
	padding-right: 10px;
}

div.inputSearchFirst{
	float: left;
}

.searchC{
	float: right;
}

.searchCont{
	padding-top: 40px;
}


/* FLOAT RACE */

.map{
	margin-left: 6px;
}

.title{
	padding-top: 7px;
	height: 75px;
	line-height: 34px;
}

.titlePage{
	font-size: 34px;
	padding-top: 2px;
}

.titlePage a{
	color: #336699;
	text-decoration: none;
}

.subtitlePage{
	font-size: 17px;
	margin-top: -10px;
}

.subtitlePage a{
	color: #336699;
	text-decoration: none;
}

div.vipRace {
	background-color: white;
	background-image: url(../img/example.jpg);
	background-repeat: no-repeat;
	height: 321px;
}

div.raceHome {
	margin-top: 190px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100px;
	background-color: black;
	filter: alpha(opacity=65);
	opacity: .65;
}

div.contentImportantRace {
	margin-left: 20px;
}

div.dateImpRace {
	background-color: white;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-bottom: 10px;
}

div.titleImpRace {
	font-family: Arial;
	font-size: 28px;
	color: white;
	font-weight: bold;
	letter-spacing: -1px;
}

div.dataImpRace {
	font-family: Arial;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-top: -8px;
}


/* RACE CONTAINER */

div.raceContainer {
	padding-left: 9px;
	background-color: #FFFFFF;
}

h2.newsTitle {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	border-bottom: solid 2px #336699;
	margin-top: 26px;
	margin-bottom: 10px;
}

.seeAll {
	font-size: 14px;
}

h2.newsTitle2 {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
}

div.titleFeed {
	border-bottom: solid 2px #336699;

}

div.importantRaces {
	margin-top: 10px;
}

div.events {
	padding-left: 15px;
	padding-right: 15px;
}

div.month {
	font-family: Arial;
	color: white;
	background-color: #cc3300;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

div.date {
	background-color: white;
	height: 40px;
}

div.day {
	font-family: Arial;
	font-size: 22px;
	color: #666666;
	font-weight: bold;
	text-align: center;
	margin-top: -5px;
}

div.calendarRaces {
	border-left: solid 1px #999999;
}

div.nextRaceComment {
	padding-left: 5px;
	line-height: 15px;
}

div.raceDetails {
	border-bottom: dotted #666666 1px;
	margin-bottom: 10px;
	width: 280px;
	padding-bottom: 7px;
}


a.runnersLink {
	font-size: 14px;
	font-family: Arial;
	color: #336699;
	text-decoration: none;
}

.nameRace {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	letter-spacing: -1px;
	text-decoration: none;
}

div.raceLocation {
	font-family: Arial;
	font-size: 14px;
	color: gray;
	letter-spacing: -1px;
	padding-left: 5px;
	
}

div.dateButton {
	float: right;
}


/* MORE RACES */

div.moreRaces {
	margin-top: 10px;
}

div.feedText {
	padding-left: 10px;
	margin-top: 3px;
	margin-right: -3px;
}

div.imgFeed {
	margin-left: 0px;
}

div.feed {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #336699;
	float: right;
	text-align: right;
	padding-top: 3px;
}

div.races {
	border-bottom: dotted #666666 1px;
	margin-top: -5px;
	margin-bottom: 15px;
	margin-right: 5px;
}

div.nameRaceContainer {
	margin-top: -4px;
	line-height: 17px;
	height: 48px;
}

p.runnersNumber {
	font-family: Arial;
	font-size: 12px;
	color: gray;
	margin-top: 0px;
}

div.raceDateDetails {
	line-height: 12px;
}

div.raceDetailsStyle {
	font-family: Arial;
	font-size: 12px;
	color: #999999;
}

div.raceUserDetails {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
}

div.image {
	padding-left: 10px;
}

div.detailsUser {
	line-height: 13px;
	height: 50px;
}

/* PROMINENT */

div.prominent {
	margin-top: 15px;
	background-image: url(../img/prominent.jpg);
	background-repeat: repeat-x;
	height: 220px;
	font-family: Arial;
	padding-top: 20px;
	margin-bottom: 5px;
}

div.titleImportant {
	padding-left: 20px;
	padding-right: 18px;
	color: #336699;
	font-size: 20px;
	line-height: 19px;
	letter-spacing: -1px;
	height: 75px;
}

div.contentImportant {
	padding-left: 20px;
	padding-right: 15px;
	color: #6699cc;
	line-height: 14px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}

div.buttonImportant {
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 15px;
}


/* SOCIAL */

div.socialLinks {
	margin-bottom: 15px;
}


div.twitterContent {
	font-family: Arial;
	color: #666666;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -1px;
}

a.twitterLink {
	font-family: Arial;
	font-size: 14px;
	color: #336699;
	text-decoration: none;
}

div.tweet {
	margin-left: -20px;
}


/* FOOTER */

div.footerContainer {
	background-image: url(../img/footerRepeat.jpg);
	background-repeat: repeat-x;
	height: 86px;
	margin-top: 10px;
	padding-top: 15px;
	font-family: Arial;
	font-size: 12px;
	color: #336699;
}

div.suggestions {
	text-align: right;
}

a.contactFooter {
	text-decoration: none;
	font-weight: bold;
	color: #336699;
}



/* CARRERA */

.navigationList ul{
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.navigationList li{
	list-style: none;
	display: inline;
}

.navigationList a{
	text-decoration: none;
	color: #336699;
	font-size: 12px;
	font-weight: bold;
}

.navigationList a.selected{
	color: gray;
	font-weight: normal;
}

.navigationList a.selected b{
	font-style: italic;
}

.calendar{
	padding-left: 10px;
	border-right: 1px solid gray;
	padding-right: 10px;
}

.raceTitle{
	color: #336699;
	font-size: 28px;
	font-weight: bold;
	margin-top: -10px;
}

.raceDetailsTitle{
	color: gray;
	font-size: 14px;
	margin-top: -48px;
	font-weight: normal;
	margin-top: -10px;
}

.carrera{
	margin-left: 10px;
}

.blue{
	color: #336699; 
	border-bottom: 2px solid #336699;
	margin-top: 10px;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0px;
	height: 20px;
}

.databox{
	border-bottom: 1px dotted gray;
}

p,b{
	color:gray;
	margin-top: 4px;
	margin-bottom: 4px;
}

.distanceInfo b{
	color:gray;
}

a.special {
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}

.rightColumn{
	background-color: #f1f1f1;
	height: 100%;
}

.leftColumn{
	height: 100%;
}

div.racesComment {
	border-bottom: dotted #666666 1px;
	margin-top: 10px;
	padding-bottom: 15px;
	margin-right: 10px;
	width: 618px;
}

p.textRace {
	line-height: 17px;
}

div.raceContent {
	margin-left: 10px;
}

div.marginDescription {
	margin-right: 10px;
}

div.boxraceMap {
	width: 618px;
	background-color: #f1f4f8;
	padding-bottom: 10px;
}

div.commentArea {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

div.mapStyle {
	border: solid gray 1px;
	vertical-align: middle;
	padding-left: 4px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 4px;
	background-color: white;
}

textarea.textArea {
	height: 40px;
}

div.titleComents {
	font-family: Arial;
	font-size: 16px;
	color: #336699;
	font-weight: bold;
}

.noborder {
	border: none;
}

div.boxComments {
	margin-right: 10px;
}

.margin10 {
	margin-bottom: 10px;
}

div.margins {
	padding-right: 10px;
	padding-left: 10px;
}

/* USER */

.marginContainer {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.paddingRightContainer {
	padding-top: 20px;
}

h2.userData {
	font-family: Arial;
	font-size: 16px;
	color: #336699;
	font-weight: bold;
	border-bottom: solid 2px #336699;
}

div.userCount {
	height: 40px;
	line-height: 17px;
}


div.wellcome {
	font-family: Arial;
	font-size: 16px;
	color: #666666;
	letter-spacing: -1px;
}

a.wellcome {
	font-size: 16px;
	font-weight: bold;
}

div.countAgo {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	margin-bottom: 0px;
	margin-top: 0px;
	float: left;
}

div.countAgo2 {
	margin-top: 28px;
}

div.alertLabel{
	color: #666666;
}

.inputTitleBlue{
	margin-top: 14px;
	color: #336699;
}

.inputTitle{
	float: left;
}

div.passContainer {
	background-color: #b5e6f3;
	height: 175px;
	margin-left: 10px;
	width: 220px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
}

div.changePass {
	font-family: Arial;
	font-size: 14px;
	color: #336699;
	font-weight: bold;
	letter-spacing: -1px;
}

.marginTopMinus {
	margin-top: -13px;
}

.marginTopPlus {
	margin-top: 20px;
}

div.pagination {
	float: right;
	line-height: 25px;
}

div.contact {
	letter-spacing: 0px;
}

.rightColumnUser {
	background-color: #f1f1f1;
	height: 530px;
}

div.btnMargin {
	margin-right: 7px;
}

div.btnJoin {
	margin-right: 3px;
}

.inputWhite{
	margin-top: 0px;
	margin-bottom: 10px;
	float: left;
}

.inputBlue{
	float: left;
	margin-bottom: 10px;
}

.inputWhiteButton{
	margin-top: 2px; 
	margin-right: -8px;
	float: right;
}

.inputBlueButton{
	margin-top: 2px; 
	margin-right: -2px;
	float: right;
}

.uploadButton{
	margin-left: 10px;
}

input.textInputRadio {
	height: 20px;
	width: 60px;
}

h5{
	color: #336699;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-top: -18px;
	margin-bottom: 0px;
}


.mailAlert {
	height: 20px;
	float: right;
	padding-top: 18px;
}

.desactivate {
	font-size: 13px;
	color: red;
}

.activate {
	font-size: 13px;
	color: green;
}

div.phraseGray {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
}
	

/* SEARCH RESULTS */

div.raceContent1{
	margin-left: 10px;
	width: 618px;
	height: auto;
}

div.searchResultsBox {
	padding-top:10px;
}

div.raceDetailsSearch {
	border-bottom: dotted #666666 1px;
	margin-bottom: 10px;
	padding-bottom: 7px;
	width: 617px;
}

div.raceSearchFirst{
	height: 113px;
	border-bottom: dotted #666666 1px;
	margin-bottom: 10px;
	background-color: #e5f4f9;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

div.raceSearchLast{
	height: 45px;
	border-bottom: dotted #666666 1px;
	margin-bottom: 10px;
	background-color: #e5f4f9;
/* 	background-color: #b5e6f3; */
	margin-top: -10px;
	padding-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 618px;
}

h2.newsTitle3 {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	border-bottom: solid 2px #336699;
	margin-bottom: 0px;
}

div.raceDetailsBottom {
	height: 45px;
	border-bottom: dotted #666666 1px;
	margin-bottom: 0px;
}

.searchPanel{
	padding-top: 11px;
	padding-left: 10px;
	padding-right: 0px;
}

.dates{
	height: 30px;
	background-color: #e8e8e8;
	padding-left: 10px;
	margin: 0px 0px 0px 0px;
	border-bottom: dotted #666666 1px;
	line-height: 32px;
}

.datesmiddle{
	height: 30px;
	background-color: #e8e8e8;
	padding: 0px 0px 0px 10px;
	margin: -10px 0px 10px 0px;
	border-bottom: dotted #666666 1px;
	line-height: 32px;
}

.searchlabel{
	color: #336699;
	display: inline;
	font-weight: bold;
}

.searchlabel2{
	margin-left: 243px;
}

.nameUser{
	color: gray;
}

.noResults{
	font-size: 20px;
	color: gray;
}

.noResultsSub{
	font-size: 13px;
	color: gray;
}

.noResultsSub a{
	text-decoration: none;
	color: #336699;
}

.carita{
	background-image: url(/img/carita.jpg);
	background-repeat: no-repeat;
	width: 55px;
	height: 77px;
	float: left;
}

.noResultsText{
	height: 77px;
	width: 500px;
	float: left;
	margin-left: 0px;
}
