/* Overlay */
#simplemodal-overlay {
	background-color:#000;
	overflow: hidden;
}

/* Container */
#simplemodal-container {
	height:203px; 
	width:490px; 
/*
	background-image: url(../img/repeatLogin.jpg);
	background-repeat: repeat;
*/
	background-color: #b5e6f3;
	border:6px solid #ffffff;
}
#simplemodal-container a.modalCloseImg {
	background:url(../img/x.jpg) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	right:-4px; 
	cursor:pointer;
}

#simplemodal-container #basicModalContent {
	/* padding:8px; */
}

div.loginColumn {
	margin-left: 20px;
	margin-top: 20px;
}

h2.loginTitle {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	letter-spacing: -1px;
	margin-top: -10px;
	margin-bottom: 0px;
}

div.inputTitle {
	font-family: Arial;
	font-size: 12px;
	color: #336699;
	margin-top: 1px;	
}

div.forgetPass {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #336699;
	vertical-align: middle;
}

div.forgetFind {
	margin-top: 5px;
}

div.lastColumn {
	margin-top: 20px;
}

div.separator {
	padding-left: 15px;
}

h3 {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #336699;
	letter-spacing: -1px;
}

div.registerText {
	font-family: Arial;
	font-size: 12px;
	color: #336699;
	line-height: 16px;
}

div.loginButton {
	float: right;
}