div.conditions {
	background-color: #336699;
	font-family: Arial;
	color: white;
	font-size: 11px;
	text-align: center;
	width: 500px;
	height: 32px;
}

h2.registerTitle {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
}

.registerLeft{
	width: 250px;
	height: 358px;
	background-color: yellow;
}

.registerRight{
	width: 250px;
	height: 358px;
	background-color: lime;
}

.global{
	height: 358px;
	width: 250px;
}

