/* 
    root element for the scrollable. 
    when scrolling occurs this element stays still. 
*/ 
div.scrollable { 
 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 540px; 
    height:90px; 
} 

div.gallery {
	padding-top: 30px;
}
 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute; 
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div { 
    float:left; 

} 

/* single scrollable item */
div.scrollable img {
	float:left;
	background-color:#fff;
	margin-left:1px;
	margin-right:1px;
	padding:2px;
	border:1px solid #ccc;
	cursor:pointer;
	width:100px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

 
/* you may want to setup some decorations to active the item */ 
div.items .active { 
    border:2px solid #000;
    z-index:9999;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	width:18px;
	height:18px;
	margin:0px 0px;
	cursor:pointer;
}


a.right 				{background:url(../img/right.png) no-repeat; background-position: 0 0px;margin-top:30px;margin-right:10px;}
a.right:hover 		{ background-position:0px -18; }
a.right:active 	{ background-position:0px -18px; } 


a.left				{background:url(../img/left.png) no-repeat;background-position: 0 0px;margin-top:30px;margin-right:10px;margin-left:15px;} 
a.left:hover  		{ background-position:0px -18; }
a.left:active  	{ background-position:0px -18px; }

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

/* position and dimensions of the navigator */


.navi {
	height:20px;
	margin:auto;
	width:70px;
}


/* items inside navigator */
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../img/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -16px;     
}
