<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vizzuality | <%= yield :page_title %></title>
<meta name="description" content="We take enjoyment in being a small and productive company that delivers great user experiences for stories that matter. We work on Biodiversity informatics, visualization and analysis of data...">

<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'layout'%>
<!--[if IE]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css"><![endif]-->
</head>