.headerContainer{
	background-color: silver;
	height: 71px;
}

.headerLogo{
	background-color: silver;
	height: 71px;
	width: 180px;
	background-color: green;
}

.headerList{
	background-color: silver;
	height: 71px;
	width: 673px;
    background-color: lime;
}

.headerSign{
	background-color: yellow;
	height: 24px;
	width: 104px;
}

.searchContainer{
	background-color: silver;
	height: 36px;
	padding-top: 9px;
}

.widgetContainer{
	background-color: silver;
	height: 452px;
}

.commentsContainer{
	background-color: black;
	height: 500px;
}

.post{
	background-color: #f2f7ef;
	height: 100px;
}

.rightColumn{
	background-color: silver;
	height: 616px;
}

.contributors{
	background-color: black;
	height: 113px;
	padding-left: 9px;
}

.species_details{
	background-color: green;
	height: 360px;
	padding-left: 9px;
}

.related_species{
	background-color: black;
	height: 131px;
	padding-left: 9px;
}

.footerContainer{
	background-color: black;
	height: 166px;
}

.footer_notices{
	background-color: silver;
	height: 90px;
}

.footer_logo{
	background-color: silver;
	height: 74px;
}

.notice{
	background-color: blue;
	height: 60px;
	width: 222px;
}

.separator_small{
	background-color: white;
	height: 1px;
	width: 1px repeat-x;
	margin-right: 9px;
	margin-bottom: 9px;
}

.separator_big{
	background-color: white;
	height: 1px;
	width: 1px repeat-x;
	margin-bottom: 9px;
}

.avatar{
	background-color: white;
	height: 52px;
	width: 52px;
}

/* separadores */

.separator40{
	height: 40px;
}

.separator9{
	height: 9px;
}

.separator7{
	height: 7px;
}

.separator6{
	height: 6px;
}

.separator1{
	height: 1px;
}

/* tipograf’a */

.title_blue{
 	font-family: "Georgia";
 	font-style: italic;
	font-size: 21px; 
	color: #9db7d2;
}

.title_gray{
 	font-family: "Georgia";
 	font-style: italic;
	font-size: 21px; 
	margin-left: 10px;
	color: #a9a9a9	
}
