body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:12px  Arial, Helvetica, sans-serif; color:#666666; background:#CCCCCC}
span.clear{clear:both;}
a:focus{outline:none}
input:focus{outline:none;}
ul {list-style:none;}
div.left {float:left; width:624px;}
div.right {float:right; width:312px;}

div.outer_layout{margin:0 auto; width:936px;}



/*HEADER*/
div.header {float:left; width:896px; margin:23px 0 0 0; padding:23px 20px 0 20px; background:white;}
div.header div.logo {float:left; width:894px; }
div.header div.logo a {float:left; width:191px; height:38px; background:url(../images/home/logo.png) no-repeat 0 0;}
div.header div.logo span.search {float:right; width:auto;}
div.header div.logo span.search form {float:left; margin:0; padding:0;}
div.header div.logo span.search form input[type="text"] {float:left; border:1px solid #cccccc; background:white; margin:0; padding:0; font:normal 13px Arial; color:#cccccc; line-height:13px; padding:4px; width:181px;}
div.header div.logo span.search form input[type="submit"] {float:left; border:1px solid #cccccc; border-left:none; background:url(../images/home/len.png) no-repeat 0 0; height:25px; width:24px; margin:0; padding:0;}
div.header div.header_menu {float:left; width:auto; padding:27px 0 17px 0;}
div.header div.header_menu ul {float:left; width:894px; margin:0;}
div.header div.header_menu ul li {float:left; width:auto; padding:0 15px;}
div.header div.header_menu ul li.first {padding:0 15px 0 0;}
div.header div.header_menu ul li a {text-decoration:none; font:bold 13px Arial; color:#999999;}
div.header div.header_menu ul li a.current {color:#0099CC;}
div.header div.header_menu ul li a:hover {color:#0099CC;}


/*HOME*/
/*gallery*/
div.images_gallery {float:left; width:896px; padding:0 20px 0 20px; background:url(../images/home/home_top_bkg.png) repeat-x 0 0;}
div.images_gallery h2 {float:left; width:896px; text-align:center; font:bold 36px Arial; color:#CCCCCC; letter-spacing:-2px; padding:27px 0 23px; line-height:36px;}
div.images_gallery h2 a {text-decoration:none; color:#0099CC;}
div.images_gallery h2 a:hover {text-decoration:underline;}

/*below gallery*/
div.left div.information {float:left; padding:21px; width:582px; background:white;}
div.left div.information h3 {font:bold 25px Helvetica; color:#666666; letter-spacing:-1px;}
div.left div.information p.subtitle {font:normal 13px "Lucida Grande"; color:#666666;}
div.left div.information p.subtitle a {text-decoration:none; font:bold 13px "Lucida Grande"; color:#0099CC; letter-spacing:-1px;}
div.left div.information p.subtitle a:hover {text-decoration:underline;}

div.left div.information ul {float:left; width:582px; padding:5px 0;}
div.left div.information ul li {position:relative; float:left; margin:8px 15px 0 0;}
div.left div.information ul li.last {margin:8px 0 0 0;}
div.left div.information ul li div.specie {float:left; padding:8px; width:168px; height:155px; background:url(../images/home/specie_bkg.png) no-repeat -4px -4px;}
div.left div.information ul li div.specie h4 {float:left; width:140px; padding:4px 0 0 0;}
div.left div.information ul li div.specie h4 a {font:bold 15px "Lucida Grande"; color:#0099CC; text-decoration:none;}
div.left div.information ul li div.specie h4 a:hover {text-decoration:underline;}
div.left div.information ul li div.specie p.taxa {font:normal 11px "Lucida Grande"; color:#999999; padding:1px 0 0 0;}
div.left div.information ul li div.specie p.heart {float:right; font:normal 10px Arial; color:#999999; margin:9px 0 0 0; padding:0 0 0 11px; line-height:10px; background:url(../images/home/heart.png) no-repeat 0 1px;}
div.left div.information ul li div.specie p.heart.zero {background-position:0 -10px;}

div.left div.bottom {float:left; border-top:1px solid #E8E8E8; border-bottom:1px solid #CCCCCC; background:#F7F7F7; padding:15px 21px; width:582px;}
div.left div.bottom p {font:normal 13px "Lucida Grande"; color:#666666; text-align:right;}
div.left div.bottom p a {text-decoration:none; font:bold 13px "Lucida Grande"; color:#0099CC; letter-spacing:-1px;}
div.left div.bottom p a:hover {text-decoration:underline;}

div.right div.latest_ {float:left; padding:21px; width:269px; background:white; border-left:1px solid #cccccc;}
div.right div.latest_ h3 {font:bold 25px Helvetica; color:#666666; letter-spacing:-1px;}
div.right div.latest_ p.subtitle {font:normal 13px "Lucida Grande"; color:#666666;}
div.right div.latest_ p.subtitle a {text-decoration:none; font:bold 13px "Lucida Grande"; color:#0099CC; letter-spacing:-1px;}
div.right div.latest_ p.subtitle a:hover {text-decoration:underline;}

div.right div.latest_ ul {float:left; width:269px; padding:10px 0 8px 0;}
div.right div.latest_ ul li {position:relative; float:left; margin:3px 15px 0 0;}
div.right div.latest_ ul li div.latest {float:left; padding:8px; width:251px; height:51px; background:url(../images/home/latest_bkg.png) no-repeat 0 0;}
div.right div.latest_ ul li div.latest.first {background-position:0 -72px;}
div.right div.latest_ ul li div.latest div.image {float:left; width:54px;}
div.right div.latest_ ul li div.latest div.image img {width:48px; height:48px;}
div.right div.latest_ ul li div.latest div.data {float:left; width:195px;}
div.right div.latest_ ul li div.latest div.data p {font:normal 13px "Lucida Grande"; color:#666666;}
div.right div.latest_ ul li div.latest div.data p a {color:#0099CC; text-decoration:none;}
div.right div.latest_ ul li div.latest div.data p a:hover {text-decoration:underline;}
div.right div.latest_ ul li div.latest div.data p.ago {font:normal 11px "Lucida Grande"; color:#999999; padding:3px 0 0 0;}


div.right div.bottom {float:left; border-top:1px solid #E8E8E8; border-right:none; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; background:#F7F7F7; padding:15px 21px; width:269px;}
div.right div.bottom p {font:normal 13px "Lucida Grande"; color:#666666; text-align:right;}
div.right div.bottom p a {text-decoration:none; font-family:"Lucida Grande"; font-weight:bold; font-size:13px; /*font:bold 13px "Lucida Grande";*/ color:#0099CC; letter-spacing:-1px; line-height:13px;}
div.right div.bottom p a:hover {text-decoration:underline;}





/*GUIDE*/
div.header_guide {float:left; width:936px; background:url(../images/guide/bkg_head_repeatx.png) repeat-x 0 0; height:313px; margin:0; padding:0;}
div.header_guide div.content {float:left; margin:26px 26px 26px 26px;}
div.header_guide div.content div.content_left {float:left; width:560px; height:100%;}
div.header_guide div.content div.content_left p.title {float:left; font:bold 25px Helvetica; color:#FFFFFF; width:100%;}
div.header_guide div.content div.content_left p.by {float:left; font:normal 15px; font-family:"Lucida Grande"; color:#FFFFFF; width:100%;}

div.header_guide div.content div.content_left div.data_info {float:left; margin:10px 0 0 0; width:386px;}
div.header_guide div.content div.content_left div.data_info p{font:bold 11px Arial; margin:0; text-transform:uppercase; }
div.header_guide div.content div.content_left div.data_info p.downloads_data {float:left; color:#FF0099; background:url(../images/guide/bkg_info_bttn_left.png) no-repeat left 0; height:21px;}
div.header_guide div.content div.content_left div.data_info p.downloads_data span{float:left; background:url(../images/guide/bkg_info_bttn_right.png) no-repeat right 0; height:21px; margin:0 5px 0 3px; padding:3px 5px 0 4px;}
div.header_guide div.content div.content_left div.data_info p.species_data {float:left; color:#FF9470; background:url(../images/guide/bkg_info_bttn_left.png) no-repeat left 0; height:21px; }
div.header_guide div.content div.content_left div.data_info p.species_data span{float:left; background:url(../images/guide/bkg_info_bttn_right.png) no-repeat right 0; height:21px; margin:0 5px 0 3px; padding:3px 5px 0 4px;}
div.header_guide div.content div.content_left div.data_info p.landscapes_data {float:left; color:#7FCCE5; background:url(../images/guide/bkg_info_bttn_left.png) no-repeat left 0; height:21px; }
div.header_guide div.content div.content_left div.data_info p.landscapes_data span{float:left; background:url(../images/guide/bkg_info_bttn_right.png) no-repeat right 0; height:21px; margin:0 0 0 3px; padding:3px 5px 0 4px;}

div.header_guide div.content div.content_left p.info_guide {float:left; font-weight:normal; font-size:13px; font-family:"Lucida Grande"; color:#FFFFFF; width:100%; margin:13px 0 5px 0; letter-spacing:-1.0px;}

div.header_guide div.content div.content_left a.download_guide {float:left; background:url(../images/guide/bkg_download_button.png) no-repeat 0 0; width:265px; height:59px; text-decoration:none; margin:20px 0 0 0;}
div.header_guide div.content div.content_left a.download_guide p.title {float:left; font:bold 19px Arial; color:#0099CC; margin:9px 0 0 65px;}
div.header_guide div.content div.content_left a.download_guide p.size {float:left; font:normal 13px Arial; color:#0099CC; margin:0px 0 0 100px;}

div.header_guide div.content div.content_left p.template {float:left; font-weight:normal; font-size:13px; font-family:"Lucida Grande"; color:#FFFFFF; width:100%; margin:0px 0 0 57px; letter-spacing:-1.0px;}
div.header_guide div.content div.content_left p.template a{text-decoration:underline; color:#FFFFFF;}
div.header_guide div.content div.content_left p.template a:hover{}

div.header_guide div.content div.content_right {float:right; width:320px; height:100%;}
div.header_guide div.content div.content_right div.bkg_map {float:right; background:url(../images/guide/bkg_header_map.png) no-repeat 0 0; width:280px; height:210px; margin:40px 0 0 0;}
div.header_guide div.content div.content_right div.bkg_map div.map {float:left; background:url(../images/guide/header_map.png) no-repeat 0 0; width:261px; height:190px; margin:6px 0 0 10px;}

div.taxonomy_browser_body {float:left; width:936px; background-color:#FFFFFF; }
div.taxonomy_browser_body div.content {float:left; margin:26px;}
div.taxonomy_browser_body div.content div.content_left {float:left; width:590px;}
div.taxonomy_browser_body div.content div.content_left p.species_included{float:left; font:bold 25px Helvetica; color:#666666; width:100%;}
div.taxonomy_browser_body div.content div.content_left p.number_species{float:left; font-weight:normal; font-size:13px; font-family:Helvetica; color:#666666; width:100%;}

div.taxonomy_browser_body div.content div.content_right {float:right; width:285px;}
div.taxonomy_browser_body div.content div.content_right a.view_advanced_browser {float:right; background:url(../images/guide/bkg_view_advanced_browser.png) no-repeat 0 0; text-align:center; width:231px; height:24px; font-size:13px; font-weight:normal; font-family:"Lucida Grande"; color:#666666; text-decoration:none; padding:6px 0 0 0px; letter-spacing:-1.0px;}
div.taxonomy_browser_body div.content div.content_right a.view_advanced_browser span{font-weight:bold; color:#0099CC;}
div.taxonomy_browser_body div.content div.content_right a.view_advanced_browser:hover span{color:#0086B3;}

div.taxonomy_browser_body div.info_species_list {float:left; width:936px; background-color:#F7F7F7; height:44px; border-top:1px solid #E8E8E8; border-bottom:1px solid #CCCCCC;}
div.taxonomy_browser_body div.info_species_list p{float:right; font-family:"Lucida Grande"; font-size:13px; font-weight:normal;}
div.taxonomy_browser_body div.info_species_list a{font-family:"Lucida Grande"; color:#0099CC; font-size:13px; font-weight:normal;}


/*FOOTER*/
div.footer {margin:0 auto; width:936px;}
div.footer div.in {float:left; width:896px; padding:24px 20px 20px 20px; background:white;}
div.footer div.in div.logo {float:left; width:894px; }
div.footer div.in div.logo a.logo {float:left; width:123px; height:26px; background:url(../images/home/logo_footer.png) no-repeat 0 0;}
div.footer div.in div.logo span.menu {float:right; width:auto;}
div.footer div.in div.logo span.menu ul li {float:left; width:auto; padding:0 15px;}
div.footer div.in div.logo span.menu ul li.last {padding:0 0 0 15px;}
div.footer div.in div.logo span.menu ul li a {text-decoration:none; font:bold 13px Arial; color:#999999;}
div.footer div.in div.logo span.menu ul li a.current {color:#0099CC;}
div.footer div.in div.logo span.menu ul li a:hover {color:#0099CC;}
div.footer div.in p {float:left; padding:40px 0 0 0; font:normal 12px Arial; color:#999999;}
div.footer div.in p a {font-weight:bold; text-decoration:none; color:#999999;}
div.footer div.in p a:hover {color:#666666;}
