body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; background:white}
span.clear{clear:both;}
a:focus{outline:none}
input:focus{outline:none;}
ul {list-style:none;}

div#container {width: 100%;}

div.outer_block1 {position: relative; z-index: 1; width: 100%; background:url(../images/header_background.png) repeat-x center 0; overflow: hidden;}
div.block1 {z-index: 2; position: relative; width: 1000px; margin: 0px auto; background:url(../images/dibujo2.png) no-repeat bottom right; padding-bottom: 35px;overflow: hidden;z-index: 1}
div.block1 h1 {float: left; color: white; font-size: 45px; font-weight: bold; width: 100%; text-shadow: 2px 2px 2px #000;}
div.block1 p {float: left; font: normal 19px Arial; color: white; width: 400px; text-shadow: 0px -1px 0px #386876; clear: both;}
div.block1 p.supertitle {float: left; width: 100%; margin-top: 83px; color: white; font-weight: bold; font-size: 23px;}
div.block1 p.location {float: left; font: normal 15px Arial; margin-top: 25px; margin-bottom: 35px; color: #366775; width: 200px; height: 42px; padding-top: 3px; padding-left: 50px; text-shadow: none; background:url(../images/location_marker.png) no-repeat 0 0; clear: both;}
div.block1 a {margin-top: 20px; margin-right: 10px; text-decoration: none; text-align: center; font-size: 18px; padding-top: 12px;}
div.block1 a#howto {clear: left; float: left; width: 179px; height: 45px; background:url(../images/contribute_button.png) no-repeat center 0; color: #121F23;}
div.block1 a#signup {float: left; width: 130px; height: 45px; background:url(../images/signup_button.png) no-repeat center 0; color: white;}

div.outer_block2 {position: relative; z-index: 3; width: 100%; background:url(../images/grey_background.png); overflow: hidden;}
div.block2 {z-index: 4; position: relative; width: 1000px; margin: 0px auto;}

div.separator1 {position: absolute;  bottom: 0px; z-index: 20; width: 100%; height: 9px; background: url(../images/separator1.png) repeat-x center 0;}

div.explanation {float: left; width:450px; margin-bottom: 30px;}
div.explanation h3 {color: #509FBA; font-size: 27px; font-weight: normal; text-shadow: 2px 2px 2px #000; margin-top: 35px; clear: both; overflow: hidden;}
div.explanation p {margin-top: 20px; font: normal 17px Arial; color: #666666;}
div.explanation a{float: left; margin-top: 20px; margin-right: 10px; text-decoration: none; text-align: center; font-size: 18px; padding-top: 10px;} 	
div.explanation a#schedule {width: 175px; height: 45px; background:url(../images/schedule_button.png) no-repeat top left; color: white; padding-left: 20px}

div.goals {position: absolute; left: 500px; top: -50px; z-index: 10; width: 540px; height: 505px; background:url(../images/goals_background.png) no-repeat top right;}
div.goals h3 {font-size: 27px; color: #333333; margin-top: 90px; margin-left: 80px;}
div.goals ul {margin-left: 80px;}
div.goals ul li {font: normal 17px Arial; padding-left: 30px; padding-top: 20px; padding-right: 50px;color: #414141; background:url(../images/tick.png) no-repeat center left;}

div.separator2 {position: absolute; width: 100%; height: 9px; background: url(../images/separator2.png) repeat-x center 0;}

div.outer_block3 {width: 100%; overflow: hidden; background:url(../images/green_background.png) repeat-x center 0; overflow: hidden;}
div.block3 {width: 1000px; margin: 0px auto; margin-bottom: 20px;}
div.block3 h3{ font-size: 27px; color: #56631B; margin-top: 30px;}
div.block3 p{ font: normal 15px Arial; color: #56631B; margin-top: 10px;}

div.outer_block4 {width: 100%; overflow: hidden; }
div.block4 {width: 1000px; margin: 0px auto;}

div.tool {width: 250px; float: left; margin-top: 40px;}
div.tool img.img_tool {width: 220px; height: 165px; background:url(../images/img_tool_background.png) no-repeat center 0; padding: 5px 20px 20px 5px;}
div.tool h4 {font-size: 19px; color: #333333;}
div.tool p.tool_author {font: normal 13px Arial; color: #999999; margin-top: 0px;}
div.tool p.tool_author a {color: #999999;}
div.tool p.tool_explanation {font: normal 15px Arial; color: #999999; width: 220px; margin-top: 10px;}
div.tool a.download {width: 111px; height: 42px; background:url(../images/download_button.png) no-repeat top left; float: left; margin-top: 20px; margin-right: 10px; text-decoration: none; text-align: center; font-size: 18px; padding-top: 5px; color: white; padding-left: 10px; font: normal 13px Arial;}

div.outer_footer { width: 100%; background: url(../images/grey_background.png); height: 300px; margin-top: 30px;}