{% extends "../employee_detail_base.html" %}

{% block big_title %}Javier de la Torre {% endblock %}
{% block page_title %}Javier de la Torre @ Vizzuality{% endblock %}
{% block page_description %}With an education in Agriculture Engineering, Javier has been working in the field of Biodiversity Informatics for over 8 years.He gained strong experience in the social and technical aspects of data sharing...{% endblock %}


{% block description %}

<div class="externalLinks">
	<p><a href="http://twitter.com/jatorre" target= "blank_">Follow me on twitter &raquo;</a></p>
</div>

<div class="externalLinks">
	<p><a href="http://es.linkedin.com/in/jatorre" target= "blank_">Visit my linkedin &raquo;</a></p>
</div>

<div style="float:left">
    
    
<p class="description">
          With an education in Agriculture Engineering, I have been working in the field of Biodiversity Informatics for over 8 years. <br>
    I gained strong experience in the social and technical aspects of data sharing while setting up the <a href="http://www.biocase.org">European Biological Collections Access Services</a>. I am coauthor of several standards created with the <a href="http://www.tdwg.org">Biodiversity Information Standards</a>, and in particular I have closely worked within the Geospatial Interest Group. <br>
    <br>
    <br>
    Recent projects include the <a href="http://wdpa-marine.org">UNEP-WCMC World Database on Marine Protected Areas</a> and the spatial intersection with the hundreds of millions of &quot;point&quot; occurrence data mobilised through the Global Biodiversity Information Facility network.<br>
    <br>
    I have a strong interest in the distribution of species on earth, their conservation and mobilising a community so that human computation and citizen science can compliment the work currently being machine automated. <br>
    I am a true believer that through innovation on Biodiversity Informatics it will be possible to increase understanding and provide better conservation of Life on Earth. 
</p>


</div>


{% endblock %}