{% extends "../employee_detail_base.html" %}

{% block page_title %}Team · Javier de la Torre - Co-Founder{% endblock %}
{% block big_title %}Providing an engaging way to visualize occurrence data from GBIF network in Encyclopedia Of Life{% endblock %}

{% block description %}

<div class="externalLinks">
	<p><a href="http://www.eol.org" target= "blank_">Follow me on twitter &raquo;</a></p>
</div>

<div class="externalLinks">
	<p><a href="http://www.eol.org" target= "blank_">Visit my linkedin &raquo;</a></p>
</div>

<div style="float:left">
<p class="description">

With an education in Agriculture Engineering, Javier has been working in the field of Biodiversity Informatics for over 8 years.<br/><br/>
He gained strong experience in the social and technical aspects of data sharing while setting up the European Biological Collections Access Services <a href="http://www.biocase.org" >(Biocase)</a>. <br/><br/>

Javier is the coauthor of several standards created with the <a href="http://www.tdwg.org/" >Biodiversity Information Standards</a>, and in particular has closely worked within the Geospatial Interest Group.<br/><br/>

Javier founded <a href="http://www.vizzuality.com" >Vizzuality</a>, a company dedicated to the visualisation, analysis and cloud based services for biodiversity spatial data. His role remains the lead developer on Rich Internet Applications, Cloud Computing and GIS systems for biodiversity. 
</p>
</div>
{% endblock %}