div.raceContent1{
	margin-left: 10px;
	width: 618px;
}

div.raceSearch{
	height: 45px;
	border-bottom: dotted #666666 1px;
	margin-bottom: 10px;
	background-color: #b5e6f3;
	margin-top: 0px;
	padding-top: 0px;
}

h2.newsTitle3 {
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	border-bottom: solid 2px #336699;
	margin-bottom: 0px;
}

div.raceDetailsBottom {
	height: 45px;
	border-bottom: dotted #666666 1px;
	margin-bottom: 0px;
}

.searchPanel{
	padding-top: 11px;
	padding-left: 10px;
	padding-right: 0px;
}