div.conditions {
	background-color: #336699;
	position: absolute;
	top: 358px;
	left: 0px;
	font-family: Arial;
	color: white;
	font-size: 11px;
	text-align: center;
	width: 100%;
	height: 32px;
	line-height: 30px;
}

h2.registerTitle {
	margin-left: 20px;
	margin-top: 10px;
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
}

.compactTitle {
	letter-spacing: -1px;
}

.registerLeft{
	width: 220px;
	height: 298px;
	padding-left: 20px;
}

.registerRight{
	padding-top: 20px;
	width: 230px;
	height: 298px;
}

.registerWindow{
	background-color: #b5e6f3;
}

div.usernameCheck {
	padding-top: 2px;
	height: 20px;
}

img.registerImage {
	height: 20px;
	margin-right: 3px;
}

div.answerStyle {
	color: #336699;
	font-family: Arial;
	font-size: 12px;
	padding-top: 1px;
}

div.resultRegister {
	font-family: Arial;
	font-size: 12px;
	color: #ffcccc;
}

.rightButton {
	padding-right: 12px;
	padding-top: 10px;
	float: right;
}

div.registerError {
	padding-top: 20px;
	color: red;
}

div.divalert1{
	background-image: url(/img/divalert1.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 199px;
	margin-top: 32px;
}

div.divalert1 p{
	font-size: 11px;
	text-align: center;
	line-height: 25px;
}

div.divalert2{
	background-image: url(/img/divalert2.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 199px;
	margin-top: 28px;
}

div.divalert2 p{
	font-size: 11px;
	text-align: center;
	line-height: 25px;
}

.inputTitle{
	width: 199px;
}

div.divalert3{
	background-image: url(/img/divalert1.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 199px;
	margin-top: 28px;
}

div.divalert3 p{
	font-size: 11px;
	text-align: center;
	line-height: 25px;
}

.terms{
	text-decoration: none;
	color: #b5e6f3;
}

.terms:hover{
	color: #ffffff;
}