div.conditions {
	background-color: #336699;
	font-family: Arial;
	color: white;
	font-size: 11px;
	text-align: center;
	width: 500px;
	height: 32px;
}

h2.registerTitle {
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	letter-spacing: -1px;
}

.registerLeft{
	width: 250px;
}

.registerRight{
	width: 250px;
}
