/* CSS file */


Canvas.headerCanvas{
	background-color: #375381;
	border-style: none;	
}

Canvas.topToolbar{
	background-image: Embed(source="ui.swf",symbol="bkg_top_toolbar");	
}

Canvas.whiteOverlay{
	background-image: Embed(source="ui.swf",symbol="bkg_white_overlay");
}

Canvas.darkTopContainer{
	background-image: Embed(source="ui.swf",symbol="dark_top_container");	
}

Canvas.bkgOrange{
	background-image: Embed(source="ui.swf",symbol="bkg_orange");	
}

Canvas.softBlueContainer{
	background-color: #375381;
	background-alpha: .2;
	border-style: solid;
	corner-radius: 1;
	border-color: #8e9cb4;	
}

Canvas.softWhiteContainer{
	background-color: #FFFFFF;
	background-alpha: .4;
	border-style: solid;
	corner-radius: 1;
	border-color: #FFFFFF;	
}

Canvas.greenContainer{
	background-color: #e9ebdf;
	border-style: none;
}

Canvas.whiteBoxBorder{
	background-image: Embed(source="ui.swf",symbol="bkg_white_border");	
}

Button.btnViewType{
	skin: ClassReference(null);
	color: #4a4f33;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "DINOT-Medium";
	font-size: 11;
	font-weight: normal;
	padding-bottom: 0;
	padding-top:-7;
	padding-left: 3px;
	padding-right: 3px;
	disabledColor: #FFFFFF;	
}

Button.btnTool{
	up-skin: Embed(source="ui.swf",symbol="btn_tool_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	selected-up-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	selected-over-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	selected-down-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMore{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_more_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMinus{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.breadCrumbButton{
	up-skin: Embed(source="ui.swf",symbol="breadCrumb_up");	
	over-skin: Embed(source="ui.swf",symbol="breadCrumb_over");	
	down-skin: Embed(source="ui.swf",symbol="breadCrumb_over");	
	disabled-skin: Embed(source="ui.swf",symbol="breadCrumb_actual_up");	
	color: #375381;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 4;
	disabledColor: #6C88B6;
	paddingRight: 20;
	paddingLeft: 15;
	paddingBottom: 1; 	
}



HSlider{
	thumbDisabledSkin: Embed(source="ui.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="ui.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="ui.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="ui.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="ui.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="ui.swf", symbol="SliderTrack_Skin");
	tickColor:#FFFFFF;
	tick-length:8;
	tickOffset:6;
	tickInterval:1;
	tickThickness:1;
	thumb-offset: 0;
}



/* Button.BreadCrumbButton{
	up-skin: Embed(source="ui.swf",symbol="breadcrumb_up");	
	over-skin: Embed(source="ui.swf",symbol="breadcrumb_active_up");	
	down-skin: Embed(source="ui.swf",symbol="breadcrumb_active_up");	
	selected-over-skin: Embed(source="ui.swf",symbol="breadcrumb_active_up");	
	selected-up-skin: Embed(source="ui.swf",symbol="breadcrumb_active_up");
	selected-down-skin: Embed(source="ui.swf",symbol="breadcrumb_active_up");
	font-family: "DINOT-Medium";
	font-size: 11;
	roll-over-color: #333333;
	color: #333333;
	padding-right: 18;
	padding-bottom: 1;
	padding-left: 13;
}

Button.greyButton{
	up-skin: Embed(source="ui.swf",symbol="greyButton_up");	
	over-skin: Embed(source="ui.swf",symbol="greyButton_over");	
	down-skin: Embed(source="ui.swf",symbol="greyButton_over");	
	selected-over-skin: Embed(source="ui.swf",symbol="greyButton_over");	
	selected-up-skin: Embed(source="ui.swf",symbol="greyButton_over");
	selected-down-skin: Embed(source="ui.swf",symbol="greyButton_over");
	font-family: "DINOT-Medium";
	font-size: 11;
	roll-over-color: #333333;
	color: #FFFFFF;	
}


.dropDown {
	separatorSkin: Embed(source="ui.swf",symbol="Menu_separatorSkin");
	backgroundColor: #cacaca;
	backgroundAlpha: .8;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #1e1e1e;
	selection-color: #aaaaaa;
	cornerRadius:0;
	color: #1e1e1e;
	textRollOverColor: #ffffff;
	textSelectedColor:#1e1e1e;
	rollOverColor: #333333;
}

ComboBox{
	disabledSkin: Embed(source="ui.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="ui.swf", symbol="ComboBoxArrow_downSkin");
	overSkin: Embed(source="ui.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="ui.swf", symbol="ComboBoxArrow_upSkin");
	color: #FFFFFF;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
	textDisabledColor: #1e1e1e;
	dropDownStyleName: "dropDown";
	fontSize:11;
	fontWeight:normal;
	fontFamily: "DINOT-Medium";
	arrowButtonWidth:12;
	paddingRight:0;
	paddingLeft:3;
	border-style: solid;
	border-thickness: 1;
	border-color: #cacaca;
}

Canvas.greyCanvas{
	background-image: Embed(source="ui.swf",symbol="bkgGreyCanvas");	
}

ScrollBar{
	downArrowDisabledSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="ui.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="ui.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="ui.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="ui.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="ui.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="ui.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="ui.swf", symbol="ScrollArrowUp_upSkin");
}

ProgressBar {
   borderColor: #000000;
   barColor: #66cc00;
   color: #0b333c;
   paddingLeft: 0;
   paddingRight: 0;
   textIndent: 0;
   letterSpacing: 0;
   verticalGap: 0;
} */