/* CSS file */
@font-face {
    src:url("DINOT-Medium.swf");
    fontFamily: "DINOT-Medium";
    font-weight: normal;
}   

@font-face {
    src:url("DINOT-Bold.swf");
    fontFamily: "DINOT-Bold";
    font-weight: normal;
}

Button.JamCreation
{
	color: #CCCCCC;
	fillAlphas: 1.0, 1.0;
	fillColors: #454545, #454545, #A7A7A7, #686868;
	fontFamily: DINOT-Bold;
	fontSize: 12;
	fontWeight: normal;
	textRollOverColor: #FFFFFF;
	themeColor: #6C6C6C;
}   
