
.sIFR-active .flash-Bigtitle{
    font-size:26px;
    font-family: Arial;
	padding-top: 40px;	
}

.flash-Bigtitle{
    font-size:26px;
    font-family: Arial;
	padding-top: 40px;
    color: #FFFFFF;
}


.sIFR-active .flash-h2{
    font-size:18px;
    font-family: Arial;
}


.sIFR-active .flash-title
{
      visibility: hidden;
      font-family: Verdana;
      line-height: 1em;
      color: #666666;      
}