* {
	margin:0;
	padding:0;
}
body  {
	font-family: "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	font-size:12px;
	background: #ffffff;
	color: #526374;
}
img {
	border:0;
}
#container { 
	padding-top: 200px;
	width: 600px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
} 
input {
	width:50px;
}
#mainContent {
	margin-bottom:20px;
}
#mainContent h1 {
	color:#9acb2a;
	font-size:24px; 
} 
#footer {
	width:600px;
	height:30px;
	margin-top: 20px;
	border-top: 1px solid #dddddd;
	background-color: #fcfcfc;
} 
.copyright {
	text-align:center;
	padding-top:10px;
}
.copyright a, #mainContent a {
	color:#79b9f6;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}
.copyright a:hover, #mainContent a {
	color:#79b9f6;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/*end main menu*/
/* begin border corners*/
.t {background: #ffffff url(/images/dot.gif) 0 0 repeat-x;}
.b {background:url(/images/dot.gif) 0 100% repeat-x}
.l {background:url(/images/dot.gif) 0 0 repeat-y}
.r {background:url(/images/dot.gif) 100% 0 repeat-y}
.bl {background:url(/images/bl.gif) 0 100% no-repeat}
.br {background:url(/images/br.gif) 100% 100% no-repeat}
.tl {background:url(/images/tl.gif) 0 0 no-repeat}
.tr {background:url(/images/tr.gif) 100% 0 no-repeat; padding:10px 20px} 
/* end border corners*/
.steps {
	float:left;
	width:600px;
}
.steps .step1 {
	font-size:24px;
	color:#8e9eae;
	vertical-align:middle;
	padding-top:2px;
}

.steps p {
	margin:10px 0;
}
.steps a {
}
.steps a:hover {
}
.steps img {
	margin:10px 0;
}