<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head lang="en" xml:lang="en"> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<title></title> 
		<meta name="description" content=""> 
		<meta name="keywords" content=""> 
		
		<!-- JAVASCRIPT --> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="javascripts/jquery.autocomplete.js" type="text/javascript" charset="utf-8"></script>		
		<script type="text/javascript" src="/javascripts/jquery.uploadify.v2.1.0.js"></script>
		<script src="javascripts/easySlider1.7.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="javascripts/swfobject.js"></script>
        <script type="text/javascript" src="javascripts/application.js"></script>
		<script type="text/javascript">
            $(document).ready(function() {
                
                var fileSubmit = false;
                var formSubmit = false;
                
                $('#dataForm').submit(function() {
                    //action="/raster/create" method="POST"
                  $.post("/raster/create", $("#dataForm").serialize());
                  //$('#dataForm').submit();
                  formSubmit = true;
                  if (fileSubmit != false) {
                      window.location = "viewer?k={{k}}";
                  } else {
                      $('.content').hide();
                  }
                  return false;
                });
                
                
                //the uploader parameters
                $("#uploadify").uploadify({
                    uploader  : '/swf/uploadify.swf',
                    script    : 'http://mol.colorado.edu/rastore',
                    cancelImg : '/images/common/cancel.png',
                    //buttonImg : '/images/home/dowload_bttn.png',
                    hideButton: true,
                    fileDataName : 'dist',
                    width: 240,
                    height: 80,
                    wmode: 'transparent',
                    auto      : true,
                    scriptAccess: 'always',
                    scriptData: {'k':'{{k}}','redirect':0},
                    queueID   : 'progressbar',
                    multi     : false,
                    fileExt   : '*.asc;*.gz',
                    simUploadLimit : 1,
                    onProgress: function(){ 
                        $('div.uploadify').css('background','none');
                        $('.header_progress h1').html('');
                        },
                    onComplete: function(event, queueID, fileObj, reposnse, data) { 
                        fileSubmit = true
                        if (formSubmit) {
                           //$('#dataForm').submit();
                           window.location = "viewer?k={{k}}";
                           //console.log('for some reason complete');
                        } else {
                            $('.header_progress').hide();
                        }
                     },
                
                });
                //'fileExt'       : '*.jpg;*.png;*.gif;*.bmp;*.txt;*.rtf;*.sql;*.doc;*.xls;*.ppt;*.pdf;*.psd;*.ai',
                
                $('div#program_combo a.program').click(function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    
                    $(this).parent().children('div#activated_list').css('display','inline');

                });
                
                $('div#program_combo div#activated_list a.program_others').click(function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    
                    $(this).parent().fadeOut('fast');

                });
                
                    
                // Autocomplete
                $('#search_taxon_species').focus().autocomplete('http://data.gbif.org/species/nameSearch?maxResults=5&returnType=nameId&view=json',{
                    dataType: 'jsonp',
                    parse: function(data){
                      var animals = new Array();
                      gbif_data = data;

                      for(var i=0; i<gbif_data.length; i++) {
                        animals[i] = { data: gbif_data[i], value: gbif_data[i].scientificName, result: gbif_data[i].scientificName };
                      }

                      return animals;
                    }, 
                    formatItem: function(row, i, n, value, term) {							
                        var menu_string = '<p style="float:left;width:285px;font:normal 14px Arial;">' + value.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + term.replace(/([\^\$\(\)\[\]\{\}\*\.\+\?\|\\])/gi, "\\$1") + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>") + '</p>';
                        return menu_string;
              },		
                    width: 238,
                    height: 'auto',
                    minChars: 4,
                    max: 5,
                    selectFirst: false,
                    loadingClass: 'loader',
                    multiple: false,
                    scroll: false
                }).result(function(event,row){
                    //location.href = '/model/' + row.id + '/' + escape(row.scientificName);
                });
                
                
            });
        </script>
		
		<!-- STYLESHEETS --> 
        <link href="stylesheets/uploadify.css" media="screen" rel="stylesheet" type="text/css" /> 
		<link href="stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" /> 
    </head>
	
	<body >	
		
		<!-- THIS HTML IS TO PREPARE THE MODAL WINDOW. IT'LL BE MOVED TO HOME.HTML -->
		<div id="upload_modal_window">
			<div class="header_progress">
				<h1>Choose your file...</h1>
                <div id="progressbar"></div>
                <div class="uploadify">
                    <input name="model" id="uploadify" type="file" />
                </div>
			</div>
			<div class="content">
				<div class="message">
					<h2>Meanwhile, you can start adding details about your model and how did you process it</h2>
				</div>
				<form id="dataForm" action="/raster/create" method="POST">
					<!-- TOOLTIPS ERROR -->
					<div id="taxon_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide a species taxononmic name</span>
						<span class="bottom"></span>
					</div>
					
					<div id="year_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide a correct year</span>
						<span class="bottom"></span>
					</div>

					<div id="author_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide a correct author</span>
						<span class="bottom"></span>
					</div>
					
					<div id="program_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide a correct program</span>
						<span class="bottom"></span>
					</div>

					<div id="short_description_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide some description</span>
						<span class="bottom"></span>
					</div>

					<div id="details_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">You have to provide some details</span>
						<span class="bottom"></span>
					</div>

					<div id="tags_error" class="tooltip_error">
						<span class="head"></span>
						<span class="content">Wrong tag</span>
						<span class="bottom"></span>
					</div>
					<!-- END - TOOLTIPS ERROR -->
					

					<p class="title">SPECIES TAXONOMIC NAME</p>
					<div class="taxon_search">
						<input name="taxon" id="search_taxon_species" type="text" class="taxon_name"/>
						<img src="images/common/ajax-loader.gif" class="loader">
					</div>	
										
					<p class="title">YEAR</p>
					<input type="text" class="year" name="year"/>
					
					<p class="title">AUTHOR(s)</p>
					<input type="text" class="author" name="authors"/>
					
					<p class="title">PROGRAM</p>
					<input type="text" class="author" name="program"/>

						
					<p class="title">SHORT DESCRIPTION</p>
					<input type="text" class="short_description" name="description"/>
				

					<p class="title">DETAILS</p>
					<textarea rows="4" class="details" name="details"></textarea>
					
					<p class="title">TAGS <span>Not mandatory. Separate them with ","</span></p>
					<input type="text" class="tags" name="tags"/>
					
                    
                    <input type="hidden" name="k" value="{{k}}"/>

					<div class="submit">	
						<div class="tooltip">
							Wait for the file to be uploaded, please.
						</div>
						<input type="submit" value="See model" class="disabled" />
					</div>
					
				</form>
			</div> <!-- content -->
			<div class="bottom"></div>
		</div>
	
	</body> 
</html> 
 
 
