/* CSS file */

/*MAIN MENU*/
Button.mainMenuButton{
	up-skin: Embed(source="general.swf",symbol="mainMenuButton_up");
	over-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	down-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-up-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-over-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-down-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	font-family: "DINOT-Medium";
	color: #6686AE;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-size: 13;
	padding-bottom: 7;
	font-weight: normal;
}

/*SUB MENU*/
Button.subMenuButton{
	up-skin: Embed(source="buttons.swf",symbol="subMenuButton_up");
	over-skin: Embed(source="buttons.swf",symbol="subMenuButton_active");
	down-skin: Embed(source="buttons.swf",symbol="subMenuButton_active");
	selected-up-skin: Embed(source="buttons.swf",symbol="subMenuButton_active");
	selected-over-skin: Embed(source="buttons.swf",symbol="subMenuButton_active");
	selected-down-skin: Embed(source="buttons.swf",symbol="subMenuButton_active");
	font-family: "Helvetica";
	color: #999999;
	text-roll-over-color: #666666;
	text-selected-color: #666666;
	font-size: 14;
	font-weight: bold;	
}

/*OTHER*/
Button.greenButton{
	up-skin: Embed(source="buttons.swf",symbol="greenButton_up");
	over-skin: Embed(source="buttons.swf",symbol="greenButton_over");
	down-skin: Embed(source="buttons.swf",symbol="greenButton_over");
	disabled-skin: Embed(source="buttons.swf",symbol="greenButton_disabled");
	color:#FFFFFF;
	font-size: 10;
	font-family: "DINOT-Medium";
	text-roll-over-color: #FFFFFF;	
	font-weight: normal;
	padding-top:3;
}

Button.redButton{
	up-skin: Embed(source="buttons.swf",symbol="redButton_up");
	over-skin: Embed(source="buttons.swf",symbol="redButton_over");
	down-skin: Embed(source="buttons.swf",symbol="redButton_over");
	color:#FFFFFF;
	font-size: 10;
	font-family: "DINOT-Medium";
	text-roll-over-color: #FFFFFF;	
	font-weight: normal;
	padding-top:3;
}

Button.whiteButton{
	up-skin: Embed(source="buttons.swf",symbol="whiteButton_up");
	over-skin: Embed(source="buttons.swf",symbol="whiteButton_over");
	down-skin: Embed(source="buttons.swf",symbol="whiteButton_over");
	color:#666666;
	font-size: 10;
	font-family: "Helvetica";
	text-roll-over-color: #FFFFFF;
	font-weight: bold;
	padding-top: 4;
}

/*PAGINATION*/
Button.whitePaginationLeft{
	up-skin: Embed(source="buttons.swf",symbol="whitePaginationLeft_up");
	over-skin: Embed(source="buttons.swf",symbol="whitePaginationLeft_over");
	down-skin: Embed(source="buttons.swf",symbol="whitePaginationLeft_over");
	disabled-skin: Embed(source="buttons.swf",symbol="whitePaginationLeft_disabled");
}
Button.whitePaginationRight{
	up-skin: Embed(source="buttons.swf",symbol="whitePaginationRight_up");
	over-skin: Embed(source="buttons.swf",symbol="whitePaginationRight_over");
	down-skin: Embed(source="buttons.swf",symbol="whitePaginationRight_over");
	disabled-skin: Embed(source="buttons.swf",symbol="whitePaginationRight_disabled");	
}

/*MAP*/
Button.boundingBoxButton{
	up-skin: Embed(source="general.swf",symbol="boundingBoxButton_up");
	over-skin: Embed(source="general.swf",symbol="boundingBoxButton_over");
	down-skin: Embed(source="general.swf",symbol="boundingBoxButton_over");
}


Button.noSkinButton{
	skin: ClassReference(null);
	roll-over-color: #003366;
	color: #336699;	
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}
