/* CSS file */

Canvas.blackHLine{
	background-color: #000000;
	border-style: none;	
}

Canvas.stepContainer{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	rounded-bottom-corners: true;
	corner-radius: 4;
}

Label.welcome{
	font-size:20;
	font-family:Helvetica;
	font-weight:bold;
	color: #c6c6c6;	
}

Canvas.ContainersInfo{
	background-color: #F5F5F5;
	border-style: solid;
	border-color: #c6c6c6;
	rounded-bottom-corners: true;
	corner-radius: 4;
}

Text.titleInfo{
	color: #414141;
	font-size: 15;
	font-weight: bold;
}

Text.explInfo{
	color: #414141;
	font-size: 14;
}

GradientCanvas.header {
    fill-colors: #376ea7, #23548c;
    fill-alphas: 1.0, 1.0;

    corner-radius: 0;
	
}




	