/* CSS file */




/*Container backgrounds */
Canvas.dashboardContainer{
	background-image: Embed(source="general.swf",symbol="bkgDashboardContainer");	
}
Canvas.dataDownloadContainer{
	background-image: Embed(source="general.swf",symbol="bkgDataDownloadContainer");	
}
Canvas.softBlueUp{
	background-image: Embed(source="general.swf",symbol="bkgSoftBlueUp");	
}
Canvas.softBlueBottom{
	background-image: Embed(source="general.swf",symbol="softBlueBottom");	
}

/**/

Canvas.softBlueStepBackground{
	background-image: Embed(source="general.swf",symbol="softBlueStepBackground");	
	
}

Canvas.blackHLine{
	background-color: #000000;
	border-style: none;	
}

Label.welcome{
	font-size:20;
	font-family:Helvetica;
	font-weight:bold;
	color: #c6c6c6;	
}

Canvas.ContainersInfo{
	background-color: #F5F5F5;
	border-style: solid;
	border-color: #c6c6c6;
	rounded-bottom-corners: true;
	corner-radius: 4;
}

Text.titleInfo{
	color: #414141;
	font-size: 15;
	font-weight: bold;
}

Text.explInfo{
	color: #414141;
	font-size: 14;
}

GradientCanvas.header{
    fill-colors: #376ea7, #23548c;
    fill-alphas: 1.0, 1.0;
    corner-radius: 0;
}

Button.close {
	cornerRadius: 0;
	border-alpha: 0;
	border-thickness:0;
	color: #336699;
	border-style: none;
	background-color: none;
	fillAlphas: 0.0, 0.0, 0.0, 0.0;
	borderColor: #F5F5F5;
	themeColor: #F5F5F5;
	fillColors: #F5F5F5, #F5F5F5;
	textRollOverColor: #003366;
	focusAlpha: 0.0;
	disabledColor: #F5F5F5;
	textSelectedColor: #333333;
}

TextInput.searchTextInput{
	background-image: Embed(source="general.swf",symbol="searchTextInputBkg");
	focus-alpha: 0;	
}

	