 <div id="footer">
    <p><strong>We are an <%= link_to "open source", "http://code.google.com/p/vizzuality/" %> company</strong> Only some rights reserved. Vizzuality<br />
	      +034 689 41 44 20 / +034 659 157 916<br />
	      <%= link_to "contact@vizzuality.com", "mailto:contact@vizzuality.com" %> </p>
  </div>  