body{
	background: #f0f0f0;
	background-image: url(../img/bkg0.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}

div.header{
	height: 110px;
}

div.headerImage{
	background-image: url(../img/cabgrey.jpg);
	background-repeat: no-repeat;
	height: 105px;
}

div.logoContainer{
	background-image: url(../img/logo.jpg);
	background-position-y: -15px;
	background-repeat: no-repeat;
	height: 87px;
	margin-top: 15px;
}

div.widgetContainer{
	background-image: url(../img/bkgWidget.jpg);
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-left: 8px;
	padding-right: 8px;
	width: 940px;
}

div.newsContainer{
	background-color: white;
	height: 185px;
}

div.news{
	margin-left: 5px;
	margin-right: 5px;
}

div.toolsContainer{
	background-color: white;
	height: 185px;
}

div.tools{
	margin-left: 5px;
	margin-right: 5px;
}

div.biggestContainer{
	background-color: white;
	height: 156px;
}

div.biggests{
	margin-left: 5px;
	margin-right: 5px;
}

div.separator{
	height: 10px;
}

div.title{
	border-top: solid #375381 3px;
	border-bottom: solid #375381 1px;
}

div.new{
	height: 100%;
	width: 25%;
}

div.biggest{
	margin-top: 1px;
	width: 20%;
	height: 112px;
}

img.imgBiggest{
	margin-top: 8px;
	margin-left: 8px;
	margin-bottom: -3px;
}

div.dark{
	background-color: #d4d9e4;
}

div.soft{
	background-color: #ebeef2;
}

div.minus10{
	margin-left: -10px;	
}

div.footerContainer{
/* 	background-color: #8192ad; */
	height: 30px;
	color: #666666;
	font-size: 11px;
	padding-top: 20px;
}

ul.menu{
	list-style-type: none;
	margin: auto;
	float: right;
}

ul.menu a {
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #c8ccd5;
}

ul.menu a.active {
	color: #FFFFFF;
}

ul.menu a:hover {
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

img.moduleIcon{
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}

ul.menu li{
	float: left;
	padding-top: 60px;

}

ul.menu li:hover{
	padding-top: 57px;
	border-top: 3px solid #FFFFFF;
}    

ul.menu li.active {
	padding-top: 57px;
	border-top: 3px solid #FFFFFF;
	color: #FFF;
}

.footerLogos{
	float: right;
}
