<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% block titleblock %}{% endblock %}
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/text.css" rel="stylesheet" type="text/css" />
<link href="/css/base.css" rel="stylesheet" type="text/css" />
{% block metatags %}{% endblock %}

</head>
<body>
	<div id="mainContainer">
        <div id="headerContainer">
        	<div id="logoContainer">
            	<a href="home.html"><img class="imageLink" src="images/logoHeader.jpg"/></a>
            </div>
            <div id="mainMenuContainer">
            	<ul id="mainMenu">
                    <li><a href="/contact" {% ifequal section "contact" %}class="mainMenuCurrent"{% endifequal %}>Contact us</a></li>
                    <li>·</li><li><a href="http://biodivertido.blogspot.com">Blog</a></li>                   
                    <li>·</li><li><a href="/analysis" {% ifequal section "analysis" %}class="mainMenuCurrent"{% endifequal %}>Data analysis</a></li>                 
                    <li>·</li><li><a href="/gis" {% ifequal section "gis" %}class="mainMenuCurrent"{% endifequal %}>Rich GIS</a></li>                  
                    <li>·</li><li><a href="/visualization" {% ifequal section "visualization" %}class="mainMenuCurrent"{% endifequal %}>Data visualization</a></li>                   
                    <li>·</li><li><a href="/" {% ifequal section "home" %}class="mainMenuCurrent"{% endifequal %}>Home</a></li>
                </ul>
            </div>
            <div class="clearerMargin">
        	</div>
        </div>
		<div id="mainContent">
                {% block maincontent %}{% endblock %}
            <div class="clearer">
            </div>
            <div id="feedContainer">
                {% block blogpart %}{% endblock %}
            </div>
        </div>

        <div id="footerContainer">
        	<div id="footerTextContainer">
            	<p class="footerText">vizzuality all rights reserved. 2009</p>
            </div>
            <div id="footerMenuContainer">
            	<ul id="footerMenu">
                    <li><a href="/contact">contact us</a></li>
                    <li>·</li><li><a href="http://biodivertido.blogspot.com">blog</a></li>                   
                    <li>·</li><li><a href="/analysis">data analysis</a></li>                 
                    <li>·</li><li><a href="/gis">rich GIS</a></li>                  
                    <li>·</li><li><a href="/visualization">data visualization</a></li>                   
                    <li>·</li><li><a class="footerMenuCurrent" href="/">home</a></li>
                </ul>
            </div>
        </div>
	</div>        
    <!-- Start Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6363508-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    <!-- End Google Analytics -->
</body>
</html>
