{% extends "base.html" %}

{% block blogpart %}
  	<div class="div825">
    	<h2 id="blogPartTitle">More about vizzuality</h2>
        <hr/>
    </div>
	<div class="div825" id="adviceContainer">
    	<div class="leftAdvice">
        	<p class="postTitle"><a href="/gis" rel="self">Rich GIS Solutions</a></p>
            <p class="postDate">Engaging web geographic information <br />
                systems</p>
        </div>
        <div class="centertAdvice">
        	<p class="postTitle"><a href="/analysis" rel="self">Data Analisys solutions</a></p>
            <p class="postDate">Processing huge datasets on the cloud</p>
      </div>
      <div class="rightAdvice">
        	<p class="postTitle"><a href="http://biodivertido.blogspot.com" rel="self">Check the biodivertido blog!</a></p>
            <p class="postDate">Vizzuality stuff often writes <br />
at biodivertido's blog</p>
        </div>
    </div>

{% endblock %}
