{% extends "base.html" %}

{% block title %}Vizzuality: Visualizing biodiversity data{% endblock %}

{% block menu %}
		<div id="navcontainer"><ul><li><a href="/" rel="self">Home</a></li><li><a href="/contact/" rel="self" id="current">Contact</a></li></ul></div>
{% endblock %}		

{% block content %}
<span style="font-size:18px; ">You can reach us at:<br /><br /></span>
<span style="font-size:18px; ">
	<a href="mailto:jatorre@vizzuality.com" rel="self">jatorre@vizzuality.com</a>
</span>
<span style="font-size:18px; "><br /><br /></span>
{% endblock %}