{% extends "base_section.html" %}
{% block maincontent %}
  <h1 id="welcomeHeader">Contact Us</h1>
  <h2 id="shortdescription">Yes, we like beautiful data visualization, but we do not forget its main purposes: communicate and inspire </h2>
  <!--hr class="hr2"/ -->
  <div class="div825" id="techContainer">
  	<div class="leftTech">
      	<p id="techTitle"><img src="/images/techLogos/logoFlex.jpg" alt="Adobe Flex"/></p>
          <p id="techDesc">Flex allow us to create highly creative, expressive and engaging applications that used to be impossible on the web.
      </div>
      <div class="centertTech">
      	<p id="techTitle"><img src="/images/techLogos/logoFlash.jpg" alt="Adobe Flash"/></p>
          <p id="techDesc">While Flex is great for application development, sometimes Flash is better for interactive content.</p>
    </div>
    <div class="rightTech">
      	<p id="techTitle"><img src="/images/techLogos/logoProcessing.jpg" alt="Processing"/></p>
          <p id="techDesc">Processing has become an emerging programming lenguage to create animations an visualizations.
      </div>
  </div>
  <p class="centeredImage"><iframe width="825" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=bailen+27,+madrid&amp;sll=37.0625,-95.677068&amp;sspn=50.291089,69.082031&amp;ie=UTF8&amp;g=bailen+27,+madrid&amp;s=AARTsJqzqW_pytqCYydsWRmLCt6tncEawg&amp;ll=40.420423,-3.716898&amp;spn=0.02287,0.07081&amp;t=p&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /></p>
</div>

{% endblock %}