{% extends "base_section.html" %}

{% block titleblock %}
    <title>Contact Vizzuality</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality contact information. Find us by email contact@vizzuality.com or skype: jatorre555" />
{% endblock %}

{% block maincontent %}
  <h1 id="welcomeHeader">Contact Us</h1>
  <h2 id="shortdescription">We are passionate in what we do, so please contact us if you think we can help you</h2>
  <!--hr class="hr2"/ -->
  <div class="div825" id="techContainer">
  	<div class="leftTech">
      	<p id="techTitle">Address</p>
          <p id="techDesc">Vizzuality<br>Bailen 27 1izq<br>28005 Madrid<br>Spain
      </div>
      <div class="centertTech">
      	<p id="techTitle">Email</p>
          <p id="techDesc"><a href="mailto:contact@vizzuality.com" class="link">contact@vizzuality.com</a></p>
    </div>
    <div class="rightTech">
      	<p id="techTitle">Skype</p>
          <p id="techDesc">Click to chat<br><!--
          Skype 'My status' button
          http://www.skype.com/go/skypebuttons
          -->
          <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
          <a href="skype:jatorre555?chat"><img src="http://mystatus.skype.com/balloon/jatorre555" style="border: none;" width="150" height="60" alt="My status" /></a>
          </p>
      </div>
  </div>
  <p class="centeredImage"><iframe width="825" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=bailen+27,+madrid&amp;sll=37.0625,-95.677068&amp;sspn=50.291089,69.082031&amp;ie=UTF8&amp;g=bailen+27,+madrid&amp;s=AARTsJqzqW_pytqCYydsWRmLCt6tncEawg&amp;ll=40.420423,-3.716898&amp;spn=0.02287,0.07081&amp;t=p&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /></p>
</div>

{% endblock %}