{% extends "base_section.html" %}

{% block titleblock %}
    <title>Contact Vizzuality</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality contact information. Find us by email contact@vizzuality.com or skype: jatorre555" />
{% endblock %}

{% block maincontent %}
<h1>Contact Us</h1>
<div id="contentLeft">
    <h2>We are passionate in what we do, so please contact us if you think we can help you</h2>

</div>

<div id="contentRight">
    <p class="moduleHeader">Contact us</p>
    <hr/>
    <p class="techText">Vizzuality
    <br />Angosta de los Mancebos 2 bajo dcha., 28005, Madrid.
    <br />Spain.
    <br /><br />
    <a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a>
    <br />+034 689 41 44 20</p>
    <p class="techText">Contact us by skype<br /> 
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
    <a href="skype:jatorre555?chat"><img src="http://mystatus.skype.com/balloon/jatorre555" style="border: none;" width="150" height="60" alt="My status" /></a>
    </p>
 </div>



<p><iframe width="775" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Angosta+de+los+Mancebos+2,+madrid&amp;sll=40.413618,-3.71367&amp;sspn=0.01008,0.018947&amp;ie=UTF8&amp;ll=40.421664,-3.70883&amp;spn=0.02287,0.07081&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Angosta+de+los+Mancebos+2,+madrid&amp;sll=40.413618,-3.71367&amp;sspn=0.01008,0.018947&amp;ie=UTF8&amp;ll=40.421664,-3.70883&amp;spn=0.02287,0.07081&amp;z=14&amp;iwloc=addr" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>


{% endblock %}