{% extends "base_section.html" %}


{% block titleblock %}
    <title>Massive data analysis</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality expertise on analyzing huge datasets. Spatial datasets, Taxonomic datasets, etc. using Computing in the cloud services." />
{% endblock %}

{% block maincontent %}
  <h1 id="welcomeHeader">Data Analysis services</h1>
  <h2 id="shortdescription">From millions of raw records to a great visualization requires sophisticated data analysis. We use latest technologies to process and analyze huge datasets in an efficient manner.</h2>
    <h3 id="moredescription">Gathering, modeling and transforming data is key to enabling rich visualizations that highlight useful information. We do data analysis using Computing in the Cloud services with technologies such as Hadoop and geospatial databases.
	<br /><br />
	At the end of the day we enable cost effective solutions that you can rely on. Analyzing your data can be a matter of hours and not days and without spending money on dedicated hardware; You pay only for the processing power that you require.  </h3>
  <p class="centeredImage"><img src="/images/promoimage_dataAnalysis.jpg"/></p>
  <h2 id="technologiesTitle">Data analysis technologies</h2>
  <hr class="hr2"/>
  <div class="div825" id="techContainer">
  	<div class="leftLongTech">
      	<p id="techTitle"><img src="/images/techLogos/logoCloud.jpg" alt="Google maps"/></p>
          <p id="techDesc">Amazon Web Services, specially EC2 and S3 enable us to do data analysis using MapReduce. Take 20 servers for 1 hour and process 20 times faster.
      </div>
    	<div class="rightLongTech">
      	<p id="techTitle"><img src="/images/techLogos/logoPostGIS.jpg" alt="PostGIS"/></p>
          <p id="techDesc">For sophisticated geospatial analysis PostGIS provides an incredible set of operations than can be used with large amounts of data..
      </div>
  </div>
  
  <h2 class="titleClass">Recent case study</h2>
  <hr class="hr2"/>
  <div class="div825" class="leftLongTech">
      	<p id="techTitle"><img src="/images/use_case_protected_areas_pd.jpg" alt="Google maps"/></p>
          <p class="littleText">The Global Biodiversity Information Facility collect and index millions of primary data records. The project required the cross referecing of million of points against the database of World Protected Areas maintained by the UNEP World Conservation Monitoring Centre. This is 160.000 polygons against 160 million points. By using Amazon Computing in the cloud web services, S3 and EC2, we constraucted a reliable process to update the analytical data needed to display in widgets. This data is now accesible through the <a href="http://www.wdpa.org">World Database on Protected Areas</a></p>
   </div>
    
</div>
{% endblock %}
