{% extends "base_section.html" %}


{% block titleblock %}
    <title>Massive data analysis</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality expertise on analyzing huge datasets. Spatial datasets, Taxonomic datasets, etc. using Computing in the cloud services." />
{% endblock %}

{% block maincontent %}
  <h1>Data Analysis services</h1>
  <div id="contentLeft">
      <h2>From millions of raw records to a great visualization requires sophisticated data analysis. We use latest technologies to process and analyze huge datasets in an efficient manner.</h2>
      <p class="sectText">Gathering, modeling and transforming data is key to enabling rich visualizations that highlight useful information. We do data analysis using Computing in the Cloud services with technologies such as Hadoop and geospatial databases.
	<br /><br />
	At the end of the day we enable cost effective solutions that you can rely on. Analyzing your data can be a matter of hours and not days and without spending money on dedicated hardware; You pay only for the processing power that you require.  </p>
  </div>
    <div id="contentRight">
        <p class="moduleHeader">Data analysis technologies</p>
        <hr/>
        <div class="tech">
        	<img class="techImage" src="images/techies/cloud.jpg"/>
            <p class="techText">Amazon Web Services, specially EC2 and S3 enable us to do data analysis using MapReduce. Take 20 servers for 1 hour and process 20 times faster.</p>
        </div>
        <div class="tech">
        	<img class="techImage" src="images/techies/postGIS.jpg"/>
            <p class="techText">For sophisticated geospatial analysis PostGIS provides an incredible set of operations than can be used with large amounts of data.</p>
        </div>
    </div>        
        
    <div class="clearer">
    </div>
    <div id="featuredContainer">
        <p class="moduleHeader">Featured data analysis projects</p>
        <hr/>
        <div id="featuredLeft">
            <img src="images/featuredWCMC.jpg"/>
             <p class="featuredDescription">The Global Biodiversity Information Facility collect and index millions of primary data records. The project required the intersection of million of points against the database of World Protected Areas maintained by the UNEP World Conservation Monitoring Centre. This is 160.000 polygons against 160 million points. This data is now accesible through the <a href="http://widgets.gbif.org/test/PACountry.html#/country/ES">World Database on Protected Areas</a>. Check out the <a href="http://vimeo.com/3284706">screencast video on how we did that project.</a></p>
        </div>
        <div class="clearer">
        </div>
        
    </div>
  
    

{% endblock %}
