{% extends "base_home.html" %}

{% block maincontent %}
<h1 id="welcomeHeader">Welcome to vizzuality</h1>
<h2 id="shortdescription">We are a new company dedicated to the design & development of Rich Internet Application for biodiversity 
  information.</h2>
<h3 id="moredescription"> We are experts on <a href="/contact/" class="textlink" rel="self">user Interaction</a> and <a href="/contact/" class="textlink" rel="self">visualization</a> of large taxonomic, geospatial and temporal datasets. We work with our clients
  to deliver engaging data visualizations and advance geographic information systems. Check our expertise and <a href="/contact/" class="textlink" rel="self">contact us</a> if you think 
  we can help you</h3>
<p class="centeredImage"><img src="images/featuredUsecaseFoo.jpg"/></p>
<p class="centeredImage"><img src="images/buttonTemplateFoo.jpg"/></p>
<h3 id="downTopic" >Are you looking for another solution? <a href="/contact/" class="textlink" rel="self">contact us</a> and we'll try help you</h3>
{% endblock %}