.horizontalcssmenu ul{
 	list-style-type: none;
 	margin-top: 41px;
 	float: right;
 	margin-right: -4px;
}

/*Top level list items*/
.horizontalcssmenu ul li{
	display: inline;
}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
	text-decoration: none;
	color: #6699cc;
	font: bold 13px Arial;
}


.separator{
	text-decoration: none;
	color: #6699cc;
	font: bold 13px Arial;
	margin-left: 5px;
	margin-right: 5px;
}



.horizontalcssmenu ul li a:hover{
	/*hover actions*/
	color: #336699;
}


* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */