body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
h1 {float:left; font-family:Arial; text-align:center; width:100%; padding-bottom:20px;} 
a {float:left; font:bold 14px Arial; color:#333333; text-align:center; width:100%;}
a:hover {color:#000000;}
/* HOME */

#container { margin: 0px auto; 	width: 1024px;  height: 2340px; background:url(../images/body.png); }
#container.proposal3 { background:url(../images/bkg3.jpg); height:2020px;}
#container.index { background-image:none; height:auto;} 

body { margin: 0; padding: 0; background:url(../images/bkg1.jpg) center center fixed no-repeat; -moz-background-size: cover; background-size: cover; color: #fff;	}
body.proposal2 { background:url(../images/bkg2.jpg) center center fixed no-repeat; -moz-background-size: cover; background-size: cover; color: #fff;	}
body.proposal3 { background-image:none; background-color:#B0B0B0;}

div.index_content {float:left; margin:200px;} 
		
#footer { margin:0px auto; width: 100%; height: 131px; background:url(../images/footer.png) center center no-repeat ; background-color:#F8FBF4;	}
