<% content_for :page_title do%>
	Works · EOL-GBIF Maps
<% end -%>

<% content_for :big_title do%>
	Providing an engaging way to visualize occurrence data from GBIF network in Encyclopedia Of Life
<% end -%>

<% content_for :description do%>
	<p class="titleWork">GBIF Species Maps  for EOL</p>
	<p class="clientName">GBIF-EOL</p>
	<p class="description"><span class="title">Challengue</span>

	The Encyclopedia Of Life makes use of GBIF primary data to display species location. The previous map provided by GBIF was a static map with no interaction. Additionally the user did not get information on the providers providing the data for the map.

	We wanted to provide an engaging visualization that could let the user navigate freely on the map. From viewing the data worldwide to view the data in your backyard. At the same time the user has to be able to get quickly the information about the data providers of the map.

	</p>
	 <p class="description"><span class="title">Solution</span>
	
	Using a new processing algorithm, the data from GBIF was processed into small tiles that match the ones from GBIF. The tiles can be generated dynamically with PHP or stored in a CDN like CloudFront for better distribution. Providing 23 levels of data plus in a Google Maps for Flash widget completed the project with fantastic results.

	</p>
	 <p class="description"><span class="title">Highlights &amp; technologies</span>

	The solution had to be as lightweight and fast as possible to better fit on the EOL website. The solution currently running works dynamically on PHP with a very tuned SQL database. We are working in the future to generate the tiles using Hadoop and storing them directly on Cloud Front.
	</p>
	<p class="projectLink"><a href="http://www.eol.org" target= "blank_">View online &raquo;</a></p>
<% end -%>

<% content_for :pictures do%>
	<%= image_tag "projects_media/eolgbif/b01.jpg" %>
	<%= image_tag "projects_media/eolgbif/b02.jpg" %>
<% end -%>