<% content_for :page_title do%>
	Works · Runnity.com
<% end -%>

<% content_for :big_title do%>
	Creating a race centered social network for runners. Developing ideas, the best way to research
<% end -%>

<% content_for :description do%>

	<p class="titleWork">Runnity.com</p>
	<p class="clientName">this.self</p>

	<p class="description"><span class="title">Challengue</span>

	Spain was lacking a good site on the web to help runners to find races and related information. There are multiple sites on the web with too much advertisement and far from the user desired experience.<br><br>

	Before Runnity there was also no place where runner could aggregate their content, like pictures, comments, videos, etc. after the events.<br><br>

	Finally we were looking for a project where we could research and improve our skills on social websites around a specific topic.
	</p>
	 <p class="description"><span class="title">Solution</span>

	Using a set of technologies, like Google Maps, JS frameworks and geoprocessing algorithms, we got into an Agile development process. The first prototype was there 20 days after. The response from users was great so we got into developing the Beta version currently available.<br><br>

	Runnity is the classical research project that we like to do to test some of our ideas on the web, visualization, content, users and so on.

	</p>

	<p class="projectLink"><a href="http://runnity.com/" target= "blank_">Join us for a run &raquo;</a></p>
<% end -%>

<% content_for :pictures do%>
	<img src="/images/projects_media/runnity/b01.jpg" />
	<img src="/images/projects_media/runnity/b02.jpg" />
<% end -%>