RewriteEngine On

RewriteRule run/([0-9]+)/(.+) carrera.php?id=$1 [L]
RewriteRule en/(.+) searchresults.php?q=$1 [L]
RewriteRule user/(.+) usuario_publico.php?u=$1 [L]
RewriteRule perfil/(.+) usuario.php?u=$1 [L]
RewriteRule buscar searchresults.php [L]
RewriteRule sobre about.php [L]
RewriteRule sitemap.xml sitemap_xml.php [L]

ErrorDocument 404 /404page.php

