/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


global
{
	fontSize: 14;
	baseColor: #E3E52F;
	focusColor: #E1EE70;
	symbolColor: #E1EE70;
	contentBackgroundColor: #05B5B5;
	selectionColor: #F2F8BC;
	rollOverColor: #F2F6CD;
}