@charset "UTF-8";
/* CSS Document */

body{
	background-image:url(/images/bg3.jpg);
	background-repeat:repeat;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#mainContainer{
	width: 852px;
	margin: 0 auto 0 auto;
	background-color:#FFFFFF;
}

#contentLeft{
	float:left;
	text-align: left;
	display:inline-block;
	width: 490px;
}

#contentRight{
	float: right;
	text-align: left;
	padding-right: 0px;
	width: 261px;
	padding-top:2px;
}

#headerContainer{
	text-align:left;
	padding-left: 35px;
	padding-top: 20px;
	padding-right: 35px;
	padding-bottom: 0px;
}

#logoContainer{
	float:left;
	display:inline-block;
	width: 150px;
}

#mainMenuContainer{
	padding-bottom: 8px;
	padding-top: 16px;
	border-bottom-color: #c8c8c8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	float: right;
	text-align: right;
	padding-right: 0px;
	width: 550px;
	margin-bottom: 0px;
}

#mainMenu{
	list-style:none;
	padding-top: 36px;
	margin-right: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}

#mainMenu li{
	font-family: Lucida Grande;
	font-size: 14px;
	font-weight: 100;
	color: #888888;
	float: right;
	margin-left: 5px;
	margin-right: 0px;
}

#mainMenu li a,
mainMenu li a:visited {
	color:#888888;
}

#mainMenu li .mainMenuCurrent{
color: #879a4f;
}

#mainMenu li a,
mainMenu li a:visited {
	text-decoration: none;
	color: #888888;
}

#mainMenu li a:hover,
mainMenu li a:active {
	text-decoration: none;
	color: #404925;
}

#mainContent{
/* 	padding-top: 30px; */
	padding-right: 35px;
	padding-left: 35px;
}

#featuredContainer{
}


#featuredLeft{
	float:left;
	display:inline-block;
	width: 380px;
}

#featuredRight{
	float:right;
	display:inline-block;
	width: 380px;
}


.tech{

}

.techImage{
	margin: 0px;
}

.techText{
	font-family: Lucida Grande;
	font-size: 12px;
	color: #656565;
	text-align: justify;
	margin-top:8px;
	margin-bottom:18px;
}


.featuredDescription{
	font-family: Lucida Grande;
	font-size: 13px;
	color: #656565;
	text-align: justify;
	margin-top:10px;
}

#feedContainer{
	margin-top: 30px;
}

#postContainer{
	/*padding-bottom: 30px;*/
}

.post{
}

.postTitle{
	font-family: Lucida Grande;
	font-size: 16px;
	color: #879a4f;
	text-align: left;
	margin-bottom: 4px;
}

.postTitle a,
.postTitle a:visited {
	text-decoration: none;
	color: #879a4f;
}

.postTitle a:hover,
.postTitle a:active {
	text-decoration: none;
	color: #555555;
}

.postMetadata{
	font-family: Lucida Grande;
	font-size: 13px;
	color: #656565;
	text-align: left;
	margin-top: 2px;
}

#footerContainer{
	height: 62px;
	background-color:#333333;
	margin-top:50px;
}

#footerTextContainer{
	float:left;
	display:inline-block;
	padding-left:35px;
	padding-top:11px;
	width: 220px;
}

.footerText{
	font-family: Lucida Grande;
	font-size: 11px;
	font-weight: 100;
	color: #656565;
	text-align:left;
}

#footerMenuContainer{
	float: right;
	text-align: right;
	padding-right: 0px;
	padding-top:7px;
	width: 580px;
}

#footerMenu{
	list-style:none;
	margin-right: 35px;
	padding-right: 0px;
}

#footerMenu li{
	font-family: Lucida Grande;
	font-size: 11px;
	font-weight: 100;
	color: #656565;
	float: right;
	margin-left: 5px;
	margin-right: 0px;
}

#footerMenu li .footerMenuCurrent{
	color: #FFFFFF;
}

#footerMenu li a,
footerMenu li a:visited {
	text-decoration: none;
	color: #656565;
}

#footerMenu li a:hover,
footerMenu li a:active {
	text-decoration: none;
	color: #FFFFFF;
}

h1{
	font-family: Georgia;
	font-size: 18px;
	font-weight: 100;
	color: #879a4f;
	font-style:italic;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align:left;
}

h2{
	text-align: justify;
	font-family: Georgia;
	font-size: 26px;
	font-weight: 100;
	color: #999999;
	margin-top: 8px;
}

.sectText{
	font-family: Lucida Grande;
	font-size: 15px;
	color: #656565;
	text-align: justify;
	line-height: 22px;
	margin-bottom: 40px;
}

.techText a,
.techText a:visited,
.featuredDescription a,
.featuredDescription a:visited,
.sectText a,
.sectText a:visited {
	text-decoration: underline;
	color: #879a4f;
}

.techText a:hover,
.techText a:active,
.featuredDescription a:hover,
.featuredDescription a:active,
.sectText a:hover,
.sectText a:active {
	text-decoration: underline;
	color: #404925;
}

.moduleHeader{	
	font-family: Lucida Grande;
	font-size: 15px;
	color: #666666;
	text-align: left;
	margin-bottom: 2px;
}

hr{
	color: #c1c1c1;
	background-color: #c1c1c1;
	border:0;
	height: 1px;
	margin-bottom: 15px;
}

.imageLink{
	border:none;
}

.clearer{
	clear:both;
	line-height: 0px;
	height: 0px;
}

.clearerMargin{
	clear:both;
	line-height: 0px;
	height: 30px;
}