/* CSS Document written by Sweety Joshi for pixelcrayons.com in Oct 2009 */
*{ margin:0; padding:0; outline:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
img{ border:none;}
body{ background:#F4F4F4; background-repeat: no-repeat; background-position: center 0px; font:normal 12px/14px Arial, Helvetica, sans-serif; color:#666;}
.space{ float:left; width:100%; padding:50px 0 78px;}
#main_outer{ margin:0 auto; width:950px;}

#main{float:left; width:950px; background: #E6E6E6 url(../images/body_bg.gif) no-repeat 0 0; }
#main2{float:left; width:950px; background: #E6E6E6 url(../images/body_bg.gif) no-repeat 0 0; margin:50px 0 78px 0;}

div#layout{ margin:0 auto; width:885px;}
div#header{float:left; width:885px; padding:55px 0 45px 0;}
div#header ul{float:right; width:auto; list-style:none; padding:40px 0 11px;}
div#header ul li{float:left; width:auto; background:url(../images/divider.gif) no-repeat right 2px; padding:0 12px 5px 6px;}
div#header ul li a{float:left; width:auto; font:bold 14px/16px "Helvetica",Arial, Helvetica, sans-serif; color:#b3c67b; text-decoration:none; text-shadow: 0 -1px 0 #4b7c00;}
div#header ul li a:hover{ color:#fff}
div#header ul li a.current{ color:#fff; cursor:text}
div#header ul li.last{ background:none; padding-right:0}
div#header h1{float:left; width:885px; font:bold 39px "Helvetica",Arial, Helvetica, sans-serif; color:#fff; padding-top:38px; letter-spacing:-2px; 
word-spacing:-5px, text-shadow: #333 0 0 0; line-height: 40px; }

div#body_container{float:left; width:845px; background:#fff; padding:50px 20px 10px 20px}

div#body_container .content{float:left; width:845px;}
div.content ul{float:left; width:845px; list-style:none}
div.content ul li{float:left; width:845px; height:295px; padding-bottom:40px}

div.content ul li.detail{float:left; width:845px; height:auto; padding-bottom:40px}

div.content ul li.minus20{padding-bottom:10px}

div.content .col{float:left; width:275px; padding-right:10px; position:relative}
div.content .col .white_box{float:left; width:275px; border-top:1px solid #d6d6d6}
div.content .col .white_box h3{float:left; width:auto; font-size:24px; line-height:24px; color:#666; padding-bottom:160px; padding-top: 12px; letter-spacing: -1px;}
div.content .col .white_box p{float:left; width:254px; font-size:14px; line-height:16px;}
div.content .col .white_box p a{ text-decoration:none; color:#F30; font-weight:bold; padding:0; margin:0; float:none }
div.content .col .white_box p a:hover{ text-decoration:underline}
div.content .col .white_box a{float:left; width:auto; font:bold 14px/16px "Helvetica",Arial, Helvetica, sans-serif; color:#F30; padding-top:23px;text-decoration:none }
div.content .col .white_box a:hover{ text-decoration:underline}
div.content .col .white_box p.titleWork{float:left; width:auto; font-size:24px; color:#666; padding-top: 12px; font-weight: bold; letter-spacing: -1px;}
div.content .col .white_box p.clientName{float:left; width:auto; color:#666; width:275px; margin-bottom: 43px; margin-top:5px;}
div.content .col .white_box p.description{float:left; width:275px; font-size:13px; line-height:16px; margin-bottom: 25px;}
div.content .col .white_box p.description span.title{font-size:16px; font-weight: bold; display: block; margin-bottom: 6px;}
div.content .col .white_box p.projectLink{margin-top: 0px; }

div.content .col .grey_box{float:left; width:265px; padding:15px 0 20px 10px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; background:#eaeaea; height:255px}
div.content .col .grey_box h3{float:left; width:240px; font:bold 16px/16px "Helvetica",Arial, Helvetica, sans-serif; color:#999; text-transform:uppercase; padding-bottom:25px; }
div.content .col .grey_box p{float:left; width:250px; font:italic normal 13px/15px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#999; padding-bottom:30px; word-spacing:-2px }
div.content .col .grey_box a{float:left; width:230px; font-size:14px; line-height:22px; font-weight:bold; color:#666; text-decoration:none}
div.content .col .grey_box a:hover{ text-decoration:underline}
div.content .last{ padding-right:0}

div.content .col .detail{float:left; width:254px; background:#333; padding:10px 10px 0 10px; height:95px; position:relative}
div.content .col .detail a{text-decoration: none;}
div.content .col .detail a:hover, div.content .col .detail a:visited {color: #ff3f12;}
div.content .col .detail h4{float:left; width:250px; font:bold 24px/22px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#fff; letter-spacing: -1px; }
div.content .col .detail p{float:left; width:250px; font:14px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#fff; letter-spacing: 0px; margin-top: 2px;  }
div.content .col .detail ul.listing{float:right; width:auto; height:19px; position:absolute; bottom:8px; right:10px;}
div.content .col .detail ul.listing li{float:left; width:auto; padding:0 0 0 0; height:19px;}
div.content .col .detail ul.listing li a{float:left; width:13px; height:19px; background:url(../images/listing_bg.gif) no-repeat 0 bottom; font-size:11px; line-height:20px; font-weight:bold; color:#333; text-decoration:none; text-align:center}
div.content .col .detail ul.listing li a.current{ float:left; height:19px; background-position:top; color:#fff; cursor:text;}
div.content .col .detail .externalLinks{float:left; width:250px; font:14px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#fff; margin-top: 30px; letter-spacing: 0px; }
div.content .col .detail .externalLinks a{color: #ff3f12; text-decoration: none; }
div.content .col .detail .contactLinks{float:left; width:250px; font:14px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#fff; margin-top: 21px; letter-spacing: 0px; }
div.content .col .detail .contactLinks a{color: #ff3f12; text-decoration: none; }

div.content .col .detail1{float:left; width:254px; background:url(../images/repeat_bg.png) repeat-x 0 0; padding:10px 10px 0 10px; height:95px; position:absolute; bottom:0; left:0}
div.content .col .detail1 h4{float:left; width:250px; font:bold 24px/22px "Helvetica", Myriad Pro, Arial, Helvetica, sans-serif; color:#fff; letter-spacing: -1px; }

div.content .longcol{float:left; width:550px; padding-right:10px; position:relative; height:auto; text-align: right;}
div.content .longcol img{margin-bottom: 15px; }
div.content .longcol img.last{margin-bottom: 0px; }

div.content .desccol{float:left; width:550px; padding-right:10px; position:relative; height:auto; text-align: left;}
div.content .desccol p{margin-top: 37px; font-size: 14px; line-height: 18px; }
div.content .desccol a {color: #666666; text-decoration: none; font-weight: bold;}
div.content .desccol .externalLinks {float:left; width: 250px;}
div.content .desccol .externalLinks a{font-weight: bold; color: #ff3f12; text-decoration: none;}


div#footer{float:left; width:885px; padding:10px 0 20px 0;}
div#footer p{float:right; padding:0 74px 0 0; line-height:15px}
div#footer p strong{ display:block; font-size:14px; line-height:38px;}
div#footer p a{ float:left; color:#F30; text-decoration:none; font-weight:bold}
div#footer p a:hover{ text-decoration:underline}
div#footer p strong a{float:none; color:#F30; text-decoration:none;}

