body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal;}
img,fieldset{border:none; padding:0; margin:0;}
body{font:12px Arial, Helvetica, sans-serif; color:#FFFFFF; background:url('../images/common/bkgrepeatedxy.jpg');}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a{text-decoration:none;}
input:focus{outline:none}

a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}
ul {list-style:none;}

span.semibold {font-weight:600;}

div#outer_layout{margin:0 auto; width:980px;}
div#layout {width:980px; margin:0; background:url('../images/common/bkg_body.png') no-repeat 0 0; height:490px; position:relative; z-index:10;}

/* header */
div#header {float:left; width:949px; height:90px; margin:40px 0 0 57px;}
div#header img.grid_logo {width:84px; height:30px;}
div#header div.menu {width:650px; height:90px;}
div#header div.menu ul {float:left; width:100%; height:30px;}
div#header div.menu ul li {float:left; margin:6px 25px 0 0;}
div#header div.menu ul li a {font:600 13px "Myriad Pro"; color:white; text-transform:uppercase;}
div#header div.menu ul li a:hover {border-bottom:1px dotted white;}
div#header div.menu ul li.selected a {color:#A7C9E0;}
div#header div.menu ul li.selected a:hover {border-bottom:1px dotted #A7C9E0;}
div#header div.menu ul li.user {margin:0; background:url('../images/common/right_clicked_down.png') no-repeat right 0; width:auto;}
div#header div.menu ul li.user.clicked {background:url('../images/common/right_clicked_up.png') no-repeat right 0;}
div#header div.menu ul li.user a {float:left; background:url('../images/common/left_user_bkg.png') no-repeat 0 0; width:auto; height:26px; padding-right:28px;}
div#header div.menu ul li.user a span {float:left; margin:0 0 0 8px; background:url('../images/common/right_user_bkg.png') no-repeat right 0; width:auto; height:21px; padding:5px 13px 0 7px; line-height:18px}
div#header div.menu ul li.user a:hover {border-bottom:none}
div#title {float:left; width:973px; margin:40px 0 0 55px;}
div#title h1 {float:left; font:bold 54px "Myriad Pro"; color:white; width:860px; line-height:54px; text-shadow: 0px 0px 30px rgba(0,0,0,0.6); letter-spacing:-2.0px;}
div#title h3 {float:left; font:normal 21px "Myriad Pro"; color:white; text-shadow: 	0px 0px 30px rgba(00,00,00,0.6);}


/* ----- HOME */

/*LEFT*/
div#content {float:left; width:954px; height:auto; margin:40px 0 0 0; position:relative; z-index:10;}
div#content div.data_sets  {float:left; width:861px;  margin:0; height:auto;}
div#content div.data_sets span.top_content {float:left; background:url('../images/home/top_content_box.png') no-repeat 0 0; height:12px; width:861px; margin:0 0 0 46px;}
div#content div.data_sets div.content {float:left; background:url('../images/home/content_body_repeaty.png') repeat-y 0 0; width:861px; height:auto; margin:0 0 0 46px; padding:9px 0 0 0;}
div#content div.data_sets div.content div.left {float:left; margin:10px 0 0 39px; width:520px;}
div#content div.data_sets div.content h4 {float:left; font:600 25px "Myriad Pro"; color:#333333; letter-spacing:-1.0px; width:100%; }
div#content div.data_sets div.content p.subtitle {float:left; font:normal 15px "Myriad Pro"; color:#666666; margin:0; width:100%; line-height:13px;}
div#content div.data_sets div.content p.subtitle b {font-weight:600;}
div#content div.data_sets div.content p.subtitle a {color:#FF6600; }
div#content div.data_sets div.content p.subtitle a:hover {text-decoration:underline;}
div#content div.data_sets div.content form {float:left; width:502px; height:36px; position:relative; background:url('../images/home/bkg_input_search.png') no-repeat 0 0; margin:25px 0 0 0;}
div#content div.data_sets div.content form input[type="text"] {font:italic 13px Arial; color:#cccccc; width:375px; height:20px; border:none; background:transparent; position:absolute; top:5px; left:5px; line-height:17px;}
div#content div.data_sets div.content form input[type="submit"] {background:url(../images/home/search_bttn.png) no-repeat 0 0; height:36px; width:116px; border:none; position:absolute; top:0px; right:0px; cursor:pointer;}
div#content div.data_sets div.content form input[type="submit"]:hover {background-position:0 -36px; cursor:pointer;}

div#content div.data_sets div.content ul.datasets {float:left; width:502px; height:167px; margin:15px 0 0 2px; padding:0 0 10px 0;}
div#content div.data_sets div.content ul.datasets li {float:left; width:243px; height:18px; margin:0 15px 0 0; position:relative;}
div#content div.data_sets div.content ul.datasets li.last {margin:0;}
div#content div.data_sets div.content ul.datasets li p.calibri {float:left; font:normal 15px "Calibri"; color:#999999; margin:0 0 0 5px; }
div#content div.data_sets div.content ul.datasets li a{float:left; text-decoration:none; color:#FF6600; margin:0; line-height:23px; font:normal 15px "Arial";}
div#content div.data_sets div.content ul.datasets li a:hover {text-decoration:underline;}

div#content div.data_sets div.content ul.datasets li div.suboptions {position:absolute; top:-12px; left:-12px; width:212px; height:auto; z-index:5; display:none;}
div#content div.data_sets div.content ul.datasets li div.suboptions span.top {float:left; height:38px; width:212px; background:url('../images/home/subdatasets/top_category.png') no-repeat 0 0;}
div#content div.data_sets div.content ul.datasets li div.suboptions span.top a {float:left; font:bold 15px Arial; color:#666666; margin:13px 0 0 15px; text-decoration:none;}
div#content div.data_sets div.content ul.datasets li div.suboptions span.top a:hover {text-decoration:underline;}
div#content div.data_sets div.content ul.datasets li div.suboptions ul.content {float:left; width:212px; background:url('../images/home/subdatasets/content_category.png') repeat-y 0; height:auto;}
div#content div.data_sets div.content ul.datasets li div.suboptions ul.content li {float:left; margin:0 0 0 16px; width:184px;}
div#content div.data_sets div.content ul.datasets li div.suboptions ul.content p.calibri {float:left; font:normal 15px "Calibri"; color:#999999; margin:0 0 0 5px; }
div#content div.data_sets div.content ul.datasets li div.suboptions ul.content a{float:left; text-decoration:none; color:#FF6600; margin:0; line-height:23px;}
div#content div.data_sets div.content ul.datasets li div.suboptions ul.content a:hover {text-decoration:underline;}

div#content div.data_sets div.content ul.datasets li div.suboptions span.bottom {float:left; height:10px; width:212px; background:url('../images/home/subdatasets/bottom_category.png') no-repeat 0 0;}

/*RIGHT*/
div#content div.data_sets div.content div.right {float:right; width:265px; height:auto; margin:10px 0 0 25px;}
div#content div.data_sets div.content div.right a.create_map {float:left; margin:25px 0 0 0; background:url('../images/home/create_map_bttn.png') no-repeat 0 0; width:222px; height:36px; padding:0;}
div#content div.data_sets div.content div.right a.create_map:hover {background-position:0 -36px;}
div#content div.data_sets div.content div.right p.title {float:left; font:600 13px "Myriad Pro"; color:#999999; text-transform:uppercase; margin:15px 0 0 0; width:222px; height:14px;}
div#content div.data_sets div.content div.right ul.maps {float:left; width:222px; height:auto; margin:5px 0 0 0;}  
div#content div.data_sets div.content div.right ul.maps li {float:left; width:222px; height:57px; margin:10px 0 0 0;}
div#content div.data_sets div.content div.right ul.maps li div.bkg_map {float:left; margin:0 10px 0 0; background:url('../images/home/bkg_acount_map.png') no-repeat 0 0; width:52px; height:52px; text-align:center;}
div#content div.data_sets div.content div.right ul.maps li div.bkg_map p {float:left; width:47px; height:auto; font:normal 15px "Myriad Pro"; color:#666666; text-shadow:0 1px white; margin:16px 0 0 0; line-height:16px;}
div#content div.data_sets div.content div.right ul.maps li p.map_name {float:left; width:150px; height:18px; font:600 15px "Myriad Pro"; color:#666666;} /*600 is font-weight:semibold*/
div#content div.data_sets div.content div.right ul.maps li p.by_ago {float:left; width:150px; height:19px; font:normal 13px Arial; color:#999999;}
div#content div.data_sets div.content div.right ul.maps li a {float:left; width:auto; margin:0 10px 0 0; font:normal 11px Arial; color:#666666; text-decoration:underline;}
div#content div.data_sets div.content div.right ul.maps li a:hover {color:#333333;}


/* FOOTER_INFO */
div.data_sets_footer  {float:left; width:980px; margin:0; height:309px; background:url('../images/home/bkg_foot_info.png') no-repeat 0 0; z-index:10; position:relative;}
div.data_sets_footer div.content {float:left; width:798px; height:100%; margin:28px 0 0 84px; }

/*LEFT*/
div.data_sets_footer div.content div.left {width:500px;}
div.data_sets_footer div.content h4 {float:left; font:600 25px "Myriad Pro"; color:#333333; letter-spacing:-1.0px; width:100%; }
div.data_sets_footer div.content p.subtitle {float:left; font:normal 15px "Myriad Pro"; color:#666666; margin:0; width:100%; line-height:13px;}
div.data_sets_footer div.content p.subtitle a {color:#FF6600; }
div.data_sets_footer div.content p.subtitle a:hover {text-decoration:underline;}
div.data_sets_footer div.content div.right {float:right; margin:0 0 0 0; width:235px;}

div.data_sets_footer div.upload_content {float:left; width:500px; height:auto;}
div.data_sets_footer div.upload_content div.upload_file {float:left; width:478px; height:auto; padding:7px 15px;}
div.data_sets_footer div.upload_content div.upload_file.upload {margin:18px 0 0 0;}
 div.data_sets_footer div.upload_content div.upload_file.upload.active {margin:27px 0 0 0; }
div.data_sets_footer div.upload_content div#info_upload {display:none;}
div.data_sets_footer div.upload_content div.upload_file a.combo {float:left; width:12px; height:12px; background:url('../images/common/combo_desactivated.png') no-repeat 0 0; margin:3px 5px 0 0;}
div.data_sets_footer div.upload_content div.upload_file a.combo:hover {cursor:pointer;}
div.data_sets_footer div.upload_content div.upload_file p.title_upload {float:left; font:bold 15px Arial; color:#666666;}


div.data_sets_footer div.upload_content div.upload_file.active {background:url('../images/home/bkg_upload_files.png') no-repeat 0 0; height:112px; padding:14px 15px;}
div.data_sets_footer div.upload_content div.active div#info_upload {display:inline;}
div.data_sets_footer div.upload_content div.upload_file.active a.combo {background:url('../images/common/combo_activated.png') no-repeat 0 0;}
div.data_sets_footer div.upload_content div.upload_file.active p.title_upload {font-weight:normal;}
div.data_sets_footer div.upload_content div.upload_file.active form.files_selected {float:left; background:url('../images/home/bkg_files_selected.png'); width:440px; height:33px; margin:11px 0 0 15px; position:relative;}
div.data_sets_footer div.upload_content div.upload_file.active form.files_selected input[type="submit"] {background:url('../images/home/browse_bttn.png') no-repeat 0 0; height:26px; width:93px; border:none; position:absolute; top:3px; left:3px;}
div.data_sets_footer div.upload_content div.upload_file.active form.files_selected input[type="submit"]:hover {background-position:0 -26px; cursor:pointer;}
div.data_sets_footer div.upload_content div.upload_file.active form.files_selected p.name_files {position:absolute; top:9px; left:106px; font:normal 13px Arial; color:#999999; width:322px;}
div.data_sets_footer div.upload_content div.upload_file.active p.title_supported_formats {float:left; font:bold 11px Arial; width:447px; height:10px; color:#CCCCCC; text-transform:uppercase; margin:11px 0 0 15px;}
div.data_sets_footer div.upload_content div.upload_file.active p.supported_formats {float:left; font:normal 13px Arial; width:447px; height:10px; color:#999999; margin:5px 0 0 15px;}
div.data_sets_footer div.upload_content div.upload_file.import.active {margin:9px 0 0 0;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url {float:left; margin:13px 0 0 15px; width:448px; height:72px; position:relative;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.input_content {float:left; background:url('../images/home/bkg_import_url.png') no-repeat 0 0; width:263px; height:33px; position:relative;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.input_content input[type="text"] {border:none; width:248px; height:20px; font:normal 13px Arial; color:#999999; position:absolute; top:6px; left:7px;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type {position:relative; width:165px; height:30px; float:right; }
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url a.data_type {background:url('../images/home/data_type_combo.png') no-repeat 0 0; width:123px; height:15px; font:normal 13px Arial; color:#999999; padding:10px 35px 10px 7px; overflow:hidden; position:absolute; bottom:-4px; left:0;}


div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type a.data_type.displayed {position:absolute; font:normal 13px Arial; color:#999999; padding:10px 35px 10px 9px; width:125px; height:auto; background:url('../images/home/data_type_combo_displayed.png') no-repeat 0 0; bottom:-4px; left:-1px;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url a.data_type:hover {cursor:pointer;}

div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul {position:absolute; top:32px; left:-1px; width:168px; height:auto; z-index:20; display:none;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul li {float:left;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul li a {font:normal 13px Arial; color:#999999;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul li a:hover {font:normal 13px Arial; color:#666666;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul li.option {background:url('../images/home/data_type_li_option.png') no-repeat 0 0; width:148px; height:17px; padding:7px 10px 0 10px;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.combo_data_type ul li.last {background:url('../images/home/data_type_li_option_last.png') no-repeat 0 0 ; width:168px; height:7px;}


div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url input[type="submit"]{background:url('../images/home/bttn_import_url.png') no-repeat 0 0; font:normal 13px Arial; text-shadow:0px 1px #7D9631; color:#FFFFFF; text-align:center; width:93px; height:26px; text-align:center; border:none; line-height:13px; position:absolute; bottom:0; right:0;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url input[type="submit"]:hover {background-position:0 -26px; cursor:pointer;}
div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url input[type="submit"].disabled {background:url('../images/home/bttn_import_url_disabled.png') no-repeat 0 0}

div.data_sets_footer div.upload_content div.upload_file.import.active form.import_url span.processing {position:absolute; top:0px; right:0; z-index:5; /*background:url('../images/home/ajax-loader.gif') no-repeat 0 0;*/ background:url('../images/home/bkg_import_url_processing.png') no-repeat 0 0; width:440px; height:33px; display:none;}


/*RIGHT*/
div.data_sets_footer div.content div.right p.subtitle a {margin:0 0 0 5px;}
div.data_sets_footer div.content div.right p.title {float:left; font:600 13px "Myriad Pro"; color:#396C8D; text-transform:uppercase; margin:25px 0 0 0; width:222px;}
div.data_sets_footer div.content div.right ul.library {float:left; width:222px; height:auto; margin:5px 0 0 0;}  
div.data_sets_footer div.content div.right ul.library li {float:left; width:222px; height:57px; margin:10px 0 0 0;}
div.data_sets_footer div.content div.right ul.library li div.bkg_library {float:left; margin:0 10px 0 0; background:url('../images/home/bkg_library_info.png') no-repeat 0 0; width:52px; height:52px; text-align:center;}
div.data_sets_footer div.content div.right ul.library li p.library_name {float:left; width:160px; height:18px; font:600 15px "Myriad Pro"; color:#333333;}
div.data_sets_footer div.content div.right ul.library li p.by_ago {float:left; width:160px; height:19px; font:normal 13px Arial; color:#666666;}
div.data_sets_footer div.content div.right ul.library li a {float:left; width:auto; margin:0 10px 0 0; font:normal 11px Arial; color:#666666; text-decoration:underline;}
div.data_sets_footer div.content div.right ul.library li a:hover {color:#333333;}
div.data_sets_footer div.content div.right a.view_all {float:right; font:normal 13px Arial; color:#FF6600; width:auto; margin:15px 10px 0 0;}
div.data_sets_footer div.content div.right a.view_all:hover {text-decoration:underline;}



/* ----- LIBRARY */

div#library_data {float:left; width:954px; height:auto; margin:0; position:relative;}


div#library_data span.top_content {float:left; background:url('../images/library/top_content_box.png') no-repeat 0 0; height:12px; width:861px; margin:0 0 0 46px;}
div#library_data span.bottom_content {float:left; background:url('../images/library/bottom_content_box.png') no-repeat 0 0; height:12px; width:861px; margin:0 0 0 46px;}
div#library_data div.content {float:left; background:url('../images/library/content_body_repeaty.png') repeat-y 0 0; width:861px; height:auto; margin:0 0 0 46px; padding:9px 0 0 0;}

div#library_data div.content div#upload_import_left {float:left; margin:10px 0 0 0; width:520px; min-height:140px;}
div#library_data div.content div.header {height:146px; width:560px; background:url('../images/library/bkg_header_library.png') no-repeat 0 0; position:absolute; top:6px; left:57px;}
div#library_data div.content div.header h4 {font:600 25px "Myriad Pro"; color:#333333; letter-spacing:-1.0px; width:100%; position:absolute; top:25px; left:25px;}

div#library_data div.content div.header ul.tabs {position:absolute; width:511px; height:46px; left:26px; bottom:35px;}

div#library_data div.content div.header ul.tabs li {float:left; width:auto; height:38px; margin:0 2px 0 0;}
div#library_data div.content div.header ul.tabs li a { float:left; background:url("../images/library/left_library_tab.png") no-repeat left top; margin:0; padding:0 2px 0 3px; text-decoration:none; height:58px; overflow:hidden; color: white; width:auto;}
div#library_data div.content div.header ul.tabs li a span {float:left; display:block; background:url("../images/library/right_library_tab.png") no-repeat right top; padding:9px 11px 0 4px; margin:0 0 0 4px; line-height:23px; font:600 17px "Myriad Pro"; color:#FF6600; height:44px;}
div#library_data div.content div.header ul.tabs li a p {float:right; color:#999999; width:auto; margin:0 0 0 5px; font:normal 17px "Calibri"; line-height:15px;}
div#library_data div.content div.header ul.tabs li.active a {background-position:left -58px;}
div#library_data div.content div.header ul.tabs li.active a span {background-position:right -58px; color:white;}
div#library_data div.content div.header ul.tabs li.active a:hover {cursor:auto;}
div#library_data div.content div.header ul.tabs li a:hover {cursor:pointer;}

div#library_data div.content div.header ul.tabs li.pending {position:absolute; top:0; right:0;}
div#library_data div.content div.header ul.tabs li.pending a { float:left; background:url("../images/library/left_pending.png") no-repeat left top;}
div#library_data div.content div.header ul.tabs li.pending a span {float:left; background:url("../images/library/right_pending.png") no-repeat right top; color:white; height:44px;}
div#library_data div.content div.header ul.tabs li.pending a p {color:white;}

div#library_data div.content div.header ul.tabs li.pending.active a { background-position:left -58px; color:white; }
div#library_data div.content div.header ul.tabs li.pending.active a span {background-position:right -58px; color:white;}
div#library_data div.content div.header ul.tabs li.pending.active a p {color:#999999;}

div#library_data div.content div.header div.criteria_data {position:absolute; width:560px; height:46px; background-color:#333333; left:57; bottom:0;}
div#library_data div.content div.header div.criteria_data ul.filter_date {float:left; width:317px; height:23px; margin:13px 0 0 25px; background:url('../images/library/filter_ul_bkg.png') no-repeat 0 0;}
div#library_data div.content div.header div.criteria_data ul.filter_date li {float:left; width:auto; height:23px; border-right:1px solid #666666;}
div#library_data div.content div.header div.criteria_data ul.filter_date li:hover {cursor:pointer;}
div#library_data div.content div.header div.criteria_data ul.filter_date li a{float:left; text-decoration:none; text-transform:uppercase; width:auto; margin:0; height:23px;}
div#library_data div.content div.header div.criteria_data ul.filter_date li a span {float:left; margin:0 0 0 3px; color:#999999; height:20px; padding:3px 7px 0 4px; font:normal 13px "Calibri";}
div#library_data div.content div.header div.criteria_data ul.filter_date li a:hover {background-color:#666666;}
div#library_data div.content div.header div.criteria_data ul.filter_date li a span:hover {background-color:#666666; color:white;}
div#library_data div.content div.header div.criteria_data ul.filter_date li a.active {background-color:#666666;}
div#library_data div.content div.header div.criteria_data ul.filter_date li a.active span {float:left; background-color:#666666; color:white;}

div#library_data div.content div.header div.criteria_data ul.filter_date li.first a.active {color:white; background-color:#666666; background:url('../images/library/left_filteraz_bkg.png') no-repeat left top;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.first a span {margin:0 0 0 4px;}

div#library_data div.content div.header div.criteria_data ul.filter_date li.first a:hover {background:url('../images/library/left_filteraz_bkg.png') no-repeat left top;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.first a span:hover {background-color:#666666;}

div#library_data div.content div.header div.criteria_data ul.filter_date li.last a:hover {background:url('../images/library/left_last_filteraz_bkg.png') no-repeat left top;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.last a span:hover {background:url('../images/library/right_filteraz_bkg.png') no-repeat right top;}

div#library_data div.content div.header div.criteria_data ul.filter_date li.last a span {margin:0 0 0 4px; padding:3px 8px 0 4px;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.last a.active {background:url('../images/library/left_last_filteraz_bkg.png') no-repeat left top;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.last a.active span {background:url('../images/library/right_filteraz_bkg.png') no-repeat right top;}
div#library_data div.content div.header div.criteria_data ul.filter_date li.last {border:none;}
div#library_data div.content div.header div.criteria_data a.select_tags_combo {float:left; margin:13px 0 0 12px; width:90px; height:20px; background:url('../images/library/select_tag_combo.png') no-repeat 0 0; font:normal 13px "Calibri"; color:#666666; padding:3px 0 0 8px; text-transform:uppercase;}
div#library_data div.content div.header div.criteria_data a.select_tags_combo:hover {color:white; cursor:pointer;}

div#library_data div#upload_import_right {float:right; width:250px; height:auto;}
div#library_data div#upload_import_right h4 {float:left; font:600 25px "Myriad Pro"; color:#333333; letter-spacing:-1.0px; width:100%; }
div#library_data div#upload_import_right p.subtitle {float:left; font:normal 15px "Myriad Pro"; color:#666666; margin:0; width:100%; line-height:13px;}

div#library_data div#upload_import_right div.download_box {float:left; width:229px;}

div#library_data div#upload_import_right div.download_box div#info_upload_file {display:none;}
div#library_data div#upload_import_right div.download_box div#info_import_url {display:none;}

div#library_data div#upload_import_right div.download_box.active div#info_upload_file {display:inline;}
div#library_data div#upload_import_right div.download_box.active div#info_import_url {display:inline;}

div#library_data div#upload_import_right div.download_box a.combo {float:left; background:url('../images/common/combo_desactivated.png') no-repeat 0 0; width:12px; height:12px; margin:5px 0 0 17px;}
div#library_data div#upload_import_right div.download_box a.combo:hover {cursor:pointer;}
div#library_data div#upload_import_right div.download_box p {float:left; font:bold 15px Arial; color:#666666; width:190x; height:auto; margin:3px 0 0 5px;}

div#library_data div#upload_import_right div.download_box.first a.combo {float:left; background:url('../images/common/combo_desactivated.png') no-repeat 0 0; width:12px; height:12px; margin:47px 0 0 17px;}
div#library_data div#upload_import_right div.download_box.first a.combo:hover {cursor:pointer;}
div#library_data div#upload_import_right div.download_box.first p {float:left; font:bold 15px Arial; color:#666666; width:190x; height:auto; margin:44px 0 0 5px;}

div#library_data div#upload_import_right div.download_box.active.second a.combo {margin:17px 5px 0 17px;} 
div#library_data div#upload_import_right div.download_box.active.second p {margin:14px 0 0 0px;} 
div#library_data div#upload_import_right div.download_box.active {float:left; width:229px; height:175px; background:url('../images/library/download_box_bkg.png') no-repeat 0 0; margin:30px 0 0 0;}

div#library_data div#upload_import_right div.download_box.second.active {float:left; width:229px; height:204px; background:url('../images/library/download_box_url_bkg.png') no-repeat 0 0; margin:14px 0 0 0;}

div#library_data div#upload_import_right div.download_box.active.second form {width:229px; height:175px;}
div#library_data div#upload_import_right div.download_box.active.second form input[type="text"].import_url {float:left; border:none; background:url('../images/library/import_url_input.png') no-repeat 0 0; width:147px; height:27px; padding:3px 9px; font:normal 13px Arial; color:#999999; margin:11px 0 0 34px;}
div#library_data div#upload_import_right div.download_box.active.second form input[type="submit"] {float:right; width:67px; height:26px; background:url('../images/library/import_bttn.png') no-repeat 0 0; border:none; margin:16px 30px 0 0;}
div#library_data div#upload_import_right div.download_box.active.second form input[type="submit"]:hover {background-position:0 -26px;}
div#library_data div#upload_import_right div.download_box.active.second form p.title {float:left; width:100px; text-transform:uppercase; font:bold 11px Arial; color:#999999; margin:9px 0 0 36px;}

div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type {position:relative; width:165px; height:30px; float:left;  margin:4px 0 0 34px;}
div#library_data div#upload_import_right div.download_box.active.second form a.data_type {background:url('../images/home/data_type_combo.png') no-repeat 0 0; width:123px; height:17px; font:normal 13px Arial; color:#999999; padding:8px 35px 10px 7px; overflow:hidden; position:absolute; bottom:-4px; left:0;}


div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type a.data_type.displayed {position:absolute; font:normal 13px Arial; color:#999999; padding:10px 35px 10px 9px; width:125px; height:auto; background:url('../images/home/data_type_combo_displayed.png') no-repeat 0 0; bottom:-4px; left:-1px;}
div#library_data div#upload_import_right div.download_box.active.second form a.data_type:hover {cursor:pointer;}

div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul {position:absolute; top:32px; left:-1px; width:168px; height:auto; z-index:20; display:none;}
div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul li {float:left;}
div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul li a {font:normal 13px Arial; color:#999999;}
div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul li a:hover {font:normal 13px Arial; color:#666666;}
div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul li.option {background:url('../images/home/data_type_li_option.png') no-repeat 0 0; width:148px; height:17px; padding:7px 10px 0 10px;}
div#library_data div#upload_import_right div.download_box.active.second form span.combo_data_type ul li.last {background:url('../images/home/data_type_li_option_last.png') no-repeat 0 0 ; width:168px; height:7px;}





div#library_data div#upload_import_right div.download_box.active.second form input[type="submit"]:hover {background-position:0 -26px;}


div#library_data div#upload_import_right div.download_box.active a.combo {float:left; background:url('../images/common/combo_activated.png') no-repeat 0 0; margin:17px 5px 0 17px;}
div#library_data div#upload_import_right div.download_box.active p {float:left; font:normal 15px Arial; color:#666666; margin:14px 0 0 0px; width:180px; height:auto;}
div#library_data div#upload_import_right div.download_box.active div.info_files {float:left; width:157px; height:34px; position:relative; background:url('../images/library/info_files.png') no-repeat 0 0; margin:9px 0 0 35px; overflow:hidden; padding:0 6px 0 0;}
div#library_data div#upload_import_right div.download_box.active div.info_files a.browse {position:absolute; top:3px; left:3px; background:url('../images/library/browse_bttn.png') no-repeat 0 0; width:67px; height:26px;}
div#library_data div#upload_import_right div.download_box.active div.info_files a.browse:hover {background-position:0 -26px; cursor:pointer;}
div#library_data div#upload_import_right div.download_box.active div.info_files p {position:absolute; left:80px; bottom:15px; font:normal 13px Arial; color:#999999; width:150px; height:10px; }

div#library_data div#upload_import_right div.download_box.active p.info_files {float:left; text-transform:uppercase; font:bold 11px Arial; color:#CCCCCC; width:180px; height:auto; margin:11px 0 0 35px;}
div#library_data div#upload_import_right div.download_box.active p.kind_files {float:left; font:normal 13px Arial; color:#999999; width:165px; margin:3px 0 0 35px;}


/*EACH TAB*/
div#library_data div.content div.content_tab {float:left; width:571px; height:711px; margin:121px 0 0 0; position:relative;}

div#your_layers_content {display:inline;}
div#your_maps_content {display:none;}
div#pending_layers_content {display:none;}

div#library_data div.content div.content_tab.your_layers {background:url('../images/library/bkg_your_library.png') no-repeat right 0;}
div#library_data div.content div.content_tab.your_maps {background:url('../images/library/bkg_your_map.png') no-repeat right 0;}
div#library_data div.content div.content_tab.pending_layers {background:url('../images/library/bkg_pending_layers.png') no-repeat right 0;}
div#library_data div.content div.content_tab div#list_column_layers {margin: 0 0 0 39px;}
div#library_data div.content div.content_tab div#list_column_layers li{width:505px; height:auto; overflow:hidden; }
div#library_data div.content div.content_tab div#list_column_maps {margin: 0 0 0 39px;}
div#library_data div.content div.content_tab div#list_column_maps li{width:505px; height:auto; overflow:hidden; }
div#library_data div.content div.content_tab div#list_column_pending_layers {margin: 0 0 0 39px;}
div#library_data div.content div.content_tab div#list_column_pending_layers li{width:505px; height:auto; overflow:hidden; }
div#library_data div.content div.content_tab ul.content {float:left; width:505px; height:auto; margin: 0;}
div#library_data div.content div.content_tab ul.content div.info {float:left; width:505px; height:auto; padding:26px 0; border-bottom:1px solid #E0E0E0; overflow:hidden; } 
div#library_data div.content div.content_tab ul.content div.info.last {border-bottom:none;}
div#library_data div.content div.content_tab ul.content div.info a.title {float:left; width:100%; font:600 17px "Myriad Pro"; color:#FF6600;}
div#library_data div.content div.content_tab ul.content div.info a.title:hover {text-decoration:underline; cursor:pointer;}
div#library_data div.content div.content_tab ul.content div.info p.ago {float:left; width:100%; font:normal 11px Arial; color:#999999;}
div#library_data div.content div.content_tab ul.content div.info p.description {float:left; width:100%; font:normal 13px Arial; color:#999999; margin:9px 0 0 0;}

div#library_data div.content div.content_tab ul.content div.info div.info_amount {float:left; width:505px; height:20px; margin:10px 0 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.info_amount a {float:left; background:url('../images/library/left_info_map.png') no-repeat left top; width:auto; height:20px; margin:0 6px 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.info_amount a span {float:left; background:url('../images/library/right_info_map.png') no-repeat right top; width:auto; margin:0 0 0 5px; height:16px; font:bold 11px Arial; color:#999999; padding:4px 8px 0 4px; display:block; line-height:12px;}


div#library_data div.content div.content_tab ul.content div.info div.tags {float:left; width:250px; height:21px; margin:21px 0 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.tags div {float:left; margin:0 5px 0 0; width:auto; height:21px; padding:0;}
div#library_data div.content div.content_tab ul.content div.info div.tags div a { float:left; background:url('../images/library/left_tag.png') no-repeat left top; margin:0; padding:0; text-decoration:none; height:21px; overflow:hidden; color: white; width:auto;}
div#library_data div.content div.content_tab ul.content div.info div.tags div a span {float:left; display:block; background:url('../images/library/right_tag.png') no-repeat right top; padding:4px 13px 0 4px; margin:0 0 0 4px; line-height:23px; font:normal 11px Arial; color:#666666; height:17px;}

div#library_data div.content div.content_tab ul.content div.info div.bottom {float:left; margin:0; width:100%;}
div#library_data div.content div.content_tab ul.content div.info div.bottom div.left {float:left; width:250px; padding:0; margin:0;}
div#library_data div.content div.content_tab ul.content div.info div.bottom div.right {float:right; margin:15px 0 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.buttons {float:left; margin:0 9px 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.one {float:left; margin:0; width:37px; height:27px; margin:0 9px 0 0;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.one a.trash {position:absolute; background:url('../images/library/trash_one.png') no-repeat 0 0; width:37px; height:27px;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.one a.trash:hover {background-position:0 -27px;}

div#library_data div.content div.content_tab ul.content div.info div.buttons.two {background:url('../images/library/twobuttons.png') no-repeat 0 0; width:67px; height:27px; position:relative;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.two a {width:32px; height:25px; position:absolute;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.two a.pencil {background:url('../images/library/pen_2.png') no-repeat 0 0; top:1px; left:1px;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.two a.trash {background:url('../images/library/trash_2.png') no-repeat 0 0; top:1px; left:34px; }
div#library_data div.content div.content_tab ul.content div.info div.buttons.two a:hover {background-position:0 -25px;}

div#library_data div.content div.content_tab ul.content div.info div.buttons.three {float:left; width:94px; height:27px; margin:0 10px 0 0; background:url('../images/library/threebuttons.png') no-repeat 0 0; padding:0; position:relative;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.three a {position:absolute; width:25px; height:25px; top:2px; left:4px;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.three a.trash {background:url('../images/library/trash_bttn.png') no-repeat 0 0; top:2px; left:64px;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.three a.pencil {background:url('../images/library/pencil_bttn.png') no-repeat 0 0; top:2px; left:33px;}
div#library_data div.content div.content_tab ul.content div.info div.buttons.three a.download {background:url('../images/library/download_bttn.png') no-repeat 0 0; top:2px; left:4px;}




div#library_data div.content div.content_tab ul.content div.info a.make_map {float:left; background:url('../images/library/make_map_bttn.png') no-repeat 0 0; margin:0; width:75px; height:27px;}
div#library_data div.content div.content_tab ul.content div.info a.make_map:hover {background-position:0 -27px;}

div#library_data div.content div.content_tab ul.content div.info a.complete_bttn {float:left; background:url('../images/library/complete_bttn.png') no-repeat 0 0; margin:0; width:67px; height:27px;}
div#library_data div.content div.content_tab ul.content div.info a.complete_bttn:hover {background-position:0 -27px;}

div#library_data div.content div#upload_import_right {float:right; width:240px; height:auto; margin:10px 28px 0 0; height:auto;}

div#library_data div.content div.content_tab div.paginate_bottom {position:absolute; width:560px; height:54px; margin:0 0 0 11px; border-top:1px solid #E0E0E0; bottom:0; left:0;}
div#library_data div.content div.content_tab div.paginate_bottom a.rss_image {float:left; background:url('../images/common/rss_bttn.png') no-repeat 0 0; width:70px; height:14px; margin:23px 25px 25px 28px; padding:1px 0 0 20px; font:bold 11px Arial; color:#999999; text-decoration:none; margin:25px;}
div#library_data div.content div.content_tab div.paginate_bottom a.rss_image:hover {color:#666666;}

ol#controls {list-style:none; width:auto; position:absolute; right:76px; bottom:26px;}
ol#controls li {float:left; width:10px; height:10px; margin:0 0 0 5px;} 
ol#controls li a {float:left; background:url('../images/library/bttns_gallery.png') no-repeat 0 0; height:10px; width:10px; }
ol#controls li.current a {background:url('../images/library/bttns_gallery.png') no-repeat 0 -10px;}

span#prevBtn {display:none;}
span#nextBtn a {font:bold 12px Arial; color:#FF6600; width:auto; background:url('../images/common/right_arrow_next.png') no-repeat right 1px; width:auto; height:8px; padding:0 8px 0 0; line-height:10px; position:absolute; bottom:28px; right:28px; text-transform:uppercase;}
span#nextBtn a:hover {background-position:right -8px; color:#A83407;}



/* footer */
div#outer_footer{float:left; width:100%; margin:0 auto; background:url('../images/common/bkg_footer_repeated.png'); position:relative;}
div#outer_footer div#upper_band {position:absolute; width:100%; height:80px; background:url('../images/common/bkg_footer_repeated.png'); top:-80px; left:0; z-index:1; margin:0;}
div#outer_footer div#upper_content {position:absolute; width:100%; height:80px; top:-312px; left:0; z-index:1; margin:0;}
div#outer_footer div#upper_band_content {float:left; width:100%; margin:0 auto;}
div#outer_footer div#upper_band_content span.plants {margin:0 auto; width:1024px; height:255px; background-color:red; display:block; background:url('../images/common/footer_plants.png') no-repeat 0 0;}

div#outer_footer_content {margin:0 auto; width:954px;}
div#footer{margin:0; width:954px; height:193px;}
div#footer div.left {margin:0 0 0 86px;}
div#footer ul.menu {float:left; width:370px; margin:30px 0 0 0;}
div#footer ul.menu li {float:left; margin:0 10px 0 0; font:normal 13px Arial; color:#8095A4;}
div#footer ul.menu li a {font:normal 13px Arial; color:#8095A4;}
div#footer ul.menu li a:hover {border-bottom:1px dotted #8095A4;}
div#footer ul.menu li.last {margin:0;}
div#footer div.right_information {float:right; width:317px; height:183px; margin:30px 0 0 0;}
div#footer div.right_information p {float:left; font:normal 13px Arial; color:#8095A4; width:100%; margin:0;}
div#footer div.right_information img.logo {float:left; width:84px; height:30px; margin:10px 0 0 0;}
div#footer div.right_information p.rights {margin:30px 0 0 0;}
div#footer div.right_information ul.links {float:left; width:100%;}
div#footer div.right_information ul.links li {float:left; margin:0 8px 0 0; font:normal 13px Arial; color:#8095A4; }
div#footer div.right_information ul.links li a {font:normal 13px Arial; color:#8095A4; border-bottom:1px solid #8095A4;}
div#footer div.right_information ul.links li a:hover {border-bottom:1px dotted #8095A4;}
div#footer div.right_information ul.links li.last {margin:0;}
