body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial;}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}
ul {list-style:none;}


/*HEADER*/

div.outer_layout_gray {background:#292724; width:100%; height:35px; padding:9px 0 0 0;}
div.outer_layout_gray div.header {width:924px; margin:0 auto;}
div.outer_layout_gray div.header p.logo {float:left; letter-spacing:-1px;}
div.outer_layout_gray div.header p.logo a {text-decoration:none; font:bold 19px Arial; color:#FFFFFF;}
div.outer_layout_gray div.header p.facebook {float:right; font:normal 13px Arial; color:#FFFFFF; padding:5px 0 0 0;}
div.outer_layout_green {background:#408A8D; width:100%; height:34px;}
div.outer_layout_green div.menu {width:924px; margin:0 auto; padding:0; position:relative;}
div.outer_layout_green div.menu img {position:absolute; width:14px; height:7px; top:34px; left:13px;}
div.outer_layout_green div.menu ul {float:left; margin:7px 0 0 0;}
div.outer_layout_green div.menu ul li {float:left; margin:0 15px 0 0;}
div.outer_layout_green div.menu ul li a {text-decoration:none; font:bold 15px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu ul li a:hover {}
div.outer_layout_green div.menu ul li a.disabled {text-decoration:none; font:bold 15px Arial; color:#79ADAF;}
div.outer_layout_green div.menu ul li a.disabled:hover {cursor:default;}
div.outer_layout_green div.menu form {float:right; margin:4px 0 0 0; padding:0;}
div.outer_layout_green div.menu form input[type="text"] {float:left; width:196px; padding:6px; height:14px; border:none; background:url(../images/header_textinput.png) no-repeat 0 0;  font:normal 13px Arial; color:#cccccc; font-style:italic;}
div.outer_layout_green div.menu form input[type="submit"] {float:left; width:25px; height:26px; background:url(../images/lens.png) no-repeat 0 0; border:none; margin:0;}

/*FOOTER*/
div.outer_layout_footer {width:100%; border-top:5px solid #408A8D; background:#2A2825; height:193px; margin:50px 0 0 0;}
div.outer_layout_footer div.footer {margin:0 auto; width:924px; padding:28px 0 0 0;}
div.outer_layout_footer div.footer div.left_footer {float:left; width:297px; padding:0;}
div.outer_layout_footer div.footer div.left_footer ul {float:left;}
div.outer_layout_footer div.footer div.left_footer ul li {float:left; background:url(../images/separator.png) no-repeat right 3px; padding:0 12px 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li.last {background:none; padding:0 0 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none; padding:0 5px 0 0;}
div.outer_layout_footer div.footer div.left_footer ul li a:hover {text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer {float:right; width:600px;}
div.outer_layout_footer div.footer div.right_footer h5 {float:left; width:600px; font:bold 13px Arial; color:#959492; padding:0 0 5px 0;}
div.outer_layout_footer div.footer div.right_footer p.regions {float:left; width:600px; height:110px; font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.regions a {font:bold 13px Arial; color:#FFFFFF; text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer p.regions a:hover {text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer {float:left; width:600px; height:auto; font:normal 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.footer a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer a:hover {text-decoration:underline;}