body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; background:#EFF0E8;}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}

div#layout {margin:0 auto; width:924px; position:relative;}

div#outer_upper_area{width:100%;}

div#upper_area {width:924px; margin:0 auto; }
div#mapa {float:left; position:relative; width:100%; height:278px; margin:0; border-bottom:3px solid #FFFFFF;}


div.head_lent {float:left; z-index:100000; background:url(../images/homeLent.png) no-repeat 0 0; height:384px; width:100%; margin:0 0 0 0; position:absolute;}


/************ ABOUT *******************/


div.content_about {width:100%; margin:52px 0 0 0;}
div.content_about li {margin:0 0 8px 0; width:225px;}
div.content_about a {font:bold 15px Arial; color:#3F8A8C; text-decoration:none; margin:0;}
div.content_about a:hover {text-decoration:underline;}

div.content_about div.content_left_about {float:left; width:250px; margin:20px 0 0 0;}
div.content_about div.content_left_about p.more_title {font:bold 19px Arial; color:#2A2625; margin:0 10px 15px 0; }
div.content_about div.content_right_about {float:right; width:670px;}
div.content_about div.content_right_about span.header {float:left; background:url(../images/about_header.png) no-repeat 0 0; width:670px; height:9px; }
div.content_about div.content_right_about span.content_header {float:left; background-color:#C33A6E; width:670px; margin:0;}
div.content_about div.content_right_about span.content_header p {font:bold 27px Arial; color:#FFFFFF; margin:5px 0 15px 20px;}
div.content_about div.content_right_about span.content_info_header {float:left; background:url(../images/content_about_header.png) no-repeat 0 0; width:670px; height:13px; margin:0;}
div.content_about div.content_right_about span.content_info {float:left; background-color:#FFFFFF; margin:0px; width:670px;}

div.content_about div.content_right_about span.content_info p.title {font:bold 17px Arial; color:#2A2625;}
div.content_about div.content_right_about span.content_info p {font:normal 15px Arial; color:#666666; margin:15px 20px;}
div.content_about div.content_right_about span.content_info p.last {font:normal 15px Arial; color:#666666; margin:15px 20px 30px 20px;}
div.content_about div.content_right_about span.content_info_bottom {float:left; background:url(../images/content_about_bottom.png) no-repeat 0 0; width:670px; height:8px; margin:0 0 40px 0;}
div.content_about div.content_right_about span.content_info_bottom_last {float:left; background:url(../images/content_about_bottom.png) no-repeat 0 0; width:670px; height:8px; margin:0 0 10px 0;}

div.content_about div.content_right_about span.content_info ul {margin:0 0 30px 30px; }
div.content_about div.content_right_about span.content_info ul li {margin:0 0 0 0; }
div.content_about div.content_right_about span.content_info ul li p {font:normal 15px Arial; color:#666666; margin:0px 0 0 20px;}
div.content_about div.content_right_about p.back a{float:right; font:bold 13px Arial; color:#999999; margin:0 0 60px 0; text-decoration:underline;}
div.content_about div.content_right_about p.back a:hover{text-decoration:none;}

/************ OBRA *******************/

div.left_region_work {position:relative; float:left; background-color:#EFF0E8; width:285px; padding: 0 0 0 10px;}
div.left_region_work img.arrow {position:absolute; top:18px; right:-13px;}
div.left_region_work div.top_information {float:left; margin:15px 0 0 0; width:100%;}
div.left_region_work div.top_information div.logo {float:left; width:32px; padding:3px 0 0 0;}
div.left_region_work div.top_information div.logo img {width:26px;}
div.left_region_work div.top_information div.region_data {float:right; width:240px;}
div.left_region_work div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#8C8B86;}
div.left_region_work div.top_information div.region_data h1 a {text-decoration:none; color:#8C8B86;}
div.left_region_work div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:3px 0 0 0;}
div.left_region_work div.top_information div.region_data {float:left; width:240px;}
div.left_region_work div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#8c8c86; margin: 3px 0 0 2px;}
div.left_region_work div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 2px;}
div.left_region_work div.top_information div.region_data p.information a {color:#3F8A8C; text-decoration:underline; font:normal 13px Arial;}
div.left_region_work div.top_information div.region_data p.information a:hover {text-decoration:none;}
div.left_region_work div.top_information div.region_data p.web {float:left; padding:5px 0 0 0;}
div.left_region_work div.top_information div.region_data p.web a {color:#3F8A8C; text-decoration:underline; font:normal 11px Arial;}
div.left_region_work div.top_information div.region_data p.web a:hover {text-decoration:none;}
div.left_region_work img.region {float:left; margin:20px 0 0 0; border:1px solid #cccccc; padding:5px; background:#EEEEEE; width:262px;}
div.left_region_work hr {float:left; width:100%;  margin:17px 0 0 0;}
div.left_region_work div.political_data {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.political_data h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.political_data div.political_logo {float:left; width:44px;}
div.left_region_work div.political_data div.political_logo img {width:38px;}
div.left_region_work div.political_data div.political_information {float:left; width:230px; padding:3px 0 0 2px;}
div.left_region_work div.political_data div.political_information h3 {font:bold 13px Arial; color:#333333;}
div.left_region_work div.political_data div.political_information p {font:normal 11px Arial; color:#666666; margin: 2px 0 0 0; }
div.left_region_work div.political_data div.political_information p a {color:#3F8A8C; text-decoration:none;}
div.left_region_work div.political_data div.political_information p a:hover {text-decoration:underline;}
div.left_region_work div.political_stats {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.political_stats h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.more_enterprises {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.more_enterprises h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.more_enterprises li {font:normal 13px Arial; color:#666666; padding:1px 0;}
div.left_region_work div.related_regions {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.related_regions span {float:left; width:100%; padding:0 0 7px 0;}
div.left_region_work div.related_regions span h2 {float:left; width:auto; font:bold 15px Arial; color:#8c8c86;}
div.left_region_work div.related_regions span a {float:right; width:auto; font:normal 11px Arial; color:#408A8D; padding:1px 0 0; text-decoration:underline;}
div.left_region_work div.related_regions span a:hover {text-decoration: none;}
div.left_region_work div.related_regions li {padding:2px 0;}
div.left_region_work div.related_regions li a {font:bold 13px Arial; color:#408A8D; padding:0; text-decoration:none;}
div.left_region_work div.related_regions li a:hover {border-bottom:1px solid #408A8D;}


div.renovation_content { position:absolute; right:0; top:52px; width:610px; background:url(../images/bkgRenovacionTitle.png) no-repeat 0 0; margin:0; padding:0 0 50px;}
div.renovation_content img.arrow {position:absolute; top:20px; left:-13px;}
div.renovation_content div.content_up {float:left;}
div.renovation_content div.content_up div.content_left {float:left; width:76px;}
div.renovation_content div.content_up div.content_left div.avatar {float:left; width:62px; margin:21px 0 0 20px;}
div.renovation_content div.content_up div.content_left div.avatar img {float:left; padding:4px; border:none; background:white; width:60px; height:60px;}
div.renovation_content div.content_up div.content_left p.upload a.upload_photo {float:left; font:11px Arial; color:#FFFFFF; text-decoration:underline; width:100%; margin:3px 0 0 20px; letter-spacing:0px;}
div.renovation_content div.content_up div.content_left p.upload a.upload_photo:hover {text-decoration:none}

div.renovation_content div.content_up div.content_right {float:right; width:480px; margin:21px 15px 0 20px; }
div.renovation_content div.content_up div.content_right p.title {float:left; width:493px; font:bold 21px Arial; color:#FFFFFF; line-height:22px; }
div.renovation_content div.content_up div.content_right p.content {float:left; width:493px; font:normal 13px Arial; color:#E19DB7; margin: 6px 0 0 0;}
div.renovation_content div.content_up div.content_right p.content span.number {font:bold 13px Arial; color:#FFFFFF;}
div.renovation_content div.content_up div.content_right p.content span.state {font:bold 13px Arial; color:#DA84A5;}

div.renovation_content div.content_down {}
div.renovation_content div.content_down div.content_left_like {float:left; width:280px; margin:20px 0 0 20px; background:#C33A6E; padding:0 0 10px 0;}
div.renovation_content div.content_down div.content_left_like a.like{float:left; width:98px; padding: 5px 0 0 23px; height:20px; margin:0 7px 0 0px;  background:url(../images/likeObra.png) no-repeat 0 0; font-weight:bold; color:#C3396D; text-decoration:none; line-height: 13px; }
div.renovation_content div.content_down div.content_left_like a.like:hover{background:url(../images/likeObra.png) no-repeat 0 -25px; color:#FFFFFF; }
div.renovation_content div.content_down div.content_left_like a.no_like{float:left; width:118px; padding: 5px 0 0 23px; height:20px; margin:0 0 0 0px; background:url(../images/nolikeObra.png) no-repeat 0 0; font-weight:bold; color:#666666; text-decoration:none; line-height: 13px; }
div.renovation_content div.content_down div.content_left_like a.no_like:hover{background:url(../images/nolikeObra.png) no-repeat 0 -25px; color:#FFFFFF; }


div.renovation_content div.content_down div.content_right_comment {float:right; margin:28px 18px 0 0px;}
div.renovation_content div.content_down div.content_right_comment p a {float:left; height:18px; font:13px Arial; color:#FFFFFF; text-decoration: underline;} 
div.renovation_content div.content_down div.content_right_comment p a:hover {text-decoration: none;} 


div.renovation_content div.content_head {float:right; width:610px; height:19px; background:url(../images/renovation_content_head.png) no-repeat 0 0; margin:9px 0 0px 0;}
div.renovation_content div.content {float:right; width:610px; background-color:#FFFFFF; margin:0px 0 0 0; padding:1px 0 0 0;}


div.renovation_content div.content div.content_left {float:left; width:auto; margin:5px 0 0 20px;}


div.renovation_content div.content div.content_left p.award {font:left; font:bold 11px Arial; color:#666666; text-transform:uppercase; margin: 0 0 2px 0; }
div.renovation_content div.content div.content_left p.name {color:#666666; font-style: italic;}
div.renovation_content div.content div.content_left p.name a {font:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline; line-height:12px;}
div.renovation_content div.content div.content_left p.name a:hover {text-decoration: none;}

div.renovation_content div.content div.content_left p.title {float:left; font:bold 17px Arial; color:#2A2625; letter-spacing:-1.0px; margin:20px 0 0 0; width: 400px;}

div.renovation_content div.content p.description {float:left; font:normal 15px Arial; color:#666666; margin:0px 20px 10px 20px; width:567px;}
div.renovation_content div.content div.no_info {float:left; font:normal 15px Arial; background:url(../images/bkg_no_info.png) no-repeat 0 0; width:566px; height:112px; margin:5px 0 10px 22px;}
div.renovation_content div.content div.no_info p.messageTitle {text-align:center; font:bold 17px Arial; color:#666666; margin:37px 0 0 0;}
div.renovation_content div.content div.no_info p.suggestMessage {text-align:center; font:normal 13px Arial; color:#666666;}
div.renovation_content div.content div.no_info p.suggestMessage a {text-decoration:none; font:bold 13px Arial; color:#408A8D;}
div.renovation_content div.content div.no_info p.suggestMessage a:hover {text-decoration:underline;}

div.renovation_content div.content p.download {float:left; margin:5px 0 0 20px;}

div.renovation_content div.content p.download span.pdf {float:left; background:url(../images/icons/pdf_icon.png) no-repeat 0 0; height:16px; padding:0 10px 0 20px;}
div.renovation_content div.content p.download span.pdf a {float:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.renovation_content div.content p.download span.pdf a:hover {text-decoration: none;}

div.renovation_content div.content p.download span.line_divide {float:left; background:url(../images/line_divide_download.png) no-repeat 0 0; width:2px; height:16px; margin:0 10px 0 0;}

div.renovation_content div.content p.download span.view_more {float:left; background:url(../images/view_more_link.png) no-repeat 0 0; height:16px; padding:0 0 0 20px; width:400px;}
div.renovation_content div.content p.download span.view_more a {float:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.renovation_content div.content p.download span.view_more a:hover {text-decoration: none;}

div.renovation_content div.content div.line_to_separate {float:left; background:url(../images/line_to_separate.png) no-repeat 0 0; width:572px; height:2px; margin:10px 0 10px 20px;}

div.renovation_content div.content div.content_right {float:right; margin:0 18px 0 0; position:relative;}
div.renovation_content div.content div.content_right a.money {float:right; font:bold 29px Arial; color:#FFFFFF; background:url(../images/euroBox_left.png) no-repeat 0 0; text-decoration:none; height:40px; margin:0 8px 0 0; padding:0px 5px 0 40px;}
div.renovation_content div.content div.content_right a.money span {float:right; background:url(../images/euroBox_bkg.png) no-repeat right top; height:40px; padding:2px 9px 2px 4px; line-height: 36px;}
div.renovation_content div.content div.content_right a {text-decoration:none;}
div.renovation_content div.content div.content_right a span.kind_contrat {float:right; background:url(../images/iconoscontratos/contratoAbierto.png) no-repeat 0 0; width:122px; height:40px;}

div.tool_tip {position:absolute; right:-20px; bottom:23px; width:162px; display:none; z-index:10000;}
div.tool_tip span.head{float:left; background:url(../images/tooltip_up.png) no-repeat 0 0; width:162px; height:16px;}
div.tool_tip span.body{float:left; background:url(../images/tooltip_middle.png); width:162px; margin:0 0 0 0;}
div.tool_tip span.body p.title {float:left; font:bold 13px Arial; color:#C3396D; text-transform:uppercase; width:127px; margin:4px 0 0 20px;}
div.tool_tip span.body p.info {float:left; font:normal 11px Arial; color:#666666; width:127px; margin:4px 0 4px 20px;}
div.tool_tip span.bottom{float:left; background:url(../images/tooltip_bottom.png) no-repeat 0 0; width:162px; height:32px;}


div.renovation_content div.content div.comments {float:left; margin:0 0 0 20px; width:571px;}
div.renovation_content div.content div.comments ul {float:left; width:100%;}
div.renovation_content div.content div.comments li {float:left; width:100%; margin:3px 0;}
div.renovation_content div.content div.comments li div.avatar {float:left; width:50px;}
div.renovation_content div.content div.comments li div.avatar img {float:left; padding:3px; border:1px solid #cccccc; background:white; width:48px; height:48px;}
div.renovation_content div.content div.comments li div.comment_area {float:left; width:500px; margin:0 0 0 14px;}
div.renovation_content div.content div.comments li div.comment_area p.name {float:left; font:normal 13px Arial; color:#333333; margin: 0 0 2px 0; width:100%;}
div.renovation_content div.content div.comments li div.comment_area p.name a {text-decoration:none; font:bold 13px Arial; color:#408A8D;}
div.renovation_content div.content div.comments li div.comment_area p.name small {font:normal 11px Arial; color:#999999;}
div.renovation_content div.content div.comments li div.comment_area p.comment {float:left; font:normal 13px Arial; color:#666666;}
div.renovation_content div.content div.comments li div.line_to_separate {float:left; background:url(../images/line_to_separate.png) no-repeat 0 0; width:572px; height:2px; margin:10px 0 10px 0px;}

div.renovation_content div.content div.line_comment {float:left; width:571px; height:1px; background-color:#A0C4C6; margin:0px 0 0 0;}
div.renovation_content div.content form.send_comment {float:left; margin:15px 0 35px 20px; width:571px; height:250px; background-color:#E3EEEE; padding-bottom: 10px; overflow:hidden;}
div.renovation_content div.content form.send_comment div.name {float:left; margin:15px 0 0 15px;}
div.renovation_content div.content form.send_comment div.name p.title {font:bold 13px Arial; color:#666666; width:170px; }
div.renovation_content div.content form.send_comment div.name input[type="text"]{float:left; padding:3px 4px 0px 4px; width:162px; height:27px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.name input[type="text"]:focus {outline:none;} 

div.renovation_content div.content form.send_comment div.email {float:left; margin:15px 0 0 11px;}
div.renovation_content div.content form.send_comment div.email p.title {font:bold 13px Arial; color:#666666; width:170px; }
div.renovation_content div.content form.send_comment div.email input[type="text"]{float:left; padding:3px 4px 0px 4px; width:162px; height:27px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.email input[type="text"]:focus {outline:none;}

div.renovation_content div.content form.send_comment div.web {float:left; margin:15px 0 0 11px;}
div.renovation_content div.content form.send_comment div.web p.title {font:bold 13px Arial; color:#B4B7B7; width:170px; }
div.renovation_content div.content form.send_comment div.web input[type="text"]{float:left; padding:3px 4px 0px 4px; width:162px; height:27px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.web input[type="text"]:focus {outline:none;}

div.renovation_content div.content form.send_comment div.comment {float:left; margin:15px 0 0 15px;}
div.renovation_content div.content form.send_comment div.comment p.title {font:bold 13px Arial; color:#666666; width:530px; }
div.renovation_content div.content form.send_comment div.comment textarea{float:left; padding:3px 4px; width:528px; height:74px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.comment textarea:focus {outline:none;}
div.renovation_content div.content form.send_comment p#error {float:left; margin:0 0 0 15px; font:bold 10px Arial; font-style: italic; color:#C33A6E;}

div.renovation_content div.content form.send_comment input[type="submit"]{float:right; background:url(../images/bkgSendComment.png) no-repeat 0 0; margin:18px 20px 0px 0; width:131px; height:30px; border:none; }
div.renovation_content div.content form.send_comment input[type="submit"]:focus {outline:none;}
div.renovation_content div.content form.send_comment input[type="submit"]:hover {cursor:pointer; background-position:0 -30px;}

div.renovation_content div.more {float:right; margin:1px 0 0 0; background-color:#FFFFFF; width:610px;}
div.renovation_content div.more p.title {float:left; font:bold 17px Arial; color:#2A2625; width:610px; margin:17px 0 0 20px;}
div.renovation_content div.more ul {float:left; margin:10px 0 20px 20px;}
div.renovation_content div.more ul li {float:left; width:295px; margin:10px 0 12px 0px;}
div.renovation_content div.more ul li div.imgPlace {float:left; width:50px;}
div.renovation_content div.more ul li div.imgPlace a img {float:left; padding:3px; border:1px solid #cccccc; background:white; width:48px; height:48px;}
div.renovation_content div.more ul li div.imgPlace a:hover img {border:1px solid #999999;}
div.renovation_content div.more ul li div.info {float:left; width:200px; margin:0 0 0 15px;}
div.renovation_content div.more ul li div.info p.about a{float:left; font:bold 13px Arial; color:#2A2825; text-decoration: none;}
div.renovation_content div.more ul li div.info p.about a:hover{text-decoration: underline;}
div.renovation_content div.more ul li div.info p.info {float:left; font:normal 11px Arial; color:#666666; margin:5px 0 0 0;}
div.renovation_content div.more ul li div.info p.info span {float:none; font:bold 11px Arial; color:#666666; }
div.renovation_content div.more ul li div.result {float:left; margin:7px 0 0 64px; width:200px;} 

div.renovation_content div.more ul li div.result a.likes {float:left; background:url(../images/miniSmilleyBox.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff; padding: 1px 4px 0 0; margin: 0 5px 0 0; text-align:right;}
div.renovation_content div.more ul li div.result a.likes:hover {background-position:0 -16px;}
div.renovation_content div.more ul li div.result a.no_likes {float:left; background:url(../images/miniSmilleyBox.png) no-repeat -37px 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff;padding: 1px 4px 0 0; margin: 0 5px 0 0; text-align:right;}
div.renovation_content div.more ul li div.result a.no_likes:hover {background-position:-37px -16px;}

div.renovation_content div.more ul li div.result p.comments a {float:left; font:normal 13px Arial; color:#3F8A8C; text-decoration:underline; margin:0 0 0 0;}
div.renovation_content div.more ul li div.result p.comments a:hover {text-decoration:none;}

ul {list-style:none;}


/*HEADER*/
div.outer_layout_gray {background:#292724; width:100%; height:35px; padding:9px 0 0 0;}
div.outer_layout_gray div.header {width:924px; margin:0 auto;}
div.outer_layout_gray div.header p.logo {float:left; letter-spacing:-1px;}
div.outer_layout_gray div.header p.logo a {text-decoration:none; font:bold 19px Arial; color:#FFFFFF;}
div.outer_layout_gray div.header p.facebook {float:right; font:normal 13px Arial; color:#FFFFFF; padding:5px 0 0 0;}
div.outer_layout_green {background:#408A8D; width:100%; height:34px;}
div.outer_layout_green div.menu {width:924px; margin:0 auto; padding:0; position:relative;}
div.outer_layout_green div.menu img {position:absolute; width:14px; height:7px; top:34px; left:13px; z-index:100;}
div.outer_layout_green div.menu ul {float:left; margin:7px 0 0 0;}
div.outer_layout_green div.menu ul li {float:left; margin:0 15px 0 0;}
div.outer_layout_green div.menu ul li a {text-decoration:none; font:bold 15px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu ul li a:hover {}
div.outer_layout_green div.menu ul li a.disabled {text-decoration:none; font:bold 15px Arial; color:#79ADAF;}
div.outer_layout_green div.menu ul li a.disabled:hover {cursor:default;}
div.outer_layout_green div.menu ul li a.option {text-decoration:none; font:bold 15px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu ul li a.option:hover {color:#333333;}

div.outer_layout_green div.menu p {float:right; font:normal 13px Arial; color:#FFFFFF; padding:8px 0 0 0;}
div.outer_layout_green div.menu p a {font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu p a:hover {text-decoration:none;}
div.outer_layout_green div.menu form {float:right; margin:4px 0 0 0; padding:0;}
div.outer_layout_green div.menu form input[type="text"] {float:left; width:196px; padding:6px; height:14px; border:none; background:url(../images/header_textinput.png) no-repeat 0 0;  font:normal 13px Arial; color:#cccccc; font-style:italic;}
div.outer_layout_green div.menu form input[type="submit"] {float:left; width:25px; height:26px; background:url(../images/lens.png) no-repeat right 0; border:none; margin:0;}
div.outer_layout_green div.menu form input[type="submit"]:hover {cursor:pointer; background-position:0 -26px;}


/*HOME*/


div.overMap {position:absolute; top: 40px; left:0px; background-image: url(../images/bkgOverMap.png); height:277px; width:530px; padding: 25px 28px 0 28px; }
div.overMap h1 {font-size: 49px; color:#2A2625; letter-spacing: -1px; font-weight: bold; line-height: 47px; margin: 0 0 28px 0;}
div overMap div.searchForm {}
div.overMap div.searchForm h3 {font-size: 21px; color:#2A2625; letter-spacing: -1px; font-weight: bold;}
div.overMap div.searchForm p {float:left; font:normal 13px Arial; color:#2A2725; width:563px; margin:4px 0 0 0;}
div.overMap div.searchForm p a {font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.overMap div.searchForm p a:hover {text-decoration:none;}

div.overMap div.searchForm form {float:left; margin:6px 0 0 0;}
div.overMap div.searchForm form input[type="text"]{float:left; background:url(../images/bkgInputSearch.png) no-repeat 0 0; width:351px; height:26px;  border:none; font:normal 17px Arial; font-style:italic; color:#999999; padding: 6px 8px 5px 8px;}
div.overMap div.searchForm form input[type="text"]:focus {outline:none;}
div.overMap div.searchForm form input[type="submit"]{float:left; background:url(../images/bttnSearchM.png) no-repeat 0 0; margin:0; width:160px; height:37px; border:none;}
div.overMap div.searchForm form input[type="submit"]:focus {outline:none;}
div.overMap div.searchForm form input[type="submit"]:hover {cursor:pointer; background-position:0 -37px;}

div.left_home {float:left; width:544px; background:white; padding:20px;}
div.left_home h3 {font:bold 21px Arial; color:#2A2625; letter-spacing:-1px;}
div.left_home ul {float:left; padding:0; width:544px; margin:0;}
div.left_home ul li {float:left; padding:17px 0; width:544px; border-bottom:1px solid #DADCD0;}
div.left_home ul li.last {border-bottom:none;}
div.left_home ul li div.left_information {float:left; width:440px;}
div.left_home ul li div.left_information div.work_image {float:left; width:77px;}
div.left_home ul li div.left_information div.work_image a img {float:left; width:60px; padding:3px; background:white; border:1px solid #cccccc;}
div.left_home ul li div.left_information div.work_image a:hover img {border:1px solid #999999;}
div.left_home ul li div.left_information div.work_information {float:left; width:360px;}
div.left_home ul li div.left_information div.work_information h4 a{font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration:none;}
div.left_home ul li div.left_information div.work_information h4 a:hover{text-decoration:underline;}
div.left_home ul li div.left_information div.work_information p {font:normal 13px Arial; color:#666666; padding:5px 0 0 0;}
div.left_home ul li div.left_information div.work_information p a {font:normal 13px Arial; color:#408A8D;}
div.left_home ul li div.left_information div.work_information p a:hover {text-decoration:none;}
div.left_home ul li div.right_information {float:right; width:100px;}
div.left_home ul li div.right_information a.likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff; padding: 1px 4px 0 0; margin: 0 5px 0 0; text-align:right;}
div.left_home ul li div.right_information a.likes:hover {background-position:0 -16px;}
div.left_home ul li div.right_information a.no_likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat -37px 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff;padding: 1px 4px 0 0; text-align:right;}
div.left_home ul li div.right_information a.no_likes:hover {background-position:-37px -16px;}
div.left_home ul li div.right_information a.comment {float:right; text-align:right; font:normal 13px Arial; color:#408A8D; text-decoration:underline; padding:4px 0 0 0;}
div.left_home ul li div.right_information a.comments {float:right; text-align:right; padding:4px 0 0 0; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.left_home ul li div.right_information a:hover {text-decoration:none;}

div.right_home {float:right; width:320px; background:#EFF0E8; padding:20px 0 40px 20px; text-align:left;}
div.right_home h3 {float:left; font:bold 21px Arial; color:#AAABA7; letter-spacing: -1px;}
div.right_home div.longPolitical {float:left; margin:20px 0 10px; width:310px;}
div.right_home div.long div.right {float:right; width:80px; height:30px; padding:30px 0 0 0;}
div.right_home label {font:bold 10px Arial; color:#999999;}
div.right_home p.amount {font:bold 35px Arial; color:#999999;}
div.right_home p.politicalName {font:bold 10px Arial; color:#999999; width:100px; margin: 3px 0 0 0;}
div.right_home img.littleGraph {float:left; margin:10px 0 3px 0;}
div.right_home img.bigGraph {float:left; margin:15px 0 0 0;}
div.right_home div.political_stats {float:left; margin:0px 0px 0 35px; width:80px;}
div.right_home div.political_stats2 {float:left; margin:0; width:80px;}
div.right_home hr{ margin: 9px 0 12px 0;}

div.right_home p.long {float:left; margin:0 0 0 0; text-align:center; color:#666666; width:315px; padding:0;}
div.right_home p.long a {float:left; margin:5px 0 0 0px; width:315px; background:url(../images/view_more_big.png) no-repeat 0 0; text-align:center; padding:8px 0 6px 0px ; font:bold 15px Arial; color:white; text-decoration:none; height:23px;}
div.right_home p.long a:hover {background-position: 0 -37px;}

div.right_home .long .stats{margin:12px 0 0 0;}


/*ORGANISMO*/
div.left_region {position:absolute; top:52px; left:0; background: url(../images/top_bkg_right_region.png) no-repeat 0 0 #FFFFFF; width:274px; padding:20px;}
div.left_region img.arrow {position:absolute; top:18px; right:-13px;}
div.left_region div.top_information {float:left; margin:0; width:100%;}
div.left_region div.top_information div.logo {float:left; width:32px; padding:0px 0 0 0;}
div.left_region div.top_information div.logo img {width:26px;}
div.left_region div.top_information div.region_data {float:right; width:240px;}
div.left_region div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#2A2725; margin:0px; width: 100%; line-height:26px;}
div.left_region div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 0;}
div.left_region div.top_information div.region_data p.information a {color:#3F8A8C; text-decoration:underline; font:normal 13px Arial;}
div.left_region div.top_information div.region_data p.information a:hover {text-decoration:none;}
div.left_region div.top_information div.region_data p.web {float:left; padding:5px 0 0 0;}
div.left_region div.top_information div.region_data p.web a {color:#3F8A8C; text-decoration:underline; font:normal 11px Arial;}
div.left_region div.top_information div.region_data p.web a:hover {text-decoration:none;}
div.left_region img.region {float:left; margin:15px 0 0 0; border:1px solid #cccccc; padding:5px; background:#EEEEEE; width:262px;}
div.left_region hr {float:left; width:100%;  margin:18px 0 0 0;}
div.left_region div.political_data {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.political_data h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.political_data div.big_chart {float:left; width:274px;}
div.left_region div.political_data div.political_logo {float:left; width:44px;}
div.left_region div.political_data div.political_logo img {width:38px;}
div.left_region div.political_data div.political_information {float:right; width:228px; padding:3px 0 0 2px;}
div.left_region div.political_data div.political_information h3 {font:bold 13px Arial; color:#333333;}
div.left_region div.political_data div.political_information p {font:normal 11px Arial; color:#666666; margin-top: 3px;}
div.left_region div.political_data div.political_information p a {color:#3F8A8C; text-decoration:none;}
div.left_region div.political_data div.political_information p a:hover {text-decoration:underline;}
div.left_region div.political_stats {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.political_stats h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.more_enterprises {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.more_enterprises h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.more_enterprises li {font:normal 13px Arial; color:#666666; padding:1px 0;}
div.left_region div.related_regions {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.related_regions span {float:left; width:100%; padding:0 0 7px 0;}
div.left_region div.related_regions span h2 {float:left; width:auto; font:bold 15px Arial; color:#333333;}
div.left_region div.related_regions span a {float:right; width:auto; font:normal 11px Arial; color:#408A8D; padding:2px 0 0; text-decoration:none; border-bottom:1px solid #408A8D;}
div.left_region div.related_regions span a:hover {border-bottom:1px dotted #408A8D;}
div.left_region div.related_regions li {padding:2px 0;}
div.left_region div.related_regions li a {font:bold 13px Arial; color:#408A8D; padding:0; text-decoration:none;}
div.left_region div.related_regions li a:hover {border-bottom:1px solid #408A8D;}

div.right_region {position:relative; float:right; width:590px; padding:20px 0 60px 20px;}
div.right_region span {float:left; width:590px; color:#666666; padding:0 0 20px;}
div.right_region span h3 {float:left; width:auto; font:bold 35px Arial; letter-spacing:-1px;}
div.right_region span div {float:right; width:152px; padding:7px 0 0 0;}
div.right_region span div p {float:right; width:15	2px; text-align:right; font:bold 25px Arial; letter-spacing:-1px;}
div.right_region span div p.small {float:right; width:142px; font:bold 10px Arial; color:#AAABA7; letter-spacing:0; line-height:5px;}
/*div.right_region div.search_container {float:left; padding:22px 13px; width:564px; background:url(../images/region_search_bkg.png) no-repeat 0 0 #E1E2DB;}*/
div.right_region div.search_container {float:left; height:15px; padding:0; width:590px; background:url(../images/searchArrow.png) no-repeat 0 0;}
div.right_region ul {float:left; padding:0; width:590px; margin:0;}
div.right_region ul li {float:left; padding:17px 0; width:590px; border-bottom:1px solid #DADCD0;}

div.right_region ul li div.left_information {float:left; width:490px;}
div.right_region ul li div.left_information div.work_image {float:left; width:77px;}
div.right_region ul li div.left_information div.work_image a img {float:left; width:60px; padding:3px; background:white; border:1px solid #cccccc;}
div.right_region ul li div.left_information div.work_image a:hover img {border:1px solid #999999;}
div.right_region ul li div.left_information div.work_information {float:left; width:400px;}
div.right_region ul li div.left_information div.work_information a {font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration:none;}
div.right_region ul li div.left_information div.work_information a:hover {font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration: underline; cursor: pointer;}
div.right_region ul li div.left_information div.work_information p {font:normal 13px Arial; color:#666666; padding:5px 0 0 0;}

div.right_region ul li div.right_information {float:right; width:100px;}
div.right_region ul li div.right_information a.likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff; padding: 1px 4px 0 0; margin: 0 5px 0 0; text-align:right;}
div.right_region ul li div.right_information a.likes:hover {background-position:0 -16px;}
div.right_region ul li div.right_information a.no_likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat -37px 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff;padding: 1px 4px 0 0; text-align:right;}
div.right_region ul li div.right_information a.no_likes:hover {background-position:-37px -16px;}
div.right_region ul li div.right_information a.comments {float:right; text-align:right; padding:4px 0 0 0; font:normal 13px Arial; color:#408A8D; text-decoration:underline; width:100%;}
div.right_region ul li div.right_information a:hover {text-decoration:none;}
div.right_region ul li div.right_information a.no_like {float:right; background:url(../images/greyButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none; cursor: pointer;}
div.right_region ul li div.right_information a.no_like:hover {background-position:0 -25px;}
div.right_region ul li div.right_information a.no_like span {background:url(../images/greyButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.right_region ul li div.right_information a.no_like:hover span {background-position:right -25px;}
div.right_region p.long {float:left; width:590px; margin:3px 0 0 0; text-align:center; color:#666666;}
div.right_region p.long a {float:left; margin:15px 0 0 225px; width:140px; background:url(../images/view_more.png) no-repeat 0 0; text-align:center; padding:6px 0; font:bold 15px Arial; color:white; text-decoration:none;}
div.right_region p.long a:hover {background-position: 0 -30px;}

/*MUNICIPIO*/
div.left_region_mun {position:absolute; top:52px; left:0; background: url(../images/top_bkg_right_region.png) no-repeat 0 0 #FFFFFF; width:274px; padding:20px;}
div.left_region_mun img.arrow {position:absolute; top:18px; right:-13px;}
div.left_region_mun div.top_information {float:left; margin:0; width:100%;}
div.left_region_mun div.top_information div.logo {float:left; width:32px; padding:0px 0 0 0;}
div.left_region_mun div.top_information div.logo img {width:26px;}
div.left_region_mun div.top_information div.region_data {float:right; width:240px;}
div.left_region_mun div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#2A2725; margin:0px; width: 100%; line-height:26px;}
div.left_region_mun div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 0;}
div.left_region_mun div.top_information div.region_data p.information a {color:#3F8A8C; text-decoration:underline; font:normal 13px Arial;}
div.left_region_mun div.top_information div.region_data p.information a:hover {text-decoration:none;}
div.left_region_mun div.top_information div.region_data p.web {float:left; padding:5px 0 0 0;}
div.left_region_mun div.top_information div.region_data p.web a {color:#3F8A8C; text-decoration:underline; font:normal 11px Arial;}
div.left_region_mun div.top_information div.region_data p.web a:hover {text-decoration:none;}
div.left_region_mun img.region {float:left; margin:15px 0 0 0; border:1px solid #cccccc; padding:5px; background:#EEEEEE; width:262px;}
div.left_region_mun hr {float:left; width:100%;  margin:18px 0 0 0;}
div.left_region_mun div.political_data {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_mun div.political_data h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region_mun div.political_data div.big_chart {float:left; width:274px;}
div.left_region_mun div.political_data div.political_logo {float:left; width:44px;}
div.left_region_mun div.political_data div.political_logo img {width:38px;}
div.left_region_mun div.political_data div.political_information {float:right; width:228px; padding:3px 0 0 2px;}
div.left_region_mun div.political_data div.political_information h3 {font:bold 13px Arial; color:#333333;}
div.left_region_mun div.political_data div.political_information p {font:normal 11px Arial; color:#666666; margin-top: 3px;}
div.left_region_mun div.political_data div.political_information p a {color:#3F8A8C; text-decoration:none;}
div.left_region_mun div.political_data div.political_information p a:hover {text-decoration:underline;}
div.left_region_mun div.political_stats {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_mun div.political_stats h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region_mun div.more_enterprises {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_mun div.more_enterprises h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region_mun div.more_enterprises li {font:normal 13px Arial; color:#666666; padding:1px 0;}
div.left_region_mun div.related_regions {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_mun div.related_regions span {float:left; width:100%; padding:0 0 7px 0;}
div.left_region_mun div.related_regions span h2 {float:left; width:auto; font:bold 15px Arial; color:#333333;}
div.left_region_mun div.related_regions span a {float:right; width:auto; font:normal 11px Arial; color:#408A8D; padding:2px 0 0; text-decoration:none; border-bottom:1px solid #408A8D;}
div.left_region_mun div.related_regions span a:hover {border-bottom:1px dotted #408A8D;}
div.left_region_mun div.related_regions li {padding:2px 0;}
div.left_region_mun div.related_regions li a {font:bold 13px Arial; color:#408A8D; padding:0; text-decoration:none;}
div.left_region_mun div.related_regions li a:hover {border-bottom:1px solid #408A8D;}

div.right_region_mun {position:relative; float:right; width:590px; padding:20px 0 60px 20px;}
div.right_region_mun span {float:left; width:590px; color:#666666; padding:0 0 20px;}
div.right_region_mun span h3 {float:left; width:auto; font:bold 35px Arial; letter-spacing:-1px;}
div.right_region_mun span div {float:right; width:142px; padding:7px 0 0 0;}
div.right_region_mun span div p {float:left; width:142px; text-align:right; font:bold 25px Arial; letter-spacing:-1px;}
div.right_region_mun span div p.small {float:left; width:142px; font:bold 10px Arial; color:#AAABA7; letter-spacing:0; line-height:5px;}
/*div.right_region_mun div.search_container {float:left; padding:22px 13px; width:564px; background:url(../images/region_search_bkg.png) no-repeat 0 0 #E1E2DB;}*/
div.right_region_mun div.search_container {float:left; height:15px; padding:0; width:590px; background:url(../images/searchArrow.png) no-repeat 0 0;}
div.right_region_mun ul {float:left; padding:0; width:590px; margin:0;}
div.right_region_mun ul li {float:left; padding:17px 0; width:590px; border-bottom:1px solid #DADCD0;}

div.right_region_mun ul li div.left_information {float:left; width:490px;}
div.right_region_mun ul li div.left_information div.work_image {float:left; width:77px;}
div.right_region_mun ul li div.left_information div.work_image a img {float:left; width:60px; padding:3px; background:white; border:1px solid #cccccc;}
div.right_region_mun ul li div.left_information div.work_image a:hover img {border:1px solid #999999;}
div.right_region_mun ul li div.left_information div.work_information {float:left; width:400px;}
div.right_region_mun ul li div.left_information div.work_information a {font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration:none;}
div.right_region_mun ul li div.left_information div.work_information a:hover {font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration: underline; cursor: pointer;}
div.right_region_mun ul li div.left_information div.work_information p {font:normal 13px Arial; color:#666666; padding:5px 0 0 0;}

div.right_region_mun ul li div.right_information {float:right; width:100px;}
div.right_region_mun ul li div.right_information a.likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff; padding: 1px 4px 0 0; margin: 0 5px 0 0; text-align:right;}
div.right_region_mun ul li div.right_information a.likes:hover {background-position:0 -16px;}
div.right_region_mun ul li div.right_information a.no_likes {float:right; background:url(../images/miniSmilleyBox.png) no-repeat -37px 0; margin:0; padding:0 0 0 20px; height:15px; width: 33px; text-decoration:none; font-weight: bold; color:#ffffff;padding: 1px 4px 0 0; text-align:right;}
div.right_region_mun ul li div.right_information a.no_likes:hover {background-position:-37px -16px;}
div.right_region_mun ul li div.right_information a.comments {float:right; text-align:right; padding:4px 0 0 0; font:normal 13px Arial; color:#408A8D; text-decoration:underline; width:100%;}
div.right_region_mun ul li div.right_information a:hover {text-decoration:none;}
div.right_region_mun ul li div.right_information a.no_like {float:right; background:url(../images/greyButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none; cursor: pointer;}
div.right_region_mun ul li div.right_information a.no_like:hover {background-position:0 -25px;}
div.right_region_mun ul li div.right_information a.no_like span {background:url(../images/greyButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.right_region_mun ul li div.right_information a.no_like:hover span {background-position:right -25px;}
div.right_region_mun p.long {float:left; width:590px; margin:3px 0 0 0; text-align:center; color:#666666;}
div.right_region_mun p.long a {float:left; margin:15px 0 0 225px; width:140px; background:url(../images/view_more.png) no-repeat 0 0; text-align:center; padding:6px 0; font:bold 15px Arial; color:white; text-decoration:none;}
div.right_region_mun p.long a:hover {background-position: 0 -30px;}

/*FOOTER*/
div.outer_layout_footer {width:100%; border-top:3px solid #408A8D; background:#2A2825; height:193px; float:left;}
div.outer_layout_footer div.footer {margin:0 auto; width:924px; padding:28px 0 0 0;}
div.outer_layout_footer div.footer div.left_footer {float:left; width:314px; padding:0;}
div.outer_layout_footer div.footer div.left_footer ul {float:left;}
div.outer_layout_footer div.footer div.left_footer ul li {float:left; background:url(../images/separator.png) no-repeat right 3px; padding:0 12px 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li.last {background:none; padding:0 0 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none; padding:0 5px 0 0;}
div.outer_layout_footer div.footer div.left_footer ul li a:hover {text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer {float:right; width:580px;}
div.outer_layout_footer div.footer div.right_footer h5 {float:left; width:550px; font:bold 13px Arial; color:#959492; padding:0 0 5px 0;}
div.outer_layout_footer div.footer div.right_footer p.regions {float:left; width:550px; height:110px; font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.regions a {font:bold 13px Arial; color:#FFFFFF; text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer p.regions a:hover {text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer {float:left; width:550px; height:auto; font:normal 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.footer a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer a:hover {text-decoration:underline;}


/*FOOTER HOME*/
div.outer_layout_footer {width:100%; border-top:3px solid #408A8D; background:#2A2825; height:193px; float:left;}
div.outer_layout_footer div.footer {margin:0 auto; width:924px; padding:28px 0 0 0;}
div.outer_layout_footer div.footer div.right_footer_home {float:right; width:200px; padding:0 45px 0 0;}
div.outer_layout_footer div.footer div.right_footer_home ul {float:right;}
div.outer_layout_footer div.footer div.right_footer_home ul li {float:left; background:url(../images/separator.png) no-repeat right 3px; padding:0 12px 0 10px;}
div.outer_layout_footer div.footer div.right_footer_home ul li.last {background:none; padding:0 0 0 10px;}
div.outer_layout_footer div.footer div.right_footer_home ul li a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none; padding:0 5px 0 0;}
div.outer_layout_footer div.footer div.right_footer_home ul li a:hover {text-decoration:underline;}
div.outer_layout_footer div.footer div.left_footer_home {float:left; width:580px;}
div.outer_layout_footer div.footer div.left_footer_home h5 {float:left; width:580px; font:bold 13px Arial; color:#959492; padding:0 0 5px 0;}
div.outer_layout_footer div.footer div.left_footer_home p.regions {float:left; width:580px; height:110px; font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.left_footer_home p.regions a {font:bold 13px Arial; color:#FFFFFF; text-decoration:underline;}
div.outer_layout_footer div.footer div.left_footer_home p.regions a:hover {text-decoration:none;}
div.outer_layout_footer div.footer div.left_footer_home p.footer {float:left; width:580px; height:auto; font:normal 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.left_footer_home p.footer a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.outer_layout_footer div.footer div.left_footer_home p.footer a:hover {text-decoration:underline;}
