RewriteEngine On

RewriteRule ^run/([0-9]+)/(.+) carrera.php?id=$1 [L]
RewriteRule ^en/(.+) searchresults.php?q=$1 [L]
RewriteRule ^user/(.+) usuario_publico.php?u=$1 [L]
RewriteRule ^perfil/(.+) usuario_privado.php?u=$1 [L]
RewriteRule ^picture/([0-9]+)/(.+) image.php?id=$1&source=$2 [L]
RewriteRule ^buscar searchresults.php [L]
RewriteRule ^usuarios usuarios.php [L]
RewriteRule ^sobre about.php [L]
RewriteRule ^registro_success registro_success.php [L]
RewriteRule ^registro registro.php [L]
RewriteRule ^sitemap.xml sitemap_xml.php [L]
RewriteRule ^carreras.kml carrerasKml.php [L]
RewriteRule js/site_([0-9]+).js combinejs.php?version=$1 [L]
RewriteRule css/site_([0-9]+).css combinecss.php?version=$1 [L]

ErrorDocument 404 /404page.php

