/* CSS file */

Panel.mapOverlayed {
   borderColor: #161616;
   borderAlpha: 1;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   roundedBottomCorners: false;
   cornerRadius: 8;
   headerHeight: 30;
   backgroundAlpha: 0.96;
   backgroundColor: #2e2e2e;
   shadowDistance: 2;
   titleStyleName: "mapOverlayedTitle";
}

.mapOverlayedTitle {
   letterSpacing: 0;
   color: #ffffff;
   fontSize: 13;
   fontWeight: normal;
}

Alert{ 
    borderStyle:solid; 
    borderColor:#161616; 
    background-color:#2e2e2e; 
    borderAlpha:1; 
    borderThickness:0; 
    roundedBottomCorners:true; 
    cornerRadius:8; 
    headerHeight:30; 
    backgroundAlpha:0.96; 
    headerColors:#161616, #161616; 
    titleStyleName:"alertTitle"; 
    message-style-name:"messageStyle"; 
} 

.alertTitle 
{ 
    fontFamily:Verdana; 
    fontSize:13; 
    color:#ffffff; 
    font-weight:normal; 
} 

.messageStyle 
{ 
    letterSpacing:0; 
    color:#ffffff; 
    textAlign:left; 
    fontFamily:Verdana; 
    fontSize:11; 
    font-weight:normal; 
} 


MenuBar.headerMenu {
	backgroundAlpha: 1;
   backgroundColor: #1F1F1F;
   borderColor: #1F1F1F;
   highlightAlphas: 0.31, 0;
   fillAlphas: 1, 1;
   fillColors: #1F1F1F, #1F1F1F;
   rollOverColor: #ffffff;
   selectionColor: #ffffff;
   fontSize: 13;
   cornerRadius: 4;
	color: #E6E6E6;
	disabledColor: #E6E6E6;
	fontFamily: Verdana;
}
MenuBar.menuBarMain
{
	backgroundAlpha: 1;
   backgroundColor: #1F1F1F;
   borderColor: #1F1F1F;
   highlightAlphas: 0.31, 0;
   fillAlphas: 1, 1;
   fillColors: #1F1F1F, #1F1F1F;
   rollOverColor: #000000;
   selectionColor: #000000;
   fontSize: 13;
   cornerRadius: 4;
	color: #E6E6E6;
	disabledColor: #E6E6E6;
	fontFamily: Verdana;
	themeColor: #B5FF00;
}
@font-face
{
	fontFamily: Verdana;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Verdana");
}

Button.linkButton{
	over-skin: Embed(source="bioAtlasStyle.swf", symbol="linkButton_over");	
	up-skin: Embed(source="bioAtlasStyle.swf", symbol="linkButton_out");	
	down-skin: Embed(source="bioAtlasStyle.swf", symbol="linkButton_over");
	selected-up-skin: Embed(source="bioAtlasStyle.swf", symbol="linkButton_over");
	font-family: Verdana;
	font-size: 11;
	color: #FFFFFF;
	text-roll-over-color: #99CC00;
	padding-top: 3;
	padding-bottom: 0;
	padding-left: 3;
	padding-right: 3;
	fontWeight: normal;
}


Label
{
	color: #FFFFFF;
}

Button {
   cornerRadius: 6;
   textIndent: 0;
   paddingLeft: 3;
   paddingRight: 2;
   paddingTop: 0;
   highlightAlphas: 0.02, 0.26;
   fillColors: #737373, #737373, #989898, #989898;
   color: #ffffff;
   textRollOverColor: #ffffff;
   themeColor: #acf200;
   fontWeight: normal;
}
TextInput {
   borderStyle: solid;
   borderThickness: 0;
   cornerRadius: 5;
   backgroundAlpha: 1;
   color: #000000;
   letterSpacing: 0;
   paddingLeft: 2;
   paddingRight: 0;
   dropShadowEnabled: false;
   shadowDistance: 0;
	paddingTop: 2;
}

VScrollBar {
   cornerRadius: 5;
   themeColor: #b5ff00;
	thumbOffset: 0;
}

.mydataGridHeaderStyle {
   color: #565656;
   fontWeight: bold;
   fontSize: 10;
   fontStyle: normal;
   textDecoration: none;
}