/* CSS file */

Canvas.blackHLine{
	background-color: #000000;
	border-style: none;	
}

Canvas.stepContainer{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	rounded-bottom-corners: true;
	corner-radius: 4;
}
	