/* CSS file */


/*MAIN MENU*/
Button.mainMenuButton{
	up-skin: Embed(source="general.swf",symbol="mainMenuButton_up");
	over-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	down-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	over-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-up-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-over-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	selected-down-skin: Embed(source="general.swf",symbol="mainMenuButton_active");
	font-family: "DINOT-Medium";
	color: #6686AE;
	font-size: 13;
	padding-bottom: 7;
}

/**/

/*Container backgrounds */
Canvas.dashboardContainer{
	background-image: Embed(source="general.swf",symbol="bkgDashboardContainer");	
}

/**/

Canvas.softBlueStepBackground{
	background-image: Embed(source="general.swf",symbol="softBlueStepBackground");	
	
}

Canvas.blackHLine{
	background-color: #000000;
	border-style: none;	
}

Canvas.stepContainer{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #FFFFFF;
	rounded-bottom-corners: true;
	corner-radius: 4;
}

Label.welcome{
	font-size:20;
	font-family:Helvetica;
	font-weight:bold;
	color: #c6c6c6;	
}

Canvas.ContainersInfo{
	background-color: #F5F5F5;
	border-style: solid;
	border-color: #c6c6c6;
	rounded-bottom-corners: true;
	corner-radius: 4;
}

Text.titleInfo{
	color: #414141;
	font-size: 15;
	font-weight: bold;
}

Text.explInfo{
	color: #414141;
	font-size: 14;
}

GradientCanvas.header{
    fill-colors: #376ea7, #23548c;
    fill-alphas: 1.0, 1.0;
    corner-radius: 0;
}


Button.green{
	borderColor: #336600;
	themeColor: #336600;
	fillAlphas: 1.0, 1.0;
	fillColors: #55AC3D, #237C16, #237C16, #55AC3D;
	color: #FFFFFF;
	textRollOverColor: #E4E6E7;
	letterSpacing: -1;
	paddingTop: 3;
	paddingBottom: 3;
}

Button.close {
	cornerRadius: 0;
	border-alpha: 0;
	border-thickness:0;
	color: #336699;
	border-style: none;
	background-color: none;
	fillAlphas: 0.0, 0.0, 0.0, 0.0;
	borderColor: #F5F5F5;
	themeColor: #F5F5F5;
	fillColors: #F5F5F5, #F5F5F5;
	textRollOverColor: #003366;
	focusAlpha: 0.0;
	disabledColor: #F5F5F5;
	textSelectedColor: #333333;
}


	