<% content_for :page_title do%>
	About
<% end -%>

<% content_for :big_title do%>
	Maybe we will bump into each other at a conference. Here are our faces so you know how to find us
<% end -%>

<% content_for :content do%>
      <ul>
        <li class="minus20">
          <div class="col">
            <div class="white_box">
              <h3>Who we are</h3>	
			</div>
          </div>
         <div class="col" id="01Thumbs"> 
          	<a href="/employees/jatorre"><img src="/images/team/jatorre.jpg" alt="" class="left" /></a>
            <div class="detail">
              <h4>JAVIER DE LA TORRE</h4>
              <p>Lead developer / Founder</p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/jatorre" target="_blank">@jatorre</a></p>
            </div>
          </div>
		<div class="col last"> 
          	<img src="/images/team/saleiva.jpg" alt="" class="left" />
            <div class="detail">
              <h4>SERGIO ALVAREZ</h4>
              <p>Visual designer / Founder</p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/saleiva" target="_blank">@saleiva</a> // linkedin<a href="http://www.linkedin.com/in/saleiva" target="_blank"> resume</a></p>
            </div>
          </div>
        </li>
        <li>
		<div class="col" id="03Thumbs"> 
        	<img id="work3Image" alt="" class="left" />
            <div id="workDesc3" class="detail" style="background-color:#FFF;">
            </div>
          </div>
		  <div class="col"> 
          	<img src="/images/team/jmedina.jpg" alt="" class="left" />
            <div class="detail">
              <h4>JAVIER ALVAREZ</h4>
              <p>Front.end developer </p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/xavijam" target="_blank">@xavijam</a></p>
            </div>
          </div>
	      <div class="col last"> 
          	<img src="/images/team/fmr.jpg" alt="" class="left" />
            <div class="detail">
              <h4>FERNANDO MORALES</h4>
              <p>Back.end developer </p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/fmoralesr" target="_blank">@fmoralesr</a></p>
            </div>
          </div>                
        </li>
        <li>
		<div class="col">
			<div class="white_box">
              <h3>We are in Madrid</h3>
              <p>We would like to see your project in this list. Please contact us if you think we can help you</p>
			</div>
		</div>
		<div class="col" id="06Thumbs"> 
        	<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Calle+de+Hortaleza,+48,+28004+Madrid,+Spain&sll=37.0625,-95.677068&sspn=51.754532,82.441406&ie=UTF8&hq=&hnear=Calle+de+Hortaleza,+48,+28004+Madrid,+Spain&z=15" target="_blank"><img id="work6Image" src="/images/contactMap.jpg" alt="" class="left" /> </a>
            <div class="detail">
				<p>Hortaleza 48, 1.
28004, Madrid, Spain <br />
+34 689 41 44 20 / +34 659 157 916</p>
				<p class="contactLinks">contact us by <a href="mailto:contact@vizzuality.com">mail</a> / <a href="skype:jatorre555?chat">skype</a></p>
			</div>
		</div>
		<div class="col last">
			<div class="white_box">
              <h3>And we are hiring!</h3>
              <p>Are you looking for a cool job?, Want to work without a tie? Get in touch with us and show us what you know!</p>
              <a href="mailto:contact@vizzuality.com">Contact us &raquo;</a> 
			</div>
		</div>				            
        </li>        
      </ul>
<% end -%>    