<% content_for :page_title do%>
	Envisioning life
<% end -%>

<% content_for :big_title do%>
	We take enjoyment in being a small and productive company that delivers great user experiences for stories that matter
<% end -%>

<% content_for :content do%>
	<ul>
	  <li class="minus20">
	    <div class="col">
	      <div class="white_box">
	        <h3>Latest projects</h3>
	        <p>Rather than talk about how good we are we would like to show you.</p>
	        <a href="/works">View our work &raquo;</a> </div>
	    </div>
	   <div class="col" id="01Thumbs"> 
	    	<a href="/projects/wdpamarine"><img id="work1Image" src="/images/wdpaMarine/t01.jpg" alt="" class="left" /></a>
	      <div id="workDesc1" class="detail">
	        <a href="/projects/wdpamarine"><h4>WDPA MARINE</h4></a>
	<p>UNEP-WCMC</p>
	        <ul class="listing">
	          <li><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t01.jpg', 300, 'workDesc1', 3, 1, 1)" class="current" id="workLink11"></a></li>
	          <li><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t02.jpg', 300, 'workDesc1', 3, 1, 2)" id="workLink12"></a></li>
	          <li class="last"><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t03.jpg', 300, 'workDesc1', 3, 1, 3)" id="workLink13"></a></li>
	        </ul>
	      </div>
	    </div>
	    <div class="col last" id="02Thumbs"> 
	    <a href="/projects/runnity"><img id="work2Image" src="/images/runnity/t01.jpg" alt="" class="left" /></a>
	      <div id="workDesc2" class="detail">
	        <a href="/projects/runnity"><h4>RUNNITY.COM</h4></a>
	        <p>THIS.SELF</p>
	        <ul class="listing">
	           <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/runnity/t01.jpg', 300, 'workDesc2', 2, 2, 1)" class="current" id="workLink21"></a></li>
	          <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/runnity/t02.jpg', 300, 'workDesc2', 2, 2, 2)" id="workLink22"></a></li>
	        </ul>
	      </div>
	    </div>
	  </li>
	  <li>
	    <div class="col">
	      <div class="grey_box">
	        <h3>Using Geowebcache tiles stored in s3 from Google Maps for Flash</h3>
	        <p>Last week I was in a code sprint for my next project on a very nice cottage. During the sprint I set up a 
	          Geoserver instance with Geowebcache to generate tiles from the World Database on Protected Areas. The tiles will be 
	          stored in S3 and distributed with CloudFront as the main goal is speed worldwide. The tiles will be used in a set 
	          of Maps in Flash around the project.</p>
	        <a href="http://biodivertido.blogspot.com/">View the whole article</a> </div>
	    </div>
	    <div class="col">
	      <div class="white_box">
	        <h3>Latest from the web</h3>
	        <p>We have fun experimenting with data vizzualization, data analysis, UX, and visual design. <br /><br/>View it at <a href="http://biodivertido.blogspot.com">biodivertido</a></p>
	      </div>
	    </div>
	    <div class="col last"> 
	    <a href="http://www.youtube.com/watch?v=UZAQNLfg5aQ" target="_blank"><img src="/images/jatorreGeoWeb.gif" alt="" /></a>
	      <div class="detail1">
	        <h4>JAVIER DE LA TORRE AT GEOWEB 09</h4>
	      </div>
	    </div>
	  </li>
	</ul>
<% end -%>