body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:12px Arial, Helvetica, sans-serif; color:#666666; background:#eeeeee}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}

div#outer_layout {float:left; width:100%;}
div#layout {margin:0 auto; width:940px;}


/* ---------- HEADER ---------- */
div#outer_header{float:left; width:100%; background:url(../images/header/header_bkg.png) repeat-x 0 0; height:56px;}
div#header{position:relative; width:940px; margin:0 auto; padding:0; height:56px;}
div#header a.logo{float:left; width:255px; height:32px; background:url(../images/header/logo.png) no-repeat 0 0; margin:10px 0 0 0;}
div#header a.logo:hover {background-position: 0 -33px;}

div#header form {float:right; width:auto; margin:6px 0 0 0; position:relative;}
div#header form input[type="text"]{float:left; background:url(../images/header/inputSearch.gif) no-repeat 0 0; padding:5px 25px 5px 5px; width:165px; margin:0; border:none; font:normal 13px Arial; font-style:italic; color:#aaaaaa;}
div#header form input[type="text"]:focus {outline:none;}
div#header form input[type="submit"]{float:left; background:url(../images/header/buttonSearch.gif) no-repeat 0 0; margin:0; width:27px; height:24px; border:none;}
div#header form input[type="submit"]:focus {outline:none;}
div#header form input[type="submit"]:hover {cursor:pointer;}

div#header p.user_login {float:right; text-decoration:none; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px; padding:0; margin:12px 0 0 13px;}
div#header p.user_login a.user {float:none; text-decoration:underline; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px;}
div#header a#loginLink {float:right; text-decoration:none; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px; padding:0 15px 0 0; margin:12px 0 0 13px; background:url(../images/common/transArrow.png) no-repeat right 2px}
div#header a#loginLink:hover {text-decoration:underline;}

/* ---------- JOBS ---------- */
div#outer_upper_area{float:left; width:100%;}

div#upper_area{width:940px; padding:0 0 0 9px; background: url(../images/common/bigDottedMap.jpg) no-repeat 0 -60px; margin:0 auto; }
div#upper_area div.content{float:left; position:relative; width:940px; min-height:73px; padding:0 0 20px; margin:0;}
div#upper_area div.content div.left_sec{float:left; width:616px;}
div#upper_area div.content div.left_sec p {float:left; width:auto; font:normal 13px Arial; color:#666666; margin:0; width:100%; margin:0 0 4px 0;}
div#upper_area div.content div.left_sec p a {border-bottom:1px solid #006699; color:#336699; text-decoration:none;}
div#upper_area div.content div.left_sec p a:hover {color:#254C72; border-bottom:1px dotted #254C72; cursor:pointer;}


div#upper_area div.content div.left_sec h1{float:left; position:relative; width:920px; font:bold 53px Arial; line-height:40px; color:#4C4C4C; padding:20px 0 0 0; margin:0; letter-spacing:-2px;}
div#upper_area div.content div.left_sec v.star_area{float:left; width:440px;}
div#upper_area div.content div.left_sec div.star_area p.world{float:left; width:440px; color:#339900; font:bold 9px Arial; margin:4px 0 0 0; padding:2px 0 2px 12px; background:url(../images/icons/green_star.gif) no-repeat 0 0; line-height:8px;}


/* ---------- SITE ---------- */


/* ---------- REGION ---------- */





/* ---------- FOOTER ---------- */
#outer_footer{float:left; width:100%; background:#dddddd; border-top:1px solid #c3c3c3; margin:0;}
#footer{width:940px; padding:13px 0 0 10px; margin:0 auto;}
#footer p{float:left; width:300px; padding: 10px 0 60px 0; font:normal 12px Arial; color:#999999;}
#footer ul{float:right; width:auto; list-style:none; padding:10px 0 60px 0;}
#footer li{float:left; width:auto; font-size:12px; line-height:14px; font-weight:normal; color:#999999; background:url("../images/footer/footer_divider.gif") no-repeat 0 3px; padding:0 6px 0 9px}
#footer li.none{float:left; background:none; padding-left:0;}
#footer li a{color:#999999; text-decoration:none; font-weight:bold;}
#footer li a:hover{color:#666666;}

#footer div.powered{float:right; width:600px; padding:0 0 16px;}
#footer div.powered a{float:right;}
#footer div.powered a img{float:left; margin-right:10px; display:inline;}
#footer div.powered a img.last{float:left; margin-right:0; display:inline;}

