body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:12px Arial, Helvetica, sans-serif; color:#666666; background:#eeeeee}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}
ul {list-style:none;}
div#outer_layout {float:left; width:100%;}
div#layout {margin:0 auto; width:940px;}
div.left_container {float:left; width:610px; margin:0; padding:0;}
div.right_container {float:right; width:311px; margin:0; padding:0;}


div#outer_header{float:left; width:100%; background:url(../images/header/header_bkg.png) repeat-x 0 0; height:56px;}
div#header{position:relative; width:940px; margin:0 auto; padding:0; height:56px;}
div#header a.logo{float:left; width:255px; height:32px; background:url(../images/header/logo.png) no-repeat 0 0; margin:10px 0 0 0;}
div#header a.logo:hover {background-position: 0 -33px;}

div#header form {float:right; width:auto; margin:6px 0 0 0; position:relative;}
div#header form input[type="text"]{float:left; background:url(../images/header/inputSearch.gif) no-repeat 0 0; padding:5px 25px 5px 5px; width:165px; margin:0; border:none; font:normal 13px Arial; font-style:italic; color:#aaaaaa;}
div#header form input[type="text"]:focus {outline:none;}
div#header form input[type="submit"]{float:left; background:url(../images/header/buttonSearch.gif) no-repeat 0 0; margin:0; width:27px; height:24px; border:none;}
div#header form input[type="submit"]:focus {outline:none;}
div#header form input[type="submit"]:hover {cursor:pointer;}

div#header p.user_login {float:right; text-decoration:none; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px; padding:0; margin:12px 0 0 13px;}
div#header p.user_login a.user {float:none; text-decoration:underline; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px;}
div#header a#loginLink {float:right; text-decoration:none; font:bold 12px Arial; color:#ffffff; letter-spacing:-0.5px; padding:0 15px 0 0; margin:12px 0 0 13px; background:url(../images/common/transArrow.png) no-repeat right 2px}
div#header a#loginLink:hover {text-decoration:underline;}


/* ---------- JOBS ---------- */
div#outer_upper_area{width:100%; }

div#upper_area {width:940px; margin:0 auto; }
div#upper_area div.content {float:left; position:relative; width:940px; height:263px; margin:0; background: url(../images/common/bigDottedMap.jpg) no-repeat 0 -60px;}

div#upper_area div.content div.content_title {marging:0;}

div#upper_area div.content div.content_title div.left_sec_title{float:left; width:616px; margin:20px 0 0 0;}

div#upper_area div.content div.content_title div.left_sec_title h1{float:left; position:relative; width:616px; font:bold 53px Arial; line-height:50px; color:#4C4C4C; padding:20px 0 0 0; margin:0; letter-spacing:-2px;}
div#upper_area div.content div.content_title div.left_sec_title p.subtitle{float:left; position:relative; width:616px; font:normal 19px Arial; color:#666666; padding:0px; margin:10px 0 0 0; letter-spacing:-1.0px;}
div#upper_area div.content div.content_title div.left_sec_title p.subtitle a {font:bold 19px Arial; color:#FF9900; text-decoration:none;}
div#upper_area div.content div.content_title div.left_sec_title p.subtitle a:hover {color:#FF6600;}


div#upper_area div.content div.content_title div.right_sec_title{float:right; width:295px; margin:45px 0 0 0;}
div#upper_area div.content div.content_title div.right_sec_title p.title_browse {float:left; font:bold 11px Arial; color:#666666; text-transform:uppercase; margin:0 0 0 10px;}

div#upper_area div.content div.content_title div.right_sec_title ul {float:left; width:280px; margin:8px 0 0 0; list-style: none;}
div#upper_area div.content div.content_title div.right_sec_title ul li {float:left; width:100%; margin:0; margin:2px 0 5px 0px; color:#006699;}
div#upper_area div.content div.content_title div.right_sec_title ul li p {padding: 0 0 0 10px; background:url(../images/jobs/right_arrow.png) no-repeat 0 5px;}
div#upper_area div.content div.content_title div.right_sec_title ul li p a {font:bold 15px Arial; color:#006699; text-decoration:none;}
div#upper_area div.content div.content_title div.right_sec_title ul li p a:hover {color:#254C72; text-decoration:none; border-bottom:1px dotted #254C72;}

div#upper_area div.content div.content_title div.right_sec_title ul li p.active {padding: 0 0 0 10px; background:url(../images/jobs/right_arrow_gray.png) no-repeat 0 5px;}
div#upper_area div.content div.content_title div.right_sec_title ul li p.active a {font:bold 15px Arial; color:#999999; text-decoration:none;}
div#upper_area div.content div.content_title div.right_sec_title ul li p.active a:hover {color:#254C72; text-decoration:none; border-bottom:1px dotted #254C72;}
div#upper_area div.content div.content_posts {float:left; margin:55px 0 0 0; width:100%;}

div#upper_area div.content div.content_posts div.left_jobs_title{float:left; width:616px; }
div#upper_area div.content div.content_posts div.left_jobs_title h2{float:left; width:616px; font:bold 19px Arial; color:#333333;}

div#upper_area div.content div.content_posts div.right_jobs_title {float:right; width:253px; }

div#upper_area div.content div.content_posts div.right_jobs_title p a {float:right; margin: 0 0 0 6px;}
div#upper_area div.content div.content_posts div.right_jobs_title p span.title {float:left; font:bold 13px Arial; color:#666666; text-decoration:none; padding:5px 0 0 0;}
div#upper_area div.content div.content_posts div.right_jobs_title p a.first {font:bold 13px Arial; color:#FFFFFF; background:url(../images/common/bkg_first.png) no-repeat 0 0; width:78px; height:21px; padding:4px 0 0 7px; text-decoration:none;}
div#upper_area div.content div.content_posts div.right_jobs_title p a.first:hover {background-position:0 -25px;}
div#upper_area div.content div.content_posts div.right_jobs_title p a.first_selected {font:bold 13px Arial; color:#333333; background:url(../images/common/bkg_first_selected.png) no-repeat 0 0; width:78px; height:27px; padding:3px 0 0 7px; text-decoration:none;}

div#upper_area div.content div.content_posts div.right_jobs_title p a.organization {font:bold 13px Arial; color:#FFFFFF; background:url(../images/common/bkg_organization.png) no-repeat 0 0; width:106px; height:21px; padding:4px 0 0 9px; text-decoration:none;}
div#upper_area div.content div.content_posts div.right_jobs_title p a.organization:hover {background-position:0 -25px;}
div#upper_area div.content div.content_posts div.right_jobs_title p a.organization_selected {font:bold 13px Arial; color:#333333; background:url(../images/common/bkg_organization_selected.png) no-repeat 0 0; width:106px; height:30px; padding:3px 0 0 7px; text-decoration:none;}

div#upper_area div.content div.content_experts {float:left; margin:55px 0 20px 0; width:100%;}

div#upper_area div.content div.content_experts div.left_experts_title{float:left; width:616px; }
div#upper_area div.content div.content_experts div.left_experts_title h2{float:left; width:616px; font:bold 19px Arial; color:#333333;}

div#upper_area div.content div.content_experts div.right_experts_title {float:right; width:253px; }

div#upper_area div.content div.content_experts div.right_experts_title p a {float:right; margin: 0 0 0 6px;}
div#upper_area div.content div.content_experts div.right_experts_title p span.title {float:left; font:bold 13px Arial; color:#666666; text-decoration:none; padding:5px 0 0 0;}
div#upper_area div.content div.content_experts div.right_experts_title p a.first {font:bold 13px Arial; color:#FFFFFF; background:url(../images/common/bkg_first.png) no-repeat 0 0; width:78px; height:21px; padding:4px 0 0 7px; text-decoration:none;}
div#upper_area div.content div.content_experts div.right_experts_title p a.first:hover {background-position:0 -25px;}
div#upper_area div.content div.content_experts div.right_experts_title p a.first_selected {font:bold 13px Arial; color:#333333; background:url(../images/common/bkg_first_selected.png) no-repeat 0 0; width:78px; height:27px; padding:3px 0 0 7px; text-decoration:none;}

div#upper_area div.content div.content_experts div.right_experts_title p a.organization {font:bold 13px Arial; color:#FFFFFF; background:url(../images/common/bkg_organization.png) no-repeat 0 0; width:106px; height:21px; padding:4px 0 0 9px; text-decoration:none;}
div#upper_area div.content div.content_experts div.right_experts_title p a.organization:hover {background-position:0 -25px;}
div#upper_area div.content div.content_experts div.right_experts_title p a.organization_selected {font:bold 13px Arial; color:#333333; background:url(../images/common/bkg_organization_selected.png) no-repeat 0 0; width:106px; height:30px; padding:3px 0 0 7px; text-decoration:none;}

div#upper_area div.content div.content_experts div.right_experts_title p a.alphabetically {font:bold 13px Arial; color:#FFFFFF; background:url(../images/common/bkg_alphabetically.png) no-repeat 0 0; width:106px; height:21px; padding:4px 0 0 9px; text-decoration:none;}
div#upper_area div.content div.content_experts div.right_experts_title p a.alphabetically:hover {background-position:0 -25px;}
div#upper_area div.content div.content_experts div.right_experts_title p a.alphabetically_selected {font:bold 13px Arial; color:#333333; background:url(../images/common/bkg_alphabetically_selected.png) no-repeat 0 0; width:106px; height:30px; padding:3px 0 0 7px; text-decoration:none;}


div#wide_container {margin:0 auto; width:940px; padding:0;}

div#wide_container div.job {float:left; width:940px; padding:0; border:1px solid #CCCCCC; border-bottom:none; background:#FFFFFF; margin:0px 0 0px 0px; overflow:hidden; height:300px;}
div#wide_container div.job div.logo {float:right; margin:5px;}
div#wide_container div.job div.logo a {float:right;}
div#wide_container div.job div.logo a.iucn{ background:url(../images/logos/iucn_original.png) no-repeat 0 0; width:65px; height:50px; margin:5px 0;}
div#wide_container div.job div.logo a.wwf{ background:url(../images/logos/wwf_original.png) no-repeat 0 0; width:42px; height:59px; margin:10px 15px 0 0;}

div#wide_container div.job div.title {float:left; width:595px; margin:18px 0 0 20px;}
div#wide_container div.job div.title h3 {font:bold 21px Arial; color:#006699; padding:0 0 4px; letter-spacing:-1px;}
div#wide_container div.job div.title h2 {font:normal 15px Arial; color:#666666; padding:0 0 4px; letter-spacing:-1px;}

div#wide_container div.job div.data {float:left; width:100%; margin:15px 0 0 20px; }
div#wide_container div.job div.data div.job_data {float:left; width:240px; margin:0;}

div#wide_container div.job div.data div.job_data p.title{font:bold 11px Arial; text-transform:uppercase; color:#999999; margin:0 0 5px 0;}
div#wide_container div.job div.data div.job_data p.place{font:bold 15px Arial; color:#333333; margin:0;} 
div#wide_container div.job div.data div.job_data p.direction{font:normal 13px Arial; color:#333333; margin:0;}
div#wide_container div.job div.data div.job_data p.kind_application{font:normal 13px Arial; color:#333333; margin:0;}

div#wide_container div.publish_job {float:left; width:940px; border:1px solid #CCCCCC; border-right:none; border-bottom:none; border-left:none; height:102px; background:url(../images/jobs/bkg_publish_job.png) no-repeat 0 0; margin:0 0 30px 0;}
div#wide_container div.publish_job div.left_container {float:left; width:697px; margin:15px 0 10px 15px; }
div#wide_container div.publish_job div.left_container p.title {font:bold 19px Arial; color:#333333; margin:0 0 3px 0; letter-spacing:-1.0px; }
div#wide_container div.publish_job div.left_container p.comment {font:normal 15px Arial; color:#666666; margin:0; }

div#wide_container div.publish_job div.right_container {float:right; width:206px;}
div#wide_container div.publish_job div.right_container a.button {float:left; background:url(../images/jobs/bkg_publish_job_bttn.png) no-repeat 0 0; width:189px; height:40px; margin:30px 0 0 0; font:bold 17px Arial; color:#006699; padding:11px 0 0 52px; letter-spacing:-1.0px; text-decoration:none;}
div#wide_container div.publish_job div.right_container a.button:hover {color:#254C72;}

/* ---------- EXPERTS ---------- */
div#wide_container div.add_this_page {float:left; width:940px; border:1px solid #CCCCCC; border-right:none; border-bottom:none; border-left:none; height:102px; background:url(../images/experts/bkg_add_page.png) no-repeat 0 0; margin:60px 0 30px 0;}
div#wide_container div.add_this_page div.left_container {float:left; width:630px; margin:15px 0 10px 15px; }
div#wide_container div.add_this_page div.left_container p.title {font:bold 19px Arial; color:#333333; margin:0 0 3px 0; letter-spacing:-1.0px; }
div#wide_container div.add_this_page div.left_container p.comment {font:normal 15px Arial; color:#666666; margin:5px 0 0 0; }

div#wide_container div.add_this_page div.right_container {float:right; width:280px;}
div#wide_container div.add_this_page div.right_container a.button {float:left; background:url(../images/experts/bkg_add_page_bttn.png) no-repeat 0 0; width:217px; height:31px; margin:40px 0 0 0; font:bold 17px Arial; color:#006699; padding:11px 0 0 52px; letter-spacing:-1.0px; text-decoration:none;}
div#wide_container div.add_this_page div.right_container a.button:hover {color:#254C72;}


/* ---------- SITE ---------- */

div#wide_container div.job div.data div.job_overview {float:right; width:650px; margin:0 20px 0 0; }
div#wide_container div.job div.data div.job_overview p {float:left;}
div#wide_container div.job div.data div.job_overview p.title{font:bold 11px Arial; text-transform:uppercase; color:#999999; margin:0 0 5px 0;}
div#wide_container div.job div.data div.job_overview p.overview{font:normal 13px Arial; color:#333333; margin:0 0 10px 0;} 
div#wide_container div.job div.data div.job_overview p.overview a {font:bold 13px Arial; color:#006699; text-decoration:none;}
div#wide_container div.job div.data div.job_overview p.overview a:hover {color:#254C72; border-bottom:1px dotted #254C72; cursor:pointer;}


div#wide_container div.bottomJob {float:left; width:942px; height:59px; background:url(../images/jobs/bottom_job.png) no-repeat 0 top; margin:0 0 20px 0px;}
div#wide_container div.bottomJob p {float:left; font:normal 13px Arial; color:#666666; padding:25px 0px 0px 20px;}
div#wide_container div.bottomJob p a{text-decoration:none; color:#FF9900; font-weight:bold;}
div#wide_container div.bottomJob p a:hover {color:#FF6600;}


	/* upper area */
div.upper_area{width:940px; margin:0 auto;}
div.upper_area div.content {float:left; width:940px; background: url(../images/common/bigDottedMap.jpg) no-repeat 0 -60px; position:relative; padding:20px 0; margin:0; border:none;}
div.upper_area div.content div.left_sec{float:left; width:690px;}
div.upper_area div.content div.left_sec h1{float:left; position:relative; width:620px; font:bold 27px Arial; line-height:31px; color:#333333; padding:0; margin:0; letter-spacing:-2px;}
div.upper_area div.content div.left_sec p {float:left; width:auto; font:normal 13px Arial; color:#666666; margin:0; width:100%; margin:0 0 4px 0;}
div.upper_area div.content div.left_sec p a {border-bottom:1px solid #006699; color:#336699; text-decoration:none;}
div.upper_area div.content div.left_sec p a:hover {color:#254C72; border-bottom:1px dotted #254C72; cursor:pointer;}
div.upper_area div.content div.left_sec p span.protected{color:#326696; font:bold 9px Arial; padding:0 10px 0 12px; border-right:1px solid #999999; background:url(../images/common/marine.png) no-repeat 0 3px; line-height:8px;}
div.upper_area div.content div.left_sec p span.world{color:#339900; font:bold 9px Arial; padding:0 0 0 20px; background:url(../images/common/green_star.png) no-repeat 8px 1px; line-height:8px;}

div.upper_area div.content div#tabsC {position:absolute; bottom:-2px; right:-1px; float:right; font-size:12px; line-height:normal; color: #FFFFFF; width:420px; margin:0;}
div.upper_area div.content div#tabsC ul {margin:0; padding:0 0px 0 0; list-style:none;float:right; width:auto; list-style:none;}
div.upper_area div.content div#tabsC li {float:right; display:inline; margin:0; padding:0; text-align: center;}
div.upper_area div.content div#tabsC a { float:left; background:url(../images/common/tableftC.gif) no-repeat left top; margin:0; padding:0 2px 0 3px; text-decoration:none; font-weight:bold; color: white; width: 83px;}
div.upper_area div.content div#tabsC a span { float:left; display:block; background:url(../images/common/tabrightC.gif) no-repeat right top; padding: 5px 7px 5px 3px;}
div.upper_area div.content div#tabsC a span {float:none;}
div.upper_area div.content div#tabsC a:hover span {}
div.upper_area div.content div#tabsC a:hover { background-position:0% -24px; }
div.upper_area div.content div#tabsC a:hover span { background-position:100% -24px;}
div.upper_area div.content div#tabsC #green a { background:url(../images/common/tableftG.gif) no-repeat left top; width: 115px; padding:0 0 0 3px; margin:0;}
div.upper_area div.content div#tabsC #green a span {float:left; display:block; background:url(../images/common/tabrightG.gif) no-repeat right top; padding: 5px 10px 5px 5px; width: 100px;}
div.upper_area div.content div#tabsC #green a:hover span {}
div.upper_area div.content div#tabsC #green a:hover {background-position:0% -42px;}
div.upper_area div.content div#tabsC #green a:hover span {background-position:100% -42px;} 
div.upper_area div.content div#tabsC #currentTab a {background-position:0% -24px;}
div.upper_area div.content div#tabsC #currentTab a span {background-position:100% -24px;}

div.upper_area div.content div.right_sec {float:right; text-align:right; width:235px;}
div.upper_area div.content div.right_sec p {font:bold 13px Arial; color:#777777;}
div.upper_area div.content div.right_sec p a {text-decoration:none; color:#326696;}
div.upper_area div.content div.right_sec p a:hover {color:#254C72; border-bottom: 1px dotted #254C72;}

div.pa_map {position:relative; width:100%; float:left; margin:0; height:306px; border-top:2px solid #006699; border-bottom:2px solid #006699; z-index:100;}


	/* pa images */
div.left_container div.pa_images {position:relative; float:left; width:610px; margin:30px 0 0 1px;}
div.left_container div.pa_images div.pa_image {position:relative; float:left; width:189px; border:1px solid #cccccc; padding:3px; height:116px; margin: 0 9px 0 0; background:white;}
div.left_container div.pa_images div.pa_image.last {position:relative; float:left; width:189px; border:1px solid #cccccc; padding:3px; height:116px; margin:0; background:white;}
div.left_container div.pa_images div div {position:relative; overflow:hidden; width:100%; height:116px;}
div.left_container div.pa_images div span.shadow {position:absolute; bottom:-6px; left:0; right:0; width:197px; height:5px; background:url(../images/site/pa_images_shadow.jpg) no-repeat 0 0;}

	/* wikipedia */
div.left_container div.wikipedia {float:left; position:relative; width:578px; padding:10px 15px; border:1px solid #CCCCCC; border-bottom:none; background:#FFFFFF; margin:30px 0 0 0; overflow:hidden; clear:both;}
div.left_container div.wikipedia a.wikipedia_submit_images {position:absolute; top:12px; right:15px; font:bold 13px Arial; color:#FF9900; text-decoration:none;}
div.left_container div.wikipedia a.wikipedia_submit_images:hover {color:#FF6600}
div.left_container div.wikipedia h3 {float:left; width:100%; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.left_container div.wikipedia p {float:left; width:100%; font:normal 13px Arial; color:#666666; padding:0; line-height:19px; margin:10px 0;}
div.left_container div.wikipedia p a{font:bold 13px Arial; color:#006699; text-decoration:none;}
div.left_container div.wikipedia p a:hover {color:#254C72; border-bottom: 1px dotted #254C72;}
div.left_container div.wikipedia p a.more{font:normal 13px Arial; color:#006699; border-bottom:1px solid #006699; text-decoration:none;}
div.left_container div.wikipedia p a.more:hover {color:#254C72; border-bottom:1px dotted #254C72;}

div.left_container div.bottomWikipedia {float:left; width:580px; padding:22px 15px 9px; height:25px; background:url(../images/site/bottomWikipedia2.png) no-repeat 0 top; margin:0;}
div.left_container div.bottomWikipedia p b{font:normal 13px Arial; color:#999999;}
div.left_container div.bottomWikipedia p a{text-decoration:none; color:#FEB13E; font-weight:bold;}
div.left_container div.bottomWikipedia p a:hover {color:#FF6600;}


	/* points of interest */
div.left_container div.interestPoint {float:left; position:relative; width:610px; margin:28px 0 0 0;}
div.left_container div.interestPoint ul {list-style:none; margin:0; padding:0;}
div.left_container div.interestPoint h3{float:left; width:610px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.left_container div.interestPoint div.interestBox {position:relative; float:left; width:197px; height:173px; background:#CCCCCC; margin:12px 9px 0 0;}
div.left_container div.interestPoint div.interestBox.last {margin:12px 0 0;}
div.left_container div.interestPoint div.interestBox div.bottomData {position:absolute; bottom:0; left:0; right:0; height:58px; background:url(../images/site/pointBottom.png) no-repeat 0 0;}
div.left_container div.interestPoint div.interestBox:hover {cursor:pointer;}
div.left_container div.interestPoint div.interestBox div.image {float:left; width:197px; height:124px; background-position:-10px -10px; background-repeat:no-repeat;}
div.left_container div.interestPoint div.interestBox:hover div.image {border:3px solid #FF0066; border-bottom:none; width:191px; height:122px; background-position:-13px -13px;}
div.left_container div.interestPoint div.interestBox div.bottomData a {color:white;text-decoration:none;}
div.left_container div.interestPoint div.interestBox:hover div.bottomData{background:url(../images/site/pointBottom.png) no-repeat 0 -58px;}
div.left_container div.interestPoint div.interestBox div.bottomData p.description {float:left; margin:15px 0 0 14px; width:auto; padding:2px 0 0 16px; background:url(../images/common/heartInterest.png) no-repeat 0 5px;}
div.left_container div.interestPoint div.interestBox div.bottomData p.description a{font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.left_container div.interestPoint div.interestBox div.bottomData p.submitted {float:left; margin:0 0 0 15px; font:normal 11px Arial; color:#939393; width:160px; padding:0 0 0 16px; background:none;}
div.left_container div.interestPoint div.interestBox:hover div.bottomData p.submitted {color:#CFC0C6;}
div.left_container div.interestPoint div.interestBox div.bottomData p.submitted a{text-decoration:underline; color:#FFFFFF;}
div.left_container div.interestPoint div.interestBox div.bottomData p.submitted a:hover {text-decoration:underline; color:#F7f7f7;}


	/* related protected areas */
div.left_container div.relatedAreas {float:left; width:610px; padding:0 0 60px 0;}
div.left_container div.relatedAreas ul {list-style:none; margin:0; padding:0;}
div.left_container div.relatedAreas h3{float:left; width:610px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.left_container div.relatedAreas div.relatedBox {position:relative; float:left; width:197px; height:173px; background:#CCCCCC; margin:12px 9px 0 0;}
div.left_container div.relatedAreas div.relatedBox.last {margin:12px 0 0;}
div.left_container div.relatedAreas div.relatedBox div.bottomData {position:absolute; bottom:0; left:0; right:0; height:59px; background:url(../images/site/relatedBottom.png) no-repeat 0 0;}
div.left_container div.relatedAreas div.relatedBox:hover {cursor:pointer;}
div.left_container div.relatedAreas div.relatedBox div.image {float:left; width:197px; height:124px; background-position:0 0; background-repeat:no-repeat;}
div.left_container div.relatedAreas div.relatedBox:hover div.image {border:3px solid #254C72; border-bottom:none; width:191px; height:122px; background-position:-3px -3px;}
div.left_container div.relatedAreas div.relatedBox:hover div.bottomData{background:url(../images/site/relatedBottom.png) no-repeat 0 -59px;}
div.left_container div.relatedAreas div.relatedBox div.bottomData p.description {float:left; margin:15px 0 0 13px; width:auto; padding:2px 0 0 16px; background:url(../images/common/arrowRelated.png) no-repeat 0 2px;}
div.left_container div.relatedAreas div.relatedBox div.bottomData p.description a{font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.left_container div.relatedAreas div.relatedBox:hover div.bottomData p.description {background:url(../images/common/arrowRelated.png) no-repeat 0 -15px;}
div.left_container div.relatedAreas div.relatedBox div.bottomData p.submitted {float:left; margin:0 0 0 15px; font:normal 11px Arial; color:#719FB5; width:auto; padding:0 0 0 16px; background:none;}
div.left_container div.relatedAreas div.relatedBox:hover div.bottomData p.submitted {color:#7787A7;}
div.left_container div.relatedAreas div.relatedBox div.relatedToolTipBack {position:absolute; background: url(../images/common/marker.png) left top no-repeat; width:80px; height:80px; left:58px; top:22px;}
div.left_container div.relatedAreas div.relatedBox div.relatedToolTipImage {position:absolute; width:50px; height:50px; overflow:hidden; top: 34px; left:73px;}

	/* pa edit container */
div.right_container div.protected_area{position:relative; float:left; width:285px; border:1px solid #cccccc; background:#E0F0F9; padding:8px 12px 13px; margin:30px 0 0 0;}
div.right_container div.protected_area div.completed {position:absolute; background: url(../images/site/completed.gif) no-repeat right center; text-align:right; height:30px; right:-8px; top:5px; bottom:0; z-index:100;}
div.right_container div.protected_area div.completed p {padding:7px 5px 0 5px; line-height:13px; letter-spacing:0px; font-weight:bold; font-size:10px;font-family:Arial;text-align:right;color:white; width:auto;}
div.right_container div.protected_area h3{position:relative; float:left; width:285px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; margin:2px 0 0 0; letter-spacing:-1px;}
div.right_container div.protected_area ul{position:relative; float:left; width:295px; list-style:none; padding:5px 0 0 0; overflow:hidden;}
div.right_container div.protected_area ul span{position:relative; float:left; width:295px; margin:0; padding:0;}
div.right_container div.protected_area ul a {color:#666666;}
div.right_container div.protected_area li{ position:relative; float:left; width:255px; font-size:12px; line-height:14px; color:#666666;}
div.right_container div.protected_area li strong{float:left; width:230px; font-weight:bold; font-size:10px; text-transform:uppercase}
div.right_container div.protected_area li span{float:left; width:230px;}
div.right_container div.protected_area li small{float:right; width:auto; padding-top:11px;}
div.right_container div.protected_area li img{float:left;}
div.right_container div.protected_area li .up{float:left; width:269px; padding:5px 9px 6px 7px;}
div.right_container div.protected_area li .down{float:left; width:269px; padding:5px 9px 6px 7px; background:#CEE2EF}
div.right_container div.protected_area li .conflict{background-image:url(../images/sites/layer_conflict_data.png); font-size:12px; color:#333333;} 
div.right_container div.protected_area li .conflict strong {float:left; width:230px; font-weight:bold; font-size:10px; text-transform:uppercase}
div.right_container div.protected_area li .conflict span{float:left; width:230px;}
div.right_container div.protected_area li a.what_is_this {position:relative; font:normal 11px Arial; color:#FF9900; text-decoration:underline; margin:0 0 0 3px;}
div.right_container div.protected_area li a.what_is_this:hover{color:#C64819;}

div.right_container div.protected_area div.edit_bottom {float:left; width:285px; border-top:1px solid #cccccc; padding:10px 0 0 0;}
div.right_container div.protected_area div.edit_bottom span {float:left; padding:0 9px 0 0; border-right:1px solid #e1dbc7;}
div.right_container div.protected_area div.edit_bottom span.gaps {padding:0 9px 0 9px;}
div.right_container div.protected_area div.edit_bottom span.edit_button {float:right; padding:0 0 0 0; border:none;}
div.right_container div.protected_area div.edit_bottom span.edit_button a {float:left; text-decoration:none; font:bold 15px Arial; color:#FFFFFF; background:url(../images/site/edit_button.png) no-repeat 0 0; width:121px; text-align:center; height:17px; padding:10px 0;}
div.right_container div.protected_area div.edit_bottom span.edit_button a:hover {background-position:0 -37px;}
div.right_container div.protected_area div.edit_bottom span p {font:bold 29px Arial; color:#FF9900; letter-spacing:-1px; padding:0; margin:0; line-height:22px;}
div.right_container div.protected_area div.edit_bottom span small {font:bold 13px Arial; color:#FF9900; letter-spacing:0px; padding:0; margin:0;}

div.right_container div.view_more{float:right; background:url(../images/site/viewMore.png) no-repeat right -9px; height:16px;width:92px; margin:0 1px 0 0;}
div.right_container div.view_more:hover {background:url(../images/site/viewMore.png) no-repeat right -44px; cursor:pointer;}
div.right_container div.view_more a{float:left; width:auto; background:url(../images/common/viewMoreArrows.png) no-repeat 24px 4px; font:bold 10px Arial; color:#FFFFFF; text-decoration:none; margin:0; padding:1px 0 0 36px;}
div.right_container div.view_more:hover a{text-decoration:underline;}


	/* biodiversity */
div.right_container div.biodiversity {position:relative; float:left; width:311px; margin:30px 0 0; height:212px; overflow:hidden;}
div.right_container div.biodiversity h3 {float:left; width:100%; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.right_container div.biodiversity div#biodiversity_map {float:left; width:311px; margin:12px 0 0 0; padding:0; height:126px;}
div.right_container div.biodiversity div.bottom_data {position:absolute; width:311px; height:58px; bottom:0; left:0; right:0; background:url(../images/site/biodiversity_bkg.png) no-repeat 0 0;}
div.right_container div.biodiversity div.bottom_data div.zooms {float:left; width:20px; margin:16px 0 0 14px;}
div.right_container div.biodiversity div.bottom_data div.zooms a#zoomin_biodiversity {float:left; width:14px; height:14px; background:url(../images/site/biodiversity_zoomin.png) no-repeat 0 0; margin:0 0 4px 0;}
div.right_container div.biodiversity div.bottom_data div.zooms a#zoomin_biodiversity:hover {background-position: 0 -14px;}
div.right_container div.biodiversity div.bottom_data div.zooms a#zoomout_biodiversity {float:left; width:14px; height:14px; background:url(../images/site/biodiversity_zoomout.png) no-repeat 0 0;}
div.right_container div.biodiversity div.bottom_data div.zooms a#zoomout_biodiversity:hover {background-position: 0 -14px;}
div.right_container div.biodiversity div.bottom_data div.data {float:right; width:200px; margin:16px 10px 0 0;}
div.right_container div.biodiversity div.bottom_data div.data a {float:right; width:36px; margin:0 0 0 8px;}
div.right_container div.biodiversity div.bottom_data div.data p {float:right; width:150px; padding:3px 0 0 0; text-align:right; color:white;}
div.right_container div.biodiversity div.bottom_data div.data p a {float:none; width:auto; margin:0; padding:0; color:#39b553; text-decoration:none;}
div.right_container div.biodiversity div.bottom_data div.data p a:hover {color:#ff6600;}

	/* external links */
div.right_container div.externalLinks {float:left; width:311px; margin:40px 0 0 0;}
div.right_container div.externalLinks h3 {float:left; width:100%; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.right_container div.externalLinks ul {float:left; width:311px; margin:8px 0 0 0; list-style: none;}
div.right_container div.externalLinks ul li {float:left; width:311px; margin:0; margin:1px 0 1px; line-height:18px; color:#006699;}
div.right_container div.externalLinks ul li a {font:bold 13px Arial; color:#006699; text-decoration:none;}
div.right_container div.externalLinks ul li a:hover {color:#254C72; text-decoration:none; border-bottom:1px dotted #254C72;}






/* ---------- REGION ---------- */

div.left_container div.lastest_news {float:left; position:relative; width:610px; margin:25px 0 0;}
div.left_container div.lastest_news h3{float:left; width:610px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.left_container div.lastest_news ul {float:left; list-style:none; width:610px; margin:0; padding:0;}
div.left_container div.lastest_news ul li {float:left; width:610px; padding:0; margin:0;}
div.left_container div.lastest_news ul li div.new {position:relative; float:left; width:169px; height:168px; margin:20px 9px 0 0; padding:15px 13px; border:1px solid #CCCCCC; background: white;}
div.left_container div.lastest_news ul li div.new h4 {font:bold 19px Arial; color:#006699; letter-spacing:-1px; line-height:18px;}
div.left_container div.lastest_news ul li div.new p.text {font:normal 13px Arial; color:#666666; padding:12px 0 0 0;}
div.left_container div.lastest_news ul li div.new p.text a {font:bold 13px Arial; color:#006699; text-decoration:none;}
div.left_container div.lastest_news ul li div.new p.text a:hover {color:#254C72; border-bottom:1px dotted #254C72;}
div.left_container div.lastest_news ul li div div.bottomData {position:absolute; bottom:0; left:0; height:38px; width:185px; padding:20px 0 0 10px; background:url(../images/region/bottom_data.png) no-repeat -1px 0;}
div.left_container div.lastest_news ul li div div.bottomData p {float:left; font:normal 11px Arial; color:#999999; }
div.left_container div.lastest_news ul li div div.bottomData p a {font:bold 11px Arial; color:#006699; text-decoration:none;}
div.left_container div.lastest_news ul li div div.bottomData p a:hover {color:#254C72; border-bottom:1px dotted #254C72;}
div.left_container div.lastest_news ul li div.twitter {position:relative; float:left; width:195px; height:198px; margin:20px 0 0 0; border:1px solid #CCCCCC; background: url(../images/region/twitter.png) no-repeat 107px 130px white; padding:0;}
div.left_container div.lastest_news ul li div.twitter p.text {font:normal 13px Arial; color:#666666; padding:15px 13px; letter-spacing:1px; line-height:15px;}
div.left_container div.lastest_news ul li div.twitter a.twitter_user {font:bold 13px Arial; color:#006699; text-decoration:none;}
div.left_container div.lastest_news ul li div.twitter a.twitter_user:hover {color:#254C72; border-bottom:1px dotted #254C72;}
div.left_container div.lastest_news ul li div.twitter p.ago {position:absolute; bottom:10px; left:10px; right:0; font:normal 13px Arial; color:#999999;}
div.left_container div.lastest_news ul li div.twitter p.ago a {font:bold 13px Arial; color:#006699; text-decoration:none;}
div.left_container div.lastest_news ul li div.twitter p.ago a:hover {color:#254C72; border-bottom:1px dotted #254C72;}


div.right_container div.how_looks {float:left; width:308px; margin:25px 0 10px; position:relative;}
div.right_container div.how_looks h3 {float:left; width:308px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.right_container div.how_looks div.video {position:relative; float:left; width:308px; margin:20px 0 0 0; padding:0; background:url(../images/region/video.png) no-repeat 0 0; height:200px;}
div.right_container div.how_looks div.video div.bottom_data{position:absolute; left:0; bottom:0; width:298px; margin:0; padding:17px 0 0 10px; background:url(../images/region/video_bottom.png) no-repeat 0 0; height:41px;}
div.right_container div.how_looks div.video div.bottom_data p {font:bold 13px Arial; color:#FFFFFF;}
div.right_container div.how_looks div.video div.bottom_data p small {font:bold 11px Arial; color:#999999;}
div.right_container div.how_looks div.view_other {width:308px; margin:0px 0 5px 0; padding:0 0 5px 0; position:absolute; top:245px; right:0px; }
div.right_container div.how_looks div.view_other p {float:right; margin:8px 0 0 0;}
div.right_container div.how_looks div.view_other p.image_others {background:url(../images/region/view_other.png) no-repeat 67px 0px; padding:0 20px 0 0;}
div.right_container div.how_looks div.view_other p a {font:bold 13px Arial; color:#006699; float:right; text-decoration:none;}
div.right_container div.how_looks div.view_other p a:hover {color:#254C72; border-bottom:1px dotted #254C72; cursor:pointer;}
div.right_container div.biodiversity_country {float:left; width:312px; margin:20px 0 0;}
div.right_container div.biodiversity_country h3 {float:left; width:312px; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding: 0 0 4px; letter-spacing:-1px;}
div.right_container div.biodiversity_country div.flash {float:left; width:100%; margin:12px 0 0 0; padding:0;}


div#wide_container {margin:0 auto; width:940px; padding:0;}
div#wide_container div.wikipedia_countries {float:left; width:938px; padding:0; border:1px solid #CCCCCC; border-bottom:none; background:#FFFFFF; margin:45px 0 0 0; overflow:hidden; height:300px;}
div#wide_container div.wikipedia_countries div.characteristic {float:left; width:595px; padding:10px 15px;}
div#wide_container div.wikipedia_countries div.characteristic h3 {font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding:0 0 4px; letter-spacing:-1px;}
div#wide_container div.wikipedia_countries div.characteristic p {float:left; width:100%; font:normal 13px Arial; color:#666666; padding:0; line-height:19px; margin:10px 0;}
div#wide_container div.wikipedia_countries div.characteristic p a{font:13px Arial; color:#006699; text-decoration:none;}
div#wide_container div.wikipedia_countries div.characteristic p a:hover {color:#254C72; border-bottom: 1px dotted #254C72;}
div#wide_container div.wikipedia_countries div.characteristic p a.more{font:normal 13px Arial; color:#006699; border-bottom:1px solid #006699; text-decoration:none;}
div#wide_container div.wikipedia_countries div.characteristic p a.more:hover {color:#254C72; border-bottom:1px dotted #254C72;}
div#wide_container div.wikipedia_countries div.other_links {float:right; width:280px; margin:15px 12px 10px 10px;}
div#wide_container div.wikipedia_countries div.other_links h3 {float:left; width:280px; font:bold 13px Arial; color:#666666; border-bottom:1px solid #c6c6c6; text-transform:uppercase; padding:3px 0 4px;}
div#wide_container div.wikipedia_countries div.other_links ul {float:left; width:280px; margin:8px 0 0 0; list-style: none;}
div#wide_container div.wikipedia_countries div.other_links ul li {float:left; width:100%; margin:0; margin:2px 0 5px 0px; line-height:18px; color:#006699;}
div#wide_container div.wikipedia_countries div.other_links ul li p {padding: 0 0 0 23px;}
div#wide_container div.wikipedia_countries div.other_links ul li p.link {background:url(../images/region/link_element.png) no-repeat;}
div#wide_container div.wikipedia_countries div.other_links ul li p.audio {background:url(../images/region/audio_element.png) no-repeat 0 2px;}
div#wide_container div.wikipedia_countries div.other_links ul li p a {font:bold 13px Arial; color:#006699; text-decoration:none;}
div#wide_container div.wikipedia_countries div.other_links ul li p a:hover {color:#254C72; text-decoration:none; border-bottom:1px dotted #254C72;}
div#wide_container div.wikipedia_countries div.other_links ul li p small.podcast a {font:normal 11px Arial; color:#999999; text-decoration:none; padding:0 auto; margin: 0 0 0 5px;}
div#wide_container div.wikipedia_countries div.other_links ul li p small.podcast a:hover {color:#333333; text-decoration:none; border-bottom:1px dotted #254C72;}
div#wide_container div.bottomWikipedia {float:left; width:940px; height:61px; background:url(../images/region/bottom_characteristics.png) no-repeat 0 bottom; margin:0 0 20px 0;}
div#wide_container div.bottomWikipedia p {float:left; font:normal 13px Arial; color:#666666; padding:17px 0px 0px 15px;}
div#wide_container div.bottomWikipedia p a{text-decoration:none; color:#FF9900; font-weight:bold;}
div#wide_container div.bottomWikipedia p a:hover {color:#FF6600;}

	/* region coordinator */
div.right_container div.coordinator {float:left; width:311px; margin:26px 0 0 0;}
div.right_container div.coordinator h3 {float:left; width:100%; font:bold 19px Arial; color:#333333; border-bottom:1px solid #c6c6c6; padding-bottom:4px; letter-spacing:-1px;}
div.right_container div.coordinator div.avatar {float:left; width:65px; margin:12px 0 0 0;}
div.right_container div.coordinator div.avatar img {padding:3px; border:1px solid #cccccc; background:white; width:47px; height:47px;}
div.right_container div.coordinator div.coordinator_information {float:left; width:240px; margin:14px 0 0 0;}
div.right_container div.coordinator div.coordinator_information p {font:normal 13px Arial; color:#333333;}
div.right_container div.coordinator div.coordinator_information p a {text-decoration:none; color:#006699; border-bottom: 1px solid #006699;}
div.right_container div.coordinator div.coordinator_information p a:hover {color:#254C72; border-bottom: 1px dotted #254C72;}
div.right_container div.coordinator div.bottom_information {float:left; width:311px; margin:5px 0 0 0;}
div.right_container div.coordinator div.bottom_information p {font:normal 13px Arial; color:#666666;}
 



/* SHARE SOCIAL MEDIA */

div#share_horizontal {float:left; width:100%; height: 51px; background:#B8CC8F; border-top:1px solid #A8B294; border-bottom:1px solid #999999;}
div#share_horizontal div.participate {margin:3px auto; width:961px; padding-top:5px; position:relative;}

div#share_horizontal div.participate img{position:absolute; top:-17px; width:39px; height:16px; left:2px;}

div#share_horizontal div.participate div.download {float:left; width:170px; padding-left:10px;} 
div#share_horizontal div.participate div.download p {float:none; font:normal 13px Arial; color:#78855D; width:300px; margin:0px 0px 0px 0px;}
div#share_horizontal div.participate div.download a {float:left; font:normal 11px; color:#B8CC8E; font: Arial; background:url(../images/common/button_download_left.png) no-repeat left top; text-decoration:none; margin:3px 0 0; padding:0px 5px 0 4px; height:16px;}
div#share_horizontal div.participate div.download a span {float:left; display:block; background:url(../images/common/button_download_right.png) no-repeat right top; height:15px; padding: 1px 4px 0px 0px; line-height:14px;}
div#share_horizontal div.participate div.download a:hover {background-position: 0 -16px;}
div#share_horizontal div.participate div.download a:hover span{background-position: right -16px;}

div#share_horizontal div.participate div.line {float:left; width:1px; height:32px; background:url(../images/common/divide_line.png)}
div#share_horizontal div.participate div.upload {float:left; width:150px; padding-left:10px;} 
div#share_horizontal div.participate div.upload p {float:none; font:normal 13px Arial; color:#78855D; width:300px; margin:0px 0px 0px 0px;}
div#share_horizontal div.participate div.upload a {float:left; font:normal 11px; color:#B8CC8E; font: Arial; background:url(../images/common/button_download_left.png) no-repeat left top; text-decoration:none; margin:3px 0 0; padding:0px 5px 0 4px; height:16px;} 
div#share_horizontal div.participate div.upload a span {float:left; display:block; background:url(../images/common/button_download_right.png) no-repeat right top; height:15px; padding: 1px 4px 0px 0px; line-height:14px;}
div#share_horizontal div.participate div.upload a:hover {background-position: 0 -16px;}
div#share_horizontal div.participate div.upload a:hover span{background-position: right -16px;}

div#share_horizontal div.participate div.share {float:right; width:312px;}
div#share_horizontal div.participate div.share p {float:left; font:normal 13px Arial; color:#78855D; width:300px;}
div#share_horizontal div.participate div.share a {float:left; width:16px; height:16px; padding:0 2px; margin:3px 0 0 0;}
div#share_horizontal div.participate div.share a.twitter {background:url(../images/common/twitter.png) no-repeat 0 0;}
div#share_horizontal div.participate div.share a.twitter:hover {background-position: 0 -16px;}
div#share_horizontal div.participate div.share a.facebook {background:url(../images/common/facebook.png) no-repeat 0 0;}
div#share_horizontal div.participate div.share a.facebook:hover {background-position: 0 -16px;}
div#share_horizontal div.participate div.share a.del {background:url(../images/common/del.png) no-repeat 0 0;}
div#share_horizontal div.participate div.share a.del:hover {background-position: 0 -16px;}
div#share_horizontal div.participate div.share a.digg {background:url(../images/common/digg.png) no-repeat 0 0;}
div#share_horizontal div.participate div.share a.digg:hover {background-position: 0 -16px;}




/* ---------- FOOTER ---------- */
#outer_footer{float:left; width:100%; background:#dddddd; border-top:1px solid #c3c3c3; margin:0;}
#footer{width:940px; padding:13px 0 0 10px; margin:0 auto;}
#footer p{float:left; width:300px; padding: 10px 0 60px 0; font:normal 12px Arial; color:#999999;}
#footer ul{float:right; width:auto; list-style:none; padding:10px 0 60px 0;}
#footer li{float:left; width:auto; font-size:12px; line-height:14px; font-weight:normal; color:#999999; background:url("../images/footer/footer_divider.gif") no-repeat 0 3px; padding:0 6px 0 9px}
#footer li.none{float:left; background:none; padding-left:0;}
#footer li a{color:#999999; text-decoration:none; font-weight:bold;}
#footer li a:hover{color:#666666;}

#footer div.powered{float:right; width:600px; padding:0 0 16px;}
#footer div.powered a{float:right;}
#footer div.powered a img{float:left; margin-right:10px; display:inline;}
#footer div.powered a img.last{float:left; margin-right:0; display:inline;}

