body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; color:#FFFFFF; background:#ECECEC}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}

div#outer_layout{float:left; width:100%;}
div#layout{margin:0 auto; width:699px;}

/* SIMPLEMODAL WiNDOW PREFS */
#simplemodal-overlay {background-color:#fff;}
#simplemodal-container {height:151px; width:574px; background:url(../images/modal_bkg.png) no-repeat 0 0; border:none; padding:30px; color:#666666;}
#simplemodal-container #basic-modal-content {padding:0;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-10px; right:-11px; cursor:pointer;}


/*MODAL WINDOWS*/
#iphone_modal {display:none;}
#iphone_modal h4 {font:bold 21px Arial; color:#333333;}
#iphone_modal p {font:normal 15px Arial; color:#333333; padding:22px 0 0 0;}
#iphone_modal p.distribute {font:normal 15px Arial; color:#333333; padding:10px 0 0 0;}
#iphone_modal p.distribute a {text-decoration:none; color:#FF9900; font-weight:bold;}
#iphone_modal p.distribute a:hover {border-bottom:1px solid #FF9900;}
#iphone_modal p.thanks {font:normal 15px Arial; color:#333333; padding:10px 0 0 0;}

#android_modal {display:none;}
#android_modal h4 {font:bold 21px Arial; color:#333333;}
#android_modal p {font:normal 15px Arial; color:#333333; padding:22px 0 0 0;}
#android_modal p.distribute {font:normal 15px Arial; color:#333333; padding:10px 0 0 0;}
#android_modal p.distribute a {text-decoration:none; color:#FF9900; font-weight:bold;}
#android_modal p.distribute a:hover {border-bottom:1px solid #FF9900;}
#android_modal p.thanks {font:normal 15px Arial; color:#333333; padding:10px 0 0 0;}

#error_map {display:none;}
#error_map h4 {font:bold 21px Arial; color:#333333;}
#error_map p {font:normal 15px Arial; color:#333333; padding:22px 0 0 0;}
#error_map p.cerrar {font:normal 12px Arial; color:#666666; padding:22px 0 0 0;}


div#header {width:100%; height:118px; background:#333333; color:#FFFFFF;}
div#header div {position:relative; margin:0 auto; width:699px; padding:0; height:118px;}
div#header div p {position:relative; margin:0 auto; padding:35px 0 0 0; width:699px; font:normal 15px Arial; color:#cccccc; line-height:18px;}
div#header div p a {text-decoration:none; color:#FFFFFF; border-bottom:1px solid #cccccc;}
div#header div p a:hover {border-bottom:1px dotted #ffffff;}
div#header div img.header_arrow {position:absolute; left:-14px; bottom:0; width:28px; height:14px;}

div#content {margin:50px auto 0; width:699px; position:relative;}
div#content div#map_canvas {position:relative; float:left; width:699px; border:1px solid #cccccc; border-right:none; border-left:none; padding:0; height:372px; margin:0;}
div#content img.otrobache {position:absolute; top:70px; left:-42px; width:191px; height:47px; margin:0; padding:0;}
div#content p {position:absolute; text-align:left; top:70px; left:185px; background:url(../images/left_blank.png) no-repeat 0 0; padding:13px 0 13px 5px; font:bold 18px Arial; color:#333333;}
div#content p span {background:url(../images/right_blank.png) no-repeat right 0; padding:13px 13px 13px 8px;}
div#content p span a {font-weight:bold; text-decoration:underline; color:#FF9900;}
div#content p span a:hover {color:#FF6633;}

div#container_faq {margin:0 auto; width:755px; padding:0;}
div#container_faq div.faq {float:left; background:url(../images/bkg_faq.png); margin:30px 0px 0 0px; padding:20px; width:715px;}
div#container_faq div.faq div.question p{font:bold 21px Arial; color:#333333; letter-spacing:-1.0px; text-align:left; padding:0; margin:0; width:100%;}
div#container_faq div.faq div.answer p{font:15px Arial; color:#666666; text-align:left; padding:0; margin:10px 0 0 0; width:100%; }
div#container_faq div.faq div.answer p a {font:15px Arial; color:#FF9900; text-align:left; text-decoration:none; border-bottom:1px solid #FF9900;}
div#container_faq div.faq div.answer p a:hover {border-bottom:1px dotted #FF9900;}



div#container {margin:0 auto; width:699px;}
div#container div.title {float:left; margin:50px 0 0 0; width:699px; padding:0 0 9px 0; border-bottom:1px solid #999999;}
div#container div.title h3 {float:left; font:bold 20px Arial; color:#333333;}
div#container div.title a {float:right; font:bold 13px Arial; color:#FF9900; padding:8px 0 0 15px; text-decoration:none; background:url(../images/plus.png) no-repeat 0 11px;}
div#container div.title a:hover {color:#FF6633; background-position: 0 -24px;}
div#container div.report_map {position:relative; float:left; margin:0; padding:0 18px; background:white; width:663px; border-bottom:none; overflow:hidden;}
div#container div.report_map a {font-weight:bold; color:#FF9900; text-decoration:none;}
div#container div.report_map a:hover {color:#FF6633;}
div#container div.report_map h2 {float:left; width:100%; font:normal 16px Arial; color:#666666; text-align:left; padding:18px 0;}
div#container div.report_map div#second_map { z-index:1; float:left; width:661px; height:248px; border:1px solid #cccccc; margin:0; padding:0;}
div#container div.report_map a#plus {position:absolute; width:30px; height:30px; padding:0; margin:0; top:73px; left:34px; z-index:100; background:url(../images/zoom_plus.png) no-repeat 0 0;}
div#container div.report_map a#plus:hover { background-position: 0 -30px; cursor:pointer;}
div#container div.report_map a#minus {position:absolute; width:30px; height:30px; padding:0; margin:0; top:108px; left:34px; z-index:100; background:url(../images/zoom_minus.png) no-repeat 0 0;}
div#container div.report_map a#minus:hover {background-position:0 -30px; cursor:pointer;}
div#container div.report_map span.add {position:absolute; width:338px; background:url(../images/add_point_bkg.png) no-repeat 0 0; height:35px; top:244px; left:34px; z-index:100; padding:6px;}
div#container div.report_map span.add input[type="text"] {float:left; width:238px; height:19px; padding:8px 10px; background:url(../images/add_text_bkg.png) no-repeat 0 0; border:none; font:normal 14px Arial; color:#999999;}
div#container div.report_map span.add input[type="text"]:focus {outline:none;}
div#container div.report_map span.add input[type="submit"] {float:left; width:79px; height:35px; background:url(../images/add_button.png) no-repeat 0 0; margin:0; padding:0; border:0;}
div#container div.report_map span.add input[type="submit"]:hover {background-position: 0 -35px; cursor:pointer;}
div#container div.report_map p {float:left; color:#999999; font:normal 13px Arial; padding:28px 0 0 0; margin:0; text-align:left; width:auto;}
div#container div.report_map a.report_button {float:right; width:180px; height:34px; margin:15px 0 0 0; background:url(../images/report_button.png) no-repeat 0 0;}
div#container div.report_map a.report_button:hover {background-position: 0 -34px; cursor:pointer;}
div#container div.report_map a#new_report {position:absolute; bottom:20px; right:20px; padding:0; margin:0;}
div#container div.report_map a.facebook {color:#003399; text-decoration:none;}
div#container div.report_map a.facebook:hover {border-bottom:1px solid #003399;}
div#container p {width:699px; text-align:center; float:left; padding:10px 0 0 0; margin:30px 0 0 0;}
div#container p.visualize {padding:10px 0 0 0; margin:10px 0 0 0; font:bold 13px Arial; color:#333333;}
div#container p.report {margin:0; padding:5px 0 0 0;}
div#container p a.view_more {float:left; margin:0 0 0 257px; width:182px; height:21px; text-decoration:none; font:normal 18px Arial; color:#FFFFFF; text-align:center; background:url(../images/view_more.png) no-repeat 0 0; text-align:center; padding:8px 0;}
div#container p a.view_more:hover { background-position: 0 -37px;}
div#container p a.report {margin:0; text-decoration:none; font:bold 13px Arial; color:#FF9900; text-align:center; background:none; padding:0; margin:0;}
div#container p a.report:hover {color:#FF6633;}

div#container div.baches {margin:0; padding:0; width:699px;}
div#container div.baches ul {float:left; margin:0; padding:0; list-style:none; text-align:left; width:699px;}
div#container div.baches ul li {float:left; margin:17px 0 0 0; padding:0 19px 16px 19px; width:195px; background:url(../images/list_bkg.png) no-repeat right 0;  border-bottom:1px solid #D3D3D3;}
div#container div.baches ul li.last {background:none;}
div#container div.baches ul li.first {float:left; padding:0 19px 16px 0; width:214px; background:url(../images/list_bkg.png) no-repeat right 0;}
div#container div.baches ul li div {float:left; margin:0 0 6px 0; padding:3px 0 0 0; width:100%;}
div#container div.baches ul li div p {float:left; text-align:left; width:100%; margin:0; padding:0;}
div#container div.baches ul li div p.ago {font:normal 11px Arial; color:#999999; padding:0 0 0 2px;}
div#container div.baches ul li div p.location {font:bold 15px Arial; color:#333333; padding:7px 0 0 2px;}
div#container div.baches ul li div p.number {font:normal 15px Arial; color:#333333; padding:2px 0 0 2px;}
div#container div.baches ul li div p.city {float:left; width:auto; background:url(../images/left_location.png) no-repeat 0 0; padding:0 0 0 3px; margin:3px 0 0 0; height:23px; font:bold 13px Arial; color:#333333;}
div#container div.baches ul li div p.city span {float:left; background:url(../images/right_location.png) no-repeat right 0; padding:4px 5px 5px 2px; height:14px;}
div#container div.baches ul li a {float:right; width:74px; height:22px; margin:0; padding:0; background:url(../images/confirm.png) no-repeat 0 0;}
div#container div.baches ul li p.loading {float:right; width:auto; height:20px; margin:0; padding:2px 20px 0 0; background:url(../images/ajax-loader-mini.gif) no-repeat right 0; color:#999999;}
div#container div.baches ul li p.done {float:right; width:auto; height:20px; margin:0; padding:2px 0 0; background:none; color:#999999;}
div#container div.baches ul li a:hover {background-position: 0 -22px; cursor:pointer;}

div#footer {margin:0 auto; width:755px;}
div#footer div.iphone {float:left; margin:50px 0 0 0; padding:23px 17px 0 17px; width:715px; background:url(../images/footer.png) no-repeat 0 0; height:157px;}

div#footer div.iphone div.data {float:left; padding:0; margin:0; width:414px;}
div#footer div.iphone div.data h2 {float:left; font:bold 22px Arial; color:#333333; width:600px; text-align:left; padding:0 0 0 8px;}
div#footer div.iphone div.data p {float:left; margin:5px 0 0 0; font:normal 17px Arial; color:#666666; width:409px; text-align:left; padding:0 0 0 8px; line-height:19px;}
div#footer div.iphone div.data a {float:left; width:164px; height:38px; text-align:center; background:url(../images/iphone_download.png) no-repeat 0 0; margin:14px 0 0 4px;}
div#footer div.iphone div.data a.iphone {background:url(../images/iphone_button.png) no-repeat 0 0; padding:0;}
div#footer div.iphone div.data a.iphone:hover {background-position: 0 -38px;}
div#footer div.iphone div.data a.android {background:url(../images/android_button.png) no-repeat 0 0; padding:0;}
div#footer div.iphone div.data a.android:hover {background-position: 0 -38px;}


div#footer p {float:left; font:normal 13px Arial; color:#999999; padding:50px 5px 50px 10px;}
div#footer p a {text-decoration:none; color:#999999;}
div#footer p a:hover {text-decoration:underline;}

div#footer div.share a {float:left; width:16px; height:16px; padding:0 2px; margin:50px 0 0 0;}
div#footer div.share a.twitter {background:url(../images/twitter.png) no-repeat 0 0;}
div#footer div.share a.twitter:hover {background-position: 0 -16px;}
div#footer div.share a.facebook {background:url(../images/facebook.png) no-repeat 0 0;}
div#footer div.share a.facebook:hover {background-position: 0 -16px;}
div#footer div.share a.del {background:url(../images/del.png) no-repeat 0 0;}
div#footer div.share a.del:hover {background-position: 0 -16px;}
div#footer div.share a.digg {background:url(../images/digg.png) no-repeat 0 0;}
div#footer div.share a.digg:hover {background-position: 0 -16px;}