<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>SmoothRaster</title>
    <meta name="description" content="SmoothRaster">
</head>
<body>
    <form action="http://mol.colorado.edu/birdrep/tiling/upload" enctype="multipart/form-data"
    method="post">
    <h2>Large File Upload Test</h2>
    File1: <input name="dist" type="file" />
    <input name="pubkey" type="hidden" value="mol890998til22"/>
    <input type="submit" />
    </form>
    <p style="position:relative;">
        <img style="position: absolute; float:left" src="/static/images/staticmap.png">
        <img style="position: absolute; float:left" src="http://raster-server-private-tiles.commondatastorage.googleapis.com/1-0-5bc4cee7-cdc7-4601-8c81-a0dd58a25765/z0/0/0.png">
    
    </p>
</body>
</html>
