<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>SmoothRaster</title>
    <meta name="description" content="SmoothRaster">
</head>
<body>
    <form action="http://mol.colorado.edu/birdrep/tiling/upload_90351Y" enctype="multipart/form-data"
    method="post">
    <h2>Large File Upload Test</h2>
    File1: <input name="geotiff" type="file" />
    <input name="pubkey" type="hidden" value="mol890998til22"/>
    <input name="k" type="hidden" value="{{k}}"/>
    <input type="submit" />
    </form>
</body>
</html>
