<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head lang="en" xml:lang="en"> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<title></title> 
		<meta name="description" content=""> 
		<meta name="keywords" content=""> 
		
		<!-- STYLESHEETS --> 
		<link href="stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" /> 
	</head>
	
	<body>	
		
		<!-- THIS HTML IS TO PREPARE THE MODAL WINDOW. IT'LL BE MOVED TO HOME.HTML -->
		<div id="upload_modal_window">
			<div class="header_progress">
				<h1>We are uploading your model...</h1>
			</div>
			<div class="content">
				<div class="message">
					<h2>Meanwhile, you can start adding details about your model and how did you process it</h2>
				</div>
				<form>
					<p class="title">SPECIES TAXONOMIC NAME</p>
					<input type="text" class="taxon_name" />
					
					<p class="title">YEAR</p>
					<input type="text" class="year" />
					
					<p class="title">AUTHOR(s)</p>
					<input type="text" style="width:493px; height:28px;"/>
					
					<p class="title">PROGRAM</p>
					<input type="text" style="width:493px; height:28px;"/>

					<p class="title">SHORT DESCRIPTION</p>
					<input type="text" style="width:493px; height:28px;"/>

					<p class="title">DETAILS</p>
					<input type="text" style="width:493px; height:78px;"/>
					
					<p class="title">TAGS</p>
					<input type="text" style="width:258px; height:28px;"/>
					
					<input type="submit" value="See model"/>
					
				</form>
			</div>
		</div>
	
	</body> 
</html> 
 
 
