/* HEADER */
.header{
	height: 100px;
	background-color: #ccffcc;
}

.header div.logo{
	background-image: url(/images/logo.gif);
	background-repeat: no-repeat;
	height: 49px;
	width: 147px;
	margin-left: 15px;
}

.header div.headerTitle{
	width: 600px;
}

.header div.headerTitle p{
	font-size: 21px;
	font-family: Verdana;
	font-weight: bold;
	margin-left: 15px;
}

.color1{ color: #000000; }
.color2{ color: #003300; }
.color3{ color: #006600; }

.comboIdioma{
	float: right;
	margin: 0;padding: 0;
	margin-top: -76px;
}

/* FOOTER */
.footer{
	height: 50px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.footer p{
	text-align: center;
	padding: 0;
	margin: 0;
	color: #006600;
}

.footer a{
	color: #669933;
}

/* CONTENT */

.content{
	padding: 0; margin: 0;
	height: auto;
}

.content p{
	padding: 0; margin: 0;
}

.titleIndex{
	color: #006633;
	font-size: 17px;
	padding: 0; margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news-body{
	padding: 0; margin: 0;
}

.news-body p.texto_intro{
	color: #666666;
	margin-bottom: 6px;
}

.news-body p.info{
	color: #006633;
}

.news-body p.texto_intro a{
	color: #336699;
	text-decoration: none;
}

.news-body p.texto_intro a:hover{
	color: #006633;
}

.news-body p.subheader{
	color: #999999;
	margin-bottom: 6px;
}

.news-body p.subheader b{
	color: #666666;
}

.news-body a.link_bd{
	color: #336699;
	font-size: 17px;
	text-decoration: none;
	font-weight: bold;

}

.news-body a.link_bd:hover{
	color: #006633;
}

/* home */



/* qeury */

.search-1 {
	display: block;
	float: left;
	margin-right: 2em;
}

.search-2 {
	display: block;
	float: left;
}

.buscador {
	background: #a0fda0;
	padding: 1em;
}

.news-digg {
	float: left;
}

.shade-1 { background-image: url(/images/notification.gif); background-repeat: no-repeat; width: 87px; height: 87px; margin: 0; padding: 0; text-align: center;}
.shade-1 p{margin-top: 16px;}
.shade-1 a { color: #93883F; text-decoration: none; font-size: 15px; font-weight: bold;}
.shade-1 strong { color: #A39A5D; }

.trobats{
	margin-top: 10px;
}

.trobats p{
	font-size: 16px;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* sheet result */

.result{
 	margin: 0; padding: 0;
	width: 830px;
	height: 100px;
}

.result p{
	color: #336699;
}

.result a{
 	color: #003366;
 	text-decoration: none;
 	font-size: 17px;
 	font-weight: bold;
}

.result a:hover{
 	color: #006633;
}

.news-details{
	color: #666666;
}

.containerResult{
	margin: 0; padding: 0;
	margin-bottom: 10px;
	height: 110px;
}

/* taxon result */

.shade-1Taxon { background-image: url(/images/notification2.gif); background-repeat: no-repeat; width: 160px; height: 60px; margin: 0; padding: 0; text-align: center;}
.shade-1Taxon p{margin-top: 18px;}
.shade-1Taxon a { color: #93883F; text-decoration: none; font-size: 13px; font-weight: bold;}
.shade-1Taxon strong { color: #A39A5D; }

.Map{
	width: 948px;
	height: 300px;
	border: 1px solid #999999;
}

.MapResult{
	width: 500px;
	height: 200px;
	border: 1px solid #999999;
	float: right;
}

.resultTaxon{
 	margin: 0; padding: 0;
	width: 780px;
	height: 100px;
	margin-bottom: 10px;
}

.resultTaxon a{
 	color: #003366;
 	text-decoration: none;
 	font-size: 17px;
 	font-weight: bold;
}

.resultTaxon a:hover{
 	color: #006633;
}

.containerResultTaxon{
	margin: 0; padding: 0;
	margin-bottom: 20px;
	height: 60px;
}


.button {
    background-image: url('/images/button.gif') no-repeat scroll top left;
    color: #444;
    float: left;
    display: block;
    font: normal 12px arial, sans-serif;
    height: 24px;
    width: 100px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
}

.topmargin{
	margin-top: 10px;
	margin-left: 32px;
}

.pliego{
	margin-left: 100px;
}

.pliego p{
	color: #666666;
	margin-bottom: 1px;
}

.pliego p.title{
	color: #336699;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1px;
}

.resultPliegoContainer{
	height: 100px;
}