div.registerWindow {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

div.conditions {
	background-color: #336699;
	margin-left: -20px;
	margin-right: -20px;
	font-family: Arial;
	color: white;
	font-size: 11px;
	width: 500px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
}

input.textInputRegister {
	height: 20px;
	width: 225px;
	-moz-border-radius: 15px;
	background-image: url(../img/topLeft.jpg) top left;
}

div.inputBox {
	margin-bottom: 10px;
}

h2.registerTitle {
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
	letter-spacing: -1px;
}