.comboboxContainer {height: 22px;margin-left: -15px; background-color: #FFFFFF;overflow: hidden;padding-left: 10px;font-size: 11px;line-height: 20px;}
.comboboxValueContainer{ overflow: hidden;}
.comboboxValueContent{ padding-left: 10px; font-size: 11px;}

.comboboxDropDownContainer{ margin-left: -1px; border-right: solid 1px #ddd;border-bottom: solid 1px #ddd;border-left: solid 1px #ddd;background: #fff;overflow: hidden;padding-left: 5px;	-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px;padding-right: 10px;}

.comboboxDropDownButton{ width: 16px; height: 18px; background-image: url(../img/arrow.gif);}

.comboboxItem{ background: #fff; color: #000; font-weight: normal; font-style: normal;border-bottom: 1px dotted #dddddd; height: 25px;line-height: 25px;}

.comboboxItemLast{border-bottom: none;}

.comboboxItemHover {}

.comboboxGroupItemContainer .comboboxItem { padding-left: 20px; margin-left: 0px;}