#editDataForm input.inputName {border: 1px solid #dddddd; margin: 0 0 0 0; width: 362px;padding: 4px 4px 4px 4px; color: #999999;}
#editDataForm input.inputLocalizacion {border: 1px solid #dddddd; margin: 0 0 0 0; width: 306px;padding: 4px 4px 4px 4px; color: #999999; height: 14px;}
#editDataForm input.inputRadio {border: 1px solid #dddddd; margin: 0 0 0 0; width: 130px;padding: 4px 4px 4px 4px; color: #999999;}
#editDataForm input.inputMail {border: 1px solid #dddddd; margin: 0 0 0 0; width: 280px;padding: 4px 4px 4px 4px; color: #999999;}
#editDataForm input.inputPassword,#editDataForm input.inputPassword2 {border: 1px solid #dddddd; margin: 0 0 0 0; width: 130px;padding: 4px 4px 4px 4px; color: #999999;}

input.inputLoginPage {border: 1px solid #dddddd; margin: 0; width: 200px;padding: 6px 6px 6px 6px; color: #999999;margin-bottom: 4px;}

#editDataForm label.error {color:#c24949; background: none; border: none; width: auto;margin: 0; padding: 0; font-weight: normal;}

#editDataForm input.roundInputName {border: 1px solid #dddddd; margin: 0 0 0 0; width: 362px;padding: 4px 4px 4px 4px; color: #999999;}

#editDataForm input.roundInputRecords {border: 1px solid #dddddd; margin: 0;margin-bottom: 4px; width: 16px;padding: 4px 4px 4px 4px; color: #999999;}

.recordContainer{
	width: 190px;
	margin-left: -4px;
}

#loc{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#loc li{
	display: inline;
}

#datos1 a{
	text-decoration: none;
	color: #666666;
}

/* login page */

.loginContainer{
	width: 910px;
	height: auto;
	margin-left: 20px;
	text-align: center;
}

.loginContainerData{
	margin-left:auto; margin-right:auto;
    width: 233px;
    height: 300px;
}

.loginContainerData p{
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}

.loginContainerData p{
	margin: 0;
}

p.loginRegisterLink{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

a.loginRegisterLink{
	text-decoration: none;
	font-weight: bold;
	color: #336699;
	text-align: center;
}
a.loginRegisterLink:hover{
	color: black;
}

.loginSpaceFirst{
	height: 100px;
    width: 233px;
}

.loginSpaceFirst p{
	margin-left: 10px;
}

.loginSpace{
	margin-top: 60px;
	height: 100px;
    width: 233px;
}

/* usuario no logueado */



/* usuario edit */

#buttonUpload{
	font-size: 14px;
	font-weight: bold;
	height: 31px;
	width: 202px;
	background-color: #ff6600;
	color: #ffffff;
	margin: 0;
	margin-top: -50px;
	text-align: center;
	text-decoration: none;
	float: left;
	position: relative;
	line-height: 30px;
	visibility: visible;
	filter: alpha(opacity=75);
	opacity: .75;
}

.radioBusqueda{
	height: 50px;
	width: 150px;
}

.radioInfo{
	height: 50px;
	width: 210px;
}

.dataRadio{
	color: #999999;
	font-size: 10px;
	font-weight: bold;
	margin-top: 14px;
	margin-left: -14px;
	text-align: center;
}

.eraseRecordButton{
	margin-top: -1px;
	margin-left: 6px;
}

.separatorInput{
	margin: 0;
	color: #999999;
	width: 3px;
	margin-left: -130px;
	margin-top: 4px;
}

.dashboardLink{
	float: right;
	color: #336699;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin: 0px;
	margin-top: -15px;
	margin-right: 3px;
}

.dashboardLink img{
	margin: 0px;
}

label.roundInputDataRadio{
	float:left;
	clear:left;
	background:url(/img/inputRadio.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 26px;
	margin:0px 0px 0px 0px;
}

.roundInputDataRadio input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundInputDataRadio input:focus {
	outline:none;
}

#roundInputDataRadio {width:99px;}

.sexoFecha{
	height: 50px;
	width: 372px;
}

.checkAlerts{
	margin-left: 7px;
	width: 250px;
	margin-top: 6px;
}

.checkAlerts span{
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

.recordsContainer{
	margin: 0px;
	margin-top: 14px;
	margin-left: -4px;
}

.distanceName{
	margin: 0px;
	margin-top: 14px;
	margin-left: 60px;
	width: 90px;
}

.distanceName p{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 3px;
}

/*
label.roundInputRecords{
	float:left;
	clear:left;
	background:url(/img/inputRecords.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 26px;
	margin:0px;margin-bottom: 2px;
}

.roundInputRecords input {
	background:transparent;
	padding-top: 8px;
	padding-left: 2px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundInputRecords input:focus {
	outline:none;
} 
*/

.editRadio{
	width: 370px;
	height: 50px;
	margin-top: 14px;
	margin-left: 11px;
}

.editRadio p.km{
	color: #999999;
	margin: 0px;
	font-size: 8px; float: right;
	margin-right: 10px;
	margin-top: -14px;
}

.mapaAlerts{
	border: 1px solid #cccccc;
	padding: 4px;
	width: 361px;
	height: 111px;
	background-color: #ffffff;
	margin-left: 10px;
}

.nameEdit{
	width:372px;
	height: 50px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 2px;
}

.fechaEdit{
	height: 50px;
	margin-left: 10px;
	margin-top: 4px;
	width: 180px;
}

.sexoEdit{
	height: 50px;
	margin-left: 10px;
	margin-top: 4px;
	width: 70px;
}

.localizacionEdit{	
	width:372px;
	height: 50px;
	margin-left: 10px;
	padding-bottom: 4px;
}

.globalContainerUser{
	padding-bottom: 10px;
	width: 620px;
}

.dataUserButtons{
	height: 33px;
	width: 392px;
	background-color: #e1e8f0;
	margin-top: 1px;
	margin-bottom: 10px;
}

div.baja{
	color: #999999;
	width: 140px;
	margin-top: 6px;
	margin-left: 10px;
}

div.baja a{
	text-decoration: none;
	color: #336699;
}

.dataUserEdit{
	width: 392px;
}

.dataUserEdit p.data{
	color: #999999;
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
}

.editAcount{
	background-color: #f1f4f8;
	height: 118px;
	width: 392px;
	border-bottom: 1px solid #acc0d5;
	margin-top: -4px;
	padding-top: 14px;
}

.editdata{
	background-color: #f1f4f8;
	height: auto;
	min-height: 190px;
	width: 392px;
	border-bottom: 1px solid #acc0d5;
	margin-top: -4px;
	padding-bottom: 10px;
}

.editMail{
	margin-left: 50px;
	width: 290px;
	height: 58px;
	padding-bottom: 2px;
}

.editPass{
	margin-left: 50px;
	width: 130px;
	height: 50px;
}

.editPass2{
	margin-left: 0px;
	width: 130px;
	height: 50px;
	margin-left: 10px;
}

.editmarcas{
	background-color: #f1f4f8;
	height: 298px;
	width: 392px;
	border-bottom: 1px solid #acc0d5;
	margin-top: -4px;
	padding-bottom: 20px;
}


.checkboxChecked{
	background-image:url(/img/checkChecked.gif);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	margin-top: 9px;
	margin-left: 10px;
}

.checkbox{
	height: 12px;
	width: 12px;
	margin-top: 9px;
	margin-left: 10px;
}

.checkboxUnchecked{
	background-image:url(/img/checkUnchecked.gif);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	margin-top: 9px;
	margin-left: 10px;
}


/* USUARIO PUBLICO */

div.comment_wall {
	width: 390px;
	background-color: #f1f4f8;
	padding-bottom: 20px;
	margin:0;
}

div.comment_wall textarea {
	width: 345px;
	max-width: 345px;
	height: 70px;
	font-size: 13px;
	color: #666666;
	font-family: "Arial";
}

p.noComments_wall{
	background: url(/img/slash.gif) no-repeat 0 0;
	width: 290px;
	text-align: center;
	margin: 20px 0 0 25px;
	padding: 0 0 0 15px;
}

p.noComments_wall p{
	color: #666666;
	text-align: center;
}

p.noComments_wall a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}

p.user_title{
	font-family: "Arial"
	font-size: 28px;
	font-weight: bold;
	color: #336699;
	border-bottom: solid 2px #336699;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 5px;
	margin-right: 10px;
	margin-bottom: 0;
	width: 385px;
}


/* REGISTRO */

.LoginEnRegistro{
	width: 610px;
	margin-right: 10px;
}

.LoginEnRegistro p{
	float: right;
	color: #666666;
}

.LoginEnRegistro a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}



/*
label.roundLocalizacion {
	float:left;
	clear:left;
	background:url(/img/inputSearchAlert.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 26px;
	margin:0px 0px 0px 0px;
}

.roundLocalizacion input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundLocalizacion input:focus {
	outline:none;
}
*/

#roundLocalizacion {width:255px}

.titleMapAlert{
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	margin: 40px 0px 0px 0px;
}

.alertsMap{
	border: 1px solid #cecece;
	width: 334px;
	height: 141px;
	margin: 10px 0px 0px 0px;
}


.pageUser{
	margin-top: 123px;
	color: #666666;
}

.pageUser a{
	text-decoration: none;
	color: #336699;
}

div.TerminosCondicionesBox{
	background-color: #f1f4f8;
	height: 56px;
	width: 617px;
	margin: 10px 0;
}

.TerminosCondicionesBox p{
	font-size: 11px;
	margin-left: 14px;
	margin-top: 20px;
	color: #666666;
}

.TerminosCondicionesBox a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}

.TerminosCondicionesBox input{
	float: right;
	margin: 13px 10px 0 0;
}

div.error_register {
	color: #c24949;
	width: 150px;
	padding: 20px 0 0 14px;
}

.checkBoxAlerts{
	margin: 8px 0px 0px 0px;
	width: 18px;
}

.checkTitle{
	margin-left: -6px;
	width: 200px;
	line-height: 14px;
}

.checkAlertas{
	width: 264px;
}

.comboSexo{
	width: 156px;
}


.comboDia{
	width: 50px;
}

.comboMes{
	width: 100px;
}

.comboAnio{
	width: 70px;
}

div.rightColumnRegister{ border-left: 1px dotted #c3c3c3; margin-left: 24px; width: 275px; /* padding-bottom: 32768px; margin-bottom: -32768px; */}
div.rightColumnRegister ul {list-style: none;}
div.rightColumnRegister ul li{  border-bottom: 1px dotted #a5a5a5; font-size: 13px; color: #666666; width: 254px; padding-top: 2px; padding-bottom: 2px; margin-left: 2px;}
div.titleBoxRegister{height: 54px; background-color: #eeeeee; width: 910px; margin:0 0 10px 20px;}
div.titleBoxRegister p{font-size: 22px; color: #336699; margin-top: 8px; margin-left: 14px;}
div.registerInfoTicket{ background: url(/img/registerTicket.gif) no-repeat; height: 41px; width: 609px; }
div.data_register_container {width: 500px; margin: 10px 0 0 0; padding: 0 0 0 20px;}
div.data_register_container p{color: #666666;font-size: 13px;font-weight: bold; margin:0;}
#register_form input.inputRegister {width: 223px; border: 1px solid #dddddd; margin: 0 20px 0 0; padding: 7px 10px; color: #999999; font-size:14px;}
#register_form label.error {color:#c24949; background: none; border: none; width: auto; line-height: 14px; margin: 0; padding: 0; font-weight: normal;}
#register_form input.error {width: 223px; border: 1px solid #c24949; background: none; margin: 0 20px 0 0; padding: 7px 10px;}
#checkUserBox #registerImage {margin:0; height: 16px; width: 16px; vertical-align: middle;}
#emailImage {margin:0; height: 16px; width: 16px; vertical-align: middle;}
#answer {line-height: 28px; font-weight: normal; display: inline; padding: 0; margin: 0;}
#result {line-height: 28px; font-weight: normal; display: inline; padding: 0; margin: 0;}

div.nombreRegistro{ margin-top: 40px; width: 251px; padding: 0 0 0 20px;}
#inputRegister {margin: 0 0 0 0; width: 150px;}
div.register_name_column{margin:0 0 10px 0;}
div.register_name_column p{color: #666666;font-size: 13px;font-weight: bold; margin:0;}
div.register_name_column input{width: 223px; border: 1px solid #dddddd; margin: 0 20px 0 0; padding: 7px 10px;}
div.register_name_column div.checkAlertas input {width: 12px;}
div.rightRegister {position: relative;}
div.rightRegister #roundLocalizacion {width: 313px; border: 1px solid #dddddd; margin: 0 20px 0 0; padding: 7px 10px;}
div.rightRegister #roundLocalizacion.error {width: 270px; border: 1px solid #c24949; margin: 0 20px 0 0; padding: 7px 10px;}
#error_geo {color:#c24949;}

.rightColumnRegister{
	border-left: 1px dotted #c3c3c3;
	margin-left: 24px;
	width: 275px;
}

.rightColumnRegister ul li{
	list-style: none;
	border-bottom: 1px dotted #a5a5a5;
	font-size: 13px;
	color: #666666;
	width: 254px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 2px;
}

.titleBoxRegister{
	height: 54px;
	background-color: #eeeeee;
	width: 910px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.titleBoxRegister p{
	font-size: 22px;
	color: #336699;
	margin-top: 8px;
	margin-left: 14px;
}

.registerInfoTicket{
	background-image: url(/img/registerTicket.gif);
	background-repeat: no-repeat;
	height: 41px;
	width: 609px; 
}

.registerInfoTicket p{
	font-size: 15px;
	color: #ffffff; 
	margin-top: 5px;
	text-align: center;
}

.leftRegister{
	width: 264px;
	margin: 0px 0px 10px 0px;
}


.rightRegister{
	width: 346px;
	margin: 0px 0px 0px 0px;
	height: 260px;
}

label.inputRegister {
	background:url(/img/inputRegister.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 26px;
	margin-left: 14px;
}

.inputRegister input {
	background:transparent;
	padding-top: 7px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.inputRegister input:focus {
	outline:none;
}

.titleRegisterRight{
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	margin-left: 20px;
	line-height: 16px;
}

/* REGISTER SUCCESS */
div.register_success_content {height: 400px;}
div.register_success_content p {text-align: center; width: 100%;}
div.register_success_content p.first {margin: 40px 0 0 0;padding: 0; font-weight: bold; color: #666666; font-size: 16px;}
div.register_success_content p.second {margin: 0; padding: 0; font-weight: normal; color: #666666; font-size: 16px; line-height: 10px;}
div.register_success_content p.third {margin: 0; padding: 0; font-weight: normal; color: #666666; font-size: 12px; line-height: 25px;}
div.register_success_content p.fourth {margin: 30px 0 0 0; padding: 0; font-weight: normal; color: #666666; font-size: 16px; }
div.register_success_content p.fourth a{font-weight: bold; color: #336699; text-decoration: none;}
div.register_success_content p.fiveth {margin: 30px 0 0 0; padding: 0; font-weight: normal; color: #666666; font-size: 16px; line-height: 18px;}






/* body */
body a{
	outline: none;
}

/* USUARIO */

.commentsPaginator div.bottomPaginator {color: #4e4e4e; font-size: 13px;float: right; padding-right: 10px; padding-top: 10px;margin-bottom: 0px; height: 30px;}

.commentsPaginator{
	width: 392px;
	height: 36px;
	background-color: #f1f4f8;	
	margin: 0px;
}

div.commentsPaginator p {padding: 7px;}

.columnComments{
	width: 390px;
}

div.userComments {
	float: right;
}

.mapaApuntadas{
	width: 255px;
	height: 192px;
	margin-left: 20px;
}

#commentUser {width: 390px; border-bottom: 1px dotted #cccccc; padding:10px 0; margin:0;}
#commentUser a.name {color: #336699; font-size: 16px; font-weight: bold; text-decoration: none; float: none; margin:0px;}
#commentUser a.name:hover {color: #ff6600;}
#commentUser div.commentBoxUser {margin-left: 10px; width: 290px !important; overflow: hidden; min-height: 76px;}
#commentUser div.commentBoxUser p {margin-right: 30px;}
#commentUser div.commentBoxUser p.commentUserProfile {float: left; margin-right: 30px; color: #666666;}
#commentUser div.commentBoxUser p.commentUserProfile a {color: #336699; font-weight: bold; text-decoration: none;}
#commentUser div.commentBoxUser p.commentUserProfile a:hover {color: #333333;}
#commentUser div.commentBoxUser div.nameUser {margin-left: 0px; color: #666666;}

.editUserLinkDiv{
	height: 20px;
	width: 390px;
}

.editUserLink{
	float: right;
	color: #336699;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	margin-top: 2px;
	cursor: pointer;
}

.editUserLinkMargin{
	margin-right: 10px;	
}

.editUserLink img{
	margin: 0px;
}

.rankingBox{
	background-image: url(/img/rankingBox.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 41px;
	margin-top: 5px;
}

.rankingBox p{
	color: #666666;
	font-weight: bold;
	margin-left: 20px;
	padding-top: 4px;
	line-height: 9px;
	height: 17px;
}

.dataUserPosition{
	font-size: 11px;
	width: 20px;
}

.dataTitleUserRanking{
	font-size: 11px;
	width: 80px;
}

.dataUserRanking{
	margin-left: 8px;
	width: 76px;
}

.dataTitleUserProfile{
	font-size: 11px;
	width: 46px;
}

.dataUserProfile{
	margin-left: 10px;
	width: 140px;
}

.dataTitleUser{
	font-size: 11px;
	width: 92px;
}

.dataUser{
	margin-left: 10px;
	width: 50px;
}

.dataContainerUserHack{
	width: 205px;
	height: 1px;
	margin: 0px 0px 0px 0px;
}

.dataContainerUser{
	width: 205px;
	height: auto;
	border-bottom: 1px dotted gray;
	margin: 0px 0px 0px 0px;
	padding-bottom: 1px;
	margin-right: 3px;
}

.dataContainerUser p{
	color: #666666;
	margin-top: 4px;
	margin-bottom: 4px;
}

.commentsUser{
	width: 390px;
	
}

.pictureUserContainer{margin-left: 0px; width: 405px; height: 79px;}

.pictureUserContainerNoPhotos{
	height: 75px;
	width: 389px;
	border: 1px solid #cdd7e1;
	background-color: #f3f6f9;
}

.pictureUserContainerNoPhotos p.up{
	color: #666666;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	margin-top: 25px;
}

.pictureUserContainerNoPhotos p.upPhotos{
	color: #666666;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	margin-top: 15px;
}

.pictureUserContainerNoPhotos p.down{
	color: #336699; 
	text-align: center;
	font-size: 14px;
	margin: 0;
	margin-top: 8px;
	text-decoration: none;
}

.pictureUserContainerNoPhotos p.down a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
	margin-left: 4px;
}

.imagesUserContainer{
	height: 130px;
	width: 391px;	
}

.imagesUser{
	border: 1px solid #cccccc;
	width: 72px;
	height: 73px;
	margin-top: 2px;
	margin-right: 5px;
	float: left;
}

.imagesUser img{
	margin-left: 3px;
	margin-top: 3px;
}

.imagesUserCounter a{
	color: #336699;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding-left: 4px;
}

.imagesUserCounter p{
	font-size: 12px;
	color: #666666;
	margin-left: 4px;	
}

.userAlerts{
	margin-top: 17px;
	width: 392px;
}

.userAlerts p{
	color: #666666;
	margin-top: 3px;
	margin-left: 7px;
}

.alertUser{
	height: 24px;
	width: 390px;
	background-color: #fff1e8;
	border: 1px solid #ffd1b2;
	margin: 0px;
	margin-bottom: 3px;
}

.columnNameUser{
	width: 500px;
	height: 30px;
}

.columnNameUser a{
	text-decoration: none;
	color: #336699;
}

.userData{
	width: 216px;
	margin-top: 16px;
}

p.nameUserProfile{
	font-size: 22px;
	color: #336699;
	line-height:14px;
	width: 465px;
}

.nameUserProfileNick{
	font-size: 14px;
	color: #336699;
}

.avatarPerfil{
	margin: 0px 0px 0px 0px;
	border: 1px solid #d7d7d7;
	width: 202px;
	height: 202px;
	cursor: pointer;
}

.imgAvatarPerfil{
	margin: 4px 4px 4px 4px;
}

.userRightColumn{
	padding-top: 13px;
}


/* rss */
.imgFeed {
	margin-top: -34px;
	width: 278px;
}

img.rssImage{
	float: right;
	height: 18px;
	width: 18px;
}

/*LOGIN WINDOW*/

.separatorLogin{
	height: 205px;
	width: 18px;
	background-image: url(/img/separatorLogin.gif);
	background-repeat: no-repeat;
}

#login_modal{
	display:none; 
	height:203px; 
	width: 504px; 
	background: #eaeaea;
	border:6px solid #ffffff;
	padding-bottom: 20px;
}

#login_modal .loginForm{ width: 213px; padding-left: 20px; padding-top: 10px; letter-spacing: -1px;}
#login_modal .title{ color: #336699; font-size: 22px; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
#login_modal p{ color: #999999; font-weight: bold; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
#login_modal div.forgetFind{ float: left; margin-top: 12px; width: 192px;}
#login_modal div.forgetFind input {padding: 3px 4px; margin: 5px 0 0 0}
#login_modal div.forgetPass{ text-align: left; float: left; padding-top: 3px;}
#login_modal div.forgetPass a{ color:#336699;}
#login_modal div.loginButton{ float: right; }
.errorMessage {color: #c24949;}


label.inputLogin {
	float:left;
	clear:left;
	background:url(/img/inputLogin.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 25px;
	width: 192px;
}

.inputLogin input {
	background:transparent;
	padding-top: 6px;
	padding-left: 5px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.inputLogin input:focus {
	outline:none;
}

#inputLogin {width:192px}


/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */

#simplemodal-container a.modalCloseImg {background:url(/img/x.gif) no-repeat; width:25px; height:29px; display:inline; z-index:1; position:absolute; top:5px; right:-10px;}
#simplemodal-container #basic-modal-content {padding:8px;}

#login_modal div.register_text {padding: 0 5px; width: 210px;height: 200px;}
#login_modal div.register_text h3 { color:#336699; padding: 60px 0 0 0; }
#login_modal div.register_text p { height: 73px; }


/* CONTACT */
#contact_modal{ display:none; height:480px; width: 500px; background: #eaeaea;border:6px solid #ffffff;}
#contact_modal div.contact_container {float: left; width: 480px; padding: 20px 0px 0px 20px}
#contact_modal div.contact_container h2 {color:#336699;}
#contact3 { border:none; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #FFFFFF; max-width: 450px; width: 450px; height: 240px;max-height: 240px; margin: 0;color: #666666; font-size: 13px; font-family: Arial;}
#contact3:focus {outline: none;}
#contactForm span.contact_error {float:left; text-align: right; width: 300px;}
#contactForm #contactSubmit {float:right; padding: 3px; display:inline; margin: 10px 20px 0 0;}
#contactForm label {width: 100%; color: #666666;padding: 0 0 3px 0;}

.contactButtonContainer{
	float: right;
	margin-right: 10px;
}

.contactButtonContainerRun{
	float: right;
	margin-right: -14px;
	margin-top: -6px;
}

/* PUBLISH */
#publish_modal{ display:none; height:500px; width: 500px; background: #eaeaea;border:6px solid #ffffff;}
#publish_modal div.publish_container {float: left; width: 450px; padding: 20px 0px 0px 20px}
#publish_modal div.publish_container h2 {color:#336699; font-weight:bold;}
#publish_modal div.publish_container input.text {-moz-border-radius: 4px; -webkit-border-radius: 4px; background: #FFFFFF; border:none; color: #666666; font-size: 13px; font-family: Arial;}
#publish_modal div.publish_container div.name {float:left; width:320px; margin: 0 0 10px 0;}
#publish_modal div.publish_container div.name label {width:100%; margin:0;}
#publish_modal div.publish_container div.name input {width:100%; margin:4px 0 0 0;}
#publish_modal div.publish_container div.date {float:right; width:110px;}
#publish_modal div.publish_container div.date label {width:100%; margin:0;}
#publish_modal div.publish_container div.date input {width:100%; margin:4px 0 0 0;}
#publish_modal div.publish_container div.data {float:left; width:450px; margin:0;}
#publish_modal div.publish_container div.data label{width:450px; margin:0;}
#publish_modal div.publish_container div.data textarea {margin:4px 0 0 0; width:450px; border:none; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #FFFFFF; color: #666666; font-size: 13px; font-family: Arial; height: 220px;}
#publish_modal div.publish_container div.mail {float:left; width:170px; margin: 5px 0 0 0;}
#publish_modal div.publish_container div.mail label {width:100%; margin:0;}
#publish_modal div.publish_container div.mail input {width:100%; margin:4px 0 0 0;}
#publish_modal div.publish_container span.errorMessage {float:right; width: 240px;  margin: 28px 0 0 0;}
#publish_modal div.publish_container div.bottom {float:left; width: 460px; margin:25px 0 0 0;}
#publish_modal div.publish_container div.bottom p {float:left; width: 360px; font:11px Arial; color: #666666;}
#publish_modal div.publish_container div.bottom input {float:right; padding:4px 5px;}

/****** HEADER ****/

.header{background-image: url(/img/header.jpg); background-repeat: no-repeat; background-position: center; height: 62px; width: 910px; margin: 0px 0px 0px 0px;}
.header p{float: right; font-family: "Arial"; font-size: 11px; color: white; padding-right: 30px;}
.header a{text-decoration: none; color: white; cursor: pointer; font-weight: bold;}
.header a:hover{color: #cccccc;}

.logo{
	height: 61px;
}

#header div.search {
	width: 725px;
	margin-top: -10px;
}

#header #searchForm {
	width: 280px;
	float: right;
	margin-right: 4px;
}

#header img {
	margin: 20px 0 10px;
}

label.roundsearchFirst {
	float:left;
	clear:left;
	background:url(/img/search.jpg) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 28px;
	margin:0px 0px 0px 0px;
}

.roundsearchFirst input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundsearchFirst input:focus {
	outline:none;
}

#inputsearchFirst {width:204px}

label.roundsearch1 {
	float:left;
	clear:left;
	background:url(/img/inputsearchbig.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 28px;
	margin:0px 0px 0px 0px;
}

.roundsearch1 input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundsearch1 input:focus {
	outline:none;
}

#inputsearch1 {width:443px}

.inputLeft{
	margin: 0px 0px 0px -5px;
	padding: 0px 0px 0px 0px;
}

.inputRight{
	margin: 0px 0px 0px -25px;
	padding: 0px 0px 0px 0px;
}

.subHeader{
	height: 80px;
	width: 910px;
}

p.subTitle{
	font-size: 24px;
	color: #666666;
	padding-top: 15px;
	padding-left: 40px;
}

p.subTitleInfo{
	font-size: 14px;
	color: #666666;
	padding-left: 40px;
	margin-top: -46px;
}

.subTitleInfo a{
	color: #336699;
	text-decoration: none;
}

/***** FOOTER *****/

.footer{background-image: url(/img/footer.jpg); background-repeat: no-repeat; background-position: center; width: 910px; height: 81px; margin: 0px 0px 0px 0px;}
.footer p{color: #666666; font-size: 12px; float: right; margin-top: 16px; margin-right: 40px;}
.footer a{color: #666666; font-weight: bold; text-decoration: none;}
.footer a:hover{color: #999999;}

/***** CONTENT *****/

#runnityHomeMap{
	margin-left: 8px;
}

.map{
	background-color: #eeeeee;
	height: 365px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.mapTop{
	background-image: url(/img/mapTop.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.mapBottom{
	background-image: url(/img/mapBottom.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.content{
	width: 910px;
/* 	overflow: hidden; */
}

/* Left Column */

.leftColumnHome{
	height: 330px;
	width: 610px;
	margin-left: 21px;
	margin-top: 10px;
}

.leftColumn{
	/*
padding-bottom: 32768px;
	margin-bottom: -32768px;
*/
	width: 610px;
	margin-left: 20px;
}

.rightColumn{
	background-image: url(/img/background-right.jpg);
	background-position: right;
	background-repeat: repeat-y;
	width: 300px;
/*
	padding-bottom: 32768px;
	margin-bottom: -32768px;
*/
}

.container{
	margin-bottom: 10px;
}

.containerFooter{
	margin-bottom: 0px;
}

.ticketOrangeVoy{background-color: #ff6600;	height: 30px; width: 287px; margin-top: 20px;}
.ticketOrangeVoy p{font-size: 13px; color: #ffffff; margin-top: -16px; margin-left: 25px;}
.ticketOrangeVoy a{font-size: 13px; font-weight: bold; color: #ffffff; text-decoration: none;}
.ticketOrangeVoy a:hover{color: #333333;}

.{background-color: #ff6600;	height: 30px; width: 287px; margin-top: 3px;}
. p{font-size: 13px; color: #ffffff; margin-top: -16px; margin-left: 25px;}
. a{font-size: 13px; font-weight: bold; color: #ffffff; text-decoration: none;}
. a:hover{color: #333333;}

.ticketOrange{
	background-image: url(/img/ticket_orange.gif);
	background-repeat: no-repeat;
	height: 7px;
	width: 11px;
}

.column1{
	height: 330px;
	width: 300px;
}

.column2{
	height: 330px;
	width: 300px;
	margin-left: 10px;
}

.carrera{
	width: 291px;
	height: 85px;
	background-color: #eeeeee;
}

.carrera2{
	width: 291px;
	height: 85px;
	background-color: #f7f7f7;
}

div.separator{
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 1px;
	height: 1px;
	width: 289px;
	border-top: dotted 1px #b2b2b2;
}

div.separatorRightOrange{
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 10px;
	height: 1px;
	width: 268px;
	border-top: dotted 1px #ffffff;
}

div.separatorRight{
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 1px;
	width: 262px;
	border-top: dotted 1px #aaaaaa;
}

/*
.separator2{
	margin: 0px 0px 0px 0px;
	height: 1px;
	width: 265px;
	margin-left: 10px;
	border-top: dotted 1px #FFFFFF;
	margin-bottom: 5px;
}
*/

.ticketBlue{
	background: #1a4879;
	height: 20px;
	width: 26px;
	float: right;
	margin-top: 4px;
	margin-right: -4px;
}

.ticketBlueCorner{
	background-image: url(/img/ticketBlueCorner.gif);
	background-position: right;
	background-repeat: no-repeat;
	height: 5px;
	width: 26px;
	float: right;
	margin-right: -26px;
	margin-top: 24px;
	position: relative;
	
}

.ticketBlueCornerRight{
	background-image: url(/img/ticketBlueCornerRight.gif);
}

.ticketBlue p{
	color: #ffffff;
	margin-left: 10px;
	margin-top: 1px;
	font-weight: bold;
}

.nameRace{line-height: 14px; height: 50px; padding-top: 7px; display: block;}
.nameRace a{font-size: 14px;color: #336699; font-weight: bold; line-height: 14px; text-decoration: none;}
.nameRace a:hover{color: #fc6602;}

.infoRace{
	font-size: 11px;
	color: #999999;
	margin-top: -23px;
	margin-bottom: 0px;
	width: 160px;
}

.recentActivity{
	font-size: 11px;
	color: #666666;
	margin-top: -20px;
/* 	font-weight: bold; */
	margin-bottom: 0px;
}

.infoRace b{
	color: #ff6600;
	font-weight: bold;
}

.placeRace{
	font-size: 11px;
	color: #999999;
	margin-bottom: 0px;
	margin-top: -4px;
	width: 160px;
}

a.verTodas{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
	margin-top: 8px;
	margin-bottom: 5px;	
	font-weight: bold;
}

a.verTodas:hover{
	color: #fc6602;
}

#confirmationWindowPhoto, #confirmationWindowUser{
	height: 75px;
	width: 420px;
	background: #eaeaea;
	border:6px solid #ffffff;
}

#confirmationWindowPhoto div.erasePhoto , #confirmationWindowUser div.erasePhoto{
	text-align: center;
	margin-top: -15px;
}


#confirmationWindowPhoto p, #confirmationWindowUser p{
	color: #336699;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

/* Right Column */

.rightColumnHome{
	background-image: url(/img/background_orange.jpg);
	background-repeat: repeat-x;
	height: 327px;
	width: 288px;
	margin-left: 10px;
	margin-top: 10px;
}

.carreraOrange{
	width: 291px;
	height: 85px;
	margin-top: 2px;
}

.nameRaceOrange{
	line-height: 14px;
	padding-top: 0px;
	height: 40px;
	padding-top: 4px;
}

.nameRaceOrange a{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 14px;
	margin-left: -2px;
	text-decoration: none;
	width: 154px;
	display: block;
}

.nameRaceOrange a:hover{
	color: #333333;
}

.infoRaceOrange{
	font-size: 11px;
	color: #ffffff;
	margin-top: -10px;
	margin-bottom: 0px;
}

.infoRaceOrange b{
	color: #ffffff;
	font-weight: bold;
}

.placeRaceOrange{
	font-size: 11px;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: -6px;
}


/* cosas */
.avatar2{
	height: 75px;
	width: 103px;
	border: 1px solid #d7d7d7;
	background-color: white;
	margin-left: 4px;
	margin-top: 4px;
}

.avatar{
	margin-left: 4px;
	margin-top: 4px;
}

.avatar2Orange{
	height: 75px;
	width: 103px;
	border: 1px solid #cc3300;
	background-color: white;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 3px;
}

.avatarOrange{
	margin-left: 4px;
	margin-top: 4px;
}

.titulo{
	font-family: "Arial";
	font-weight: bold;
	color: #336699;
	border-bottom: solid 2px #336699;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 5px;
	margin-right: 10px;
	margin-bottom: 4px;
}

p.tituloUserImage{
	font-family: "Arial";
	font-weight: bold;
	color: #336699;
	border-bottom: solid 2px #336699;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 0px;
	margin-bottom: 4px;
	width:256px;
	margin-left:24px;
}

.titulo a{
	color: #336699;
	text-decoration: none;
	cursor: pointer;
}

.titulo a:hover{
	color: #333333;
	cursor: pointer;
}

.titulOrange{
	margin-left: 10px;
	padding-left: 0px;
	color: #ffffff;
	border-bottom: solid 2px #ffffff;
	margin-bottom: 8px;
}

/* banner info */

.bannerTop{
	background-image: url(/img/bannerTop.gif);
	background-repeat: no-repeat;
	width: 975px;
	height: 12px;
	margin: 0 auto;
}

.banner{
	background-image: url(/img/background_banner.jpg);
	background-repeat: repeat-x;
	width: 975px;
	height: 291px;
	margin: 0 auto;
}

.titular{
	background-image: url(/img/titular.jpg);
	background-repeat: no-repeat;
	height: 50px;
	width: 951px;
	margin-top: 27px;
	margin-left: 12px;
	position: absolute;
}

.titularColumn{
	height: 244px;
	width: 306px;
}

.titularTitle{
	font-family: "Arial Rounded MT Bold";
	font-size: 22px;	
	color: #ffffff;
	padding-top: 8px;
	margin-left: 40px;
}

.titularTitleFirst{
	margin-left: 20px;
}

.titularInfo{
	font-size: 18px;	
	color: #ffffff;
	margin-left: 20px;
	line-height: 20px;
}

.titularInfo2{
	margin-left: 40px;
}

.titularColumn a{
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	margin-left: 20px;
	font-weight: bold;	
}

.titularColumn2 a{
	margin-left: 40px;
	font-weight: bold;
}

.titularColumn a:hover{
	color: #cccccc;
}

.columnLong{
	width: 610px;
	margin: 0;
	padding: 0;
}

.columnLong2{
	width: 599px;
}

.columnLong img{
	margin-left: 5px;
	margin-top: 5px;
}

.columnPhotos{
/*
	background-image: url(/img/background_photos.jpg);
	background-repeat: repeat-x;
*/
	width: 641px;
	margin: 0px 0px 20px -20px;	
	background-color: #143c64;
	height: auto;
	padding-bottom: 10px;
}

.columnSort{
	width: 300px;
}

.ColumnHome{
	height: 110px;
	width: 910px;
	margin-left: 21px;
	margin-top: 10px;
}

.tituloRight{
	margin-right: 0px;
}

.columnLonga{
	width: 380px;
}

.tweet{
	height: 50px;
	width: 290px;
	padding-left: 5px;
}

#tweets{
	color: #666666;
	font-size: 13px;
	line-height: 14px;
	font-weight: bold;
	text-decoration: none;
}

#tweets a{color: #336699; text-decoration: none; margin: 0;}

#tweets:hover{
	color: #999999;
}

#tweetsTime{
	color: #666666;
	font-size: 11px;
}

.tweetComment{
	width: 240px;
	color: #666666;
}

/* calendario */

.calendar{
	border-right: 1px solid gray;
	padding-right: 10px;
	height: 100%;
}

.calendarRight{
	border-right: 1px solid gray;
	padding-right: 10px;
	height: 100%;	
}

div.day {
	font-family: Arial;
	font-size: 22px;
	color: #666666;
	font-weight: bold;
	text-align: center;
	background-color: white;
	height: 22px;
	line-height: 22px;
}

div.month {font-family: Arial;color: white;font-size: 10px;font-weight: bold;text-align: center;background-color: #cc3300;}
div.month1 {background-color: #3b8d50;}
div.month2 {background-color: #cc3300;}
div.month3 {background-color: #535353;}
div.month4 {background-color: #cf854d;}
div.month5 {background-color: #9f00c6;}

.raceTitle{
	font-size: 28px;
	color: #336699;
	margin-left: 20px;
	line-height: 20px;
	margin-top: -8px;
	margin-right: 20px;
}

.raceDetailsTitle{
	color: gray;
	font-size: 14px;
	font-weight: normal;
	margin-left: 52px;
	margin-top: -44px;
}

.imageCarrera{
	width: 608px;
	height: 238px;
	margin-top: -12px;
	margin-bottom: 3px;
}

.tituloPhotos{
	font-family: "Arial"
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 10px;
	margin-left: 30px;
}

#imgItems{
	margin-left: 11px;
	margin-top: -10px;
	width: 621px;
	height: auto;
	min-height: 201px;
	padding: 0;
}

#imgItems a{
	padding: 0;
	margin: 0;
}

.avatarPhoto{
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	float: inherit;
	margin-top: -2px;
}

.noPhotosLogin{
	margin-left: 120px;
	margin-top: 50px;
}

.nophotos{
	width: 608px;
	height: 130px;
	border: 1px solid #cdd7e1;
	background-color: #f3f6f9;
	margin-top: 20px;
}

.nophotos2{
	width: 608px;
	height: 65px;
	border: 1px solid #cdd7e1;
	background-color: #f3f6f9;
	margin-top: 20px;
}

.nophotos p.up{
	color: #666666;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	margin-top: 20px;
}

.nophotos p.center{
	color: #666666;
	text-align: center;
	font-size: 14px;
	margin: 0;
	margin-top: 6px;
}

.nophotos p.down{
	color: #336699; 
	text-align: center;
	font-size: 14px;
	margin: 0;
	margin-top: 20px;
	text-decoration: none;
}

.nophotos p.down a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
	margin-left: 4px;
}	

.SubirFotosLink{
	width: 610px;
	height: 20px;
	margin-left: 20px;
}

.buttonUploadPicture{
	color: #ffffff;
	font-weight: 14px;
	font-weight: bold;
	text-decoration: none;
	float: right;
}

.buttonUploadPicture:hover{
	cursor: pointer;
}

.raceData{width: 229px;}
.raceData a{color: #336699; text-decoration: none; font-weight: bold;}

.raceDescription{
	width: 381px;
}

.tituloLeft{
	padding-left: 0px;
}

.dataContainer{
	width: 216px;
	height: auto;
	border-bottom: 1px dotted gray;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dataContainer p{
	color: #666666;
	margin-top: 4px;
	margin-bottom: 4px;
}

.textRace{
	color: #666666;
}

.dataTitle{
	font-size: 11px;
	width: 50px;
}

.data{
	margin-left: 10px;
	width: 140px;
}

div.mapStyle {
	border: 1px solid #cccccc;
	vertical-align: middle;
	width: 600px;
	height: 400px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	background-color: white;
}

div.mapStyleRight {
	border: 1px solid #cccccc;
	vertical-align: middle;
	width: 254px;
	height: 192px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	background-color: white;
	margin-left: 23px;
}

.noResults{
	font-size: 22px;
	color: #336699;
	width: 850px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 50px;
}

.belowPaginatorTotal{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	margin-top: 10px;
	margin-left: 10px;
}

.noResultsSub{
	font-size: 13px;
	color: #666666;
	width: 850px;
	text-align: center;	
	margin-bottom: 50px;	
}

.noRaceSub{
	color: gray;
	margin-top: -5px;
	margin-left: 10px;
}

.noResultsSub a{
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}

.menu_button{
	background-image: url(/img/menu_button.jpg);
	background-repeat: no-repeat;
	height: 38px;
	width: 255px;
}
.buttonmenuContainer a {
	text-decoration:none;
}
.buttonmenuContainer a p{color: #666666;font-size: 16px;text-decoration: none;line-height: 34px; text-align:center}
.buttonmenuContainer{margin-left: 20px; 	margin-top: 22px;}

.buttonSearchFirst{background-color: #336699; background-image: url(/img/search_button.jpg); background-repeat: no-repeat; height: 28px; width: 76px; border: none; margin-left: -7px; color: #ffffff; font-size: 14px;	font-weight: bold; cursor: pointer;}
.buttonSearchFirst:hover{background-image: url(/img/search_button_hover.jpg);color: #ffffff;}

.separatorFirstComment{
	width: 610px;
	height: 14px;
}

.separatorFirstCommentUser{
	width: 390px;
	height: 14px;
}

.separatorFirstCommentUser{
	width: 390px;
	height: 18px;
}

ol {margin:0; padding:0;}

#comment {width: 610px; border-bottom: 1px dotted #cccccc; margin:0; padding:10px 0 ;}
#comment a.name {color: #336699; font-size: 16px; font-weight: bold; text-decoration: none; float: none;}
#comment a.name:hover {color: #ff6600;}
#comment div.commentBox {margin-left: 10px; width: 500px !important; overflow: hidden; min-height: 76px;}
#comment div.commentBox p {}
#comment div.commentBox p.commentUser {float: left; color: #666666;}
#comment div.commentBox p.commentUser a {color: #336699; font-weight: bold; text-decoration: none;}
#comment div.commentBox p.commentUser a:hover {color: #333333;}
#comment div.commentBox div.nameUser { color: #666666;}

.noComments{
	margin-top: 24px;
	width: auto;
	padding: 0;
}

.noLoggedPhotos{
	margin-top: 24px;
	width: 590px;
}

.noComments p{
	color: #666666;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
	width: auto;
}

.noComments a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}

.iconPhrasePhotos{
	width: 16px;
	margin-top: 24px;
	margin-left: 70px;	
}

.iconPhrase{
	width: 16px;
	margin-top: 24px;
	margin-left: 30px;	
}

.publica{
	color: #336699;
	text-decoration: none;
	float: right;
	cursor: pointer;
}

.avatarBox{
	border: 1px solid #cccccc;
	width: 73px;
	height: 72px;
}

.avatarBox img{
	margin-left: 3px;
	margin-top: 3px;
}

.separatorBannerPhotosUser{
	width: 500px;
	height: 10px;
}

.bannerTopPhotos{
	background-image: url(/img/banner_photos.gif);
	background-repeat: no-repeat;
	width: 300px;
	height: 11px;
	float: left;
	margin: 10px 0px 0px -20px;
}

div.boxraceMap {
	width: 610px;
	background-color: #f1f4f8;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

div.commentArea {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

div.titleComents {
	font-family: Arial;
	font-size: 16px;
	color: #336699;
	font-weight: bold;
	height: auto;
}

.textArea {
	height: 40px;
	width: 560px;
	font-size: 13px;
	color: #666666;
	font-family: "Arial";
}

.tituloColumnRight{
	margin-left: 24px;
	margin-right: 0px;
}

/* races right */

.avatarContainer{
	width: 264px;
	height: 300px;
	margin-left: 0px;
}

div.events {
	width: 262px;
	margin-left: 24px;
	margin-top: -4px;
}

div.eventsUsers {
	width: 262px;
	margin-left: 24px;
}

div.raceRight{
	width: 262px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #e0e0e0;
	min-height: 55px;
}

div.raceRight2{
	width: 262px;
	margin-bottom: 0px;
	background-color: #e7e7e7;
	min-height: 55px;
}

.dateRight{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom:10px;
}

.dataRaceRight{
	margin: 0;
	width: 174px;
}

.dataRaceRight p{
	color: #666666;
	font-size: 10px;
	padding:0;
	margin:0;
	float:left;
	display:inline;
	width:auto;
	padding-bottom: 10px;
}

.nameRaceRight a{
	color: #336699;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.nameRaceRight a:hover{
	color: #fc6602;
}

.nameRaceRight{
	line-height: 12px;
	padding:0;
	margin:10px 0 0 0;
}

/*.avatarRight{
	margin: 0;
	float: left;
	margin-left: -1px;
	z-index:1px;
}*/

div.avatarContainer a {
	position:relative;
	height: 67px;
	width:65px;
	float:left;
	text-decoration:none;
}

div.avatarContainer a img{
	position:relative;
	z-index:1;
}

div.avatarContainer a div.hidden {
	display:none; 
	position:absolute; 
	background:url(/img/user_background.gif) repeat-x 0 0; 
	height: 85px; 
	width: 75px; 
	text-align: right;
	padding: 0 75px 0 0;
	z-index:2; 
	top:-4px; 
	left:-80px;
	color: #FFFFFF;
	font-weight:bold;
}

.navigation a{
	color: #999999;
	text-decoration: none;
	font-size: 12px;
}

.buttonsearchbig{
	background-color: #336699; 
	background-image: url(/img/buttonsearchbig.gif); 
	background-repeat: no-repeat;
	height: 27px; 
	width: 95px; 
	border: none;
	color: #ffffff; 
	font-size: 14px;	
	font-weight: bold; 
	cursor: pointer;
}

.buttonsearchbig:hover{
	background-image: url(/img/buttonsearchbig_hover.gif); 
	color: #ffffff;
}

.functionalContainer{
	margin-top: -6px;
	margin-bottom: 10px;
	width: 214px;
}

.functionalContainerRight{
	margin-top: -6px;
	margin-bottom: 10px;
	width: auto;
	height: auto;
}

.functionalContainerInfoRun{
	margin-top: -6px;
	margin-bottom: 10px;
	width: 380px;
}

.compartir{
	width: 216px;
}

/* SEARCH RESULTS */

#searchBox {margin:20px; width: 910px; margin-bottom: 0px; margin-top: 0px;}
#searchBox p {margin-bottom: 0px; color:#666666; font-size:10px; font-weight: bold; }

#searchBox div.searchForm {height: 73px;background-color:#eeeeee;-moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px;}
#searchBox div.searchForm div.regionInput {padding-top: 20px;padding-left: 15px;}
#searchBox div.searchForm div.dateInput {margin-left: 112px; padding-top: 20px;padding-left: 15px;}
#searchBox div.searchForm div.buttonSearchBig {float:right;padding-top: 34px;padding-right: 14px;}

ul.topnav {
	list-style: none;
	float: left;
	width: 130px;
	background: #FFFFFF;
	color: black;
	font-family: Arial;
	font-size: 12px;
	padding-left: 3px;
	padding-top:3px;
	height: 21px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border: 1px solid #cccccc;
	border-left: none;
	position:absolute;
	line-height: 20px;
}
ul.topnav li {
	float: left;
	margin: 0;	
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	color: #000000;
	width:110px;
	display: block;
	text-decoration: none;
	float: left;
	margin-left: 4px;
}
ul.topnav li a:focus{
	outline:none;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 15px;
	height: 15px;
	padding-top: 0px;
	float: left;
	background: url(/img/arrow.gif); 
	margin-left: -4px;
	
}
ul.topnav li span.subhover {cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: -5px; top: 21px;
	background: #FFFFFF;
	border: 1px solid #b9b9b9;
	border-top: none; 
	margin: 0; padding: 0;
	padding-left:5px;
	padding-top: 3px;
	display: none;
	float: left;
	width: 129px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: 115px;
	border-bottom: dotted 1px #dddddd;
}


html ul.topnav li ul.subnav li a:focus {
	outline: none;
}

div.inputRight .a1 {
	color: #3b8d50;
}

div.inputRight .a2{
	color: #cc3300;
}

div.inputRight .a3 {
	color: #535353;
}

div.inputRight .a4 {
	color: #cf854d;
}

div.inputRight .a5 {
	color: #9f00c6;
}

#searchBox div.searchForm #widget {position: relative;}
#searchBox div.searchForm #widgetField {width: 190px;height: 26px;background: url(../img/field.png);overflow: hidden;position: relative;}
#searchBox div.searchForm #widgetField a {display: block;position: absolute;width: 26px;height: 26px;top: 0;right: 0;text-decoration: none;text-indent: -3000px;}
#searchBox div.searchForm #widgetField span	{font-size: 12px;color: #999999;position: absolute;top: 0;height: 23px;line-height: 26px;left: 5px;width: 153px;text-align: left;}
#searchBox div.searchForm #widgetField span:hover {cursor: default}
#searchBox div.searchForm #widgetField span a.delete {float:right; background: url(/img/deleteDateIcon.jpg) 0 50px  no-repeat; width: 12px; height: 18px;}
#searchBox div.searchForm #widgetField span a.delete:hover{ cursor: pointer; background: url(/img/deleteDateIcon.jpg) 0 7px no-repeat; }


#searchBox div.searchForm #widgetCalendar {position: absolute;top: 26px;right: 0;height: 0px;overflow: hidden;width: 470px;background: #FFFFFF;border-right: 1px solid #999999}
#searchBox div.searchForm #widgetCalendar .datepicker {position: absolute;bottom: 0;top: auto;}
#searchBox div.searchForm #widgetCalendar .datepickerContainer {background: transparent !important;}

#searchBox div.racesTab {margin:0px; margin-top: -10px;float:left; font-size:12px; line-height:normal; color: #999999;font-weight: bold;}
#searchBox div.racesTab ul {margin:7px; padding:10px 0px 0 0px; list-style:none;}
#searchBox div.racesTab li {display:inline; margin:0; padding:0; text-align: center;}
#searchBox div.racesTab a {float:left; background:url("../img/tabLeft.gif") no-repeat left top;margin:0;padding:0 2px 0 2px;text-decoration:none;color: white; width: 120px; height: 30px;}
#searchBox div.racesTab a span {float:left; display:block; background:url("../img/tabRight.gif") no-repeat right top;padding-right:2px; padding-top: 4px; padding-bottom: 5px; margin-left: 1px; height: 30px; color: #999999}
#searchBox div.racesTab a span {float:none;}
#searchBox div.racesTab a:hover span {}
#searchBox div.racesTab a:hover {background-position:0% -31px;}
#searchBox div.racesTab a:hover span {background-position:100% -32px;color:#000000;}
#searchBox div.racesTab #current a {background-position:0% -31px;}
#searchBox div.racesTab #current a span {background-position:100% -32px;color: black}
#searchBox div.topPaginator {height: 37px; background-color: #e1e9f2;-moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; border-top: solid 1px #89a5c3;}
#searchBox div.topPaginator div.upPaginator {float: right; padding-right: 12px; padding-top: 8px;margin-bottom: 0px; height: 30px;}
#searchBox div.topPaginator div.upPaginator p{color: #4e4e4e; font-size: 13px;font-weight: normal;}


#results {margin:30px; width: 910px; margin-bottom: 0px;margin-top:10px;}
#results .two { background-color: #f7f7f7;}
#results .one {background-color: #efefef;}
#results div.raceResult { border-bottom: dotted 1px #999999; height: 100px; padding-top: 10px; padding-left: 10px;margin-bottom: 1px;}
#results div.raceResult div.firstDetails { height: 75px; width: 134px; padding: 5px 5px; border: 1px solid #d7d7d7; background-color: white; }
#results div.raceResult div.firstDetails div.raceResultDate { width: 30px; margin-right: 3px;}
#results div.raceResult div.firstDetails img { height:75px; width: 100px;}
#results div.raceResult div.raceDetailText {width: 820px;}
#results div.raceResult p.raceLocationText {font-size: 14px; color: #666666; margin-bottom: 0px; width: 720px; line-height: 18px;}
#results div.raceResult a.raceTitleText {font-size: 20px; font-weight: bold; color: #336699; width: 720px; text-decoration: none; line-height: 18px;}
#results div.raceResult a.raceTitleText:hover {color: #333333;}
#results div.raceResult #socialDetails div.socialBox {background-color: #FFFFFF;height: 18px;padding-left:6px; padding-right:6px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#results div.raceResult #socialDetails div.socialBox img {margin-right: 2px;}
#results div.raceResult #socialDetails div.socialBox a {text-decoration:none; font-size: 10px; color:#666666; font-weight: bold;}
#results div.blueTag {position: absolute;display:inline;padding:0;text-align:right; float:right; color:white;width: 80px;margin-left: -75px;}
#results div.blueTag a {float:right;font-size: 12px;font-weight: bold;color: #FFFFFF;background:url("../img/arrowGo.gif") no-repeat right top;text-decoration:none;color: white;text-align: right;}
#results div.blueTag span {float: left;display:block;background:url("../img/runnersGo.jpg") repeat-x;padding-bottom:5px;padding-left: 10px;padding-right: 10px;padding-top: 1px;text-align: right;}


#belowPaginator {margin:20px; margin-top: 10px; background-color:#e1e9f2; -moz-border-radius: 3px;-webkit-border-radius: 3px; width: 910px; height: 40px;}
#belowPaginator div.noResults {padding:10px 10px 10px 10px;float:left;}
#belowPaginator div.noResults p {color: #4e4e4e; font-size: 13px; font-weight: bold; margin-bottom: 0px;}
#belowPaginator div.bottomPaginator {color: #4e4e4e; font-size: 13px;float: right; padding-right: 10px; padding-top: 10px;margin-bottom: 0px; height: 30px;}


/* BOTONES */

.buttonLogin{float:right; width:59px; background:url(/img/buttonLogin.gif) no-repeat 0 0; height:23px; font-size: 12px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 7px 15px 0 0;border: none;}

.buttonLogin:hover{background:url(/img/buttonLogin.gif) no-repeat 0 -23px;}

.buttonRegisterLogin{float:right; width:105px; background:url(/img/buttonRegisterLogin.gif) no-repeat 0 0; height:23px;  font-size: 12px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0;border: none; margin-top: 2px;}

.buttonRegisterLogin:hover{background:url(/img/buttonRegisterLogin.gif) no-repeat 0 -23px;}

.registerLoginButton{float: right; width: 200px; height: 23px;}

.leftPaginator{
width:20px; background:url(/img/leftPaginator.gif) no-repeat 0 0; height:20px; font-size: 12px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;
}

.leftPaginator:hover{background:url(/img/leftPaginator.gif) no-repeat 0 -20px;}

.rightPaginator{
width:20px; background:url(/img/rightPaginator.gif) no-repeat 0 0; height:20px; font-size: 12px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;
}

.rightPaginator:hover{background:url(/img/rightPaginator.gif) no-repeat 0 -20px;}

.buttonComment{
float: right; width:132px; background:url(/img/buttonComment.gif) no-repeat 0 0; height:23px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;}

.buttonComment:hover{background:url(/img/buttonComment.gif) no-repeat 0 -23px;}

.registerUserButton{
float: right; width:111px; background:url(/img/registerUserButton.gif) no-repeat 0 0; height:26px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;}

.registerUserButton:hover{background:url(/img/registerUserButton.gif) no-repeat 0 -26px;}

.registerButtonContainer{
	margin-top: 2px;
	margin-right: 5px;
}

.buttonLocalizacion{
float: right; width:61px; background:url(/img/buttonLocation.gif) no-repeat 0 0; height:26px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;margin-top: -29px; position: absolute; margin-left: 270px;}

.buttonLocalizacion:hover{background:url(/img/buttonLocation.gif) no-repeat 0 -26px;}

.localizatorInputContainer{
	width: 306px;
}

.ButtonLocalizationUpdate{
float: right; width:61px; background:url(/img/buttonLocation.gif) no-repeat 0 0; height:26px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;}

.ButtonLocalizationUpdate:hover{background:url(/img/buttonLocation.gif) no-repeat 0 -26px;}

.localizatorInputButton{
	margin-left: -10px;
}

.saveChangesButton{
float: right; width:112px; background:url(/img/saveChangesButton.gif) no-repeat 0 0; height:23px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none; margin-right: 4px; margin-top: 4px;}

.saveChangesButton:hover{background:url(/img/saveChangesButton.gif) no-repeat 0 -23px;}

.buttonNoLogin{
float: right; width:71px; background:url(/img/buttonNoLogin.gif) no-repeat 0 0; height:26px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none; margin-top: 10px; margin-right: 9px;}

.buttonNoLogin:hover{background:url(/img/buttonNoLogin.gif) no-repeat 0 -26px;}


.ButtonLocalizationUpdate{
	height: 24px;
	margin-left: 4px;
}

.localizatorInputContainer{
	width: 306px;
}

.deleteButton{float: right; width:20px; background:url(/img/deleteButton.gif) no-repeat 0 0; height:20px; font-size: 12px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none; padding-bottom: 2px; padding-left: 1px; margin-right: 10px;}

.deleteButton:hover{background:url(/img/deleteButton.gif) no-repeat 0 -20px;}

.deleteButtons{
	margin-top: 3px;
	height: 23px;
}

.deleteAcountButton{
width:132px; background:url(/img/buttonComment.gif) no-repeat 0 0; height:23px; font-size: 11px; font-weight: bold; color:#ffffff; text-decoration:none; padding:0; margin: 0; border: none;}

.deleteAcountButton:hover{background:url(/img/buttonComment.gif) no-repeat 0 -23px;}


/* ---------------- */

.nodesc{
	text-align: center;
	color: #666666;
}

.nodesc a{
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}

.containerNoUser{
	margin-left: auto; margin-right: auto;
	width: 690px;
    height: 220px;
}

.noUser{
	width: 910px;
	height: auto;
	margin-left: 20px;
	text-align: center;
}

.NoUserInfo{
	margin-left: -20px;
	text-align: left;
	width: 460px;
}

.NoUserInfo p{
	margin: -2px 0px 30px 0px;
}

.content404{
	height: 300px;
	text-align: center;
	color: #666666;
	font-size: 15px;
	padding-top: 80px;
}

.content404 p a{
	font-weight: bold;	
	color: #336699;
	text-decoration: none;
}

.content404 p a:hover{
	color: #333333;
}

.fakeWhiteBox{
	height: 30px;
}


/*IMAGEN*/
.containerImg{
	margin: 0px 0px 0px 0px;
	border: 1px solid #d7d7d7;
	width: 609px;
	color: #666666;
}

.targetImg{
	margin: 4px 4px 4px 4px;
}

.containerImg p{
	margin-bottom: 10px;
}

.containerImg a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
}

.containerImg a:hover{
	color: #333333;
}

.imgData{
	margin-top: 16px;
	text-align: center;
}

.imagePaginator{
	width: 609px;
	text-align: right;
	margin-bottom: -10px;
	margin-top: -5px;
	margin-right: 0px;
	color: #666666;
}