/****** HEADER ****/

.header{background-image: url(/img/header.jpg); background-repeat: no-repeat; background-position: center; height: 61px; width: 910px; margin: 0px 0px 0px 0px;}
.header p{float: right; font-family: "Arial"; font-size: 11px; color: white; padding-right: 30px;}
.header a{text-decoration: none; color: white; cursor: pointer;}
.header a:hover{color: #999999;}

.logo{
	height: 61px;
}

#header div.search {
	width: 725px;
	margin-top: -10px;
}

#header #searchForm {
	width: 280px;
	float: right;
	margin-right: 4px;
}

label.roundsearchFirst {
	float:left;
	clear:left;
	background:url(/img/search.jpg) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 28px;
	margin:0px 0px 0px 0px;
}

.roundsearchFirst input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundsearchFirst input:focus {
	outline:none;
}

#inputsearchFirst {width:204px}

label.roundsearch1 {
	float:left;
	clear:left;
	background:url(/img/inputsearchbig.gif) no-repeat 0 0;
	padding: 0px 0px 0px 0px;
	height: 28px;
	margin:0px 0px 0px 0px;
}

.roundsearch1 input {
	background:transparent;
	padding-top: 8px;
	padding-left: 6px;
	float:left;
	border: none;
	color: gray;
	font-size: 12px;
}

.roundsearch1 input:focus {
	outline:none;
}

#inputsearch1 {width:443px}

.inputLeft{
	margin: 0px 0px 0px 0px;
}

.inputRight{
	margin: 1px 0px 0px -7px;
}

.subHeader{
	height: 80px;
	width: 910px;
}

p.subTitle{
	font-size: 24px;
	color: #666666;
	padding-top: 15px;
	padding-left: 40px;
}

p.subTitleInfo{
	font-size: 14px;
	color: #666666;
	padding-left: 40px;
	margin-top: -46px;
}

.subTitleInfo a{
	color: #336699;
	text-decoration: none;
}

/***** FOOTER *****/

.footer{background-image: url(/img/footer.jpg); background-repeat: no-repeat; background-position: center; width: 910px; height: 81px; margin: 0px 0px 0px 0px;}
.footer p{color: #666666; font-size: 12px; float: right; margin-top: 16px; margin-right: 40px;}
.footer a{color: #666666; font-weight: bold; text-decoration: none;}
.footer a:hover{color: #999999;}

/***** CONTENT *****/

#runnityHomeMap{
	margin-left: 8px;
}

.map{
	background-color: #eeeeee;
	height: 365px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.mapTop{
	background-image: url(/img/mapTop.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.mapBottom{
	background-image: url(/img/mapBottom.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	width: 910px;
	margin: 0px 0px 0px 20px;
}

.content{
	width: 910px;
	overflow: hidden;
}

/* Left Column */

.leftColumnHome{
	height: 330px;
	width: 610px;
	margin-left: 21px;
	margin-top: 10px;
}

.leftColumn{
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	width: 610px;
	margin-left: 20px;
}

.rightColumn{
	background-image: url(/img/background-right.jpg);
	background-position: right;
	background-repeat: repeat-y;
	width: 300px;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}

.ticketOrangeVoy{background-color: #ff6600;	height: 30px; width: 287px; margin-top: 20px;}
.ticketOrangeVoy p{font-size: 13px; font-weight: bold; color: #ffffff; margin-top: 5px; margin-left: 8px;}

.ticketOrange{
	background-image: url(/img/ticket_orange.gif);
	background-repeat: no-repeat;
	height: 7px;
	width: 11px;
}

.column1{
	height: 330px;
	width: 300px;
}

.column2{
	height: 330px;
	width: 300px;
	margin-left: 10px;
}

.carrera{
	width: 291px;
	height: 85px;
	background-color: #eeeeee;
	margin-bottom: 2px;
	margin-top: -4px;
}

.carrera2{
	width: 291px;
	height: 85px;
	background-color: #f7f7f7;
	margin-bottom: 2px;
	margin-top: -4px;
}

.separator{
	margin: 0px 0px 0px 0px;
	height: 1px;
	width: 276px;
	margin-left: 0px;
	border-top: dotted 1px #b2b2b2;
}

/*
.separator2{
	margin: 0px 0px 0px 0px;
	height: 1px;
	width: 265px;
	margin-left: 10px;
	border-top: dotted 1px #FFFFFF;
	margin-bottom: 5px;
}
*/

.ticketBlue{
	background-image: url(/img/ticket_blue.gif);
	background-repeat: no-repeat;
	height: 24px;
	width: 26px;
	float: right;
	margin-top: 4px;
	margin-right: -4px;
}

.ticketBlue2{
	background-image: url(/img/ticket_blue2.gif);
	background-repeat: no-repeat;
	height: 24px;
	width: 26px;
	float: right;
	margin-top: 4px;
	margin-right: -4px;
}

.ticketBlue p, .ticketBlue2 p{
	color: #ffffff;
	margin-left: 10px;
	margin-top: 1px;
	font-weight: bold;
}

.nameRace{line-height: 14px; padding-top: 4px; height: 50px;}
.nameRace a{font-size: 14px;color: #336699; font-weight: bold; line-height: 14px; padding-top: 4px; margin-left: -2px; text-decoration: none;}
.nameRace a:hover{color: #999999;}

.infoRace{
	font-size: 11px;
	color: #999999;
	margin-top: -20px;
	margin-bottom: 0px;
}

.recentActivity{
	font-size: 11px;
	color: #666666;
	margin-top: -20px;
/* 	font-weight: bold; */
	margin-bottom: 0px;
}

.infoRace b{
	color: #ff6600;
	font-weight: bold;
}

.placeRace{
	font-size: 11px;
	color: #999999;
	margin-bottom: 0px;
	margin-top: -4px;
}

a.verTodas{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
}

/* Right Column */

.rightColumnHome{
	background-image: url(/img/background_orange.jpg);
	background-repeat: repeat-x;
	height: 327px;
	width: 288px;
	margin-left: 10px;
	margin-top: 10px;
}

div.carreraOrange{
	width: 291px;
	height: 85px;
	margin-bottom: 2px;
	margin-top: -4px;
	border-bottom: solid dotted 1px #FFFFFF;
}

.nameRaceOrange{
	line-height: 14px;
	padding-top: 4px;
}

.nameRaceOrange a{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 14px;
	padding-top: 4px;
	margin-left: -2px;
	text-decoration: none;
	width: 154px;
	display: block;
}

.nameRaceOrange a:hover{
	color: #999999;
}

.infoRaceOrange{
	font-size: 11px;
	color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
}

.infoRaceOrange b{
	color: #ffffff;
	font-weight: bold;
}

.placeRaceOrange{
	font-size: 11px;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: -4px;
}


/* cosas */
.avatar2{
	height: 75px;
	width: 104px;
	border: 1px solid #d7d7d7;
	background-color: white;
	margin-left: 4px;
	margin-top: 4px;
}

.avatar{
	margin-left: 4px;
	margin-top: 4px;
}

.avatar2Orange{
	height: 75px;
	width: 104px;
	border: 1px solid #d7d7d7;
	background-color: white;
	margin-left: 10px;
	margin-top: 4px;
}

.avatarOrange{
	margin-left: 4px;
	margin-top: 4px;
}

.titulo{
	font-family: "Arial"
	font-size: 28px;
	font-weight: bold;
	color: #336699;
	border-bottom: solid 2px #336699;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

.titulOrange{
	margin-left: 10px;
	padding-left: 0px;
	color: #ffffff;
	border-bottom: solid 2px #ffffff;
}

/* banner info */

.bannerTop{
	background-image: url(/img/bannerTop.gif);
	background-repeat: no-repeat;
	width: 975px;
	height: 12px;
	margin: 0 auto;
}

.banner{
	background-image: url(/img/background_banner.jpg);
	background-repeat: repeat-x;
	width: 975px;
	height: 291px;
	margin: 0 auto;
}

.titular{
	background-image: url(/img/titular.jpg);
	background-repeat: no-repeat;
	height: 50px;
	width: 951px;
	margin-top: 27px;
	margin-left: 12px;
	position: absolute;
}

.titularColumn{
	height: 244px;
	width: 306px;
}

.titularTitle{
	font-family: "Arial Rounded MT Bold";
	font-size: 22px;	
	color: #ffffff;
	padding-top: 8px;
	margin-left: 40px;
}

.titularTitleFirst{
	margin-left: 20px;
}

.titularInfo{
	font-size: 18px;	
	color: #ffffff;
	margin-left: 20px;
	line-height: 20px;
}

.titularInfo2{
	margin-left: 40px;
}

.titularColumn a{
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	margin-left: 20px;
}

.titularColumn2 a{
	margin-left: 40px;
}

.titularColumn a:hover{
	color: #999999;
}

.columnLong{
	width: 610px;
}

.columnPhotos{
	background-image: url(/img/background_photos.jpg);
	background-repeat: repeat-x;
	width: 641px;
	height: 203px;
	margin: 0px 0px 20px -20px;	
}

.columnSort{
	width: 300px;
}

.ColumnHome{
	height: 110px;
	width: 910px;
	margin-left: 21px;
	margin-top: 10px;
}

.tituloRight{
	margin-right: 0px;
}

.tweet{
	font-size: 11px;
	color: #666666;
}

/* calendario */

.calendar{
	border-right: 1px solid gray;
	padding-right: 10px;
}

div.day {
	font-family: Arial;
	font-size: 22px;
	color: #666666;
	font-weight: bold;
	text-align: center;
	margin-top: -5px;
}

div.month {font-family: Arial;color: white;font-size: 10px;font-weight: bold;text-align: center;background-color: #cc3300;}
div.month1 {background-color: #3b8d50;}
div.month2 {background-color: #cc3300;}
div.month3 {background-color: #535353;}
div.month4 {background-color: #cf854d;}
div.month5 {background-color: #9f00c6;}

.raceTitle{
	font-size: 28px;
	color: #336699;
	margin-left: 20px;
	line-height: 20px;
	margin-top: -8px;
}

.raceDetailsTitle{
	color: gray;
	font-size: 14px;
	font-weight: normal;
	margin-left: 52px;
	margin-top: -44px;
}

.imageCarrera{
	width: 608px;
	height: 238px;
}

.raceData{width: 229px;}
.raceData a{color: #336699; text-decoration: none; font-weight: bold;}

.raceDescription{
	width: 381px;
}

.tituloLeft{
	padding-left: 0px;
}

.dataContainer{
	width: 216px;
	height: auto;
	border-bottom: 1px dotted gray;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dataContainer p{
	color: #666666;
	margin-top: 4px;
	margin-bottom: 4px;
}

.textRace{
	color: #666666;
}

.dataTitle{
	width: 60px;
}

.data{
	margin-left: 10px;
	width: 140px;
}

div.mapStyle {
	border: 1px solid #cccccc;
	vertical-align: middle;
	width: 600px;
	height: 400px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	background-color: white;
}

.noResults{
	font-size: 16px;
	color: gray;
}

.noResultsSub{
	font-size: 13px;
	color: gray;
	line-height: 16px;
	width: 460px;
}

.noRaceSub{
	color: gray;
	margin-top: -5px;
	margin-left: 10px;
}

.noResultsSub a{
	text-decoration: none;
	color: #336699;
	font-weight: bold;
}

.menu_button{
	background-image: url(/img/menu_button.jpg);
	background-repeat: no-repeat;
	height: 38px;
	width: 255px;
}

.buttonmenuContainer a{color: #666666;font-size: 16px;text-decoration: none;text-align: center;line-height: 34px;}
.buttonmenuContainer{margin-left: 20px;	margin-top: 24px;}

.buttonSearchFirst{background-color: #336699; background-image: url(/img/search_button.jpg); background-repeat: no-repeat; height: 28px; width: 76px; border: none; margin-left: -7px; color: #ffffff; font-size: 14px;	font-weight: bold; cursor: pointer;}
.buttonSearchFirst:hover{background-image: url(/img/search_button_hover.jpg);}

#comment {width: 610px; border-bottom: 1px dotted #cccccc; margin-bottom: 10px;}
#comment a.name {color: #666666; font-size: 16px; font-weight: bold; text-decoration: none; float: none; margin: 0px 0px 0px -30px;}
#comment div.commentBox {margin-left: 10px; width: 500px; height: 76px; margin-bottom: 10px;}
#comment div.commentBox p {margin-right: 30px;}
#comment div.commentBox p.commentUser {float: left; margin-right: 30px; color: #666666;}
#comment div.commentBox div.nameUser {margin-left: 30px; color: #666666;}

.noComments{
	width: 200px;
	background-color: lime;
	height: 30px;
}

.publica{
	color: #336699;
	text-decoration: none;
	float: right;
	cursor: pointer;
}

.avatarBox{
	border: 1px solid #cccccc;
	width: 67px;
	height: 66px;
	padding: 4px 4px 4px 4px;
}

.bannerTopPhotos{
	background-image: url(/img/banner_photos.gif);
	background-repeat: no-repeat;
	width: 300px;
	height: 11px;
	float: left;
	margin: 10px 0px 0px -20px;
}

div.boxraceMap {
	width: 610px;
	height: 140px;
	background-color: #f1f4f8;
	margin-bottom: 10px;
	margin-top: -10px;
}

div.commentArea {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

div.titleComents {
	font-family: Arial;
	font-size: 16px;
	color: #336699;
	font-weight: bold;
	height: auto;
}

.textArea {
	height: 40px;
	width: 560px;
}

.tituloColumnRight{
	margin-left: 24px;
	margin-right: 14px;	
}

/* races right */

div.events {
	width: 262px;
	height: 80px;
	margin-left: 24px;
	margin-top: -6px;
}

div.raceRight{
	height: 65px;
	width: 262px;
	margin-bottom: 4px;
	margin-top: 0px;
	background-color: #e0e0e0;
}

div.raceRight2{
	height: 65px;
	width: 262px;
	margin-bottom: 4px;
	background-color: #e7e7e7;
}

.dateRight{
	margin-left: 10px;
	margin-top: 10px;
}

.dataRaceRight{
	width: 200px;
	margin-top: 10px;
}

.dataRaceRight a{
	}

.dataRaceRight p{
	color: #666666;
	font-size: 10px;
	margin-top: -4px;
}

.nameRaceRight a{
	color: #336699;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.nameRaceRight{
	line-height: 10px;
}

.avatarRight{
	margin: 0px 0px -5px -4px;
}

.avatarContainer{
	margin-left: 27px;
}

.navigation a{
	color: #999999;
	text-decoration: none;
	font-size: 12px;
}

.mapRight{
	margin-top: 10px;
	padding-top: 10px;
}

/* SEARCH RESULTS */

#searchBox {margin:20px; width: 910px; margin-bottom: 0px;}
#searchBox p {margin-bottom: 0px; color:#666666; font-size:10px; font-weight: bold; }

#searchBox div.searchForm {height: 73px;background-color:#eeeeee;-moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px;}
#searchBox div.searchForm div.regionInput {padding-top: 20px;padding-left: 15px;}
#searchBox div.searchForm div.dateInput {padding-top: 20px;padding-left: 15px;}
#searchBox div.searchForm div.buttonSearch {float:right;padding-top: 45px;padding-right: 10px;}



ul.topnav {
	list-style: none;
	float: left;
	width: 130px;
	background: #FFFFFF;
	color: black;
	background-color: white;
	margin-left: 0px;
	margin-top: -1px;
	font-family: Arial;
	font-size: 11px;
	padding-left: 5px;
	padding-top:3px;
	height: 23px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border: 1px solid #cccccc;
	border-left: none;
	position:absolute;
	line-height: 20px;
}
ul.topnav li {
	float: left;

	margin: 0;	
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	color: #000000;
	width:110px;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:focus{
	outline:none;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 15px;
	height: 15px;
	padding-top: 0px;
	float: left;
	background: url(/img/arrow.gif); 
	
}
ul.topnav li span.subhover {cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: -5px; top: 21px;
	background: #FFFFFF;
	border: 1px solid #b9b9b9;
	border-top: none; 
	margin: 0; padding: 0;
	padding-left:5px;
	padding-top: 3px;
	display: none;
	float: left;
	width: 129px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: 115px;
	border-bottom: dotted 1px #dddddd;
}


html ul.topnav li ul.subnav li a:focus {
	outline: none;
}

html ul.topnav li ul.subnav li a:hover {
}

#header img {
	margin: 20px 0 10px;
}


#a1 {
	color: #3b8d50;
}
#a2{
	color: #cc3300;
}

#a3 {
	color: #535353;
}

#a4 {
	color: #cf854d;
}

#a5 {
	color: #9f00c6;
}






#searchBox div.searchForm #widget {position: relative;}
#searchBox div.searchForm #widgetField {width: 190px;height: 26px;background: url(../img/field.png);overflow: hidden;position: relative;}
#searchBox div.searchForm #widgetField a {display: block;position: absolute;width: 26px;height: 26px;top: 0;right: 0;text-decoration: none;text-indent: -3000px;}
#searchBox div.searchForm #widgetField span	{font-size: 12px;color: #999999;position: absolute;top: 0;height: 26px;line-height: 26px;left: 5px;width: 150px;text-align: center;}
#searchBox div.searchForm #widgetCalendar {position: absolute;top: 26px;right: 0;height: 0px;overflow: hidden;width: 470px;background: #FFFFFF;border-right: 1px solid #999999}
#searchBox div.searchForm #widgetCalendar .datepicker {position: absolute;bottom: 0;top: auto;}
#searchBox div.searchForm #widgetCalendar .datepickerContainer {background: transparent !important;}

#searchBox div.racesTab {margin:0px; margin-top: -10px;float:left; font-size:12px; line-height:normal; color: #999999;font-weight: bold;}
#searchBox div.racesTab ul {margin:7px; padding:10px 0px 0 0px; list-style:none;}
#searchBox div.racesTab li {display:inline; margin:0; padding:0; text-align: center;}
#searchBox div.racesTab a {float:left; background:url("../img/tabLeft.gif") no-repeat left top;margin:0;padding:0 2px 0 2px;text-decoration:none;color: white; width: 120px; height: 30px;}
#searchBox div.racesTab a span {float:left; display:block; background:url("../img/tabRight.gif") no-repeat right top;padding-right:2px; padding-top: 4px; padding-bottom: 5px; margin-left: 1px; height: 30px; color: #999999}
#searchBox div.racesTab a span {float:none;}
#searchBox div.racesTab a:hover span {}
#searchBox div.racesTab a:hover {background-position:0% -31px;}
#searchBox div.racesTab a:hover span {background-position:100% -32px;color:#000000;}
#searchBox div.racesTab #current a {background-position:0% -31px;}
#searchBox div.racesTab #current a span {background-position:100% -32px;color: black}
#searchBox div.topPaginator {height: 37px; background-color: #e1e9f2;-moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; border-top: solid 1px #89a5c3;}
#searchBox div.topPaginator div.upPaginator {float: right; padding-right: 10px; padding-top: 7px;margin-bottom: 0px; height: 30px;}
#searchBox div.topPaginator div.upPaginator p{color: #4e4e4e; font-size: 13px;font-weight: normal;}


#results {margin:30px; width: 910px; margin-bottom: 0px;margin-top:10px;}
#results .two { background-color: #f7f7f7;}
#results .one {background-color: #efefef;}
#results div.raceResult { border-bottom: dotted 1px #999999; height: 100px; padding-top: 10px; padding-left: 10px;margin-bottom: 1px;}
#results div.raceResult div.firstDetails { height: 75px; width: 134px; padding: 5px 5px; border: 1px solid #d7d7d7; background-color: white; }
#results div.raceResult div.firstDetails div.raceResultDate { width: 30px; margin-right: 3px;}
#results div.raceResult div.firstDetails img { height:75px; width: 100px;}
#results div.raceResult div.raceDetailText {width: 820px;}
#results div.raceResult p.raceLocationText {font-size: 14px; color: #666666; margin-bottom: 0px; width: 720px; line-height: 18px;}
#results div.raceResult a.raceTitleText {font-size: 20px; font-weight: bold; color: #336699; width: 720px; text-decoration: none; line-height: 18px;}
#results div.raceResult #socialDetails div.socialBox {background-color: #FFFFFF;height: 20px;padding-left:3px; padding-right:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#results div.raceResult #socialDetails div.socialBox img {margin-right: 2px;}
#results div.raceResult #socialDetails div.socialBox a {text-decoration:none; font-size: 10px; color:#666666; font-weight: bold;}
#results div.blueTag {position: absolute;display:inline;padding:0;text-align:right; float:right; color:white;width: 80px;margin-left: -75px;}
#results div.blueTag a {float:right;font-size: 12px;font-weight: bold;color: #FFFFFF;background:url("../img/arrowGo.gif") no-repeat right top;text-decoration:none;color: white;text-align: right;}
#results div.blueTag span {float: left;display:block;background:url("../img/runnersGo.jpg") repeat-x;padding-bottom:5px;padding-left: 10px;padding-right: 10px;padding-top: 1px;text-align: right;}


#belowPaginator {margin:20px; margin-top: 10px; background-color:#e1e9f2; -moz-border-radius: 3px;-webkit-border-radius: 3px; width: 910px; height: 40px;}
#belowPaginator div.noResults {padding:10px 10px 10px 10px;float:left;}
#belowPaginator div.noResults p {color: #4e4e4e; font-size: 13px; font-weight: bold; margin-bottom: 0px;}
#belowPaginator div.bottomPaginator {color: #4e4e4e; font-size: 13px;float: right; padding-right: 10px; padding-top: 10px;margin-bottom: 0px; height: 30px;}



