body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; background:#EFF0E8;}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:ttauto;}
a:focus{outline:none}
img.left_curve{float:left;}
img.right_curve{float:right;}

div#layout {margin:0 auto; width:924px; position:relative;}

div#outer_upper_area{width:100%;}

div#upper_area {width:924px; margin:0 auto; }
div#map {float:left; position:relative; width:100%; height:278px; margin:0; border-bottom:3px solid #FFFFFF;}
div.renovation_content {position:absolute; right:0; top:52px; width:623px; height:184px; background:url(../images/bkgRenovacionTitle.png) no-repeat 0 0; margin:0 0 0 0;}





/************ OBRA *******************/

div.left_region_work {position:relative; float:left; background-color:#EFF0E8; width:285px; padding: 0 0 0 10px;}
div.left_region_work img.arrow {position:absolute; top:18px; right:-13px;}
div.left_region_work div.top_information {float:left; margin:15px 0 0 0; width:100%;}
div.left_region_work div.top_information div.logo {float:left; width:32px; padding:3px 0 0 0;}
div.left_region_work div.top_information div.logo img {width:26px;}
div.left_region_work div.top_information div.region_data {float:left; width:240px;}
div.left_region_work div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#8c8c86; margin: 3px 0 0 2px;}
div.left_region_work div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 2px;}
div.left_region_work div.top_information div.region_data p.information a {color:#3F8A8C; text-decoration:underline; font:normal 13px Arial;}
div.left_region_work div.top_information div.region_data p.information a:hover {text-decoration:none;}
div.left_region_work div.top_information div.region_data p.web {float:left; padding:5px 0 0 0;}
div.left_region_work div.top_information div.region_data p.web a {color:#3F8A8C; text-decoration:underline; font:normal 11px Arial;}
div.left_region_work div.top_information div.region_data p.web a:hover {text-decoration:none;}
div.left_region_work img.region {float:left; margin:20px 0 0 0; border:1px solid #cccccc; padding:5px; background:#EEEEEE; width:262px;}
div.left_region_work hr {float:left; width:100%;  margin:17px 0 0 0;}
div.left_region_work div.political_data {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.political_data h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.political_data div.political_logo {float:left; width:44px;}
div.left_region_work div.political_data div.political_logo img {width:38px;}
div.left_region_work div.political_data div.political_information {float:left; width:230px; padding:3px 0 0 2px;}
div.left_region_work div.political_data div.political_information h3 {font:bold 13px Arial; color:#333333;}
div.left_region_work div.political_data div.political_information p {font:normal 11px Arial; color:#666666; margin: 2px 0 0 0; }
div.left_region_work div.political_data div.political_information p a {color:#3F8A8C; text-decoration:none;}
div.left_region_work div.political_data div.political_information p a:hover {text-decoration:underline;}
div.left_region_work div.political_stats {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.political_stats h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.more_enterprises {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.more_enterprises h2 {float:left; width:100%; font:bold 15px Arial; color:#8c8c86; padding:0 0 7px;}
div.left_region_work div.more_enterprises li {font:normal 13px Arial; color:#666666; padding:1px 0;}
div.left_region_work div.related_regions {float:left; margin:13px 0 0 0; width:100%;}
div.left_region_work div.related_regions span {float:left; width:100%; padding:0 0 7px 0;}
div.left_region_work div.related_regions span h2 {float:left; width:auto; font:bold 15px Arial; color:#8c8c86;}
div.left_region_work div.related_regions span a {float:right; width:auto; font:normal 11px Arial; color:#408A8D; padding:3px 0 0; text-decoration:underline;}
div.left_region_work div.related_regions span a:hover {text-decoration: none;}
div.left_region_work div.related_regions li {padding:2px 0;}
div.left_region_work div.related_regions li a {font:bold 13px Arial; color:#408A8D; padding:0; text-decoration:none;}
div.left_region_work div.related_regions li a:hover {border-bottom:1px solid #408A8D;}

div.renovation_content {position:absolute; right:0; top:52px; width:623px; background:url(../images/bkgRenovacionTitle.png) no-repeat 0 0; margin:0 0 0 0;}
div.renovation_content div.content_up {float:left;}
div.renovation_content div.content_up div.content_left {float:left; width:76px;}
div.renovation_content div.content_up div.content_left div.avatar {float:left; width:62px; margin:21px 0 0 32px;}
div.renovation_content div.content_up div.content_left div.avatar img {float:left; padding:4px; border:none; background:white; width:60px; height:60px;}
div.renovation_content div.content_up div.content_left p.upload a.upload_photo {float:left; font:11px Arial; color:#FFFFFF; text-decoration:underline; width:100%; margin:3px 0 0 32px; letter-spacing:0px;}
div.renovation_content div.content_up div.content_left p.upload a.upload_photo:hover {text-decoration:none}

div.renovation_content div.content_up div.content_right {float:right; width:480px; margin:21px 15px 0 35px; }
div.renovation_content div.content_up div.content_right p.title {float:left; width:493px; font:bold 21px Arial; color:#FFFFFF; line-height:22px; }
div.renovation_content div.content_up div.content_right p.content {float:left; width:493px; font:normal 13px Arial; color:#E19DB7; margin: 6px 0 0 0;}
div.renovation_content div.content_up div.content_right p.content span.number {font:bold 13px Arial; color:#FFFFFF;}
div.renovation_content div.content_up div.content_right p.content span.state {font:bold 13px Arial; color:#DA84A5;}

div.renovation_content div.content_down {}
div.renovation_content div.content_down div.content_left_like {float:left; width:250px; margin:20px 0 0 32px; background:#C33A6E; padding:0 0 10px 0;}
div.renovation_content div.content_down div.content_left_like div.like_info{float:left; width:143px; height:25px; margin:0 0 0 0px; background:url(../images/bkg_info_like.png) no-repeat 0 0; }
div.renovation_content div.content_down div.content_left_like div.like_info p {float:left; text-align:center; font:normal 13px Arial; color:#C33A6E; margin:3px 0 0 21px;}
div.renovation_content div.content_down div.content_left_like div.like_info p span {font:bold 13px Arial; color:#C33A6E;}
div.renovation_content div.content_down div.content_left_like p.do_you_like {float:left; margin:1px 0 0 9px;}
div.renovation_content div.content_down div.content_left_like p.do_you_like a{text-decoration:underline; font:bold 15px Arial; color:#FFFFFF; }
div.renovation_content div.content_down div.content_left_like p.do_you_like a:hover{text-decoration:none;}


div.renovation_content div.content_down div.content_right_comment {float:right; margin:28px 18px 0 0px;}
div.renovation_content div.content_down div.content_right_comment p a {float:left; background:url(../images/icons/comment_alpha.png) no-repeat 0 3px; height:18px; font:13px Arial; color:#FFFFFF; padding:0 0 0 20px; text-decoration: underline;} 
div.renovation_content div.content_down div.content_right_comment p a:hover {text-decoration: none;} 


div.renovation_content div.content_head {float:right; width:610px; height:19px; background:url(../images/renovation_content_head.png) no-repeat 0 0; margin:10px 0 0px 0;}
div.renovation_content div.content {float:right; width:610px; background-color:#FFFFFF; margin:0px 0 0 0; padding:1px 0 0 0;}


div.renovation_content div.content div.content_left {float:left; width:260px; margin:5px 0 0 20px;}


div.renovation_content div.content div.content_left p.award {font:left; font:bold 11px Arial; color:#666666; text-transform:uppercase; margin: 0 0 2px 0; }
div.renovation_content div.content div.content_left p.name a {font:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline; line-height:12px;}
div.renovation_content div.content div.content_left p.name a:hover {text-decoration: none;}

div.renovation_content div.content div.content_left p.title {float:left; font:bold 17px Arial; color:#2A2625; letter-spacing:-1.0px; margin:20px 0 0 0;}

div.renovation_content div.content p.description {float:left; font:normal 15px Arial; color:#666666; margin:0px 20px 10px 20px; width:567px;}
div.renovation_content div.content p.download {float:left; margin:5px 0 0 20px;}

div.renovation_content div.content p.download span.pdf {float:left; background:url(../images/icons/pdf_icon.png) no-repeat 0 0; height:16px; padding:0 10px 0 20px;}
div.renovation_content div.content p.download span.pdf a {float:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.renovation_content div.content p.download span.pdf a:hover {text-decoration: none;}

div.renovation_content div.content p.download span.line_divide {float:left; background:url(../images/line_divide_download.png) no-repeat 0 0; width:2px; height:16px; margin:0 10px 0 0;}

div.renovation_content div.content p.download span.view_more {float:left; background:url(../images/view_more_link.png) no-repeat 0 0; height:16px; padding:0 0 0 20px;}
div.renovation_content div.content p.download span.view_more a {float:left; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.renovation_content div.content p.download span.view_more a:hover {text-decoration: none;}

div.renovation_content div.content div.line_to_separate {float:left; background:url(../images/line_to_separate.png) no-repeat 0 0; width:572px; height:2px; margin:10px 0 10px 20px;}

div.renovation_content div.content div.content_right {float:right; margin:0 18px 0 0;}
div.renovation_content div.content div.content_right a.money {float:right; font:bold 29px Arial; color:#FFFFFF; background:url(../images/euroBox_left.png) no-repeat 0 0; text-decoration:none; height:40px; margin:0 8px 0 0; padding:0px 5px 0 40px;}
div.renovation_content div.content div.content_right a.money span {float:right; background:url(../images/euroBox_bkg.png) no-repeat right top; height:40px; padding:2px 9px 0 4px;}
div.renovation_content div.content div.content_right span.kind_contrat {float:right; background:url(../images/iconoscontratos/contratoAbierto.png) no-repeat 0 0; width:122px; height:40px;}

div.renovation_content div.content div.comments {float:left; margin:0 0 0 20px; width:571px;}
div.renovation_content div.content div.comments ul {float:left; width:100%;}
div.renovation_content div.content div.comments li {float:left; width:100%; margin:3px 0;}
div.renovation_content div.content div.comments li div.avatar {float:left; width:50px;}
div.renovation_content div.content div.comments li div.avatar img {float:left; padding:3px; border:1px solid #cccccc; background:white; width:48px; height:48px;}
div.renovation_content div.content div.comments li div.comment_area {float:left; width:500px; margin:0 0 0 14px;}
div.renovation_content div.content div.comments li div.comment_area p.name {float:left; font:bold 13px Arial; color:#333333; margin: 0 0 2px 0;}
div.renovation_content div.content div.comments li div.comment_area p.comment {float:left; font:normal 13px Arial; color:#666666;}
div.renovation_content div.content div.comments li div.line_to_separate {float:left; background:url(../images/line_to_separate.png) no-repeat 0 0; width:572px; height:2px; margin:10px 0 10px 0px;}

div.renovation_content div.content div.line_comment {float:left; width:571px; height:1px; background-color:#A0C4C6; margin:0px 0 0 0;}
div.renovation_content div.content form.send_comment {float:left; margin:20px 0 35px 20px; width:571px; height:250px; background-color:#E3EEEE;}
div.renovation_content div.content form.send_comment div.name {float:left; margin:15px 0 0 15px;}
div.renovation_content div.content form.send_comment div.name p.title {font:bold 13px Arial; color:#666666; width:170px; }
div.renovation_content div.content form.send_comment div.name input[type="text"]{float:left; padding:0px 4px 0px 4px; width:162px; height:30px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.name input[type="text"]:focus {outline:none;} 

div.renovation_content div.content form.send_comment div.email {float:left; margin:15px 0 0 11px;}
div.renovation_content div.content form.send_comment div.email p.title {font:bold 13px Arial; color:#666666; width:170px; }
div.renovation_content div.content form.send_comment div.email input[type="text"]{float:left; padding:0px 4px 0px 4px; width:162px; height:30px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.email input[type="text"]:focus {outline:none;}

div.renovation_content div.content form.send_comment div.web {float:left; margin:15px 0 0 11px;}
div.renovation_content div.content form.send_comment div.web p.title {font:bold 13px Arial; color:#B4B7B7; width:170px; }
div.renovation_content div.content form.send_comment div.web input[type="text"]{float:left; padding:0px 4px 0px 4px; width:162px; height:30px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.web input[type="text"]:focus {outline:none;}

div.renovation_content div.content form.send_comment div.comment {float:left; margin:15px 0 0 15px;}
div.renovation_content div.content form.send_comment div.comment p.title {font:bold 13px Arial; color:#666666; width:530px; }
div.renovation_content div.content form.send_comment div.comment textarea{float:left; padding:3px 4px; width:528px; height:74px; border:none; border:1px solid #A0C4C6;font:normal 13px Arial; color:#999999; margin:5px 0 0 0;}
div.renovation_content div.content form.send_comment div.comment textarea:focus {outline:none;}


div.renovation_content div.content form.send_comment input[type="submit"]{float:right; background:url(../images/bkgSendComment.png) no-repeat 0 0; margin:18px 20px 0px 0; width:131px; height:30px; border:none; }
div.renovation_content div.content form.send_comment input[type="submit"]:focus {outline:none;}
div.renovation_content div.content form.send_comment input[type="submit"]:hover {cursor:pointer; background-position:0 -30px;}

div.renovation_content div.more {float:right; margin:1px 0 0 0; background-color:#FFFFFF; width:610px;}
div.renovation_content div.more p.title {float:left; font:bold 17px Arial; color:#2A2625; width:610px; margin:17px 0 0 20px;}
div.renovation_content div.more ul {float:left; margin:10px 0 20px 20px;}
div.renovation_content div.more ul li {float:left; width:295px; margin:10px 0 12px 0px;}
div.renovation_content div.more ul li div.imgPlace {float:left; width:50px;}
div.renovation_content div.more ul li div.imgPlace a img {float:left; padding:3px; border:1px solid #cccccc; background:white; width:48px; height:48px;}
div.renovation_content div.more ul li div.imgPlace a:hover img {border:1px solid #999999;}
div.renovation_content div.more ul li div.info {float:left; width:200px; margin:0 0 0 15px;}
div.renovation_content div.more ul li div.info p.about a{float:left; font:bold 13px Arial; color:#2A2825; text-decoration: none;}
div.renovation_content div.more ul li div.info p.about a:hover{text-decoration: underline;}
div.renovation_content div.more ul li div.info p.info {float:left; font:normal 11px Arial; color:#666666; margin:5px 0 0 0;}
div.renovation_content div.more ul li div.info p.info span {float:none; font:bold 11px Arial; color:#666666; }
div.renovation_content div.more ul li div.result {float:left; margin:7px 0 0 64px; width:200px;} 

div.renovation_content div.more ul li div.result a.likes {float:left; background:url(../images/miniSmilleyBox.png) no-repeat 0 top; margin:0; padding:2px 10px 0 20px; height:25px; text-decoration:none; color:#FFFFFF; font-size:11px; font-weight: bold;}
div.renovation_content div.more ul li div.result a.likes span {float:left; background:url(../images/pinkButton_bkg.png) no-repeat right top; margin:0; font:normal 13px Arial; color:#FFFFFF; padding:4px 10px 0 5px; height:21px;}
div.renovation_content div.more ul li div.result a.likes:hover span {background-position:right -25px;}
div.renovation_content div.more ul li div.result p.comments a {float:left; font:normal 13px Arial; color:#3F8A8C; text-decoration:underline; margin:0 0 0 0;}
div.renovation_content div.more ul li div.result p.comments a:hover {text-decoration:none;}

ul {list-style:none;}


/*HEADER*/
div.outer_layout_gray {background:#292724; width:100%; height:35px; padding:9px 0 0 0;}
div.outer_layout_gray div.header {width:924px; margin:0 auto;}
div.outer_layout_gray div.header p.logo {float:left; letter-spacing:-1px;}
div.outer_layout_gray div.header p.logo a {text-decoration:none; font:bold 19px Arial; color:#FFFFFF;}
div.outer_layout_gray div.header p.facebook {float:right; font:normal 13px Arial; color:#FFFFFF; padding:5px 0 0 0;}
div.outer_layout_green {background:#408A8D; width:100%; height:34px;}
div.outer_layout_green div.menu {width:924px; margin:0 auto; padding:0; position:relative;}
div.outer_layout_green div.menu img {position:absolute; width:14px; height:7px; top:34px; left:13px; z-index:100;}
div.outer_layout_green div.menu ul {float:left; margin:7px 0 0 0;}
div.outer_layout_green div.menu ul li {float:left; margin:0 15px 0 0;}
div.outer_layout_green div.menu ul li a {text-decoration:none; font:bold 15px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu ul li a:hover {}
div.outer_layout_green div.menu ul li a.disabled {text-decoration:none; font:bold 15px Arial; color:#79ADAF;}
div.outer_layout_green div.menu ul li a.disabled:hover {cursor:default;}
div.outer_layout_green div.menu p {float:right; font:normal 13px Arial; color:#FFFFFF; padding:8px 0 0 0;}
div.outer_layout_green div.menu p a {font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_green div.menu p a:hover {text-decoration:none;}
div.outer_layout_green div.menu form {float:right; margin:4px 0 0 0; padding:0;}
div.outer_layout_green div.menu form input[type="text"] {float:left; width:196px; padding:6px; height:14px; border:none; background:url(../images/header_textinput.png) no-repeat 0 0;  font:normal 13px Arial; color:#cccccc; font-style:italic;}
div.outer_layout_green div.menu form input[type="submit"] {float:left; width:25px; height:26px; background:url(../images/lens.png) no-repeat right 0; border:none; margin:0;}
div.outer_layout_green div.menu form input[type="submit"]:hover {cursor:pointer; background-position:0 -26px;}


/*HOME*/
div.left_home {float:left; width:544px; background:white; padding:20px;}
div.left_home h3 {font:bold 21px Arial; color:#2A2625; letter-spacing:-1px;}
div.left_home ul {float:left; padding:0; width:544px; margin:0;}
div.left_home ul li {float:left; padding:17px 0; width:544px; border-bottom:1px solid #DADCD0;}
div.left_home ul li.last {border-bottom:none;}
div.left_home ul li div.left_information {float:left; width:390px;}
div.left_home ul li div.left_information div.work_image {float:left; width:77px;}
div.left_home ul li div.left_information div.work_image img {float:left; width:60px; padding:3px; background:white; border:1px solid #cccccc;}
div.left_home ul li div.left_information div.work_information {float:left; width:313px;}
div.left_home ul li div.left_information div.work_information h4 {font:bold 15px Arial; color:#2A2625; line-height:18px;}
div.left_home ul li div.left_information div.work_information p {font:normal 13px Arial; color:#666666; padding:5px 0 0 0;}
div.left_home ul li div.left_information div.work_information p a {font:normal 13px Arial; color:#408A8D;}
div.left_home ul li div.left_information div.work_information p a:hover {text-decoration:none;}
div.left_home ul li div.right_information {float:right; width:154px;}
div.left_home ul li div.right_information a.likes {float:right; background:url(../images/pinkButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none;}
div.left_home ul li div.right_information a.likes:hover {background-position:0 -25px;}
div.left_home ul li div.right_information a.likes span {float:right; background:url(../images/pinkButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.left_home ul li div.right_information a.likes:hover span {background-position:right -25px;}
div.left_home ul li div.right_information a.comment {float:right; text-align:right; font:normal 13px Arial; color:#408A8D; text-decoration:underline; padding:4px 0 0 0;}
div.left_home ul li div.right_information a.comments {float:right; text-align:right; background:url(../images/icons/comment_alpha.png) no-repeat 0 5px; padding:4px 0 0 17px; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.left_home ul li div.right_information a:hover {text-decoration:none;}
div.left_home ul li div.right_information a.no_like {float:right; background:url(../images/greyButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none;}
div.left_home ul li div.right_information a.no_like:hover {background-position:0 -25px;}
div.left_home ul li div.right_information a.no_like span {float:right; background:url(../images/greyButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.left_home ul li div.right_information a.no_like:hover span {background-position:right -25px;}

div.right_home {float:right; width:320px; background:#EFF0E8; padding:20px 0 20px 20px; text-align:left;}
div.right_home h3 {font:bold 21px Arial; color:#AAABA7;}
div.right_home div.long {float:left; margin:10px 0; width:320px;}



/*MUNICIPIO*/
div.left_region {position:absolute; top:52px; left:0; background: url(../images/top_bkg_right_region.png) no-repeat 0 0 #FFFFFF; width:274px; padding:20px;}
div.left_region img.arrow {position:absolute; top:18px; right:-13px;}
div.left_region div.top_information {float:left; margin:0; width:100%;}
div.left_region div.top_information div.logo {float:left; width:32px; padding:0px 0 0 0;}
div.left_region div.top_information div.logo img {width:26px;}
div.left_region div.top_information div.region_data {float:right; width:240px;}
div.left_region div.top_information div.region_data h1 {float:left; font:bold 21px Arial; color:#2A2725; margin-top:2px;}
div.left_region div.top_information div.region_data p.information {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 0;}
div.left_region div.top_information div.region_data p.information a {color:#3F8A8C; text-decoration:underline; font:normal 13px Arial;}
div.left_region div.top_information div.region_data p.information a:hover {text-decoration:none;}
div.left_region div.top_information div.region_data p.web {float:left; padding:5px 0 0 0;}
div.left_region div.top_information div.region_data p.web a {color:#3F8A8C; text-decoration:underline; font:normal 11px Arial;}
div.left_region div.top_information div.region_data p.web a:hover {text-decoration:none;}
div.left_region img.region {float:left; margin:15px 0 0 0; border:1px solid #cccccc; padding:5px; background:#EEEEEE; width:262px;}
div.left_region hr {float:left; width:100%;  margin:18px 0 0 0;}
div.left_region div.political_data {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.political_data h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.political_data div.political_logo {float:left; width:44px;}
div.left_region div.political_data div.political_logo img {width:38px;}
div.left_region div.political_data div.political_information {float:right; width:228px; padding:3px 0 0 2px;}
div.left_region div.political_data div.political_information h3 {font:bold 13px Arial; color:#333333;}
div.left_region div.political_data div.political_information p {font:normal 11px Arial; color:#666666; margin-top: 3px;}
div.left_region div.political_data div.political_information p a {color:#3F8A8C; text-decoration:none;}
div.left_region div.political_data div.political_information p a:hover {text-decoration:underline;}
div.left_region div.political_stats {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.political_stats h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.more_enterprises {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.more_enterprises h2 {float:left; width:100%; font:bold 15px Arial; color:#333333; padding:0 0 7px;}
div.left_region div.more_enterprises li {font:normal 13px Arial; color:#666666; padding:1px 0;}
div.left_region div.related_regions {float:left; margin:13px 0 0 0; width:100%;}
div.left_region div.related_regions span {float:left; width:100%; padding:0 0 7px 0;}
div.left_region div.related_regions span h2 {float:left; width:auto; font:bold 15px Arial; color:#333333;}
div.left_region div.related_regions span a {float:right; width:auto; font:normal 11px Arial; color:#408A8D; padding:2px 0 0; text-decoration:none; border-bottom:1px solid #408A8D;}
div.left_region div.related_regions span a:hover {border-bottom:1px dotted #408A8D;}
div.left_region div.related_regions li {padding:2px 0;}
div.left_region div.related_regions li a {font:bold 13px Arial; color:#408A8D; padding:0; text-decoration:none;}
div.left_region div.related_regions li a:hover {border-bottom:1px solid #408A8D;}

div.right_region {position:relative; float:right; width:590px; padding:20px 0 60px 20px;}
div.right_region span {float:left; width:590px; color:#666666; padding:0 0 20px;}
div.right_region span h3 {float:left; width:auto; font:bold 35px Arial; letter-spacing:-1px;}
div.right_region span div {float:right; width:142px; padding:7px 0 0 0;}
div.right_region span div p {float:left; width:142px; text-align:right; font:bold 25px Arial; letter-spacing:-1px;}
div.right_region span div p.small {float:left; width:142px; font:bold 10px Arial; color:#AAABA7; letter-spacing:0; line-height:5px;}
/*div.right_region div.search_container {float:left; padding:22px 13px; width:564px; background:url(../images/region_search_bkg.png) no-repeat 0 0 #E1E2DB;}*/
div.right_region div.search_container {float:left; height:15px; padding:0; width:590px; background:url(../images/searchArrow.png) no-repeat 0 0;}
div.right_region ul {float:left; padding:0; width:590px; margin:0;}
div.right_region ul li {float:left; padding:17px 0; width:590px; border-bottom:1px solid #DADCD0;}

div.right_region ul li div.left_information {float:left; width:420px;}
div.right_region ul li div.left_information div.work_image {float:left; width:77px;}
div.right_region ul li div.left_information div.work_image a img {float:left; width:60px; padding:3px; background:white; border:1px solid #cccccc;}
div.right_region ul li div.left_information div.work_image a:hover img {border:1px solid #999999;}
div.right_region ul li div.left_information div.work_information {float:left; width:343px;}
div.right_region ul li div.left_information div.work_information a {font:bold 15px Arial; color:#2A2625; line-height:18px;}
div.right_region ul li div.left_information div.work_information a:hover {font:bold 15px Arial; color:#2A2625; line-height:18px; text-decoration: underline; cursor: pointer;}
div.right_region ul li div.left_information div.work_information p {font:normal 13px Arial; color:#666666; padding:5px 0 0 0;}

div.right_region ul li div.right_information {float:right; width:170px;}
div.right_region ul li div.right_information a.likes {float:right; background:url(../images/pinkButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none;}
div.right_region ul li div.right_information a.likes:hover {background-position:0 -25px;}
div.right_region ul li div.right_information a.likes span {background:url(../images/pinkButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.right_region ul li div.right_information a.likes:hover span {background-position:right -25px;}
div.right_region ul li div.right_information a.comment {float:right; text-align:right; font:normal 13px Arial; color:#408A8D; text-decoration:underline; padding:4px 0 0 0;}
div.right_region ul li div.right_information a.comments {float:right; text-align:right; background:url(../images/icons/comment_alpha.png) no-repeat 0 5px; padding:4px 0 0 17px; font:normal 13px Arial; color:#408A8D; text-decoration:underline;}
div.right_region ul li div.right_information a:hover {text-decoration:none;}
div.right_region ul li div.right_information a.no_like {float:right; background:url(../images/greyButton_leftSmiley.png) no-repeat 0 0; margin:0; padding:0 0 0 20px; height:25px; width:auto; text-decoration:none; cursor: pointer;}
div.right_region ul li div.right_information a.no_like:hover {background-position:0 -25px;}
div.right_region ul li div.right_information a.no_like span {background:url(../images/greyButton_bkg.png) no-repeat right 0; padding:5px 7px 5px 3px; margin:0; font:normal 13px Arial; color:#FFFFFF; width:auto;}
div.right_region ul li div.right_information a.no_like:hover span {background-position:right -25px;}
div.right_region p.long {float:left; width:590px; margin:3px 0 0 0; text-align:center; color:#666666;}
div.right_region p.long a {float:left; margin:15px 0 0 225px; width:140px; background:url(../images/view_more.png) no-repeat 0 0; text-align:center; padding:6px 0; font:bold 15px Arial; color:white; text-decoration:none;}
div.right_region p.long a:hover {background-position: 0 -30px;}



/*FOOTER*/
div.outer_layout_footer {width:100%; border-top:5px solid #408A8D; background:#2A2825; height:193px; float:left;}
div.outer_layout_footer div.footer {margin:0 auto; width:924px; padding:28px 0 0 0;}
div.outer_layout_footer div.footer div.left_footer {float:left; width:297px; padding:0;}
div.outer_layout_footer div.footer div.left_footer ul {float:left;}
div.outer_layout_footer div.footer div.left_footer ul li {float:left; background:url(../images/separator.png) no-repeat right 3px; padding:0 12px 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li.last {background:none; padding:0 0 0 10px;}
div.outer_layout_footer div.footer div.left_footer ul li a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none; padding:0 5px 0 0;}
div.outer_layout_footer div.footer div.left_footer ul li a:hover {text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer {float:right; width:600px;}
div.outer_layout_footer div.footer div.right_footer h5 {float:left; width:600px; font:bold 13px Arial; color:#959492; padding:0 0 5px 0;}
div.outer_layout_footer div.footer div.right_footer p.regions {float:left; width:600px; height:110px; font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.regions a {font:bold 13px Arial; color:#FFFFFF; text-decoration:underline;}
div.outer_layout_footer div.footer div.right_footer p.regions a:hover {text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer {float:left; width:600px; height:auto; font:normal 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.right_footer p.footer a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.outer_layout_footer div.footer div.right_footer p.footer a:hover {text-decoration:underline;}


/*FOOTER HOME*/
div.outer_layout_footer {width:100%; border-top:5px solid #408A8D; background:#2A2825; height:193px; float:left;}
div.outer_layout_footer div.footer {margin:0 auto; width:924px; padding:28px 0 0 0;}
div.outer_layout_footer div.footer div.right_footer_home {float:right; width:252px; padding:0 45px 0 0;}
div.outer_layout_footer div.footer div.right_footer_home ul {float:right;}
div.outer_layout_footer div.footer div.right_footer_home ul li {float:left; background:url(../images/separator.png) no-repeat right 3px; padding:0 12px 0 10px;}
div.outer_layout_footer div.footer div.right_footer_home ul li.last {background:none; padding:0 0 0 10px;}
div.outer_layout_footer div.footer div.right_footer_home ul li a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none; padding:0 5px 0 0;}
div.outer_layout_footer div.footer div.right_footer_home ul li a:hover {text-decoration:underline;}
div.outer_layout_footer div.footer div.left_footer_home {float:left; width:600px;}
div.outer_layout_footer div.footer div.left_footer_home h5 {float:left; width:600px; font:bold 13px Arial; color:#959492; padding:0 0 5px 0;}
div.outer_layout_footer div.footer div.left_footer_home p.regions {float:left; width:600px; height:110px; font:bold 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.left_footer_home p.regions a {font:bold 13px Arial; color:#FFFFFF; text-decoration:underline;}
div.outer_layout_footer div.footer div.left_footer_home p.regions a:hover {text-decoration:none;}
div.outer_layout_footer div.footer div.left_footer_home p.footer {float:left; width:600px; height:auto; font:normal 13px Arial; color:#FFFFFF;}
div.outer_layout_footer div.footer div.left_footer_home p.footer a {font:bold 13px Arial; color:#FFFFFF; text-decoration:none;}
div.outer_layout_footer div.footer div.left_footer_home p.footer a:hover {text-decoration:underline;}
