body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}



div#outer_layout {float:left; width:100%;}
div#wide_container {margin:0 auto; width:940px; padding:0;}


/* ---------------- MAP --------------- */
div#map_canvas {float:left; background:url(../images/map/bkgMapShadow.png) no-repeat 0 0; width:658px; height:360px; position:relative;}
div#map_canvas div#map {float:left; width:632px; height:341px; z-index:100; margin:3px 9px 10px 13px;}
div#map_canvas div.zoomButtons {background:url(../images/map/bkgZoomBttns.png) no-repeat 0 0; z-index:10000000; width:64px; height:33px; position:absolute; top:11px; left:21px;} 
div#map_canvas div.zoomButtons div.bttn_zoomIn a{float:left; margin:4px 0 0 5px; background:url(../images/map/bttnZoomIn.png) no-repeat 0 0; width:25px; height:25px;}
div#map_canvas div.zoomButtons div.bttn_zoomIn a:hover{background-position:0 -25px;}
div#map_canvas div.zoomButtons div.bttn_zoomOut a{float:left; margin:4px 0 0 4px; background:url(../images/map/bttnZoomOut.png) no-repeat 0 0; width:25px; height:25px;}
div#map_canvas div.zoomButtons div.bttn_zoomOut a:hover{background-position:0 -25px;}
div#map_canvas div.filterButtons a {text-decoration:none;}
div#map_canvas div.filterButtons div.filter_markers {position:absolute; top:11px; right:145px; text-decoration:none;}
div#map_canvas div.filterButtons div.layers_overlay {position:absolute; top:11px; right:17px; text-decoration:none;}

div#map_canvas div.filterButtons div.unclicked div.left {float:left; background:url(../images/map/bttnFilterLayerLeft.png) no-repeat 0 0; width:4px; height:24px;}
div#map_canvas div.filterButtons div.unclicked div.center {float:left; background-color:#FFFFFF; border:1px solid #3086A3; border-left:none; border-right:none; height:22px; width:96px;}
div#map_canvas div.filterButtons div.unclicked div.center p {float:left; font:bold 10px Arial; color:#3086A3; text-transform:uppercase; text-decoration:none; margin:5px 0 0 3px;}
div#map_canvas div.filterButtons div.unclicked div.right{float:left; background:url(../images/map/bttnFilterLayerRight.png) no-repeat 0 0; width:24px; height:24px;}


div#map_canvas div.filterButtons div.clicked div.left {float:left; background:url(../images/map/bttnFilterLayerLeft_clicked.png) no-repeat 0 0; width:4px; height:21px;}
div#map_canvas div.filterButtons div.clicked div.center {float:left; background-color:#FFFFFF; border:1px solid #666666; border-left:none; border-right:none; border-bottom:none; height:21px; width:96px;}
div#map_canvas div.filterButtons div.clicked div.center p {float:left; font:bold 10px Arial; color:#999999; text-transform:uppercase; text-decoration:none; margin:5px 0 0 3px;}
div#map_canvas div.filterButtons div.clicked div.right{float:left; background:url(../images/map/bttnFilterLayerRight_clicked.png) no-repeat 0 0; width:24px; height:21px;}

div#map_canvas div.filterButtons div.list {position:absolute; top:21px; right:0; display:none;}
div#map_canvas div.filterButtons div.list div.head {float:right; background:url(../images/map/bttnFilterLayerHead_clicked.png) no-repeat 0 0; width:163px; height:8px; margin:0px 1px 0 0;}
div#map_canvas div.filterButtons div.list div.content ul {}
div#map_canvas div.filterButtons div.list div.content li {float:left; background:url(../images/map/bkg_list_content.png); width:163px; height:21px; padding:1px 0 0 0; margin:0;} 
div#map_canvas div.filterButtons div.list div.content li.line {float:left; background:url(../images/map/bkg_list_content_line.png); width:163px; height:3px; margin:0;} 
div#map_canvas div.filterButtons div.list div.content li.title {float:left; background:url(../images/map/bkg_list_content.png); width:163px; height:5px; padding:7px 0 15px 0; margin:0;} 
div#map_canvas div.filterButtons div.list div.content li.title p {float:left; font:bold 10px Arial; color:#999999; text-transform:uppercase; margin:0 0 0 10px;}
div#map_canvas div.filterButtons div.list div.content li.checked a {float:left; background:url(../images/map/checkBox_checked.png) no-repeat 0 0; width:14px; height:14px; margin:0 5px 0 9px;}
div#map_canvas div.filterButtons div.list div.content li.checked p {float:left; font:normal 13px Arial; color:#666666;} 
div#map_canvas div.filterButtons div.list div.content li.unchecked a {float:left; background:url(../images/map/checkBox_unchecked.png) no-repeat 0 0; width:14px; height:14px; margin:0 5px 0 9px;}
div#map_canvas div.filterButtons div.list div.content li.unchecked p {float:left; font:normal 13px Arial; color:#999999;}
div#map_canvas div.filterButtons div.list div.bottom {float:left; background:url(../images/map/bttnFilterLayerBottom_clicked.png) no-repeat 0 0; width:163px; height:9px;}



/* ---------------- PROJECT --------------- */
div#wide_container_viz {margin:0 auto; width:940px; padding:0; }
div#header_project_viz {float:left; width:100%; background-color:#FFFFFF; border:1px solid #E7E7E7; border-bottom:none; margin:10px 0 0 0; height:43px;}
div#header_project_viz p {float:left; font:bold 11px Arial; color:#CCCCCC; text-transform:uppercase; margin:15px 0 5px 22px; }
div.data_project_viz {float:left; width:940px; background-color:#F4F4F6; margin:0; border:1px solid #E7E7E7; border-top:none;} 
div.data_project_viz div.content_left {float:left; width:445px; margin:22px;}
div.data_project_viz div.content_left p.title {float:left; font:bold 19px Arial; color:#333333; width:100%; margin:0 0 5px 0;}

div.data_project_viz div.content_left p.info {float:left; font:normal 13px Arial; color:#666666; width:100%; margin:3px 0 0 0;}
div.data_project_viz div.content_left div.data_info {float:left; width:155px; margin:20px 0 0 0;}
div.data_project_viz p.about {float:left; font:normal 10px Arial; color:#999999; text-transform:uppercase; margin:0; width:100%;}
div.data_project_viz div.content_left div.data_info p.info_data {float:left; font:bold 13px Arial; color:#666666; margin:0;}
div.data_project_viz div.content_left div.wide_info {float:left; width:100%; margin:15px 0 0 0;}

div.data_project_viz div.valorations {float:left; width:100%; margin:0px 0px 20px 0px;}
div.data_project_viz div.valorations div.valoration {float:left; width:135px; margin:0 0 0 22px;}

div.data_project_viz div.valorations div.valoration div {margin:5px 0 5px 0;}

div.data_project_viz div.valorations div.valoration div.green_star_zero {float:left; background:url(../images/project/green_stars_zero.png) no-repeat 0 0; width:114px; height:22px;}
div.data_project_viz div.valorations div.valoration div.green_star_one {float:left; background:url(../images/project/green_stars_one.png) no-repeat 0 0; width:114px; height:22px;}
div.data_project_viz div.valorations div.valoration div.green_star_two {float:left; background:url(../images/project/green_stars_two.png) no-repeat 0 0; width:114px; height:22px;}
div.data_project_viz div.valorations div.valoration div.green_star_three {float:left; background:url(../images/project/green_stars_three.png) no-repeat 0 0; width:114px; height:22px;}
div.data_project_viz div.valorations div.valoration div.green_star_four {float:left; background:url(../images/project/green_stars_four.png) no-repeat 0 0; width:114px; height:22px;}

div.data_project_viz div.content_right {float:right; width:450px; position:relative;}
div.data_project_viz div.map_project {position:absolute; top:22px; right:22px; background:url(../images/project/bkgProjectMapShadow.png) no-repeat 0 0; width:429px; height:268px;}

div.map_project div#map {float:left; width:413px; height:251px; z-index:100; margin:6px 0px 0 8px;}
div.map_project div.filterButtons a {text-decoration:none;}
div.map_project div.filterButtons div.filter_markers {position:absolute; top:11px; right:145px; text-decoration:none;}
div.map_project div.filterButtons div.layers_overlay {position:absolute; top:11px; right:17px; text-decoration:none;}

div.map_project div.filterButtons div.unclicked div.left {float:left; background:url(../images/map/bttnFilterLayerLeft.png) no-repeat 0 0; width:4px; height:24px;}
div.map_project div.filterButtons div.unclicked div.center {float:left; background-color:#FFFFFF; border:1px solid #3086A3; border-left:none; border-right:none; height:22px; width:96px;}
div.map_project div.filterButtons div.unclicked div.center p {float:left; font:bold 10px Arial; color:#3086A3; text-transform:uppercase; text-decoration:none; margin:4px 0 0 3px;}
div.map_project div.filterButtons div.unclicked div.right{float:left; background:url(../images/map/bttnFilterLayerRight.png) no-repeat 0 0; width:24px; height:24px;}


div.map_project div.filterButtons div.clicked div.left {float:left; background:url(../images/map/bttnFilterLayerLeft_clicked.png) no-repeat 0 0; width:4px; height:21px;}
div.map_project div.filterButtons div.clicked div.center {float:left; background-color:#FFFFFF; border:1px solid #666666; border-left:none; border-right:none; border-bottom:none; height:21px; width:96px;}
div.map_project div.filterButtons div.clicked div.center p {float:left; font:bold 10px Arial; color:#999999; text-transform:uppercase; text-decoration:none; margin:4px 0 0 3px;}
div.map_project div.filterButtons div.clicked div.right{float:left; background:url(../images/map/bttnFilterLayerRight_clicked.png) no-repeat 0 0; width:24px; height:21px;}

div.map_project div.filterButtons div.list {position:absolute; top:21px; right:0; display:none;}
div.map_project div.filterButtons div.list div.head {float:right; background:url(../images/map/bttnFilterLayerHead_clicked.png) no-repeat 0 0; width:163px; height:8px; margin:0px 1px 0 0;}
div.map_project div.filterButtons div.list div.content ul {}
div.map_project div.filterButtons div.list div.content li {float:left; background:url(../images/map/bkg_list_content.png); width:163px; height:21px; padding:1px 0 0 0; margin:0;} 
div.map_project div.filterButtons div.list div.content li.line {float:left; background:url(../images/map/bkg_list_content_line.png); width:163px; height:3px; margin:0;} 
div.map_project div.filterButtons div.list div.content li.title {float:left; background:url(../images/map/bkg_list_content.png); width:163px; height:5px; padding:7px 0 15px 0; margin:0;} 
div.map_project div.filterButtons div.list div.content li.title p {float:left; font:bold 10px Arial; color:#999999; text-transform:uppercase; margin:0 0 0 10px;}
div.map_project div.filterButtons div.list div.content li.checked a {float:left; background:url(../images/map/checkBox_checked.png) no-repeat 0 0; width:14px; height:14px; margin:0 5px 0 9px;}
div.map_project div.filterButtons div.list div.content li.checked p {float:left; font:normal 13px Arial; color:#666666;} 
div.map_project div.filterButtons div.list div.content li.unchecked a {float:left; background:url(../images/map/checkBox_unchecked.png) no-repeat 0 0; width:14px; height:14px; margin:0 5px 0 9px;}
div.map_project div.filterButtons div.list div.content li.unchecked p {float:left; font:normal 13px Arial; color:#999999;}
div.map_project div.filterButtons div.list div.bottom {float:left; background:url(../images/map/bttnFilterLayerBottom_clicked.png) no-repeat 0 0; width:163px; height:9px;}