/*div#header div.left a.logo {float:left; width:184px; height:56px; background:url(../images/common/logo.png) no-repeat -6px 0; *background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/common/logo.png',sizingMethod='scale'); background-position:-6px 100px;}

div#header div.right ul li a {float:left; padding:0 0 0 2px; height:23px; background:url(../images/common/item_left.png) no-repeat 0 0; text-decoration:none; *background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/common/item_left.png',sizingMethod='scale');}

div#header div.right ul li a span {float:left; padding:4px 7px 4px 5px; background:url(../images/common/item_right.png) no-repeat right 0; font:bold 13px Arial; color:white; *background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/common/item_right.png',sizingMethod='crop');}*/


