div.data div.information.vessel_map div.right_map div.percentage span.bottom div.right p {float:left; width:100%; padding:3px 0 10px; margin:0; font:bold 11px Arial; color:#999999; letter-spacing:0; line-height:11px;}


