body {background:url(../images/common/body_bkg.png) repeat 0 0;}

div.outer_layout {float:left; width:100%; background:url('../images/common/upper_bkg.jpg') repeat-x center -10px;}
div.outer_layout div.inner_layout {float:left; width:100%; background:url('../images/common/inner_bkg.png') repeat-x 0 bottom; padding:0;}


/* GALAXY ZOO */
div#galaxy_zoo {float:left; width:100%; background:url('../images/common/header_bkg.png') repeat-x 0 0; height:35px;}
div#galaxy_zoo div.content {margin:0 auto; width:890px;}


/* HEADER */
div#header {margin:0 auto; width:890px;}
div#header div.left {float:left; width:190px; padding:30px 0 15px;}
div#header div.left a.logo {float:left; width:184px; height:56px; background:url(../images/common/logo.png) no-repeat -6px 0;}
div#header div.right {float:right; width:700px; padding:47px 0 15px 0;}
div#header div.right ul {float:right; width:700px;}
div#header div.right ul li {float:right; width:auto; margin:0 5px;}
div#header div.right ul li.last {margin:0 0 0 5px;}
div#header div.right ul li a {float:left; padding:0 0 0 2px; height:23px; background:url(../images/common/item_left.png) no-repeat 0 0; text-decoration:none;}
div#header div.right ul li a span {float:left; padding:4px 7px 4px 5px; background:url(../images/common/item_right.png) no-repeat right 0; font:bold 13px Arial; color:white;}
div#header div.right ul li.selected a {background-position:0 -23px;}
div#header div.right ul li.selected a span {background-position:right -23px; color:#999999;}
div#header div.right ul li.started a {background:url(../images/common/started_left.png) no-repeat 0 0;}
div#header div.right ul li.started a span {background:url(../images/common/started_right.png) no-repeat right 0; color:white;}
div#header div.right ul li a:hover {background-position:0 -23px;}
div#header div.right ul li a:hover span {background-position:right -23px; color:#999999;}
div#header div.right ul li.selected.started a {background-position:0 -23px;}
div#header div.right ul li.selected.started a span {background-position:right -23px; color:white;}
div#header div.right ul li.started a:hover span {background-position:right -23px; color:white;}


div.data {margin:0 auto; width:910px;}
div.data div.shadow_left {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_side.png) no-repeat -3px 0;}
div.data div.shadow_right {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_right.png) no-repeat -15px 0;}
div.data div.shadow_topbottom {float:left; width:910px; height:10px; background:url(../images/common/shadow_updown.png) no-repeat center -1px;}
div.data div.shadow_topbottom.bottom {background-position:center -3px; height:5px;}
div.data div.information {float:left; width:890px; background:white; height:1000px;}


/*VESSELS-LIST*/
div.vessels_list {float:left; margin:30px 0 0 30px;}
div.vessels_list h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px;}
div.filter {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:1000px;}
div.filter div.content {float:left; margin:30px 0 0 18px; }
div.filter h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:20px;}

div.filter span.search {float:right; width:auto;}
div.filter span.search.second {margin:20px 0 0 0;}
div.filter span.search p {float:left; font:bold 11px Arial; color:#999999; text-transform:uppercase;}

div.filter span.search form {float:left; margin:5px 0 0 0; padding:0; position:relative;}
div.filter span.search form input[type="text"] {float:left; background:url(../images/vessels/bkg_input_search.png); margin:0; padding:0; font:normal 13px Arial; color:#cccccc; line-height:13px; padding:5px; width:231px; height:24px; border:none; }
div.filter span.search form input[type="submit"] {background:url(../images/vessels/len_search.png) no-repeat 0 0; height:15px; width:15px; margin:0; padding:0; border:none; position:absolute; top:9px; right:9px; cursor:pointer;}

div.filter.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}

div#vertex_right {background:url(../images/common/vertex_right.png) no-repeat 0 0; width:22px; height:39px; position:absolute; left:-15px; top:29px;} 

/*VESSEL*/
div.data div.information.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}


/* FOOTER */
div#footer {float:left; width:100%; height:244px; background:#222222; padding:30px 0 0 0;}
div#footer div.content {margin:0 auto; width:860px; padding:29px 0 21px 30px;}
div#footer div.content div.information {float:left; width:860px;}
div#footer div.content div.information div.block {float:left; width:168px; margin:0 0 0 15px;}
div#footer div.content div.information div.block h4 {float:left; width:168px; font:bold 13px Arial; color:#767676; padding:0 0 15px 0;}
div#footer div.content div.information div.block p {float:left; width:168px; font:normal 13px Arial; color:#5A5A5A; line-height:18px;}
div#footer div.content div.information div.block p a {color:#5E5E5E;}
div#footer div.content div.information div.block p a:hover {color:#CCCCCC; text-decoration:none;}
div#footer div.content p.terms {float:left; width:860px; padding:65px 0 0 30px; font:normal 13px Arial; color:#5A5A5A; text-align:left;}
div#footer div.content p.terms a {color:#5A5A5A;}
div#footer div.content p.terms a:hover {color:#CCCCCC; text-decoration:none;}