input:focus{outline:none;}

body {float:left; background:url('../images/common/body_bkg.png') repeat 0 0;}
a {cursor:pointer;}

div.outer_layout {float:left; width:100%; background:url('../images/common/upper_bkg.jpg') repeat-x center -10px;}
div.outer_layout div.inner_layout {float:left; width:100%; background:url('../images/common/inner_bkg.png') repeat-x 0 bottom; padding:0;}


/* GALAXY ZOO */
div#galaxy_zoo {float:left; width:100%; background:url('../images/common/header_bkg.png') repeat-x 0 0; height:35px;}
div#galaxy_zoo div.content {margin:0 auto; width:890px;}


/* HEADER */
div#header {margin:0 auto; width:890px;}
div#header div.left {float:left; width:190px; padding:30px 0 15px;}
div#header div.left a.logo {float:left; width:184px; height:56px; background:url(../images/common/logo.png) no-repeat -6px 0;}
div#header div.right {float:right; width:700px; padding:47px 0 15px 0;}
div#header div.right ul {float:right; width:700px;}
div#header div.right ul li {float:right; width:auto; margin:0 5px;}
div#header div.right ul li.last {margin:0 0 0 5px;}
div#header div.right ul li a {float:left; padding:0 0 0 2px; height:23px; background:url(../images/common/item_left.png) no-repeat 0 0; text-decoration:none;}
div#header div.right ul li a span {float:left; padding:4px 7px 4px 5px; height:15px; background:url(../images/common/item_right.png) no-repeat right 0; font:bold 13px Arial; color:white; cursor:pointer; text-shadow: #909797 0 1px;}
div#header div.right ul li.selected a {background-position:0 -23px;}
div#header div.right ul li.selected a span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.started a {background:url(../images/common/started_left.png) no-repeat 0 0;}
div#header div.right ul li.started a span {background:url(../images/common/started_right.png) no-repeat right 0; color:white; text-shadow:#00A6A6 0 1px;}
div#header div.right ul li a:hover {background-position:0 -23px;}
div#header div.right ul li a:hover span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.selected.started a {background-position:0 -23px;}
div#header div.right ul li.selected.started a span {background-position:right -23px; color:white;}
div#header div.right ul li.started a:hover span {background-position:right -23px; color:white;}

/*COMMON*/
div.data {margin:0 auto; width:910px;}
div.data div.shadow_left {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_side.png) no-repeat -3px 0;}
div.data div.shadow_right {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_right.png) no-repeat -15px 0;}
div.data div.shadow_topbottom {float:left; width:910px; height:10px; background:url(../images/common/shadow_updown.png) no-repeat center -1px;}
div.data div.shadow_topbottom.bottom {background-position:center -3px; height:5px;}
div.data div.information {float:left; width:890px; background:white;}

/* VESSELS-LIST */
div.data div.information.vessels_bkg {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}

div.vessels_list {float:left; margin:30px 0 0 30px; width:570px;}
div.vessels_list h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding:0;}
div.vessels_list h2 {font:normal 15px Arial; color:#666666; margin:2px 0 0 0; padding:0;}

div.vessels_list ul.ships {width:538px; margin:26px 0 0 0; border-bottom:1px solid #E5E5E5;}
div.vessels_list ul.ships li {border-top:1px solid #E5E5E5; padding:13px 0 4px 0; height:62px;}
div.vessels_list ul.ships li div.info {float:left; width:315px;}
div.vessels_list ul.ships li div.image {float:left; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0; width:51px; height:51px; }
div.vessels_list ul.ships li div.image img {float:left; width:49px; height:49px; margin:1px 0px 0 1px;}
div.vessels_list ul.ships li div.info {float:left; margin:0 0 0 8px; padding:0;}
div.vessels_list ul.ships li div.info p.ship {float:left; font:bold 15px Arial; color:#666666; width:100%;}
div.vessels_list ul.ships li div.info p.travel {float:left; font:normal 13px Arial; color:#999999; margin:2px 0 0 0;}
div.vessels_list ul.ships li div.info p.travel img {width:10px; height:7px;}
div.vessels_list ul.ships li div.info div.bar {float:left; margin:8px 0 0 0; background:url(../images/common/bar_empty.png) no-repeat 0 0; width:307px; height:6px; overflow:hidden; padding:0;}

/* DIGITALIZING */
div.data div.information.digitalizing_bkg {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}
div.digitalizing_content {float:left; margin:30px 0 0 30px; width:570px;}
div.digitalizing_content h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding:0;}
div.digitalizing_content h2 {font:normal 15px Arial; color:#666666; margin:2px 0 0 0; padding:0;}

div.ship_information {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:auto;}
div.ship_information div.content {float:left; margin:30px 0 0 25px; width:200px;}
div.ship_information h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:20px;}




/* PROGRESS BAR */
div.bar p.percent_orange {display:none;}
div.bar p.percent_blue {display:none;}

div.bar a {cursor:pointer;}

div.bar a.left {float:left; height:6px; margin:0; width:auto;}
div.bar a.left.orange {background:url(../images/common/left_orange.png) no-repeat 0 0;}
div.bar a.left.blue {background:url(../images/common/left_cyan.png) no-repeat 0 0;}
div.bar span.orange {background-color:#DB4A18; height:6px; width:auto; float:left; margin:0 0 0 2px;}
div.bar span.blue {background-color:#00CFD7; height:6px; width:auto; float:left; margin:0 0 0 2px;}

div.bar span.space {float:left; background-color:#FFFFFF; width:1px; height:6px; margin:0; }

div.bar a.right {float:left; height:6px; width:2px; margin:0 0 0 0px;}
div.bar a.right.orange {background:url(../images/common/right_orange.png) no-repeat right 0;}
div.bar a.right.blue {background:url(../images/common/right_cyan.png) no-repeat right 0;}

div.bar a.second_bar {float:left; height:6px; margin:0 0 0 1px; width:auto;}
div.bar a.second_bar.orange {background-color:#DB4A18;}
div.bar a.second_bar.blue {background-color:#00CFD7;}

/* ---------- */

div.vessels_list ul.ships li span.line {float:left; background:url(../images/common/line_divide.png) no-repeat 0 0; width:2px; height:64px; margin:0 10px;}
div.vessels_list ul.ships li div.users {float:left; margin:8px 0px 0 0; width:140px; padding:0;}
div.vessels_list ul.ships li div.users p {float:left; font:normal 13px Arial; color:#666666; margin:0; width:100%;}

div.vessels_list ul.ships li div.users div.following {float:left;  margin:3px 0 0 0; width:100%; position:relative;}
div.vessels_list ul.ships li div.users div.following a {font:normal 13px Arial; color:#00CFD7; text-decoration:underline; position:absolute; top:0; left:0; padding:0;}
div.vessels_list ul.ships li div.users div.following a:hover {color:#00B2B9;}
div.vessels_list ul.ships li div.users div.following span {position:absolute; color:#B5B5B5; background:url(../images/common/follow_checked.png) no-repeat 0 2px; padding:0 0 0 15px; font:normal 13px Arial; top:0; left:0; display:none;}


div.vessels_list div.pages {float:right; width:170px; height:50px; margin:15px 35px 0 0; font:normal 13px "Clarendon LT"; padding:0 0 0px 0;}

div.vessels_list div.pages ul {float:left; width:120px; height:20px;}
div.vessels_list div.pages ul li {float:left; margin:0 2px; width:13px; height:17px; padding:1px 0 0 5px;}
div.vessels_list div.pages ul li.selected {background:url(../images/common/bkg_page_selected.png) no-repeat 0 0; }
div.vessels_list div.pages ul li.selected:hover {background-position:0 -18px;}

div.vessels_list div.pages ul li a.option {float:left; font:normal 13px "Clarendon LT"; color:#999999; text-decoration:none; padding:1px 0 0 5px;}
div.vessels_list div.pages ul li a.option:hover {color:#666666;}

div.vessels_list div.pages ul li.selected a {color:#FFFFFF; text-decoration:none;}

div.vessels_list div.pages a.next {float:right; font:normal 13px "Clarendon LT"; text-decoration:underline; color:#EB593E; margin:0;}
div.vessels_list div.pages a.next:hover {color:#B2432E;}

/* CONTENT_RIGHT */
div.filter {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:auto;}
div.filter div.content {float:left; margin:30px 0 0 20px;}
div.filter h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:20px;}

div.filter span.search {float:left; width:240px; margin:0; padding:0;}
div.filter span.search.second {margin:20px 0 0 0;}
div.filter span.search p {float:left; font:bold 11px Arial; color:#999999; text-transform:uppercase;}

div.filter span.search form {float:left; position:relative; margin:4px 0 0 0; padding:0; background:url(../images/vessels/bkg_input_search.png) no-repeat 0 0; width:237px; height:30px;}
div.filter span.search form input[type="text"] {font:normal 13px Arial; color:#cccccc; width:200px; height:20px; border:none; background:transparent; position:absolute; top:5px; left:5px; line-height:17px;}
div.filter span.search form input[type="submit"] {background:url(../images/vessels/len_search.png) no-repeat 0 0; height:15px; width:15px; border:none; position:absolute; top:7px; right:7px; cursor:pointer;}

div.filter ul.links {float:left; width:90px; height:50px; margin:10px 0 0 1px; padding-bottom:35px;}
div.filter ul.links.two {float:left; margin:10px 0 0 30px;}
div.filter ul.links li {float:left; margin:1px 0 0 0; width:100%;}
div.filter ul.links li a {font:normal 13px Arial; color:#DA4A18; text-decoration:none;}
div.filter ul.links li a:hover {color:#A53611;}
div.filter ul.links li a.view_all {text-decoration:underline;}
div.filter.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}

div#vertex_right {background:url(../images/common/vertex_right.png) no-repeat 0 0; width:22px; height:39px; position:absolute; left:-15px; top:29px;} 


/*VESSEL DESC*/
div.data div.information.vessels_desc {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}
div.data div.information div.left {float:left; width:229px; padding:25px 30px;}
div.data div.information div.left h3 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information div.left p {float:left; margin:4px 0 0 0; width:100%; font:normal 13px Arial; color:#929292;}
div.data div.information div.left div.image {float:left; margin:15px 0 0 0; width:219px; padding:4px; border:1px solid #c6c6c6; background:#E0e0e0;}
div.data div.information div.left span {float:left; width:229px; height:10px; background:url(../images/vessels/shadow_image.png) no-repeat 0 0;}
div.data div.information div.left a.back {float:left; margin:7px 0 0 0; font:normal 13px Arial; color:#E45739; text-decoration:none; border-bottom:1px solid #E45739;}

div.data div.information div.right {position:relative; float:right; width:541px; padding:30px;}
div.data div.information div.right img.arrow {position:absolute; top:25px; left:-1px; width:18px; height:33px;}
div.data div.information div.right h4 {float:left; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information div.right h4.sub {padding:30px 0 0 0;}
div.data div.information div.right p {float:left; width:100%; font:normal 13px Arial; color:#666666; padding:10px 0;}

/* INDEX */
div.data div.information.vessel_map {position:relative; background:url(../images/home/right_column_bkg_mini.png) repeat-y right 0;}
div.data div.information.vessel_map div#map {float:left; width:100%; height:400px;}

div.data div.information.vessel_map div.floating_content {position:absolute; right:35px; top:90px; width:293px; height:214px; padding:17px 14px; z-index:100; background:url(../images/home/float_bkg.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content h2 {float:left; width:100%; font:normal 27px Arial; color:white;}
div.data div.information.vessel_map div.floating_content p {float:left; width:100%; padding:3px 0 0; font:normal 13px Arial; color:white;}
div.data div.information.vessel_map div.floating_content div.info {float:left; width:100%; margin:20px 0 0 0;}
div.data div.information.vessel_map div.floating_content div.info div.image {float:left; width:28px; margin:2px 10px 0 0;}
div.data div.information.vessel_map div.floating_content div.info p {float:left; width:250px; padding:0; margin:0;}
div.data div.information.vessel_map div.floating_content a {float:left; width:189px; height:30px; margin:18px 0 0 0; font:bold 19px Arial; color:#F15A3E; text-decoration:none; padding:7px 0 0 10px; background:url(../images/home/follow_button.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content a:hover {background-position:0 -37px;}

div.data div.information.vessel_map div.orange_container {float:left; width:100%; height:130px; background:url(../images/home/orange_bkg.png) repeat-x 0 0;}
div.data div.information.vessel_map div.orange_container h1 {float:left; width:100%; font:normal 43px Arial; color:#FFFFFF; text-align:center; padding:20px 0 0 0;}
div.data div.information.vessel_map div.orange_container p {float:left; width:100%; font:normal 27px Arial; color:#FFFFFF; text-align:center;}
div.data div.information.vessel_map div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.vessel_map div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0;}
div.data div.information.vessel_map div p a {color:#EB593A;}
div.data div.information.vessel_map div p a:hover {text-decoration:none;}
div.data div.information.vessel_map div.left_map {float:left; width:540px; padding:25px 30px; height:250px; background:white;}
div.data div.information.vessel_map div.left_map div.block {float:left; width:173px; margin:25px 10px 0 0;}
div.data div.information.vessel_map div.left_map div.block.last {margin:25px 0 0 0;}
div.data div.information.vessel_map div.left_map div.block div.gray_cont {float:left; width:173px; height:96px; background:url(../images/home/gray_cont.png) no-repeat 0 0;}
div.data div.information.vessel_map div.left_map div.block h5 {float:left; margin:15px 0 0 0; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block p {float:left; width:100%; padding:10px 0 0 0; font:normal 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block a {color:#EB593A; text-decoration:none;}
div.data div.information.vessel_map div.left_map div.block a:hover {text-decoration:underline;}

div.data div.information.vessel_map div.right_map {position:relative; float:right; width:230px; padding:25px 30px; height:250px;}
div.data div.information.vessel_map div.right_map img.arrow {position:absolute; left:0; top:28px; width:13px; height:25px;}
div.data div.information.vessel_map div.right_map div.percentage {float:left; margin:25px 0 0 0; width:229px; height:170px; background:url(../images/home/data_right_bkg.png) no-repeat 0 0;}
div.data div.information.vessel_map div.right_map div.percentage span {float:left; width:199px; height:43px; padding:15px;}
div.data div.information.vessel_map div.right_map div.percentage span h6 {float:left; font:bold 45px Arial; color:#EB593D; letter-spacing:-3px; padding:0; width:85px;}
div.data div.information.vessel_map div.right_map div.percentage span p {float:right; font:bold 15px Arial; color:#EB593D; width:109px; padding:8px 0 0 0; letter-spacing:-1px; margin:0 0 0 4px;}

div.data div.information.vessel_map div.right_map div.percentage span.bottom {float:left; margin:1px 0 0 0; height:63px; padding:15px; width:199px;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.left {float:left; width:80px; padding:0; margin:0; text-align:right;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.left p {float:left; width:100%; padding:0 0 5px; margin:0; font:bold 17px Arial; color:#999999;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.right {float:right; width:107px; padding:0; margin:0; text-align:left;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.right p {float:left; width:100%; padding:3px 0 10px; margin:0; font:bold 11px Arial; color:#999999; letter-spacing:0;}


div.data div.information.vessel_map div.left_map_bottom {float:left; width:540px; padding:25px 30px; margin:1px 0 0 0; background:white; height:221px;}
div.data div.information.vessel_map div.left_map_bottom div.block {float:left; width:157px; margin:25px 26px 0 0;}
div.data div.information.vessel_map div.left_map_bottom div.block.last {margin:25px 0 0 0; width:168px;}

div.data div.information.vessel_map div.left_map_bottom div.block h5 {float:left; margin:10px 0 0 0; width:100%; font:bold 15px Arial; color:#666666;}
div.data div.information.vessel_map div.left_map_bottom div.block p {float:left; padding:10px 0 0 0; width:100%; font:normal 15px Arial; color:#666666;}
div.data div.information.vessel_map div.left_map_bottom div.block a {color:#EB593A; text-decoration:none;}
div.data div.information.vessel_map div.left_map_bottom div.block a:hover {text-decoration:underline;}

div.data div.information.vessel_map div.right_map_bottom {position:relative; float:right; width:290px; height:272px;}
div.data div.information.vessel_map div.right_map_bottom h4 {float:left; background:#272727; padding:25px 0 25px 30px; width:259px; font:normal 25px Arial; color:white; letter-spacing:-1px;}
div.data div.information.vessel_map div.right_map_bottom img.arrow {position:absolute; left:27px; top:75px; width:26px; height:13px;}



/* VESSELS */
div.data div.information.vessels {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}
div.data div.information.vessels div.left.top {position:relative; float:left; width:601px; height:390px; margin:0; padding:0;}
div.data div.information.vessels div.left.top img.arrow {position:absolute; right:0; top:20px; width:16px; height:32px;}
div.data div.information.vessels div.left.top div#map {float:left; width:100%; height:100%; padding:0; margin:0;}
div.data div.information.vessels div.right.top {float:right; width:229px; height:340px; padding:25px 30px; background:url(../images/vessels/orange_bkg_x.png) repeat-x 0 0;}
div.data div.information.vessels div.right.top h3 {float:left; width:100%; font:normal 25px Arial; color:white;}
div.data div.information.vessels div.right.top p {float:left; width:100%; font:normal 13px Arial; color:#853226; padding:5px 0 0;}
div.data div.information.vessels div.right.top div.image {float:left; margin:15px 0 0 0; width:219px; padding:4px; border:1px solid #9E3A2D; background:#B04132;}
div.data div.information.vessels div.right.top span {float:left; width:229px; height:10px; background:url(../images/vessels/orange_shadow.png) no-repeat 0 0;}
div.data div.information.vessels div.right.top p.desc {color:#68261D;}
div.data div.information.vessels div.right.top p.desc a {color:#68261D;}
div.data div.information.vessels div.right.top p.desc a:hover {color:#000000;}

div.data div.information.vessels div.blue_part {position:relative; float:left; width:100%; height:69px;}
div.data div.information.vessels div.blue_part div.abs {position:absolute; left:-10px; top:0; height:79px; width:910px; background:url(../images/vessels/blue_abs_bkg.png) no-repeat 0 0;}

div.data div.information.vessels div.left.bottom {float:left; width:540px; padding:25px 30px;}
div.data div.information.vessels div.right.bottom {position:relative; float:right; width:229px; padding:25px 30px;}
div.data div.information.vessels div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.vessels div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0; margin:0;}
div.data div.information.vessels div ul {float:left; width:100%; margin:10px 0 0 0;}

div.data div.information.vessels div.left.bottom ul {border-bottom:1px solid #E5E5E5;}
div.data div.information.vessels div.left.bottom ul li {float:left; padding:12px 0; width:251px; border-bottom:1px solid #E0E0E0;}
div.data div.information.vessels div.left.bottom ul li.long {position:relative; float:left; height:66px; width:542px; border-bottom:none; padding:0; margin:10px 0 0 0;}
div.data div.information.vessels div.left.bottom ul li.long div.abs {position:absolute; left:-5px; top:0; width:532px; padding:8px 5px; height:50px; background:url(../images/vessels/captain_bkg.png) no-repeat 0 0;}
div.data div.information.vessels div.left.bottom ul li.right {float:right; width:266px;}
div.data div.information.vessels div.left.bottom ul li.last {border-bottom:none;}
div.data div.information.vessels div.left.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 2px; padding:0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0; border:none;}
div.data div.information.vessels div.left.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.vessels div.left.bottom ul li div.info {float:left; width:188px;}
div.data div.information.vessels div.left.bottom ul li.right div.info {float:left; width:203px;}
div.data div.information.vessels div.left.bottom ul li div.info h6 {float:left; font:bold 15px Arial; color:#666666;}
div.data div.information.vessels div.left.bottom ul li div.info p.class {float:left; font:normal 13px Arial; color:#999999; padding:0;}
div.data div.information.vessels div.left.bottom ul li div.info p.pages_made {float:left; font:normal 13px Arial; color:#EB593E; padding:2px 0 0 0;}


div.data div.information.vessels div.right.bottom ul li {float:left; width:100%; padding:12px 0; border-bottom:1px solid #E0E0E0;}
div.data div.information.vessels div.right.bottom ul li.last {border-bottom:none;}
div.data div.information.vessels div.right.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0;}
div.data div.information.vessels div.right.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.vessels div.right.bottom ul li div.info {float:left; width:171px;}
div.data div.information.vessels div.right.bottom ul li div.info h6 {font:bold 15px Arial; color:#666666;}
div.data div.information.vessels div.right.bottom ul li div.info p {font:normal 13px Arial; color:#999999;}
div.data div.information.vessels div.right.bottom a.view_all {float:left; font:normal 13px Arial; color:#DA4A18; margin:18px 0 0 0;}





/*USER*/
div.data div.information.user {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}

div.data div.information.user div.map_container {position:relative; float:left; height:470px; width:890px;}
div.data div.information.user div.map_container div.abs {position:absolute; width:910px; width:470px; top:0; left:-10px; right:-10px;}
div.data div.information.user div.map_container div.abs div#map {position:absolute; top:0; left:0; width:910px; height:430px;}
div.data div.information.user div.map_container div.abs div.dates {position:absolute; left:0; top:417px; width:910px; height:63px; background:url(../images/user/user_band.png) no-repeat 0 0;}

div.data div.information.user div.left.bottom {float:left; width:540px; padding:25px 30px;}
div.data div.information.user div.right.bottom {position:relative; float:right; width:229px; padding:25px 30px;}
div.data div.information.user div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.user div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0; margin:0;}
div.data div.information.user div ul {float:left; width:100%; margin:10px 0 0 0;}

div.data div.information.user div.left.bottom ul {border-bottom:1px solid #E5E5E5;}
div.data div.information.user div.left.bottom ul li {float:left; padding:12px 0; width:251px; border-bottom:1px solid #E0E0E0;}
div.data div.information.user div.left.bottom ul li.right {float:right; width:266px;}
div.data div.information.user div.left.bottom ul li.last {border-bottom:none;}
div.data div.information.user div.left.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; padding:0; background:white; border:none;}
div.data div.information.user div.left.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px; border:none;}
div.data div.information.user div.left.bottom ul li div.info {float:left; width:190px;}
div.data div.information.user div.left.bottom ul li.right div.info {float:left; width:205px;}
div.data div.information.user div.left.bottom ul li div.info h6 {float:left; font:bold 15px Arial; color:#666666;}
div.data div.information.user div.left.bottom ul li div.info p {float:left; font:normal 13px Arial; color:#999999; padding:0;}


div.data div.information.user div.right.bottom ul li {float:left; width:100%; padding:12px 0; border-bottom:1px solid #E0E0E0;}
div.data div.information.user div.right.bottom ul li.last {border-bottom:none;}
div.data div.information.user div.right.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0;}
div.data div.information.user div.right.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.user div.right.bottom ul li div.info {float:left; width:171px;}
div.data div.information.user div.right.bottom ul li div.info h6 {font:bold 15px Arial; color:#666666;}
div.data div.information.user div.right.bottom ul li div.info p.class {float:left; font:normal 13px Arial; color:#999999; padding:0;}
div.data div.information.user div.right.bottom ul li div.info p.pages_made {float:left; font:normal 13px Arial; color:#EB593E; padding:2px 0 0 0;}





/* FOOTER */
div#footer {float:left; width:100%; height:244px; background:#222222; padding:30px 0 0 0;}
div#footer div.content_foo {margin:0 auto; width:890px; padding:29px 0 21px 0;}
div#footer div.content_foo div.block {float:left; width:168px; margin:0 0 0 15px; padding:0;}
div#footer div.content_foo div.block.first {margin:0 0 0 30px;}
div#footer div.content_foo div.block h4 {float:left; width:168px; font:bold 13px Arial; color:#767676; padding:0 0 15px 0;}
div#footer div.content_foo div.block p {float:left; width:168px; font:normal 13px Arial; color:#5A5A5A; line-height:18px;}
div#footer div.content_foo div.block p a {color:#5E5E5E;}
div#footer div.content_foo div.block p a:hover {color:#CCCCCC; text-decoration:none;}
div#footer div.content_foo p.terms {float:left; width:860px; padding:65px 0 0 30px; font:normal 13px Arial; color:#5A5A5A; text-align:left;}
div#footer div.content_foo p.terms a {color:#5A5A5A;}
div#footer div.content_foo p.terms a:hover {color:#CCCCCC; text-decoration:none;}