body {float:left; background:url('../images/common/body_bkg.png') repeat 0 0;}


div.outer_layout {float:left; width:100%; background:url('../images/common/upper_bkg.jpg') repeat-x center -10px;}
div.outer_layout div.inner_layout {float:left; width:100%; background:url('../images/common/inner_bkg.png') repeat-x 0 bottom; padding:0;}


/* GALAXY ZOO */
div#galaxy_zoo {float:left; width:100%; background:url('../images/common/header_bkg.png') repeat-x 0 0; height:35px;}
div#galaxy_zoo div.content {margin:0 auto; width:890px;}


/* HEADER */
div#header {margin:0 auto; width:890px;}
div#header div.left {float:left; width:190px; padding:30px 0 15px;}
div#header div.left a.logo {float:left; width:184px; height:56px; background:url(../images/common/logo.png) no-repeat -6px 0;}
div#header div.right {float:right; width:700px; padding:47px 0 15px 0;}
div#header div.right ul {float:right; width:700px;}
div#header div.right ul li {float:right; width:auto; margin:0 5px;}
div#header div.right ul li.last {margin:0 0 0 5px;}
div#header div.right ul li a {float:left; padding:0 0 0 2px; height:23px; background:url(../images/common/item_left.png) no-repeat 0 0; text-decoration:none;}
div#header div.right ul li a span {float:left; padding:4px 7px 4px 5px; height:15px; background:url(../images/common/item_right.png) no-repeat right 0; font:bold 13px Arial; color:white; cursor:pointer; text-shadow: #909797 0 1px;}
div#header div.right ul li.selected a {background-position:0 -23px;}
div#header div.right ul li.selected a span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.started a {background:url(../images/common/started_left.png) no-repeat 0 0;}
div#header div.right ul li.started a span {background:url(../images/common/started_right.png) no-repeat right 0; color:white; text-shadow:#00A6A6 0 1px;}
div#header div.right ul li a:hover {background-position:0 -23px;}
div#header div.right ul li a:hover span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.selected.started a {background-position:0 -23px;}
div#header div.right ul li.selected.started a span {background-position:right -23px; color:white;}
div#header div.right ul li.started a:hover span {background-position:right -23px; color:white;}


/*COMMON*/
div.data {margin:0 auto; width:910px;}
div.data div.shadow_left {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_side.png) no-repeat -3px 0;}
div.data div.shadow_right {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_right.png) no-repeat -15px 0;}
div.data div.shadow_topbottom {float:left; width:910px; height:10px; background:url(../images/common/shadow_updown.png) no-repeat center -1px;}
div.data div.shadow_topbottom.bottom {background-position:center -3px; height:5px;}
div.data div.information {float:left; width:890px; background:white;}


/*VESSELS-LIST*/
div.vessels_list {float:left; margin:30px 0 0 30px;}
div.vessels_list h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px;}
div.vessels_list h2 {font:normal 15px Arial; color:#666666; margin:2px 0 0 0;}
div.vessels_list ul {width:538px; margin:26px 0 0 0;}
div.vessels_list ul li {border-top:1px solid #E5E5E5; padding-top:15px; height:62px;}
div.vessels_list ul li div.info {float:left; width:315px; }
div.vessels_list ul li div.image {float:left; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0; width:51px; height:51px;}
div.vessels_list ul li div.image img {float:left; width:49px; height:49px; margin:1px 0px 0 1px;}
div.vessels_list ul li div.info {float:left; margin:0 0 0 8px;}
div.vessels_list ul li div.info p.ship {float:left; font:bold 15px Arial; color:#666666; width:100%;}
div.vessels_list ul li div.info p.travel {float:left; font:normal 13px Arial; color:#999999; margin:2px 0 0 0;}
div.vessels_list ul li div.info p.travel img {width:10px; height:7px;}
div.vessels_list ul li div.info span.bar_empty {float:left; margin:8px 0 0 0; background:url(../images/common/bar_empty.png) no-repeat 0 0; position:relative; width:307px; height:6px;}
div.vessels_list ul li span.line {float:left; background:url(../images/common/line_divide.png) no-repeat 0 0; width:2px; height:64px; margin:0 10px;}
div.vessels_list ul li div.users {float:left; margin:8px 0px 0 0; width:140px;}
div.vessels_list ul li div.users p {float:left; font:normal 13px Arial; color:#666666; margin:0; width:100%;}
div.vessels_list ul li div.users a {float:left; font:normal 13px Arial; color:#00CFD7; text-decoration:underline; margin:3px 0 0 0; width:100%;}
div.vessels_list ul li div.users a:hover {color:#00B2B9;}





div.filter {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:1000px;}
div.filter div.content {float:left; margin:30px 0 0 18px; }
div.filter h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:20px;}

div.filter span.search {float:right; width:auto;}
div.filter span.search.second {margin:20px 0 0 0;}
div.filter span.search p {float:left; font:bold 11px Arial; color:#999999; text-transform:uppercase;}

div.filter span.search form {float:left; margin:4px 0 0 0; padding:0; position:relative;}
div.filter span.search form input[type="text"] {float:left; background:url(../images/vessels/bkg_input_search.png); margin:0; padding:0; font:normal 13px Arial; color:#cccccc; line-height:13px; padding:5px 28px 5px 7px; width:202px; height:20px; border:none; }
div.filter span.search form input[type="submit"] {background:url(../images/vessels/len_search.png) no-repeat 0 0; height:15px; width:15px; margin:0; padding:0; border:none; position:absolute; top:7px; right:7px; cursor:pointer;}

div.filter ul.links {float:left; width:90px; height:50px; margin:10px 0 0 1px; padding-bottom:35px;}
div.filter ul.links.two {float:left; margin:10px 0 0 30px;}
div.filter ul.links li {float:left; margin:1px 0 0 0; width:100%;}
div.filter ul.links li a {font:normal 13px Arial; color:#DA4A18; text-decoration:none;}
div.filter ul.links li a:hover {color:#A53611;}
div.filter ul.links li a.view_all {text-decoration:underline;}




div.filter.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}

div#vertex_right {background:url(../images/common/vertex_right.png) no-repeat 0 0; width:22px; height:39px; position:absolute; left:-15px; top:29px;} 

/*VESSEL*/
div.data div.information.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}
div.data div.information div.left {float:left; width:229px; padding:30px;}
div.data div.information div.left h3 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information div.left p {float:left; margin:4px 0 0 0; width:100%; font:normal 13px Arial; color:#929292;}
div.data div.information div.left div.image {float:left; margin:15px 0 0 0; width:219px; padding:4px; border:1px solid #c6c6c6; background:#E0e0e0;}
div.data div.information div.left span {float:left; width:229px; height:10px; background:url(../images/vessels/shadow_image.png) no-repeat 0 0;}
div.data div.information div.left a.back {float:left; margin:7px 0 0 0; font:normal 13px Arial; color:#E45739; text-decoration:none; border-bottom:1px solid #E45739;}

div.data div.information div.right {position:relative; float:right; width:541px; padding:30px;}
div.data div.information div.right img.arrow {position:absolute; top:25px; left:-1px; width:18px; height:33px;}
div.data div.information div.right h4 {float:left; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information div.right h4.sub {padding:30px 0 0 0;}
div.data div.information div.right p {float:left; width:100%; font:normal 13px Arial; color:#666666; padding:10px 0;}



/* VESSEL MAP */
div.data div.information.vessel_map {background:url(../images/vessels/right_column_bkg.png) repeat-y right 0 white;}
div.data div.information.vessel_map div#map {float:left; width:100%; height:400px;}
div.data div.information.vessel_map div.orange_container {float:left; width:100%; height:130px; background:url(../images/vessels/orange_bkg.png) repeat-x 0 0;}
div.data div.information.vessel_map div.orange_container h1 {float:left; width:100%; font:normal 43px "Clarendon LT"; color:#FFFFFF; text-align:center; padding:20px 0 0 0;}
div.data div.information.vessel_map div.orange_container p {float:left; width:100%; font:normal 27px "Clarendon LT"; color:#FFFFFF; text-align:center;}
div.data div.information.vessel_map div h4 {float:left; width:100%; font:normal 25px "Clarendon LT"; color:#666666;}
div.data div.information.vessel_map div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0;}
div.data div.information.vessel_map div p a {color:#EB593A;}
div.data div.information.vessel_map div p a:hover {text-decoration:none;}
div.data div.information.vessel_map div.left_map {float:left; width:541px; padding:25px 30px;}
div.data div.information.vessel_map div.left_map div.block {float:left; width:173px; margin:25px 10px 0 0;}
div.data div.information.vessel_map div.left_map div.block.last {margin:25px 0 0 0;}
div.data div.information.vessel_map div.left_map div.block div.gray_cont {float:left; width:173px; height:96px; background:url(../images/vessels/gray_cont.png) no-repeat 0 0;}
div.data div.information.vessel_map div.left_map div.block h5 {float:left; margin:15px 0 0 0; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block p {float:left; width:100%; font:normal 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block a {color:#EB593A; text-decoration:none;}
div.data div.information.vessel_map div.left_map div.block a:hover {text-decoration:underline;}


div.data div.information.vessel_map div.right_map {position:relative; float:right; width:229px; padding:25px 30px;}
div.data div.information.vessel_map div.right_map img.arrow {position:absolute; left:0; top:28px; width:13px; height:25px;}
div.data div.information.vessel_map div.right_map div.percentage {float:left; margin:25px 0 0 0; width:229px; height:170px; background:url(../images/vessels/data_right_bkg.png) no-repeat 0 0;}




/* FOOTER */
div#footer {float:left; width:100%; height:244px; background:#222222; padding:30px 0 0 0;}
div#footer div.content {margin:0 auto; width:860px; padding:29px 0 21px 30px;}
div#footer div.content div.information {float:left; width:860px;}
div#footer div.content div.information div.block {float:left; width:168px; margin:0 0 0 15px;}
div#footer div.content div.information div.block h4 {float:left; width:168px; font:bold 13px Arial; color:#767676; padding:0 0 15px 0;}
div#footer div.content div.information div.block p {float:left; width:168px; font:normal 13px Arial; color:#5A5A5A; line-height:18px;}
div#footer div.content div.information div.block p a {color:#5E5E5E;}
div#footer div.content div.information div.block p a:hover {color:#CCCCCC; text-decoration:none;}
div#footer div.content p.terms {float:left; width:860px; padding:65px 0 0 30px; font:normal 13px Arial; color:#5A5A5A; text-align:left;}
div#footer div.content p.terms a {color:#5A5A5A;}
div#footer div.content p.terms a:hover {color:#CCCCCC; text-decoration:none;}