input:focus{outline:none;}

body {float:left; background:url('../images/common/body_bkg.png') repeat 0 0;}
a {cursor:pointer;}

div.outer_layout {float:left; width:100%; background:url('../images/common/upper_bkg.jpg') repeat-x center -10px;}
div.outer_layout div.inner_layout {float:left; width:100%; background:url('../images/common/inner_bkg.png') repeat-x 0 bottom; padding:0;}


/* GALAXY ZOO */
div#galaxy_zoo {float:left; width:100%; background:url('../images/common/header_bkg.png') repeat-x 0 0; height:35px;}
div#galaxy_zoo div.content {margin:0 auto; width:890px;}


/* HEADER */
div#header {margin:0 auto; width:890px;}
div#header div.left {float:left; width:190px; padding:30px 0 15px;}
div#header div.left a.logo {float:left; width:184px; height:56px; background:url(../images/common/logo.png) no-repeat -6px 0;}
div#header div.right {float:right; width:700px; padding:47px 0 15px 0;}
div#header div.right ul {float:right; width:700px;}
div#header div.right ul li {float:right; width:auto; margin:0 5px;}
div#header div.right ul li.last {margin:0 0 0 5px;}
div#header div.right ul li a {float:left; padding:0 0 0 2px; height:23px; background:url(../images/common/item_left.png) no-repeat 0 0; text-decoration:none;}
div#header div.right ul li a span {float:left; padding:4px 7px 4px 5px; height:15px; background:url(../images/common/item_right.png) no-repeat right 0; font:bold 13px Arial; color:white; cursor:pointer; text-shadow: #909797 0 1px;}
div#header div.right ul li.selected a {background-position:0 -23px;}
div#header div.right ul li.selected a span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.started a {background:url(../images/common/started_left.png) no-repeat 0 0;}
div#header div.right ul li.started a span {background:url(../images/common/started_right.png) no-repeat right 0; color:white; text-shadow:#00A6A6 0 1px;}
div#header div.right ul li a:hover {background-position:0 -23px;}
div#header div.right ul li a:hover span {background-position:right -23px; color:#999999; text-shadow:none;}
div#header div.right ul li.selected.started a {background-position:0 -23px;}
div#header div.right ul li.selected.started a span {background-position:right -23px; color:white;}
div#header div.right ul li.started a:hover span {background-position:right -23px; color:white;}

/*COMMON*/
div.data {margin:0 auto; width:910px;}
div.data div.shadow_left {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_side.png) no-repeat -3px 0;}
div.data div.shadow_right {float:left; width:10px; height:514px; padding:0; margin:0; background:url(../images/common/shadow_right.png) no-repeat -15px 0;}
div.data div.shadow_topbottom {float:left; width:910px; height:10px; background:url(../images/common/shadow_updown.png) no-repeat center -1px;}
div.data div.shadow_topbottom.bottom {background-position:center -3px; height:5px;}
div.data div.information {float:left; width:890px; background:white;}

/* VESSELS-LIST */
div.data div.information.vessels_bkg {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}

div.vessels_list {float:left; margin:30px 0 0 30px; width:570px;}
div.vessels_list h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding:0;}
div.vessels_list h2 {font:normal 15px Arial; color:#666666; margin:2px 0 0 0; padding:0;}

div.vessels_list ul.ships {width:538px; margin:26px 0 0 0; border-bottom:1px solid #E5E5E5;}
div.vessels_list ul.ships li {border-top:1px solid #E5E5E5; padding:13px 0 4px 0; height:62px;}
div.vessels_list ul.ships li div.info {float:left; width:315px;}
div.vessels_list ul.ships li div.image {float:left; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0; width:51px; height:51px; }
div.vessels_list ul.ships li div.image img {float:left; width:49px; height:49px; margin:1px 0px 0 1px;}
div.vessels_list ul.ships li div.info {float:left; margin:0 0 0 8px; padding:0;}
div.vessels_list ul.ships li div.info p.ship {float:left; font:bold 15px Arial; color:#666666; width:100%;}
div.vessels_list ul.ships li div.info p.travel {float:left; font:normal 13px Arial; color:#999999; margin:2px 0 0 0;}
div.vessels_list ul.ships li div.info p.travel img {width:10px; height:7px;}
div.vessels_list ul.ships li div.info div.bar {float:left; margin:8px 0 0 0; background:url(../images/common/bar_empty.png) no-repeat 0 0; width:307px; height:6px; overflow:hidden; padding:0;}

/* 	PROGRESS BAR (-- COMMON --)	*/
div.bar p.percent_orange {display:none;}
div.bar p.percent_blue {display:none;}

div.bar a {cursor:pointer; margin:0; padding:0;}
div.bar a.left {float:left; height:6px; margin:0; width:auto;}
div.bar a.left.orange {background:url(../images/common/left_orange.png) no-repeat 0 0;}
div.bar a.left.blue {background:url(../images/common/left_cyan.png) no-repeat 0 0;}
div.bar span.orange {background-color:#DB4A18; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0;}
div.bar span.blue {background-color:#00CFD7; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0;}

div.bar span.space {float:left; background-color:#FFFFFF; width:1px; height:6px; margin:0; padding:0;}

div.bar a.right {float:left; height:6px; width:2px; margin:0 0 0 0px;}
div.bar a.right.orange {background:url(../images/common/right_orange.png) no-repeat right 0;}
div.bar a.right.blue {background:url(../images/common/right_cyan.png) no-repeat right 0;}

div.bar a.second_bar {float:left; height:6px; margin:0 0 0 1px; width:auto;}
div.bar a.second_bar.orange {background-color:#DB4A18;}
div.bar a.second_bar.blue {background-color:#00CFD7;}

/* ---------- */
div.vessels_list ul.ships li span.line {float:left; background:url(../images/common/line_divide.png) no-repeat 0 0; width:2px; height:64px; margin:0 10px;}
div.vessels_list ul.ships li div.users {float:left; margin:8px 0px 0 0; width:140px; padding:0;}
div.vessels_list ul.ships li div.users p {float:left; font:normal 13px Arial; color:#666666; margin:0; width:100%;}

div.vessels_list ul.ships li div.users div.following {float:left;  margin:3px 0 0 0; width:100%; position:relative;}
div.vessels_list ul.ships li div.users div.following a {font:normal 13px Arial; color:#00CFD7; text-decoration:underline; position:absolute; top:0; left:0; padding:0;}
div.vessels_list ul.ships li div.users div.following a:hover {color:#00B2B9;}
div.vessels_list ul.ships li div.users div.following span {position:absolute; color:#B5B5B5; background:url(../images/common/follow_checked.png) no-repeat 0 2px; padding:0 0 0 15px; font:normal 13px Arial; top:0; left:0; display:none;}

div.vessels_list div.pages {float:right; width:170px; height:50px; margin:15px 35px 0 0; font:normal 13px "Clarendon LT"; padding:0 0 0px 0;}

div.vessels_list div.pages ul {float:left; width:120px; height:20px;}
div.vessels_list div.pages ul li {float:left; margin:0 2px; width:13px; height:17px; padding:1px 0 0 5px;}
div.vessels_list div.pages ul li.selected {background:url(../images/common/bkg_page_selected.png) no-repeat 0 0; }
div.vessels_list div.pages ul li.selected:hover {background-position:0 -18px;}

div.vessels_list div.pages ul li a.option {float:left; font:normal 13px "Clarendon LT"; color:#999999; text-decoration:none; padding:1px 0 0 5px;}
div.vessels_list div.pages ul li a.option:hover {color:#666666;}

div.vessels_list div.pages ul li.selected a {color:#FFFFFF; text-decoration:none;}

div.vessels_list div.pages a.next {float:right; font:normal 13px "Clarendon LT"; text-decoration:underline; color:#EB593E; margin:0;}
div.vessels_list div.pages a.next:hover {color:#B2432E;}


/* DIGITALIZING */
div.data div.information.digitalizing_bkg {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}
div.digitalizing_content {float:left; margin:30px 0 0 0px; width:570px; background:white; height:1120px;}

div.data div.information div.digitalizing_content div.image {float:left; width:51px; height:51px; margin:0 7px 0 30px; padding:0; background:white; border:none;}
div.data div.information div.digitalizing_content div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px; border:none;}
div.data div.information div.digitalizing_content div.info {float:left; width:450px;}
div.data div.information div.digitalizing_content h6 {float:left; font:bold 15px Arial; color:#666666;}
div.data div.information div.digitalizing_content div.info p {float:left; font:normal 13px Arial; color:#999999; padding:0;}

div.data div.information div.digitalizing_content div.bar {float:left; margin:8px 0 0 0; background:url(../images/digitalizing/bar_empty.png) no-repeat 0 0; width:483px; height:6px; overflow:hidden; padding:0; position:relative;}

div.data div.information div.digitalizing_content div.progress {float:left; border-top:1px solid #E5E5E5; width:600px; padding:28px 0 0 0; margin:20px 0 0 0; background:white; height:200px;}
div.data div.information div.digitalizing_content div.progress ul {float:left; width:539px; position:relative; margin:0 0 0 30px;}
div.data div.information div.digitalizing_content div.progress ul li {font:bold 11px Arial; color:#FFFFFF; height:22px; padding-top:10px; text-transform:uppercase;}
div.data div.information div.digitalizing_content div.progress ul li.step1 {background:url(../images/digitalizing/first_progress.png) no-repeat; width:117px; position:absolute; top:0; left:0; z-index:6; padding-left:10px;}
div.data div.information div.digitalizing_content div.progress ul li.step1.current {background:url(../images/digitalizing/first_progress_current.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step1.passed {background:url(../images/digitalizing/first_progress_checked.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step2 {background:url(../images/digitalizing/second_progress.png) no-repeat; width:116px; position:absolute; top:0; left:105px; z-index:5; padding-left:30px;}
div.data div.information div.digitalizing_content div.progress ul li.step2.current {background:url(../images/digitalizing/second_progress_current.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step2.passed {background:url(../images/digitalizing/second_progress_checked.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step3 {background:url(../images/digitalizing/third_progress.png) no-repeat; width:100px; position:absolute; top:0; left:225px; z-index:4; padding-left:36px;}
div.data div.information div.digitalizing_content div.progress ul li.step3.current {background:url(../images/digitalizing/third_progress_current.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step3.passed {background:url(../images/digitalizing/third_progress_checked.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step4 {background:url(../images/digitalizing/fourth_progress.png) no-repeat; width:89px; position:absolute; top:0; left:321px; z-index:3; padding-left:49px;}
div.data div.information div.digitalizing_content div.progress ul li.step4.current {background:url(../images/digitalizing/fourth_progress_current.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step4.passed {background:url(../images/digitalizing/fourth_progress_checked.png) no-repeat;}
div.data div.information div.digitalizing_content div.progress ul li.step5 {background:url(../images/digitalizing/fifth_progress.png) no-repeat; width:68px; position:absolute; top:0; right:0; z-index:2; color:#999999; padding-left:80px;}
div.data div.information div.digitalizing_content div.progress ul li.step5.current {background:url(../images/digitalizing/fifth_progress_finished.png) no-repeat; color:#FFFFFF;}
div.data div.information div.digitalizing_content div.progress ul li.step5.passed {background:url(../images/digitalizing/fifth_progress_checked.png) no-repeat;}

div.data div.information div.digitalizing_content div.digitalization {position:absolute; top:330px; left:257px; background:url(../images/digitalizing/digitalization_demo.png) no-repeat 0 0; width:630px; height:918px;}

div.ship_information {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:auto; margin:0;}
div.ship_information div.content {float:left; margin:30px 0 0 25px; width:200px;}
div.ship_information h1 {float:left; font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:5px;}
div.ship_information p {float:left; font:normal 13px Arial; color:#999999; width:220px; }
div.ship_information div.ship_image {float:left; background:url(../images/digitalizing/bkg_ship_img.png) no-repeat 0 0; width:224px; height:142px; padding:6px 0 0 6px; margin:15px 0 0 0;}
div.ship_information p.info {margin:18px 0 0 0;}
div.ship_information p.info a {text-decoration:underline; color:#999999;}
div.ship_information p.info a:hover {color:#666666;}
div.ship_information h3 {float:left; font:normal 21px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; margin:25px 0 0 0; padding-bottom:5px;}
div.ship_information div.map_timeline {float:left; background:url(../images/digitalizing/bkg_map_timeline.png) no-repeat 0 0; width:225px; height:389px; padding:5px 0 0 6px; margin:15px 0 0 0;}
div.ship_information div.map_timeline div#map {float:left; width:218px; height:135px;}
div.ship_information div.map_timeline ul.information {float:left; width:218px; margin:7px 0 0 0; border-bottom:1px solid #E5E5E5; padding-bottom:7px;}
div.ship_information div.map_timeline ul.information li {float:left; height:25px; }
div.ship_information div.map_timeline ul.information li p.title {font:bold 11px Arial; color:#CCCCCC; width:100%; margin:0; text-transform:uppercase;}
div.ship_information div.map_timeline ul.information li p.data {font:normal 13px Arial; color:#666666; width:100%; margin:0;}
div.ship_information div.map_timeline ul.information li.date {width:60px; border-right:1px solid #E5E5E5; padding-right:10px;}
div.ship_information div.map_timeline ul.information li.position {width:135px; padding-left:7px;}	

div.ship_information div.map_timeline ul.data_temp {float:left; width:218px; height:155px; margin:7px 0 0 0;}
div.ship_information div.map_timeline ul.data_temp li.row {float:left; width:218px; margin:0px 0 0 0; height:auto;}
div.ship_information div.map_timeline ul.data_temp li.temp_image {float:left;}
div.ship_information div.map_timeline ul.data_temp li.temp_image img {width:70px; height:49px;}
div.ship_information div.map_timeline ul.data_temp li.data_temp {float:left; width:47px; height:49px; background:url(../images/digitalizing/data_temp.png) no-repeat 0 0; margin:0 0 0 2px;}
div.ship_information div.map_timeline ul.data_temp li.data_temp p {color:#FFFFFF;}
div.ship_information div.map_timeline ul.data_temp li.data_temp p.temperature {float:left; font:normal 19px "Clarendon LT"; width:25px; margin:7px 0 0 9px;}
div.ship_information div.map_timeline ul.data_temp li.data_temp p.kind_temp {float:left; font:normal 10px "Clarendon LT"; width:10px; margin:6px 0 0 0;}  
div.ship_information div.map_timeline ul.data_temp li.data_temp p.material {float:left; font:bold 11px Arial; text-align:center; text-transform:uppercase; width:100%; height:10px; margin:8px 0 0 0;}
div.ship_information div.map_timeline a.page_finished {float:left; margin:5px 0 0 0; background:url(../images/digitalizing/btn_page_finished.png) no-repeat 0 0; width:217px; height:28px; font:bold 15px Arial; color:#FFFFFF; text-decoration:none; text-align:center; padding-top:9px;}
div.ship_information div.map_timeline a.page_finished:hover {background-position:0 -37px;}

/* CONTENT_RIGHT */
div.filter {float:right; width:289px; border-left:1px solid #DCDCDC; position:relative; height:auto;}
div.filter div.content {float:left; margin:30px 0 0 20px;}
div.filter h1 {font:normal 25px "Clarendon LT"; color:#666666; letter-spacing:-1.0px; padding-bottom:20px;}

div.filter span.search {float:left; width:240px; margin:0; padding:0;}
div.filter span.search.second {margin:20px 0 0 0;}
div.filter span.search p {float:left; font:bold 11px Arial; color:#999999; text-transform:uppercase;}

div.filter span.search form {float:left; position:relative; margin:4px 0 0 0; padding:0; background:url(../images/vessels/bkg_input_search.png) no-repeat 0 0; width:237px; height:30px;}
div.filter span.search form input[type="text"] {font:normal 13px Arial; color:#cccccc; width:200px; height:20px; border:none; background:transparent; position:absolute; top:5px; left:5px; line-height:17px;}
div.filter span.search form input[type="submit"] {background:url(../images/vessels/len_search.png) no-repeat 0 0; height:15px; width:15px; border:none; position:absolute; top:7px; right:7px; cursor:pointer;}

div.filter ul.links {float:left; width:90px; height:50px; margin:10px 0 0 1px; padding-bottom:35px;}
div.filter ul.links.two {float:left; margin:10px 0 0 30px;}
div.filter ul.links li {float:left; margin:1px 0 0 0; width:100%;}
div.filter ul.links li a {font:normal 13px Arial; color:#DA4A18; text-decoration:none;}
div.filter ul.links li a:hover {color:#A53611;}
div.filter ul.links li a.view_all {text-decoration:underline;}
div.filter.vessel {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}

div#vertex_right {background:url(../images/common/vertex_right.png) no-repeat 0 0; width:22px; height:39px; position:absolute; left:-15px; top:29px;} 



/*VESSEL DESC*/
div.data div.information.vessels_desc {background:url(../images/vessels/container_bkg.png) repeat-y 0 0 white;}
div.data div.information div.left {float:left; width:229px; padding:25px 30px;}
div.data div.information div.left h3 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information div.left p {float:left; margin:4px 0 0 0; width:100%; font:normal 13px Arial; color:#929292;}
div.data div.information div.left div.image {float:left; margin:15px 0 0 0; width:219px; padding:4px; border:1px solid #c6c6c6; background:#E0e0e0;}
div.data div.information div.left span {float:left; width:229px; height:10px; background:url(../images/vessels/shadow_image.png) no-repeat 0 0;}
div.data div.information div.left a.back {float:left; margin:7px 0 0 0; font:normal 13px Arial; color:#E45739; text-decoration:none; border-bottom:1px solid #E45739;}

div.data div.information div.right {position:relative; float:right; width:541px; padding:30px;}
div.data div.information div.right img.arrow {position:absolute; top:25px; left:-1px; width:18px; height:33px;}
div.data div.information div.right h4 {float:left; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information div.right h4.sub {padding:30px 0 0 0;}
div.data div.information div.right p {float:left; width:100%; font:normal 13px Arial; color:#666666; padding:10px 0;}



/* INDEX */
div.data div.information.vessel_map {position:relative; background:url(../images/home/right_column_bkg_mini.png) repeat-y right 0;}
div.data div.information.vessel_map div#map {float:left; width:100%; height:400px;}

div.data div.information.vessel_map div.floating_content {position:absolute; right:35px; top:90px; width:283px; height:210px; padding:19px; z-index:100; background:url(../images/home/float_bkg.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content h2 {float:left; width:100%; font:normal 27px Arial; color:white; line-height:27px; padding:0; margin:0;}
div.data div.information.vessel_map div.floating_content p {float:left; width:100%; padding:3px 0 0; font:normal 13px Arial; color:white; line-height:13px;}
div.data div.information.vessel_map div.floating_content div.bar {float:left; width:283px; height:6px; margin:35px 0 0 0; background:url(../images/home/bar_bkg.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content div.inner_bar {position:relative; float:left; width:auto; height:6px; margin:0; padding:0 0 0 2px; background:url(../images/home/left_inner_bar.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content div.inner_bar span {float:left; width:50px; height:6px; background:url(../images/home/right_inner_bar.png) no-repeat right 0;}
div.data div.information.vessel_map div.floating_content div.inner_bar p.bar_tooltip_inner {position:absolute; top:-27px; right:-48px; width:96px; height:18px; padding:4px 0 0 0; text-align:center; background:url(../images/common/white_tooltip.png) no-repeat 0 0; font:bold 10px Arial; color:#DA4A18; line-height:10px;}
div.data div.information.vessel_map div.floating_content div.info {float:left; width:100%; margin:20px 0 0 0;}
div.data div.information.vessel_map div.floating_content div.info div.image {float:left; width:28px; margin:2px 10px 0 0;}
div.data div.information.vessel_map div.floating_content div.info p {float:left; width:240px; padding:0; margin:0; line-height:15px;}
div.data div.information.vessel_map div.floating_content a {float:left; width:189px; height:30px; margin:18px 0 0 0; font:bold 19px Arial; color:#F15A3E; text-decoration:none; padding:7px 0 0 10px; background:url(../images/home/follow_button.png) no-repeat 0 0;}
div.data div.information.vessel_map div.floating_content a:hover {background-position:0 -37px;}

div.data div.information.vessel_map div.orange_container {float:left; width:100%; height:130px; background:url(../images/home/orange_bkg.png) repeat-x 0 0;}
div.data div.information.vessel_map div.orange_container h1 {float:left; width:100%; font:normal 43px Arial; color:#FFFFFF; text-align:center; padding:20px 0 0 0;}
div.data div.information.vessel_map div.orange_container p {float:left; width:100%; font:normal 27px Arial; color:#FFFFFF; text-align:center;}
div.data div.information.vessel_map div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.vessel_map div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0;}
div.data div.information.vessel_map div p a {color:#EB593A;}
div.data div.information.vessel_map div p a:hover {text-decoration:none;}
div.data div.information.vessel_map div.left_map {float:left; width:540px; padding:25px 30px; height:250px; background:white;}
div.data div.information.vessel_map div.left_map div.block {float:left; width:173px; margin:25px 10px 0 0;}
div.data div.information.vessel_map div.left_map div.block.last {margin:25px 0 0 0;}
div.data div.information.vessel_map div.left_map div.block div.gray_cont {float:left; width:173px; height:96px; background:url(../images/home/gray_cont.png) no-repeat 0 0;}
div.data div.information.vessel_map div.left_map div.block h5 {float:left; margin:15px 0 0 0; width:100%; font:bold 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block p {float:left; width:100%; padding:10px 0 0 0; font:normal 15px Arial; color:#333333;}
div.data div.information.vessel_map div.left_map div.block a {color:#EB593A; text-decoration:none;}
div.data div.information.vessel_map div.left_map div.block a:hover {text-decoration:underline;}

div.data div.information.vessel_map div.right_map {position:relative; float:right; width:230px; padding:25px 30px; height:250px;}
div.data div.information.vessel_map div.right_map img.arrow {position:absolute; left:0; top:28px; width:13px; height:25px;}
div.data div.information.vessel_map div.right_map div.percentage {float:left; margin:25px 0 0 0; width:230px; height:170px; background:url(../images/home/data_right_bkg.png) no-repeat 0 0;}
div.data div.information.vessel_map div.right_map div.percentage span {float:left; width:199px; height:43px; padding:15px;}
div.data div.information.vessel_map div.right_map div.percentage span h6 {float:left; font:bold 45px Arial; color:#EB593D; letter-spacing:-3px; padding:0; width:85px; line-height:45px;}
div.data div.information.vessel_map div.right_map div.percentage span p {float:right; font:bold 15px Arial; color:#EB593D; width:109px; padding:6px 0 0 0; letter-spacing:-1px; margin:0 0 0 4px; line-height:17px;}

div.data div.information.vessel_map div.right_map div.percentage span.bottom {float:left; margin:1px 0 0 0; height:63px; padding:15px; width:199px;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.left {float:left; width:80px; padding:0; margin:0; text-align:right;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.left p {float:left; width:100%; padding:0 0 5px; margin:0; font:bold 17px Arial; color:#999999;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.right {float:right; width:107px; padding:0; margin:0; text-align:left;}
div.data div.information.vessel_map div.right_map div.percentage span.bottom div.right p {float:left; width:100%; padding:3px 0 10px; margin:0; font:bold 11px Arial; color:#999999; letter-spacing:0;}


div.data div.information.vessel_map div.left_map_bottom {float:left; width:540px; padding:25px 30px; margin:1px 0 0 0; background:white; height:221px;}
div.data div.information.vessel_map div.left_map_bottom div.block {float:left; width:157px; margin:25px 26px 0 0;}
div.data div.information.vessel_map div.left_map_bottom div.block.last {margin:25px 0 0 0; width:168px;}

div.data div.information.vessel_map div.left_map_bottom div.block h5 {float:left; margin:10px 0 0 0; width:100%; font:bold 15px Arial; color:#666666;}
div.data div.information.vessel_map div.left_map_bottom div.block p {float:left; padding:10px 0 0 0; width:100%; font:normal 15px Arial; color:#666666;}
div.data div.information.vessel_map div.left_map_bottom div.block a {color:#EB593A; text-decoration:none;}
div.data div.information.vessel_map div.left_map_bottom div.block a:hover {text-decoration:underline;}

div.data div.information.vessel_map div.right_map_bottom {position:relative; float:right; width:290px; height:272px;}
div.data div.information.vessel_map div.right_map_bottom h4 {float:left; background:#272727; padding:25px 0 34px 30px; width:260px; font:normal 25px Arial; color:white; letter-spacing:-1px;}
div.data div.information.vessel_map div.right_map_bottom img.arrow {position:absolute; left:27px; top:84px; width:26px; height:13px; z-index:100;}
div.data div.information.vessel_map div.right_map_bottom img.image {float:left;}
div.data div.information.vessel_map div.right_map_bottom ul.listing {width:auto; height:10px; position:absolute; bottom:8px; right:10px;}
div.data div.information.vessel_map div.right_map_bottom ul.listing li {float:left; width:10px; padding:0; height:10px; margin:0 0 0 3px;}
div.data div.information.vessel_map div.right_map_bottom ul.listing li a {float:left; width:10px; height:10px; background:url(../images/common/listing_bg.png) no-repeat 0 bottom; font-size:11px; line-height:20px; font-weight:bold; color:#333; text-decoration:none; text-align:center}
div.data div.information.vessel_map div.right_map_bottom ul.listing li a.current { float:left; height:10px; width:10px; background-position:0 0; color:#fff; cursor:text;}



/* VESSELS */
div.data div.information.vessels {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}
div.data div.information.vessels div.left.top {position:relative; float:left; width:601px; height:390px; margin:0; padding:0;}
div.data div.information.vessels div.left.top img.arrow {position:absolute; right:0; top:20px; width:16px; height:32px;}
div.data div.information.vessels div.left.top div#map {float:left; width:100%; height:100%; padding:0; margin:0;}
div.data div.information.vessels div.left.top div#map span {background:none; width:auto; margin:0; padding:0;}
div.data div.information.vessels div.right.top {float:right; width:229px; height:340px; padding:25px 30px; background:url(../images/vessels/orange_bkg_x.png) repeat-x 0 0;}
div.data div.information.vessels div.right.top h3 {float:left; width:100%; font:normal 25px Arial; color:white; line-height:25px; padding:0; margin:0;}
div.data div.information.vessels div.right.top p {float:left; width:100%; font:normal 13px Arial; color:#853226; padding:5px 0 0; line-height:13px;}
div.data div.information.vessels div.right.top div.image {float:left; margin:15px 0 0 0; width:219px; padding:4px; border:1px solid #9E3A2D; background:#B04132; display: inline-block;}
div.data div.information.vessels div.right.top div.image img {float:left; width:100%;}
div.data div.information.vessels div.right.top span {float:left; width:229px; height:10px; background:url(../images/vessels/orange_shadow.png) no-repeat 0 0;}
div.data div.information.vessels div.right.top p.desc {color:#68261D; line-height:16px;}
div.data div.information.vessels div.right.top p.desc a {color:#68261D;}
div.data div.information.vessels div.right.top p.desc a:hover {color:#000000;}

div.data div.information.vessels div.blue_part {position:relative; float:left; width:100%; height:69px;}
div.data div.information.vessels div.blue_part div.abs {position:absolute; left:-10px; top:0; height:79px; width:910px; background:url(../images/vessels/blue_abs_bkg.png) no-repeat 0 0;}
div.data div.information.vessels div.blue_part div.abs div.bar {float:left; width:587px; height:6px; padding:1px 0 0 0; margin:41px 0 0 24px; background:url(../images/vessels/bar_bkg.png) no-repeat 0 0;}
div.data div.information.vessels div.blue_part div.abs div.inner_bar {position:relative; float:left; width:auto; height:6px; margin:0; padding:0 0 0 2px; background:url(../images/vessels/left_inner_bar.png) no-repeat 0 0;}
div.data div.information.vessels div.blue_part div.abs div.inner_bar span {float:left; width:200px; height:6px; background:url(../images/vessels/right_inner_bar.png) no-repeat right 0;}
div.data div.information.vessels div.blue_part div.abs div.inner_bar p.bar_tooltip_inner {position:absolute; top:-27px; right:-48px; width:96px; height:18px; padding:4px 0 0 0; text-align:center; background:url(../images/common/white_tooltip.png) no-repeat 0 0; font:bold 10px Arial; color:#00969C; line-height:10px;}
div.data div.information.vessels div.blue_part div.abs a {float:right; margin:16px 24px 0 0; width:214px; height:34px; padding:8px 0 0 34px; background:url(../images/vessels/follow_button.png) no-repeat 0 0; font:bold 19px Arial; color:#F15A3E; text-decoration:none; text-shadow:white 0 1px;}
div.data div.information.vessels div.blue_part div.abs a:hover {background-position:0 -42px;}


div.data div.information.vessels div.left.bottom {float:left; width:540px; padding:25px 30px;}
div.data div.information.vessels div.right.bottom {position:relative; float:right; width:229px; padding:25px 30px;}
div.data div.information.vessels div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.vessels div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0; margin:0;}
div.data div.information.vessels div ul {float:left; width:100%; margin:10px 0 0 0;}

div.data div.information.vessels div.left.bottom ul {border-bottom:1px solid #E5E5E5;}
div.data div.information.vessels div.left.bottom ul li {float:left; padding:12px 0; width:251px; border-bottom:1px solid #E0E0E0;}
div.data div.information.vessels div.left.bottom ul li.long {position:relative; float:left; height:66px; width:542px; border-bottom:none; padding:0; margin:10px 0 0 0;}
div.data div.information.vessels div.left.bottom ul li.long div.abs {position:absolute; left:-5px; top:0; width:532px; padding:8px 5px; height:50px; background:url(../images/vessels/captain_bkg.png) no-repeat 0 0;}
div.data div.information.vessels div.left.bottom ul li.right {float:right; width:266px;}
div.data div.information.vessels div.left.bottom ul li.last {border-bottom:none;}
div.data div.information.vessels div.left.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 2px; padding:0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0; border:none;}
div.data div.information.vessels div.left.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.vessels div.left.bottom ul li div.info {float:left; width:188px;}
div.data div.information.vessels div.left.bottom ul li.right div.info {float:left; width:203px;}
div.data div.information.vessels div.left.bottom ul li div.info h6 {float:left; font:bold 15px Arial; color:#666666; padding:0; line-height:15px;}
div.data div.information.vessels div.left.bottom ul li div.info h6 a {float:left; font:bold 15px Arial; color:#666666; padding:0; line-height:15px; text-decoration:none;}
div.data div.information.vessels div.left.bottom ul li div.info p.class {float:left; font:normal 13px Arial; color:#999999; padding:0;}
div.data div.information.vessels div.left.bottom ul li div.info p.pages_made {float:left; font:normal 13px Arial; color:#EB593E; padding:2px 0 0 0;}

div.data div.information.vessels div.left.bottom div.pages {float:right; height:50px; font:normal 13px Arial; padding:0;}
div.data div.information.vessels div.left.bottom div.pages ul {float:right; width:120px; height:20px; border:none; margin:15px 0 0 0;}
div.data div.information.vessels div.left.bottom div.pages ul li {float:left; margin:1px 2px 0; width:13px; height:17px; padding:1px 0 0 5px; border:none;}
div.data div.information.vessels div.left.bottom div.pages ul li.selected {background:url(../images/common/bkg_page_selected.png) no-repeat 0 0; padding:0 0 0 5px; height:18px; margin:0 2px 0;}
div.data div.information.vessels div.left.bottom div.pages ul li.selected:hover {background-position:0 -18px;}
div.data div.information.vessels div.left.bottom div.pages ul li a.option {float:left; font:normal 13px Arial; color:#999999; text-decoration:none; padding:1px 0 0 5px;}
div.data div.information.vessels div.left.bottom div.pages ul li a.option:hover {color:#666666;}
div.data div.information.vessels div.left.bottom div.pages ul li.selected a {color:#FFFFFF; text-decoration:none;}
div.data div.information.vessels div.left.bottom div.pages a.next {float:right; font:normal 13px Arial; text-decoration:none; color:#EB593E; margin:18px 0 0 6px;}
div.data div.information.vessels div.left.bottom div.pages a.next:hover {color:#B2432E;}


div.data div.information.vessels div.right.bottom ul li {float:left; width:100%; padding:12px 0; border-bottom:1px solid #E0E0E0;}
div.data div.information.vessels div.right.bottom ul li.last {border-bottom:none;}
div.data div.information.vessels div.right.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0;}
div.data div.information.vessels div.right.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.vessels div.right.bottom ul li div.info {float:left; width:171px;}
div.data div.information.vessels div.right.bottom ul li div.info h6 {font:bold 15px Arial; color:#666666; line-height:15px;}
div.data div.information.vessels div.right.bottom ul li div.info h6 a {font:bold 15px Arial; color:#666666; line-height:15px; text-decoration:none;}
div.data div.information.vessels div.right.bottom ul li div.info h6 a:hover {color:#333333;}
div.data div.information.vessels div.right.bottom ul li div.info p {font:normal 13px Arial; color:#999999;}
div.data div.information.vessels div.right.bottom ul li div.bar {float:left; margin:7px 0 0 0; background:url(../images/common/bar_bkg_gray.png) no-repeat 0 0; width:169px; height:6px; overflow:hidden; padding:0;}

div.data div.information.vessels div.right.bottom a.view_all {float:left; font:normal 13px Arial; color:#DA4A18; margin:18px 0 0 0;}




/*USER*/
div.data div.information.user {background:url(../images/home/right_column_bkg.png) repeat-y right 0;}

div.data div.information.user div.left.top {float:left; padding:30px; width:540px; height:auto;}
div.data div.information.user div.left.top div.info {float:left; width:100%;}
div.data div.information.user div.left.top div.info div.image {float:left; margin:0 10px 0 0; width:60px; background:url(../images/user/avatar_border.png) no-repeat 0 0 #f5f5f5; padding:5px; border:none;}
div.data div.information.user div.left.top div.info div.image img {float:left; width:60px; height:60px;}
div.data div.information.user div.left.top div.info div.user_info {float:left; width:450px; }
div.data div.information.user div.left.top div.info div.user_info h1 {float:left; width:100%; font:normal 35px Arial; color:#666666;}
div.data div.information.user div.left.top div.info div.user_info p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:6px 0 0 0;}

div.data div.information.user div.left.top div.numbers {float:left; width:415px; margin:18px 0 0 0; padding:0;}
div.data div.information.user div.left.top div.numbers div.digitalizations {float:left; background:url(../images/user/blue_left.png) no-repeat 0 0; width:auto; padding:0 0 0 3px; height:56px; margin:0 11px 0 0;}
div.data div.information.user div.left.top div.numbers div.digitalizations span {float:left; background:url(../images/user/blue_right.png) no-repeat right 0; width:auto; padding:8px 11px 0 8px; height:48px;}
div.data div.information.user div.left.top div.numbers div.digitalizations p.number {float:left; font:bold 33px Arial; color:white; padding:0; width:auto; margin:0 10px 0 0;}
div.data div.information.user div.left.top div.numbers div.digitalizations p.text {float:left; font:normal 13px Arial; color:white; padding:4px 0 0 0; width:auto;}
div.data div.information.user div.left.top div.numbers div.vessels {float:left; background:url(../images/user/grey_left.png) no-repeat 0 0; width:auto; padding:0 0 0 3px; height:56px;}
div.data div.information.user div.left.top div.numbers div.vessels span {float:left; background:url(../images/user/grey_right.png) no-repeat right 0; width:auto; padding:8px 11px 0 8px; height:48px;}
div.data div.information.user div.left.top div.numbers div.vessels p.number {float:left; font:bold 33px Arial; color:#666666; padding:0; width:auto; margin:0 10px 0 0;}
div.data div.information.user div.left.top div.numbers div.vessels p.text {float:left; font:normal 13px Arial; color:#666666; padding:4px 0 0 0; width:auto;}
div.data div.information.user div.left.top a.digitalize {float:right; color:#00CDD7; margin:38px 0 0 0; font:normal 15px Arial; width:120px; padding:0; text-align:right;}
div.data div.information.user div.left.top a.digitalize:hover {color:#00AAB0;}

div.data div.information.user div.right.top {float:right; padding:30px; width:230px;}
div.data div.information.user div.right.top div.white_round {position:relative; float:left; width:202px; height:105px; padding:15px 13px; background:url(../images/user/white_bkg_round.png) no-repeat 0 0;}
div.data div.information.user div.right.top div.white_round h5 {float:left; width:100%; font:normal 11px Arial; color:#666666;}
div.data div.information.user div.right.top div.white_round div.your_data {float:left; margin:17px 0 0 0; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.image {float:left; width:49px; height:49px; padding:0; border:0; background:none; margin:0 7px 0 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.image img {float:left; width:49px; height:49px; padding:0; margin:0; border:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info {float:left; width:146px;}
div.data div.information.user div.right.top div.white_round div.your_data div.info h6 {float:left; font:bold 15px Arial; color:#666666; width:100%; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info p {float:left; font:normal 13px Arial; color:#999999; width:100%; padding:2px 0 0 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar {float:left; margin:6px 0 0 0; background:url(../images/user/top_bar_bkg.png) no-repeat 0 0; width:147px; height:6px; padding:0;}

div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar p.percent_orange {display:none;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar p.percent_blue {display:none;}

div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a {cursor:pointer; margin:0; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.left {float:left; height:6px; margin:0; width:auto;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.left.orange {background:url(../images/common/left_orange.png) no-repeat 0 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.left.blue {background:url(../images/common/left_cyan.png) no-repeat 0 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar span.orange {background-color:#DB4A18; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar span.blue {background-color:#00CFD7; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar span.space {float:left; background-color:#FFFFFF; width:1px; height:6px; margin:0; padding:0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.right {float:left; height:6px; width:2px; margin:0 0 0 0px;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.right.orange {background:url(../images/common/right_orange.png) no-repeat right 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.right.blue {background:url(../images/common/right_cyan.png) no-repeat right 0;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.second_bar {float:left; height:6px; margin:0 0 0 1px; width:auto;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.second_bar.orange {background-color:#DB4A18;}
div.data div.information.user div.right.top div.white_round div.your_data div.info div.bar a.second_bar.blue {background-color:#00CFD7;}

div.data div.information.user div.right.top div.white_round a.continue {float:right; padding:15px 0 0 0; color:#00CDD7; font:normal 13px Arial;}
div.data div.information.user div.right.top div.white_round a.continue:hover {color:#00AAB0;}

div.data div.information.user div.map_container {position:relative; float:left; height:470px; width:890px;}
div.data div.information.user div.map_container div.abs {position:absolute; width:910px; width:470px; top:0; left:-10px; right:-10px;}
div.data div.information.user div.map_container div.abs div#map {position:absolute; top:0; left:0; width:910px; height:430px;}
div.data div.information.user div.map_container div.abs div.dates {position:absolute; left:0; top:417px; width:910px; height:63px; background:url(../images/user/user_band.png) no-repeat 0 13px;}
div.data div.information.user div.map_container div.abs div.years_container {float:left; width:795px; padding:0;}
div.data div.information.user div.map_container div.abs div.years_container ul {float:left; width:auto; padding:0; margin:0;}
div.data div.information.user div.map_container div.abs div.years_container ul li {float:left; background:url(../images/user/date_separator.png) no-repeat right 12px; width:auto; padding:26px 13px 7px 13px; height:20px;}
div.data div.information.user div.map_container div.abs div.years_container ul li.selected {background:url(../images/user/selected_date.png) no-repeat 0 0;}
div.data div.information.user div.map_container div.abs div.years_container ul li.last {background:none;}
div.data div.information.user div.map_container div.abs div.years_container ul li a {float:left; color:white; font:normal 15px Arial; line-height:15px;}
div.data div.information.user div.map_container div.abs div.years_container ul li a:hover {color:#F4F4F4;}
div.data div.information.user div.map_container div.abs div.dates a.all {float:right; width:auto; width:89px; padding:26px 13px 7px 13px; height:20px; color:white; text-align:center;}
div.data div.information.user div.map_container div.abs div.dates a.all.selected {background:url(../images/user/selected_all.png) no-repeat 0 0;}

div.data div.information.user div.left.bottom {float:left; width:540px; padding:25px 30px;}
div.data div.information.user div.right.bottom {position:relative; float:right; width:229px; padding:25px 30px;}
div.data div.information.user div h4 {float:left; width:100%; font:normal 25px Arial; color:#666666;}
div.data div.information.user div p {float:left; width:100%; font:normal 15px Arial; color:#666666; padding:3px 0 0; margin:0;}
div.data div.information.user div ul {float:left; width:100%; margin:10px 0 0 0;}

div.data div.information.user div.left.bottom ul {border-bottom:1px solid #E5E5E5;}
div.data div.information.user div.left.bottom ul li {float:left; padding:12px 0; width:251px; border-bottom:1px solid #E0E0E0;}
div.data div.information.user div.left.bottom ul li.right {float:right; width:266px;}
div.data div.information.user div.left.bottom ul li.last {border-bottom:none;}
div.data div.information.user div.left.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; padding:0; background:white; border:none;}
div.data div.information.user div.left.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px; border:none;}
div.data div.information.user div.left.bottom ul li div.info {float:left; width:190px;}
div.data div.information.user div.left.bottom ul li.right div.info {float:left; width:205px;}
div.data div.information.user div.left.bottom ul li div.info h6 {float:left; font:bold 15px Arial; color:#666666;}
div.data div.information.user div.left.bottom ul li div.info p {float:left; font:normal 13px Arial; color:#999999; padding:0;}
div.data div.information.user div.left.bottom ul li div.info div.bar {float:left; margin:7px 0 0 0; background:url(../images/common/bar_bkg_gray_2.png) no-repeat 0 0; width:178px; height:6px; padding:0;}
div.data div.information.user div.left.bottom ul li.right div.info div.bar {width:178px;}

div.data div.information.user div.left.bottom ul li div.info div.bar p.percent_orange {display:none;}
div.data div.information.user div.left.bottom ul li div.info div.bar p.percent_blue {display:none;}

div.data div.information.user div.left.bottom ul li div.info div.bar a {cursor:pointer; margin:0; padding:0;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.left {float:left; height:6px; margin:0; width:auto;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.left.orange {background:url(../images/common/left_orange.png) no-repeat 0 0;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.left.blue {background:url(../images/common/left_cyan.png) no-repeat 0 0;}
div.data div.information.user div.left.bottom ul li div.info div.bar span.orange {background-color:#DB4A18; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0; background-image:none;}
div.data div.information.user div.left.bottom ul li div.info div.bar span.blue {background-color:#00CFD7; height:6px; width:auto; float:left; margin:0 0 0 2px; padding:0;}
div.data div.information.user div.left.bottom ul li div.info div.bar span.space {float:left; background-color:#FFFFFF; width:1px; height:6px; margin:0; padding:0;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.right {float:left; height:6px; width:2px; margin:0 0 0 0px;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.right.orange {background:url(../images/common/right_orange.png) no-repeat right 0;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.right.blue {background:url(../images/common/right_cyan.png) no-repeat right 0;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.second_bar {float:left; height:6px; margin:0 0 0 1px; width:auto;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.second_bar.orange {background-color:#DB4A18;}
div.data div.information.user div.left.bottom ul li div.info div.bar a.second_bar.blue {background-color:#00CFD7;}


div.data div.information.user div.left.bottom p.select {float:left; width:auto; margin:17px 0 0 0; font:normal 13px Arial; color:#666666;}
div.data div.information.user div.left.bottom p.select a {color:#00CDD7;}
div.data div.information.user div.left.bottom p.select a:hover {color:#00AAB0;}

div.data div.information.user div.left.bottom div.pages {float:right; height:50px; font:normal 13px Arial; padding:0; margin:5px 0 0 0;}
div.data div.information.user div.left.bottom div.pages ul {float:right; width:120px; height:20px; border:none; margin:15px 0 0 0;}
div.data div.information.user div.left.bottom div.pages ul li {float:left; margin:1px 2px 0; width:13px; height:17px; padding:1px 0 0 5px; border:none;}
div.data div.information.user div.left.bottom div.pages ul li.selected {background:url(../images/common/bkg_page_selected.png) no-repeat 0 0; padding:0 0 0 5px; height:18px; margin:0 2px 0;}
div.data div.information.user div.left.bottom div.pages ul li.selected:hover {background-position:0 -18px;}
div.data div.information.user div.left.bottom div.pages ul li a.option {float:left; font:normal 13px Arial; color:#999999; text-decoration:none; padding:1px 0 0 5px;}
div.data div.information.user div.left.bottom div.pages ul li a.option:hover {color:#666666;}
div.data div.information.user div.left.bottom div.pages ul li.selected a {color:#FFFFFF; text-decoration:none;}
div.data div.information.user div.left.bottom div.pages a.next {float:right; font:normal 13px Arial; text-decoration:none; color:#EB593E; margin:18px 0 0 6px;}
div.data div.information.user div.left.bottom div.pages a.next:hover {color:#B2432E;}

div.data div.information.user div.right.bottom ul li {float:left; width:100%; padding:12px 0; border-bottom:1px solid #E0E0E0;}
div.data div.information.user div.right.bottom ul li.last {border-bottom:none;}
div.data div.information.user div.right.bottom ul li div.image {float:left; width:51px; height:51px; margin:0 7px 0 0; background:url(../images/common/bkg_img_ship.png) no-repeat 0 0;}
div.data div.information.user div.right.bottom ul li div.image img {float:left; width:49px; height:49px; margin:1px 0 0 1px;}
div.data div.information.user div.right.bottom ul li div.info {float:left; width:171px;}
div.data div.information.user div.right.bottom ul li div.info h6 {font:bold 15px Arial; color:#666666; line-height:15px; padding:0;}
div.data div.information.user div.right.bottom ul li div.info p.class {float:left; font:normal 13px Arial; color:#999999; padding:0;}
div.data div.information.user div.right.bottom ul li div.info p.pages_made {float:left; font:normal 13px Arial; color:#EB593E; padding:2px 0 0 0;}



/* FOOTER */
div#footer {float:left; width:100%; height:244px; background:#222222; padding:30px 0 0 0;}
div#footer div.content_foo {margin:0 auto; width:890px; padding:29px 0 21px 0;}
div#footer div.content_foo div.block {float:left; width:168px; margin:0 0 0 15px; padding:0;}
div#footer div.content_foo div.block.first {margin:0 0 0 30px;}
div#footer div.content_foo div.block h4 {float:left; width:168px; font:bold 13px Arial; color:#767676; padding:0 0 15px 0;}
div#footer div.content_foo div.block p {float:left; width:168px; font:normal 13px Arial; color:#5A5A5A; line-height:18px;}
div#footer div.content_foo div.block p a {color:#5E5E5E;}
div#footer div.content_foo div.block p a:hover {color:#CCCCCC; text-decoration:none;}
div#footer div.content_foo p.terms {float:left; width:860px; padding:65px 0 0 30px; font:normal 13px Arial; color:#5A5A5A; text-align:left;}
div#footer div.content_foo p.terms a {color:#5A5A5A;}
div#footer div.content_foo p.terms a:hover {color:#CCCCCC; text-decoration:none;}