/* CSS file */
@font-face {
    src:url("DINOT-Medium.swf");
    fontFamily: "DINOT-Medium";
    font-weight: normal;
}   

@font-face {
    src:url("DINOT-Bold.swf");
    fontFamily: "DINOT-Bold";
    font-weight: normal;
}

HScrollBar {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #3d3f3e, #3d3f3e, #333333, #333333;
   trackColors: #f2f2f2, #ffffff;
   themeColor: #3d3f3e;
   borderColor: #cccccc;
   iconColor: #ffffff;
   thumbOffset: 0;
}

VScrollBar {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #3d3f3e, #3d3f3e, #333333, #333333;
   trackColors: #f2f2f2, #ffffff;
   themeColor: #3d3f3e;
   borderColor: #cccccc;
   iconColor: #ffffff;
   thumbOffset: 0;
}

ToolTip {
   backgroundColor: #ffffff;
   color: #666666;
   fontFamily: DINOT-Medium;
   fontSize: 12;
}

Button {
   paddingTop: 0;
   letterSpacing: 0;
   highlightAlphas: 0.29, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #009732, #006321, #006321, #009732;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #3c5b46;
   themeColor: #006600;
   fontFamily: DINOT-Medium;
   fontSize: 14;
}