/* CSS file */

Label.info {
	font-family: "Arial";
	font-size: 13;
	color: #666666;	
}

Label.infoBold{
	font-family: "Arial";
	font-size: 13;
	font-weight:bold;
	color: #666666;
}

Button.nullButtonBlue{
	skin: ClassReference(null);
	skin: Embed(source="skin.swf", symbol="nullButton");
	color: #006699;
	textRollOverColor: #254C72;
	text-selected-color: #254C72;
	font-family: "Arial";
	font-size: 13;
	text-decoration: none;
	letter-spacing:0;
}




Button.before {
	up-skin: Embed(source='skin.swf',symbol='grayButtonBefore_upSkin');
	over-skin: Embed(source='skin.swf',symbol='grayButtonBefore_overSkin');
	down-skin: Embed(source='skin.swf',symbol='grayButtonBefore_upSkin');
}

Button.after {
	up-skin: Embed(source='skin.swf',symbol='grayButtonAfter_upSkin');
	over-skin: Embed(source='skin.swf',symbol='grayButtonAfter_overSkin');
	down-skin: Embed(source='skin.swf',symbol='grayButtonAfter_upSkin');
}


Button.submitPhotos {
	up-skin: Embed(source='skin.swf',symbol='graySubmitSelectedButton_upSkin');
	over-skin: Embed(source='skin.swf',symbol='graySubmitSelectedButton_overSkin');
	down-skin: Embed(source='skin.swf',symbol='graySubmitSelectedButton_upSkin');
	font-family: "Arial";
	font-weight: bold;
	font-size: 15;
	textRollOverColor: #222222;
	color: #333333;
}

Button.connectToFlickr {
	up-skin: Embed(source='skin.swf',symbol='connectAccountButton_upSkin');
	over-skin: Embed(source='skin.swf',symbol='connectAccountButton_overSkin');
	down-skin: Embed(source='skin.swf',symbol='connectAccountButton_upSkin');
}

Combo.flickrSets {
	up-skin: Embed(source='skin.swf',symbol='comboSetsFlickr_upSkin');
	over-skin: Embed(source='skin.swf',symbol='comboSetsFlickr_upSkin');
	down-skin: Embed(source='skin.swf',symbol='comboSetsFlickr_upSkin');
	font-family: "Arial";
	font-weight: bold;
	color: #999999;	
}

Canvas.bkgPhoto{
	background-image: Embed(source='skin.swf',symbol='bkgPhoto');
}

Canvas.bkgPhotoSelected{
	background-image: Embed(source='skin.swf',symbol='bkgPhoto_selected');
}

Canvas.bkg{
	background-image: Embed(source='skin.swf',symbol='bkg');
}



