<% content_for :page_title do%>
	Works · Species Images Flickr Tagger
<% end -%>

<% content_for :big_title do%>
	Tagging species images on flickr to allow automatic doscovery of species pictures and their location with an intuitive multi-platform tool.
<% end -%>

<% content_for :description do%>
	<p class="titleWork">FlickrTagger</p>
	<p class="clientName">this.self</p>
	<p class="description"><span class="title">Challengue</span>

		Something exciting is happening on Flickr. People are starting to provide taxonomy tags for their pictures! This is a great thing to allow automatic discovery of species pictures and their location. They are added using machine tags on the flickr page. This is very inconvenient as Flickr is not taxonomy aware and users have to type all tags for themselves which is inefficient. Additionally geotagging the pictures trough the web is complicated and therefore few people geotag unless automatically done by their GPS enabled camera.
	<br><br>
		We look forward to using the data provided by Flickr users,  so we thought we’d better help users “taxotag” and “geotag” their species pictures.



	</p>
	 <p class="description"><span class="title">Solution</span>
	
		Using Adobe AIR we are working on a multiplatform desktop application that lets the user select pictures on their disk and quickly set taxonomic tags with the help of taxonomic resolutions services. The user is also able to select the location of where the pictures were taken. The data is then uploaded to Flickr with the correct tags ready to be consumed by EOL or anybody that wants to see species images from Flickr.
	

	</p>
	 <p class="description"><span class="title">Highlights &amp; technologies</span>

		From the beginning we thought this could be a great application to use on the Desktop. With drag and drop functionalities from the computer to the application, we can provide effective ways for users to manage their pictures and upload them to Flickr.
	<br><br>
		We want to extend the application to support visualization of user and community pictures. Additionally we will work with other repositories of images, like Picasa, to be platform neutral.
	<br><br>
		Finally, something we don’t yet have ready is a companion Iphone application that works with FlickrTagger and allow for species images capturing on the road! Ask us if you are interested in this.
	</p>
	<p class="projectLink"><a href="#">Coming soon... &raquo;</a></p>
<% end -%>

<% content_for :pictures do%>
	<img src="/images/projects_media/flickrtagger/b01.jpg" />
	<img src="/images/projects_media/flickrtagger/b02.jpg" />
	<img src="/images/projects_media/flickrtagger/b03.jpg" />
<% end -%>