<% content_for :page_title do%>
	Works · IABIN Network Protected Areas
<% end -%>

<% content_for :big_title do%>
	Adapting a solution for the Inter-American Biodiversity Information Network Protected Areas
<% end -%>

<% content_for :description do%>
	<p class="titleWork">WDPA-IABIN</p>
	<p class="clientName">UNEP-WCMC</p>
	<p class="projectLink"><a href="http://iabinpatn.org/" target= "blank_">View online &raquo;</a></p>
<% end -%>

<% content_for :pictures do%>
	<img src="/images/projects_media/iabin/b01.jpg" />
	<img src="/images/projects_media/iabin/b02.jpg" />
	<img src="/images/projects_media/iabin/b03.jpg" />
<% end -%>