<% content_for :page_title do%>
	Campaign: Cuento Contigo
<% end -%>

<% content_for :big_title do%>
	Campaign: Cuento Contigo
<% end -%>

<% content_for :description do%>
<p class="titleWork">WDPA-IABIN</p>
<p class="clientName">UNEP-WCMC</p>
<p class="description"><span class="title">Challengue</span>The WDPA-Marine is dedicated to providing the most comprehensive set of marine protected areas (MPAs) data available. 
<br><br>
The project needed a solution to handle large amounts of data visualization, different scales and lots of contextual information. The user needed to filter and search the areas with geospatial and metadata filters. Was it possible to reconcile the scientific characteristic of data with the general public interests on discovering and learning about MPAs?.</p>
 <p class="description"><span class="title">Solution</span>We were looking for an engaging visualization that would invite people to navigate the world in search of MPAs. Additionally we wanted to give us much context as possible together with the information we had on the database integrating external resources like images, videos, wikipedia articles, etc.
<br><br>
We based the development on the high quality Google Maps API. Together with APIs from Flickr, Panoramio, Youtube and Wikipedia we have enabled an experience while browsing the MPAs where the user learns and is invited to discover about the protection of our oceans.</p>
<p class="description"><span class="title">Highlights &amp; technologies</span>The main technical issues came from the size of the geospatial database and the quality issues involved. The people at WCMC developed the server-side services needed with our help using the latest remoting protocols. This made possible for us to concentrate on the development of a rich feature client using Flex technologies. The server side is using ESRI products for map creation. SQL server is used for metadata and geospatial queries. All this is hosted in an Amazon EC2 instance.</p>
<p class="projectLink"><a href="http://www.mostoles.es/mostoles/cm/LCiudad/tkContent?pgseed=1256298411468&idContent=109221&locale=es_ES&textOnly=false" target= "blank_">View online &raquo;</a></p>
<% end -%>

<% content_for :pictures do%>
<img src="/images/projects_media/sanecan/3.png" />
<img src="/images/projects_media/sanecan/2.png" />
<img src="/images/projects_media/sanecan/1.png" />
<% end -%>