/* CSS file */

@font-face {
    src:url("fonts/DINOT.swf");
    fontFamily: "DINOT-Medium";
}

@font-face {
    src:url("fonts/DINOT.swf");
    fontFamily: "DINOT-Bold";
}

@font-face {
    src:url("fonts/roses.swf");
    fontFamily: "Roses are FF0000_8pt_st";
}

Canvas.bkgLoading{
	background-image: Embed(source='skin.swf',symbol='bkg_loading');
}

Canvas.bkgBigCanvas{
	background-image: Embed(source='skin.swf',symbol='bkgBigCanvas');
}

Canvas.bkgTopDownload{
	background-image: Embed(source='skin.swf',symbol='bkgTopDownload');
}


Label {
	font-family: 'DINOT-Medium';
}



Text {
	font-family: 'DINOT-Medium';
}

HBox.taxon {
	background-image: Embed(source="skin.swf",symbol="searchInput");
}

Button.taxon {
	up-skin: Embed(source='skin.swf',symbol='btnLentSearch');
	over-skin: Embed(source='skin.swf',symbol='btnLentSearch');
	down-skin: Embed(source='skin.swf',symbol='btnLentSearch');
}

TextInput.taxon {	
	color: #8D8D8D;
	fontSize: 13;
	backgroundColor: #1A1A1A;
	cornerRadius: 0;
	borderStyle: none;
	paddingLeft: 5;
	paddingRight: 18;
	font-family: "DINOT-Medium";
	backgroundAlpha: 0.0;
	disabledColor: #1A1A1A;
	focusAlpha: 0;
}

Button.download {
	up-skin: Embed(source='skin.swf',symbol='yellowButton_up');
	over-skin: Embed(source='skin.swf',symbol='yellowButton_over');
	down-skin: Embed(source='skin.swf',symbol='yellowButton_up');
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "DINOT-Medium";
	font-size: 19;
	shadowColor: #8B6F02;
	shadowAngle: 90;
	shadowDistance: 1;
}

Button.btnZoomMore{
	up-skin: Embed(source="skin.swf",symbol="btn_zoom_more_up");	
	over-skin: Embed(source="skin.swf",symbol="btn_zoom_more_over");	
	down-skin: Embed(source="skin.swf",symbol="btn_zoom_more_up");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMinus{
	up-skin: Embed(source="skin.swf",symbol="btn_zoom_minus_up");	
	over-skin: Embed(source="skin.swf",symbol="btn_zoom_minus_over");	
	down-skin: Embed(source="skin.swf",symbol="btn_zoom_minus_up");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

HSlider{
	thumbDisabledSkin: Embed(source="skin.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="skin.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="skin.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="skin.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="skin.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="skin.swf", symbol="SliderTrack_Skin");
	tickColor:#262626;
	tickWidth:3;
	tickOffset:-1;
	tickInterval:1;
	tickThickness:1;
}

Button.nullButton{
	skin: ClassReference(null);
	skin: Embed(source="skin.swf", symbol="nullButton");
	color: #FF3300;
	textRollOverColor: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "Arial";
	font-size: 10;
	text-decoration: underline;
	letter-spacing:0;
}

Button.explore {
	skin: ClassReference(null);
	skin: Embed(source="skin.swf", symbol="nullButton");
	color: #FFCC00;
	textRollOverColor: #FFCC22;
	text-selected-color: #FFCC55;
	font-family: "Arial";
	font-size: 11;
	text-decoration: underline;
	padding-left:0;
}

Button.linkButton {
	skin: ClassReference(null);
	skin: Embed(source="skin.swf", symbol="nullButton");
	color: #F3C400;
	textRollOverColor: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "Arial";
	font-size: 11;
	text-decoration: underline;
}

Button.btnYellow{
	up-skin: Embed(source="general.swf", symbol="yellowButton");	
	over-skin: Embed(source="general.swf", symbol="yellowButton_over");	
	down-skin: Embed(source="general.swf", symbol="yellowButton_over");
	font-family: DINOT-Medium;
	font-weight: normal;
	color:#FFFFFF;
	text-roll-over-color:#FFFFFF;
	font-size:14;
}

.bkgImg{
	background-image: Embed(source="general.swf", symbol="bkgImg");
}

.bkgRowYellow{
	background-image: Embed(source="general.swf", symbol="bkgRowYellow");	
}

ScrollBar{

	downArrowDisabledSkin: Embed(source="general.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="general.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="general.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="general.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="general.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="general.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="general.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="general.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="general.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="general.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="general.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="general.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="general.swf", symbol="ScrollArrowUp_upSkin");

}

ToolTip {
   backgroundColor: #666666;
   color: #FFFFFF;
   fontFamily: DINOT-Medium;
   fontSize: 12;
}

List.taxaList {
	alternatingItemColors: #EAEAEA, #DDDDDD;
	backgroundDisabledColor: #B5B5B5;
	borderThickness: 1;
	borderStyle: solid;
	cornerRadius: 0;
	fontFamily: DINOT-Medium;
	fontSize: 11;
	color: #333333;
	rollOverColor: #c39c01;
	selectionColor: #AFAFAF;
	borderColor: #666666;
	text-roll-over-color: #ffffff;
	text-selected-color: #ffffff;
}
Button.add
{
	color: #333333;
	fontFamily: DINOT-Medium;
	fontSize: 12;
	textAlign: left;
	fontWeight: normal;
	themeColor: #333333;
	padding-left:5;
	padding-right:5;
}