.horizontalcssmenu{
	float:right;
}

.horizontalcssmenu ul{
 	list-style-type: none;
 	float: right;
	height: 80px;
	padding-right: 7px;	
}

.horizontalcssmenu ul div{
 	float: right;
 	padding-right: 14px;
 	padding-left: 14px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	margin-top: 10px;
}

.horizontalcssmenu ul div.border{
 	border-right: solid 1px #dddddd;
}

/*Top level list items*/
.horizontalcssmenu ul li{
	display: inline;
}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
	text-decoration: none;
	color: #999999;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	height: 80px;
}

.horizontalcssmenu ul li a:hover{
	/*hover actions*/
	color: #336699;
}


* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */

.horizontalcssmenu ul li a.current{
	color: #336699;
}