{% extends "base.html" %}

{% block blogpart %}
  	<div class="div825">
    	<h2 id="blogPartTitle">More about vizzuality</h2>
        <hr/>
    </div>
	<div class="div825" id="adviceContainer">
    	<div class="leftAdvice">
        	<p id="postTitle"><a href="gis.html" rel="self">Rich GIS Solutions</a></p>
            <p id="postDate">Engaging web geographic information <br />
                systems</p>
        </div>
        <div class="centertAdvice">
        	<p id="postTitle"><a href="dataanalysis.html" rel="self">Data Analisys solutions</a></p>
            <p id="postDate">Processing huge datasets on the cloud</p>
      </div>
      <div class="rightAdvice">
        	<p id="postTitle"><a href="/" rel="self">More at biodivertido</a></p>
            <p id="postDate">Know more about our technical improvements <br />
at biodivertido's blog</p>
        </div>
    </div>

{% endblock %}
