 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Vizzuality</title>
<meta name="description" content="Maybe we will bump into each other at a conference. Here are our faces so you know how to find us. ">
<style type="text/css">
@import url("/css/layout.css");
</style>
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css"><![endif]-->

<script type="text/javascript">
	function opacity(id, opacStart, opacEnd, millisec) {
		//speed for each frame
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//determine the direction for the blending, if start and end are the same nothing happens
		if(opacStart > opacEnd) {
			for(i = opacStart; i >= opacEnd; i--) {
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		} else if(opacStart < opacEnd) {
			for(i = opacStart; i <= opacEnd; i++)
				{
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		}
	}

	//change the opacity for different browsers
	function changeOpac(opacity, id) {
		var object = document.getElementById(id).style; 
		object.opacity = (opacity / 100);
		object.MozOpacity = (opacity / 100);
		object.KhtmlOpacity = (opacity / 100);
		object.filter = "alpha(opacity=" + opacity + ")";
	}

	function shiftOpacity(id, millisec) {
		//if an element is invisible, make it visible, else make it ivisible
		if(document.getElementById(id).style.opacity == 0) {
			opacity(id, 0, 100, millisec);
		} else {
			opacity(id, 100, 0, millisec);
		}
	}

	function blendimage(divid, imageid, imagefile, millisec, alt, total, workn, linkn) {
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//set the current image as background
		document.getElementById(divid).style.backgroundImage = "url(" + document.getElementById(imageid).src + ")";
		document.getElementById(divid).style.backgroundRepeat = "no-repeat";		

		//make image transparent
		changeOpac(0, imageid);

		//make new image
		document.getElementById(imageid).src = imagefile;

		//fade in image
		for(i = 0; i <= 100; i++) {
			setTimeout("changeOpac(" + i + ",'" + imageid + "')",(timer * speed));
			timer++;
			
		//change class and description
		}
		substr = imageid.substring(10,11);
		for (i=1; i<=total; i++) {
			link = "workLink" + workn + i;
			document.getElementById(link).className = "";
		}
	
		document.getElementById("workLink"+workn+linkn).className = "current";

	}

	function currentOpac(id, opacEnd, millisec) {
		//standard opacity is 100
		var currentOpac = 100;

		//if the element has an opacity set, get it
		if(document.getElementById(id).style.opacity < 100) {
			currentOpac = document.getElementById(id).style.opacity * 100;
		}

		//call for the function that changes the opacity
		opacity(id, currentOpac, opacEnd, millisec)
	}

</script>

</head>
<body>
<div class="space">
<div id="main_outer" >
<div id="main">
<div id="layout">

  <div id="header"> <a href="/"><img src="/images/logo.gif" alt="" border="0" class="left" /></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works">Our Work</a></li>
      <li><a href="#" class="current">About us</a></li>
      <li class="last"><a href="http://biodivertido.blogspot.com/" target="_blank">Blog</a></li>
    </ul>
    <h1>Maybe we will bump into each other at a conference. Here are our faces so you know how to find us</h1>
  </div>
  <div id="body_container">
    <div class="content">
      <ul>
        <li class="minus20">
          <div class="col">
            <div class="white_box">
              <h3>Who we are</h3>	
			</div>
          </div>
         <div class="col" id="01Thumbs"> 
          	<a href="/company/jatorre"><img src="/images/team/jatorre.jpg" alt="" class="left" /></a>
            <div class="detail">
              <h4>JAVIER DE LA TORRE</h4>
              <p>Lead developer / Founder</p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/jatorre" target="_blank">@jatorre</a></p>
            </div>
          </div>
		<div class="col last"> 
          	<img src="/images/team/saleiva.jpg" alt="" class="left" />
            <div class="detail">
              <h4>SERGIO ALVAREZ</h4>
              <p>Visual designer / Founder</p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/saleiva" target="_blank">@saleiva</a> // linkedin<a href="http://www.linkedin.com/in/saleiva" target="_blank"> resume</a></p>
            </div>
          </div>
        </li>
        <li>
		<div class="col" id="03Thumbs"> 
        	<img id="work3Image" alt="" class="left" />
            <div id="workDesc3" class="detail" style="background-color:#FFF;">
            </div>
          </div>
		  <div class="col"> 
          	<img src="/images/team/jmedina.jpg" alt="" class="left" />
            <div class="detail">
              <h4>JAVIER ALVAREZ</h4>
              <p>Front.end developer </p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/xavijam" target="_blank">@xavijam</a></p>
            </div>
          </div>
	      <div class="col last"> 
          	<img src="/images/team/fmr.jpg" alt="" class="left" />
            <div class="detail">
              <h4>FERNANDO MORALES</h4>
              <p>Back.end developer </p>
              <p class="externalLinks">twitter <a href="http://www.twitter.com/fmoralesr" target="_blank">@fmoralesr</a></p>
            </div>
          </div>                
        </li>
        <li>
		<div class="col">
			<div class="white_box">
              <h3>We are in Madrid</h3>
              <p>We would like to see your project in this list. Please contact us if you think we can help you</p>
			</div>
		</div>
		<div class="col" id="06Thumbs"> 
        	<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Calle+de+Hortaleza,+48,+28004+Madrid,+Spain&sll=37.0625,-95.677068&sspn=51.754532,82.441406&ie=UTF8&hq=&hnear=Calle+de+Hortaleza,+48,+28004+Madrid,+Spain&z=15" target="_blank"><img id="work6Image" src="/images/contactMap.jpg" alt="" class="left" /> </a>
            <div class="detail">
				<p>Hortaleza 48, 1.
28004, Madrid, Spain <br />
+34 689 41 44 20 / +34 659 157 916</p>
				<p class="contactLinks">contact us by <a href="mailto:contact@vizzuality.com">mail</a> / <a href="skype:jatorre555?chat">skype</a></p>
			</div>
		</div>
		<div class="col last">
			<div class="white_box">
              <h3>And we are hiring!</h3>
              <p>Are you looking for a cool job?, Want to work without a tie? Get in touch with us and show us what you know!</p>
              <a href="mailto:contact@vizzuality.com">Contact us &raquo;</a> 
			</div>
		</div>				            
        </li>        
      </ul>
    </div>
  </div>
  <div id="footer">
    <p><strong>We are an <a href="http://code.google.com/p/vizzuality/">open source</a> company</strong> Only some rights reserved. Vizzuality<br />
      +34 689 41 44 20 / +34 659 157 916<br />
      <a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a> </p>
  </div>  
</div>
</div>
</div>
</div>
<!-- Start Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6363508-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->
</body>
</html>
