{% extends "base_section.html" %}
{% block maincontent %}
  <h1 id="welcomeHeader">Contact Us</h1>
  <h2 id="shortdescription">We are passionate in what we do, so please contact us if you think we can help you</h2>
  <!--hr class="hr2"/ -->
  <div class="div825" id="techContainer">
  	<div class="leftTech">
      	<p id="techTitle">Address</p>
          <p id="techDesc">Vizzuality<br>Bailen 27<br>28005 Madrid<br>Spain
      </div>
      <div class="centertTech">
      	<p id="techTitle">Email</p>
          <p id="techDesc"><a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a></p>
    </div>
    <div class="rightTech">
      	<p id="techTitle">Skype</p>
          <p id="techDesc">jatorre555</p>
      </div>
  </div>
  <p class="centeredImage"><iframe width="825" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=bailen+27,+madrid&amp;sll=37.0625,-95.677068&amp;sspn=50.291089,69.082031&amp;ie=UTF8&amp;g=bailen+27,+madrid&amp;s=AARTsJqzqW_pytqCYydsWRmLCt6tncEawg&amp;ll=40.420423,-3.716898&amp;spn=0.02287,0.07081&amp;t=p&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /></p>
</div>

{% endblock %}