{% extends "base_section.html" %}

{% block titleblock %}
    <title>Visualization of complex data</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality expertise on rich data visualization using RIA technology. We use Flex, Flash and AJAX to create engaging Biodiversity information visualizations." />
{% endblock %}

{% block maincontent %}
  <h1>Data visualization services</h1>
  <div id="contentLeft">
      <h2>Yes, we like beautiful data visualizations, but we do not forget their main purposes: to communicate and inspire.</h2>
      <p class="sectText">Biodiversity informatics is producing huge amounts of data every day. Unfortunately most of this data is useless without effective ways to analyze it. To convey ideas efficiently, both aesthetic form and functionality need to go hand in hand, providing insights into a rather sparse and complex data set by communicating its key-aspects in a more intuitive way.<br /><br />
  Our expertise in data visualization for biodiversity includes: observational data, taxonomic trees, interactive keys, temporal datasets and many more. Contact us to see if we can help you with your specific use case!</p>
  </div>
    <div id="contentRight">
        <p class="moduleHeader">Data visualization technologies</p>
        <hr/>
        <div class="tech">
        	<img class="techImage" src="images/techies/flex.jpg"/>
            <p class="techText">Flex allows us to create highly creative, expressive and engaging applications, previously impossible on the web.</p>
        </div>
        <div class="tech">
        	<img class="techImage" src="images/techies/flash.jpg"/>
            <p class="techText">While Flex is a very great option for application development, sometimes Flash is better for interactive content.</p>
        </div>
        <div class="tech">
        	<img class="techImage" src="images/techies/processing.jpg"/>
            <p class="techText">Processing has become an emerging option to create data visualizations.</p>
        </div>        
    </div>        
        
    <div class="clearer">
    </div>
    <div id="featuredContainer">
        <p class="moduleHeader">Featured data analysis projects</p>
        <hr/>
        <div id="featuredLeft">
            <img src="images/featuredWCMC.jpg"/>
            <p class="featuredDescription">The Global Biodiversity Information Facility collect and index millions of primary data records. The project required the intersection of million of points against the database of World Protected Areas maintained by the UNEP World Conservation Monitoring Centre. This is 160.000 polygons against 160 million points. This data is now accesible through the <a href="http://widgets.gbif.org/test/PACountry.html#/country/ES">World Database on Protected Areas</a>. Check out the <a href="http://vimeo.com/3284706">screencast video on how we did that project.</a></p>
        </div>
        <div id="featuredRight">
            <img src="images/featuredGMaps.jpg"/>
            <p class="featuredDescription">With the new Maps for Flash API that Google released there are great new opportunities for displaying interactive data over Google Maps due to the Flash platform. You can see our <a href="http://biodiversityatlas.com.s3.amazonaws.com/heatMap/heatMap.html">dynamically created HeatMaps from GBIF data</a>. Other example where we had the possibility to tried was combining the World Database on Protected Areas with information from Wikipedia, Flickr and Panoramio. Check out the <a href="http://widgets.gbif.org/country/CountryProtectedAreasWidget.html?iso_code=TZ&country=Tanzania">protected area explorer for Tanzania.</a></p>
        </div>
        <div class="clearer">
        </div>
        
    </div>
{% endblock %}
