<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/base/base-min.css">
<link rel="stylesheet" type="text/css" href="/css/styles_01.css">

</head>
<body>
<div id="doc3" style="margin:0px;">
  <div id="hd">
    <div class="div825"> 
        <img src="/images/basiclogo.jpg" width="143" height="83" alt="Vizzuality logo" align="left" />
        <div id="quickMenuContainer">
        	<img src="/images/blogTinyIcon.jpg" alt="blog tiny icon" class="tinyIcon" align="left"/><a href="/" rel="self" id="current">blog</a>
            <img src="/images/contactTinyIcon.jpg" alt="blog tiny icon" class="tinyIcon" align="left"/><a href="/" rel="self" id="current">contact us</a>
        </div>
        <div id="navcontainer">
            <ul>
          <li><a href="/" rel="self">HOME</a></li>
          <li><a href="/" rel="self">·</a></li>
          <li><a href="/visualization/" id="current" rel="self">DATA VISUALIZATION</a></li>
          <li><a href="/" rel="self">·</a></li>
          <li><a href="/gis/" rel="self">RICH GIS</a></li>
          <li><a href="/" rel="self">·</a></li>
          <li><a href="/analysis/" rel="self">DATA ANALYSIS</a></li>
          <li><a href="/" rel="self">·</a></li>
          <li><a href="/contact/" rel="self">ABOUT US</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="div825">
    <h1 id="welcomeHeader">Data visualization services</h1>
    <h2 id="shortdescription">Yes, we like beautiful data visualization, but we do not forget its main purposes: communicate and inspire </h2>
      <h3 id="moredescription">Biodiversity informatics is producing huge amounts of data every day. Unfortunately most of this data is useless withouth effective ways to analyze it. To convey ideas eficiely, both aesthetic form and functionality need to go hand in hand, providing insights into a rather sparse and complex data set by communicatiing its key-aspects in a more intuitive way.<br /><br />
Our expertise in data visualization for biodiversity includes: observation data, taxonomic trees, interactive keys, temporal datasets and many more. <a href="/contact/" class="textlink" rel="self">Contact us</a> to check if we can help you with your speciﬁc use case!</h3>
    <p class="centeredImage"><img src="/images/promoimage_vizz.jpg"/></p>
    <h2 id="technologiesTitle">Data visualization technologies</h2>
    <hr class="hr2"/>
    <div class="div825" id="techContainer">
    	<div class="leftTech">
        	<p id="techTitle"><img src="/images/techLogos/logoFlex.jpg" alt="Adobe Flex"/></p>
            <p id="techDesc">Flex allow us to create highly creative, expressive and engaging applications that used to be impossible on the web.
        </div>
        <div class="centertTech">
        	<p id="techTitle"><img src="/images/techLogos/logoFlash.jpg" alt="Adobe Flash"/></p>
            <p id="techDesc">While Flex is great for application development, sometimes Flash is better for interactive content.</p>
      </div>
      <div class="rightTech">
        	<p id="techTitle"><img src="/images/techLogos/logoProcessing.jpg" alt="Processing"/></p>
            <p id="techDesc">Processing has become an emerging programming lenguage to create animations an visualizations.
        </div>
    </div>
  </div>
  <div id="blogPartBorder"></div>
  <div id="blogPart">
  	<div class="div825">
    	<h2 id="blogPartTitle">More about vizzuality</h2>
        <hr/>
    </div>
	<div class="div825" id="adviceContainer">
    	<div class="leftAdvice">
        	<p id="postTitle"><a href="gis.html" rel="self">Rich GIS Solutions</a></p>
            <p id="postDate">Engaging web geographic information <br />
systems</p>
        </div>
        <div class="centertAdvice">
        	<p id="postTitle"><a href="dataanalysis.html" rel="self">Data Analisys solutions</a></p>
            <p id="postDate">Processing huge datasets on the cloud</p>
      </div>
      <div class="rightAdvice">
        	<p id="postTitle"><a href="/" rel="self">More at biodivertido</a></p>
            <p id="postDate">Know more about our technical improvements <br />
at biodivertido's blog</p>
        </div>
    </div>
    <div class="div825">
        <hr/>
        <div id="footerNav">
      		<ul>
          <li><a href="/" rel="self" id="current">Home</a></li>
          <li><a href="/" rel="self" id="current">·</a></li>
          <li><a href="/visualization/" rel="self">Data visualization</a></li>
          <li><a href="/" rel="self" id="current">·</a></li>
          <li><a href="/gis/" rel="self">Rich GIS</a></li>
          <li><a href="/" rel="self" id="current">·</a></li>
          <li><a href="/analysis/" rel="self">Data analysis</a></li>
          <li><a href="/" rel="self">·</a></li>
          <li><a href="/contact/" id="current" rel="self">About us</a></li>
      		</ul>
    	</div>
    </div>
  </div>
</div>
</body>
</html>
