{% extends "base_section.html" %}
{% block maincontent %}
    <h1 id="welcomeHeader">Data visualization services</h1>
    <h2 id="shortdescription">Yes, we like beautiful data visualization, but we do not forget its main purposes: communicate and inspire </h2>
      <h3 id="moredescription">Biodiversity informatics is producing huge amounts of data every day. Unfortunately most of this data is useless withouth effective ways to analyze it. To convey ideas eficiely, both aesthetic form and functionality need to go hand in hand, providing insights into a rather sparse and complex data set by communicatiing its key-aspects in a more intuitive way.<br /><br />
Our expertise in data visualization for biodiversity includes: observation data, taxonomic trees, interactive keys, temporal datasets and many more. <a href="/contact/" class="textlink" rel="self">Contact us</a> to check if we can help you with your speciﬁc use case!</h3>
    <p class="centeredImage"><img src="/images/promoimage_vizz.jpg"/></p>
    <h2 id="technologiesTitle">Data visualization technologies</h2>
    <hr class="hr2"/>
    <div class="div825" id="techContainer">
    	<div class="leftTech">
        	<p id="techTitle"><img src="/images/techLogos/logoFlex.jpg" alt="Adobe Flex"/></p>
            <p id="techDesc">Flex allow us to create highly creative, expressive and engaging applications that used to be impossible on the web.
        </div>
        <div class="centertTech">
        	<p id="techTitle"><img src="/images/techLogos/logoFlash.jpg" alt="Adobe Flash"/></p>
            <p id="techDesc">While Flex is great for application development, sometimes Flash is better for interactive content.</p>
      </div>
      <div class="rightTech">
        	<p id="techTitle"><img src="/images/techLogos/logoProcessing.jpg" alt="Processing"/></p>
            <p id="techDesc">Processing has become an emerging programming lenguage to create animations an visualizations.
        </div>
    </div>

  <h2 class="titleClass">Recent projects</h2>
  <hr class="hr2"/>
  <div class="div825" class="leftLongTech">
      	<p id="techTitle"><img src="/images/use_gbif_iphone.jpg" alt="Unofficial GBIF iphone version"/></p>
          <p class="littleText">The Global Biodiversity Information Facility has a very feature rich portal to access biodiversity primary data. Right now this portal is serving more than 160 million occurrences of more than 1.5 million different taxon. We got the challenge to convert this into an Iphone web application to analyze the feasibility of Iphone UI paradigms to browsing taxonomies. In 3 days we came to the following video and an unofficial Iphone version of the GBIF portal.</p>
   </div>
  </div>
{% endblock %}