<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vizzuality | {% block page_title %}Page title{% endblock %}</title>
<style type="text/css">
@import url("/css/layout.css");
</style>
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css"><![endif]-->
</head>

<body>
<div class="space">
<div id="main_outer" >
<div id="main">
<div id="layout">

  <div id="header"> <a href="/"><img src="/images/logo.gif" alt="" border="0" class="left" /></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works">Our Work</a></li>
      <li><a href="/company">About us</a></li>
      <li class="last"><a href="http://biodivertido.blogspot.com/" target="_blank">Blog</a></li>
    </ul>
    <h1>{% block big_title %}Big title{% endblock %}</h1>
  </div>
  <div id="body_container">
    <div class="content">
      <ul>
        <li class="detail">
          <div class="col">
            <div class="white_box">
				<p class="titleWork">Javier de la Torre</p>
				<p class="clientName">Lead developer - Co-Founder</p>				
			</div>
          </div>
		  <div class="desccol">
            <div class="white_box">
				{% block description %}Description of the project{% endblock %}
			</div>
          </div>
        </li>    
      </ul>
    </div>
  </div>
  <div id="footer">
    <p><strong>We are an <a href="http://code.google.com/p/vizzuality/">open source</a> company</strong> Only some rights reserved. Vizzuality<br />
	      +034 689 41 44 20 / +034 659 157 916<br />
	      <a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a> </p>
  </div>  
</div>
</div>
</div>
</div>
<!-- Start Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6363508-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->
</body>
</html>
