{% extends "base_section.html" %}
{% block titleblock %}
    <title>Rich GIS using RIA</title>
{% endblock %}
{% block metatags %}
<meta name="description" content="Vizzuality expertise on the development of Rich Internet Application for GIS applications for biodiversity data." />
{% endblock %}

{% block maincontent %}
  <h1 id="welcomeHeader">Rich Geographic Information Systems</h1>
  <h2 id="shortdescription">What, When and Where is key in biodiversity. Visualizing these three components in Rich Geographic Information applications is what we do best. </h2>
    <h3 id="moredescription">Since Google Maps appeared, the world of online maps just got much more interesting. We love mashups on top of these new maps APIs. Together with the use of spatial standards like the ones from OGC, we can build engaging maps experiences that invite users to explore your data.<br /><br />  We have worked displaying millions of primary data occurrences, creating heat maps, dynamic grouping data. We call it BIGBI, Biodiversity Informatics Geospatial Business InTelligence. Let us work with your POINTS and POLYGONS and we will impress you can do with them!</h3>
  <p class="centeredImage"><img src="/images/promoimage_gis.jpg"/></p>
  <h2 id="technologiesTitle2">Rich GIS technologies</h2>
  <hr class="hr2"/>
  <div class="div825" id="techContainer">
  	<div class="leftTech">
      	<p id="techTitle"><img src="/images/techLogos/logoGMaps.jpg" alt="Google maps"/></p>
          <p id="techDesc">We love Google Maps API and we have been using since it appeared. With the new Google Maps API for ﬂash we can do incredible things.
      </div>
      <div class="centertTech">
      	<p id="techTitle"><img src="/images/techLogos/logoGeoserver.jpg" alt="GeoServer"/></p>
          <p id="techDesc">Our favorite open source geospatial server. We use Geoserver stack of technologies to support OGC standards and connect to Rich Mapping APIs. </p>
    </div>
    <div class="rightTech">
      	<p id="techTitle"><img src="/images/techLogos/logoPostGIS.jpg" alt="PostGIS"/></p>
          <p id="techDesc">Together with the best open source relational database, PostgreSQL, we use PostGIS to analyze and serve geospatial data.
      </div>
  </div>

  <h2 class="titleClass">Recent case study</h2>
  <hr class="hr2"/>
  <div class="div825" class="leftLongTech">
      	<p id="techTitle"><!-- img src="/images/use_case_protected_areas_pd.jpg" alt="Google maps"/ --></p>
          <p class="littleText"><img src="/images/paMap.jpg" align="left" ><img src="/images/paGbif.jpg" align="right" >With the new Maps for Flash API that Google released there are great new opportunities for displaying interactive data over Google Maps due to the Flash platform. You can see our <a href="http://biodiversityatlas.com.s3.amazonaws.com/heatMap/heatMap.html">dynamically created HeatMaps from GBIF data</a>. Other example where we had the possibility to tried was combining the World Database on Protected Areas with information from Wikipedia, Flickr and Panoramio. Check out the <a href="http://widgets.gbif.org/country/CountryProtectedAreasWidget.html?iso_code=TZ&country=Tanzania">protected area explorer for Tanzania.</a></p>
   </div>

</div>

{% endblock %}
