<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Envisioning life | Vizzuality</title>
<meta name="description" content="We take enjoyment in being a small and productive company that delivers great user experiences for stories that matter. We work on Biodiversity informatics, visualization and analysis of data...">
<style type="text/css">
@import url("/css/layout.css");
</style>
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css"><![endif]-->

<script type="text/javascript">
	
	function preloadImages(){
	// preload de images
	i1_1 = new Image();
	i1_1.src="/images/wdpaMarine/t02.jpg";
	i1_2 = new Image();
	i1_2.src="/images/wdpaMarine/t03.jpg";
	
	i2_1 = new Image();
	i2_1.src="/images/runnity/t02.jpg";
		
	}
	
	
	function opacity(id, opacStart, opacEnd, millisec) {
		//speed for each frame
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//determine the direction for the blending, if start and end are the same nothing happens
		if(opacStart > opacEnd) {
			for(i = opacStart; i >= opacEnd; i--) {
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		} else if(opacStart < opacEnd) {
			for(i = opacStart; i <= opacEnd; i++)
				{
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		}
	}

	//change the opacity for different browsers
	function changeOpac(opacity, id) {
		var object = document.getElementById(id).style; 
		object.opacity = (opacity / 100);
		object.MozOpacity = (opacity / 100);
		object.KhtmlOpacity = (opacity / 100);
		object.filter = "alpha(opacity=" + opacity + ")";
	}

	function shiftOpacity(id, millisec) {
		//if an element is invisible, make it visible, else make it ivisible
		if(document.getElementById(id).style.opacity == 0) {
			opacity(id, 0, 100, millisec);
		} else {
			opacity(id, 100, 0, millisec);
		}
	}

	function blendimage(divid, imageid, imagefile, millisec, alt, total, workn, linkn) {
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//set the current image as background
		document.getElementById(divid).style.backgroundImage = "url(" + document.getElementById(imageid).src + ")";
		document.getElementById(divid).style.backgroundRepeat = "no-repeat";		

		//make image transparent
		changeOpac(0, imageid);

		//make new image
		document.getElementById(imageid).src = imagefile;

		//fade in image
		for(i = 0; i <= 100; i++) {
			setTimeout("changeOpac(" + i + ",'" + imageid + "')",(timer * speed));
			timer++;
			
		//change class and description
		}
		substr = imageid.substring(10,11);
		for (i=1; i<=total; i++) {
			link = "workLink" + workn + i;
			document.getElementById(link).className = "";
		}
	
		document.getElementById("workLink"+workn+linkn).className = "current";

	}

	function currentOpac(id, opacEnd, millisec) {
		//standard opacity is 100
		var currentOpac = 100;

		//if the element has an opacity set, get it
		if(document.getElementById(id).style.opacity < 100) {
			currentOpac = document.getElementById(id).style.opacity * 100;
		}

		//call for the function that changes the opacity
		opacity(id, currentOpac, opacEnd, millisec)
	}

</script>

</head>
<body onLoad="preloadImages()">
<div class="space">
<div id="main_outer" >
<div id="main">
<div id="layout">

  <div id="header"> <a href="/"><img src="/images/logo.gif" alt="" border="0" class="left" /></a>
    <ul>
      <li><a href="#" class="current">Home</a></li>
      <li><a href="/works">Our Work</a></li>
      <li><a href="/company">About us</a></li>
      <li class="last"><a href="http://biodivertido.blogspot.com/" target="_blank">Blog</a></li>
    </ul>
    <h1>We take enjoyment in being a small and productive
      company that delivers great user experiences for
      stories that matter</h1>
  </div>
  <div id="body_container">
    <div class="content">
      <ul>
        <li>
          <div class="col">
            <div class="white_box">
              <h3>Latest projects</h3>
              <p>Rather than talk about how good we are we would like to show you.</p>
              <a href="/works">View our work &raquo;</a> </div>
          </div>
         <div class="col" id="01Thumbs"> 
          	<a href="/project/wdpamarine"><img id="work1Image" src="/images/wdpaMarine/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc1" class="detail">
              <h4>WDPA MARINE</h4>
			  <p>UNEP-WCMC</p>
              <ul class="listing">
                <li><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t01.jpg', 300, 'workDesc1', 3, 1, 1)" class="current" id="workLink11"></a></li>
                <li><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t02.jpg', 300, 'workDesc1', 3, 1, 2)" id="workLink12"></a></li>
                <li class="last"><a href="javascript:blendimage('01Thumbs','work1Image', '/images/wdpaMarine/t03.jpg', 300, 'workDesc1', 3, 1, 3)" id="workLink13"></a></li>
              </ul>
            </div>
          </div>
          <div class="col last" id="02Thumbs"> 
          <a href="/project/runnity"><img id="work2Image" src="/images/runnity/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc2" class="detail">
              <h4>RUNNITY.COM</h4>
              <p>THIS.SELF</p>
              <ul class="listing">
                 <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/runnity/t01.jpg', 300, 'workDesc2', 2, 2, 1)" class="current" id="workLink21"></a></li>
                <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/runnity/t02.jpg', 300, 'workDesc2', 2, 2, 2)" id="workLink22"></a></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="col">
            <div class="grey_box">
              <h3>Using Geowebcache tiles stored in s3 from Google Maps for Flash</h3>
              <p>Last week I was in a code sprint for my next project on a very nice cottage. During the sprint I set up a 
                Geoserver instance with Geowebcache to generate tiles from the World Database on Protected Areas. The tiles will be 
                stored in S3 and distributed with CloudFront as the main goal is speed worldwide. The tiles will be used in a set 
                of Maps in Flash around the project.</p>
              <a href="http://biodivertido.blogspot.com/">View the whole article</a> </div>
          </div>
          <div class="col">
            <div class="white_box">
              <h3>Latest from the web</h3>
              <p>We have fun experimenting with data vizzualization, data analysis, UX, and visual design. <br /><br/>View it at <a href="http://biodivertido.blogspot.com">biodivertido</a></p>
            </div>
          </div>
          <div class="col last"> 
          <a href="http://www.youtube.com/watch?v=UZAQNLfg5aQ" target="_blank"><img src="/images/jatorreGeoWeb.gif" alt="" /></a>
            <div class="detail1">
              <h4>JAVIER DE LA TORRE AT GEOWEB 09</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <p><strong>We are an <a href="http://code.google.com/p/vizzuality/">open source</a> company</strong> Only some rights reserved. Vizzuality<br />
      +34 689 41 44 20 / +34 659 157 916<br />
      <a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a> </p>
  </div>  
</div>
</div>
</div>
</div>
<!-- Start Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6363508-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->
</body>
</html>
