{% extends "base_home.html" %}

{% block maincontent %}
<h1 id="welcomeHeader">Welcome to vizzuality</h1>
<h2 id="shortdescription">We are a new company dedicated to design & development of Rich Internet Applications for biodiversity information.</h2>
<h3 id="moredescription"> We are experts on <a href="/visualization" class="textlink" rel="self">user Interaction and visualization</a> of large taxonomic, geospatial and temporal datasets. We work with our clients
  to deliver engaging data visualizations and advance geographic information systems. Check out our expertise and <a href="/contact" class="textlink" rel="self">contact us</a> if you think 
  we can help you.</h3>
<p class="centeredImage"><img src="images/recentProjects.jpg" alt="recent projects"></p>
<p class="bigButtons"><a class="imageLink" href="/visualization"><img class="imageLink" src="images/datavizz_bb.jpg" alt="datavizz"></a><a class="imageLink" href="/gis"><img class="imageLink" src="images/richGis_bb.jpg" alt="datavizz"></a><a class="imageLink" href="/analysis"><img class="imageLink" src="images/datalitycs_bb.jpg" alt="datavizz"></a></p>
<!--p class="centeredImage"><img src="images/buttonTemplateFoo.jpg" alt="Template Button"></p -->
<h3 id="downTopic" >Are you looking for another solution? <a href="/contact" class="textlink" rel="self">contact us</a> and we'll try help you</h3>
{% endblock %}