{% extends "project_detail_base.html" %}

{% block big_title %}World Database on Marine Protected Areas{% endblock %}

{% block description %}
<p class="titleWork">WDPA-Marine</p>
<p class="clientName">UNEP-WCMC</p>
<p class="description"><span class="title">Challengue</span>Duis euismod nisl sit amet arcu posuere vel placerat magna sodales. Ut porta, turpis vitae varius porta, dui magna facilisis nunc, in bibendum arcu odio in erat. Fusce volutpat neque et <b>lacus consectetur</b> non semper ligula semper. Praesent posuere, magna quis convallis rhoncus, felis lorem posuere erat, sagittis consectetur nunc diam quis arcu.</p>
 <p class="description"><span class="title">Goal</span>Vivamus mattis ullamcorper mi quis ornare. Morbi auctor placerat purus, sit amet lacinia leo eleifend et. <b>Mauris</b> in mi eu massa tempor suscipit.</p>
 <p class="description"><span class="title">Highlights</span>Sed sem libero, suscipit at convallis eu, tempus nec tortor. Phasellus accumsan fringilla gravida. Quisque interdum tincidunt magna at adipiscing. Nulla sit amet massa quam. Vivamus pharetra interdum lacus. Sed placerat congue velit, eget feugiat felis vehicula a.</p>
<p class="projectLink"><a href="http://www.wdpa-marine.org" target= "blank_">View online &raquo;</a></p>
{% endblock %}

{% block pictures %}
<img src="/projects_media/wdpamarine/b01.jpg" />
<img src="/projects_media/wdpamarine/b02.jpg" />
<img src="/projects_media/wdpamarine/b03.jpg" />
{% endblock %}