<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projects developed by Vizzuality</title>
<meta name="description" content="We are passionate about what we do. We had a lot of fun working on these projects. We hope you enjoy them too.">
<style type="text/css">
@import url("/css/layout.css");
</style>
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css"><![endif]-->

<script type="text/javascript">

	function preloadImages(){
		// preload de images
		i1_1 = new Image();
		i1_1.src="/images/groms/t02.jpg";
		i1_2 = new Image();
		i1_2.src="/images/groms/t03.jpg";

		i2_1 = new Image();
		i2_1.src="/images/iabin/t02.jpg";
		
		i3_1 = new Image();
		i3_1.src="/images/runnity/t02.jpg";
	
	}

	function opacity(id, opacStart, opacEnd, millisec) {
		//speed for each frame
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//determine the direction for the blending, if start and end are the same nothing happens
		if(opacStart > opacEnd) {
			for(i = opacStart; i >= opacEnd; i--) {
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		} else if(opacStart < opacEnd) {
			for(i = opacStart; i <= opacEnd; i++)
				{
				setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
				timer++;
			}
		}
	}

	//change the opacity for different browsers
	function changeOpac(opacity, id) {
		var object = document.getElementById(id).style; 
		object.opacity = (opacity / 100);
		object.MozOpacity = (opacity / 100);
		object.KhtmlOpacity = (opacity / 100);
		object.filter = "alpha(opacity=" + opacity + ")";
	}

	function shiftOpacity(id, millisec) {
		//if an element is invisible, make it visible, else make it ivisible
		if(document.getElementById(id).style.opacity == 0) {
			opacity(id, 0, 100, millisec);
		} else {
			opacity(id, 100, 0, millisec);
		}
	}

	function blendimage(divid, imageid, imagefile, millisec, alt, total, workn, linkn) {
		var speed = Math.round(millisec / 100);
		var timer = 0;

		//set the current image as background
		document.getElementById(divid).style.backgroundImage = "url(" + document.getElementById(imageid).src + ")";
		document.getElementById(divid).style.backgroundRepeat = "no-repeat";		

		//make image transparent
		changeOpac(0, imageid);

		//make new image
		document.getElementById(imageid).src = imagefile;

		//fade in image
		for(i = 0; i <= 100; i++) {
			setTimeout("changeOpac(" + i + ",'" + imageid + "')",(timer * speed));
			timer++;
			
		//change class and description
		}
		substr = imageid.substring(10,11);
		for (i=1; i<=total; i++) {
			link = "workLink" + workn + i;
			document.getElementById(link).className = "";
		}
	
		document.getElementById("workLink"+workn+linkn).className = "current";

	}

	function currentOpac(id, opacEnd, millisec) {
		//standard opacity is 100
		var currentOpac = 100;

		//if the element has an opacity set, get it
		if(document.getElementById(id).style.opacity < 100) {
			currentOpac = document.getElementById(id).style.opacity * 100;
		}

		//call for the function that changes the opacity
		opacity(id, currentOpac, opacEnd, millisec)
	}

</script>

</head>
<body onLoad="preloadImages()">
<div class="space">
<div id="main_outer" >
<div id="main">
<div id="layout">

  <div id="header"> <a href="/"><img src="/images/logo.gif" alt="" border="0" class="left" /></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#" class="current">Our Work</a></li>
      <li><a href="/company">About us</a></li>
      <li class="last"><a href="http://biodivertido.blogspot.com/" target="_blank">Blog</a></li>
    </ul>
    <h1>We are passionate about what we do. We had a lot of fun working on these projects. We hope you enjoy them too</h1>
  </div>
  <div id="body_container">
    <div class="content">
      <ul>
        <li class="minus20">
          <div class="col">
            <div class="white_box">
              <h3>Latest projects</h3>
              <p>Rather than talk about how good we are we would like to show you.</p>
			</div>
          </div>
         <div class="col" id="01Thumbs"> 
          	<a href="/project/eolgbif"><img id="work1Image" src="/images/eol/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc1" class="detail">
              <a href="/project/eolgbif"><h4>EOL-GBIF MAPS</h4></a>
			  <p>Encyclopedia Of Life</p>
              <ul class="listing">
                <li><a href="javascript:blendimage('01Thumbs','work1Image', '/images/eol/t01.jpg', 300, 'workDesc1', 1, 1, 1)" class="current" id="workLink11"></a></li>
              </ul>
            </div>
          </div>
          <div class="col last" id="02Thumbs"> 
          <a href="/project/groms"><img id="work2Image" src="/images/groms/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc2" class="detail">
              <a href="/project/groms"><h4>GLOBAL REGISTRY OF MIGRATORY SPECIES</h4></a>
			  <p>GBIF</p>
              <ul class="listing">
                 <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/groms/t01.jpg', 300, 'workDesc2', 3, 2, 1)" class="current" id="workLink21"></a></li>
                <li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/groms/t02.jpg', 300, 'workDesc2', 3, 2, 2)" id="workLink22"></a></li>
				<li><a href="javascript:blendimage('02Thumbs','work2Image', '/images/groms/t03.jpg', 300, 'workDesc2', 3, 2, 3)" id="workLink23"></a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="minus20">
		<div class="col" id="03Thumbs"> 
        	<a href="/project/wdpamarine"><img id="work3Image" src="/images/wdpaMarine/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc3" class="detail">
              <a href="/project/wdpamarine"><h4>WDPA-MARINE</h4></a>
			  <p>UNEP-WCMC</p>
              <ul class="listing">
                <li><a href="javascript:blendimage('03Thumbs','work3Image', '/images/wdpaMarine/t01.jpg', 300, 'workDesc3', 3, 3, 1)" class="current" id="workLink31"></a></li>
				<li><a href="javascript:blendimage('03Thumbs','work3Image', '/images/wdpaMarine/t02.jpg', 300, 'workDesc3', 3, 3, 2)" id="workLink32"></a></li>
                <li><a href="javascript:blendimage('03Thumbs','work3Image', '/images/wdpaMarine/t03.jpg', 300, 'workDesc3', 3, 3, 3)" id="workLink33"></a></li>
              </ul>
            </div>
          </div>
          <div class="col" id="04Thumbs"> 
          <a href="/project/runnity"><img id="work4Image" src="/images/runnity/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc4" class="detail">
              <a href="/project/runnity"><h4>RUNNITY.COM</h4></a>
			  <p></p>
              <ul class="listing">
                 <li><a href="javascript:blendimage('04Thumbs','work4Image', '/images/runnity/t01.jpg', 300, 'workDesc4', 2, 4, 1)" class="current" id="workLink41"></a></li>
                <li><a href="javascript:blendimage('04Thumbs','work4Image', '/images/runnity/t02.jpg', 300, 'workDesc4', 2, 4, 2)" id="workLink42"></a></li>
              </ul>
            </div>
          </div> 
          <div class="col last" id="05Thumbs"> 
          <a href="/project/flickrtagger"><img id="work5Image" src="/images/flickrTagger/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc5" class="detail">
              <a href="/project/flickrtagger"><h4>FLICKR TAGGER</h4></a>
              <ul class="listing">
                <li><a href="javascript:blendimage('05Thumbs','work5Image', '/images/flickrTagger/t01.jpg', 300, 'workDesc5', 3, 5, 1)" class="current" id="workLink51"></a></li>
				<li><a href="javascript:blendimage('05Thumbs','work5Image', '/images/flickrTagger/t02.jpg', 300, 'workDesc5', 3, 5, 2)" id="workLink52"></a></li>
                <li><a href="javascript:blendimage('05Thumbs','work5Image', '/images/flickrTagger/t03.jpg', 300, 'workDesc5', 3, 5, 3)" id="workLink53"></a></li>                
              </ul>
            </div>
          </div>                  
        </li>
        <li>
		<div class="col" id="06Thumbs"> 
        	<a href="/project/wdpagbif"><img id="work6Image" src="/images/wcmcWidget/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc6" class="detail">
				<a href="/project/wdpagbif"><h4>WCMC-GBIF PROTECTED AREA WIDGET</h4></a>
				<p>GBIF</p>
				<ul class="listing">
				<li><a href="javascript:blendimage('06Thumbs','work6Image', '/images/wcmcWidget/t01.jpg', 300, 'workDesc6', 1, 6, 1)" class="current" id="workLink61"></a></li>
				</ul>
			</div>
		</div>
		<div class="col" id="07Thumbs"> 
          <a href="/project/iabin"><img id="work7Image" src="/images/iabin/t01.jpg" alt="" class="left" /></a>
            <div id="workDesc7" class="detail">
              <a href="/project/iabin"><h4>IABIN PROTECTED AREAS NETWORK</h4></a>
			  <p>UNEP-WCMC</p>
              <ul class="listing">
                 <li><a href="javascript:blendimage('07Thumbs','work7Image', '/images/iabin/t01.jpg', 300, 'workDesc7', 2, 7, 1)" class="current" id="workLink71"></a></li>
                <li><a href="javascript:blendimage('07Thumbs','work7Image', '/images/iabin/t02.jpg', 300, 'workDesc7', 2, 7, 2)" id="workLink72"></a></li>
              </ul>
            </div>
          </div>
		<div class="col last">
			<div class="white_box">
              <h3>Your project?</h3>
              <p>We would like to see your project in this list. Please contact us if you think we can help you</p>
              <a href="mailto:contact@vizzuality.com">Contact us &raquo;</a>
			</div>
		</div>                
        </li>        
      </ul>
    </div>
  </div>
  <div id="footer">
    <p><strong>We are an <a href="http://code.google.com/p/vizzuality/">open source</a> company</strong> Only some rights reserved. Vizzuality<br />
	      +34 689 41 44 20 / +34 659 157 916<br />
	      <a href="mailto:contact@vizzuality.com">contact@vizzuality.com</a> </p>
  </div>  
</div>
</div>
</div>
</div>
<!-- Start Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6363508-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->
</body>
</html>
