/* CSS file */
Button.btnBuscar{
	up-skin: Embed(source="ui.swf",symbol="btnBuscar_up");	
	over-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	down-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	disabled-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	selected-up-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	selected-over-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	selected-down-skin: Embed(source="ui.swf",symbol="btnBuscar_over");	
	color: #346376;
	text-roll-over-color: #346376;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 16;
	font-weight: normal;
}